Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Pin react-router and react-router-dom
  package.json
Labels: none

Fix duplicate resolutions in package.json
  package.json
Labels: none

Remove trailing comma
  package.json
Labels: none

Minor style changes to address PR comments
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
Labels: none

Update react router versions
  package.json
Labels: none

feat: add {Season Year} renaming token
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  src/NzbDrone.Core.Test/OrganizerTests/GetSeasonFolderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Improve HTTP file mappers
  src/NzbDrone.Integration.Test/HttpTests/StaticResourceControllerFixture.cs
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/Sonarr.Http.Test/Frontend/Mappers/BackupFileMapperFixture.cs
  src/Sonarr.Http.Test/Frontend/Mappers/StaticResourceMapperBaseFixture.cs
  src/Sonarr.Http.Test/Sonarr.Http.Test.csproj
  src/Sonarr.Http.Test/app.config
  src/Sonarr.Http/Frontend/Mappers/BackupFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/BrowserConfig.cs
  src/Sonarr.Http/Frontend/Mappers/CacheBreakerProvider.cs
  src/Sonarr.Http/Frontend/Mappers/FaviconMapper.cs
  src/Sonarr.Http/Frontend/Mappers/HtmlMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LogFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
  src/Sonarr.Http/Frontend/Mappers/MediaCoverMapper.cs
  src/Sonarr.Http/Frontend/Mappers/RobotsTxtMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/UpdateLogFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/UrlBaseReplacementResourceMapperBase.cs
  src/Sonarr.Http/Frontend/StaticResourceController.cs
  src/Sonarr.sln
Labels: none

update server to send full certificate chain when provided
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

refactor ssl certificate loading into common helper
  src/NzbDrone.Common/Http/SslCertificateLoader.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
Labels: none

update v5 validator to use common ssl loader
  src/Sonarr.Api.V5/Settings/CertificateValidator.cs
Labels: none

Lock file update
  yarn.lock
Labels: none

Remove unused function
  frontend/src/Utilities/getPathWithUrlBase.ts
Labels: none

Display external ID only for main series link group and update Trakt link
  frontend/src/Series/Details/SeriesDetailsLinks.tsx
Labels: none

Upgrade React Router from v5 to v7
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/ImportSeriesPage.tsx
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/Components/Link/Link.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/Components/Router/Switch.tsx
  frontend/src/Helpers/Hooks/useCurrentPage.ts
  frontend/src/Helpers/Hooks/usePage.ts
  frontend/src/Helpers/Hooks/useScrollPosition.ts
  frontend/src/Series/Details/SeriesDetailsPage.tsx
  frontend/src/Settings/SettingsToolbar.tsx
  frontend/src/Store/Actions/createReducers.js
  frontend/src/Store/Middleware/middlewares.js
  frontend/src/Store/createAppStore.js
  frontend/src/System/Logs/Logs.tsx
  frontend/src/Utilities/getPathWithUrlBase.ts
  frontend/src/bootstrap.tsx
  package.json
  yarn.lock
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Use react-query for Import Lists
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Settings/ImportLists/ImportListSettings.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListPresetMenuItem.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModal.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  frontend/src/Settings/Profiles/Quality/useQualityProfileInUse.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Store/Actions/Settings/importLists.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/ImportList.ts
Labels: none

Use react-query for Import List Options
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Settings/ImportLists/Options/useImportListSettings.ts
  frontend/src/Store/Actions/Settings/importListOptions.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/ImportListOptionsSettings.ts
Labels: none

Add v5 Import List endpoints
  src/Sonarr.Api.V5/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListController.cs
  src/Sonarr.Api.V5/ImportLists/ImportListResource.cs
Labels: none

Rename isSchemaFetching to isSchemaLoading
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationModalContent.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/useQualityProfiles.ts
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationModalContent.tsx
  frontend/src/Settings/useProviderSchema.ts
Labels: none

Add v5 Import List Options endpoints
  src/Sonarr.Api.V5/Settings/ImportListSettingsController.cs
  src/Sonarr.Api.V5/Settings/ImportListSettingsResource.cs
Labels: none

New: Optional end-to-end encryption setting for Pushover
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Pushover/PushoverProxy.cs
  src/NzbDrone.Core/Notifications/Pushover/PushoverSettings.cs
Labels: connection

Add logging when searching for recently aired episodes after refresh
  src/NzbDrone.Core/Tv/EpisodeRefreshedService.cs
  src/NzbDrone.Core/Tv/SeriesScannedHandler.cs
Labels: none

Improve HTTP file mappers
  src/NzbDrone.Integration.Test/HttpTests/StaticResourceControllerFixture.cs
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/Sonarr.Http.Test/Frontend/Mappers/BackupFileMapperFixture.cs
  src/Sonarr.Http.Test/Frontend/Mappers/StaticResourceMapperBaseFixture.cs
  src/Sonarr.Http.Test/Sonarr.Http.Test.csproj
  src/Sonarr.Http.Test/app.config
  src/Sonarr.Http/Frontend/Mappers/BackupFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/BrowserConfig.cs
  src/Sonarr.Http/Frontend/Mappers/CacheBreakerProvider.cs
  src/Sonarr.Http/Frontend/Mappers/FaviconMapper.cs
  src/Sonarr.Http/Frontend/Mappers/HtmlMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LogFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
  src/Sonarr.Http/Frontend/Mappers/MediaCoverMapper.cs
  src/Sonarr.Http/Frontend/Mappers/RobotsTxtMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/UpdateLogFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/UrlBaseReplacementResourceMapperBase.cs
  src/Sonarr.Http/Frontend/StaticResourceController.cs
  src/Sonarr.sln
Labels: none

Display external ID only for main series link group and update Trakt link
  frontend/src/Series/Details/SeriesDetailsLinks.tsx
Labels: none

Increase border-radius for medium and large labels
  frontend/src/Components/Label.css
Labels: none

Improve error handling for quality profile size limits
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.tsx
  frontend/src/Settings/Profiles/Quality/qualityProfileItemFailures.ts
  src/NzbDrone.Core.Test/Datastore/Migration/207_add_size_to_quality_profilesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/207_add_size_to_quality_profiles.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: db-migration

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Add v5 Custom Format endpoints
  src/Sonarr.Api.V5/CustomFormats/CustomFormatBulkResource.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatController.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatResource.cs
Labels: none

New: Send Manual Interaction event for Potentially Dangerous Extensions that aren't failed
  src/NzbDrone.Core.Test/Download/CompletedDownloadServiceTests/ImportFixture.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
Labels: none

Fix vertical alignment for ratings on series table
  frontend/src/Series/Index/Table/SeriesIndexRow.css
Labels: none

Simplify sort and filtering predicates for series
  frontend/src/Series/useSeries.ts
Labels: none

Disallow mutation for react-query data
  frontend/src/Activity/Queue/Details/QueueDetailsProvider.tsx
  frontend/src/App/AppUpdatedModalContent.tsx
  frontend/src/App/Select/SelectContext.tsx
  frontend/src/App/Select/useSelectStore.ts
  frontend/src/Components/Filter/Builder/FilterBuilderModalContent.tsx
  frontend/src/Components/Filter/Builder/FilterBuilderRow.tsx
  frontend/src/Components/Filter/Builder/FilterBuilderRowValue.tsx
  frontend/src/Components/Filter/FilterModal.tsx
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
  frontend/src/Components/Form/Tag/TagInput.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/TagList.tsx
  frontend/src/EpisodeFile/EpisodeFileProvider.tsx
  frontend/src/Filters/Filter.ts
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/Helpers/Hooks/usePendingItemsStore.ts
  frontend/src/Series/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Series/useSeries.ts
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  frontend/src/Settings/Indexers/Indexers/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/Indexers/useIndexers.ts
  frontend/src/Settings/Metadata/useMetadata.ts
  frontend/src/Settings/Notifications/useConnections.ts
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfiles.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/System/Logs/LogFiles.tsx
  frontend/src/Tags/useTags.ts
  frontend/src/Utilities/Command/findCommand.ts
  frontend/src/Utilities/Filter/clientSideFilterAndSort.ts
  frontend/src/Utilities/Object/hasDifferentItems.ts
  frontend/src/Utilities/Object/hasDifferentItemsOrOrder.ts
  frontend/src/Utilities/Object/selectUniqueIds.ts
Labels: none

Create styles.css for integration tests once
  src/NzbDrone.Integration.Test/GlobalTestSetup.cs
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
Labels: none

Use react-query for Custom Formats
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Episode/EpisodeFormats.tsx
  frontend/src/Episode/History/EpisodeHistoryRow.tsx
  frontend/src/EpisodeFile/EpisodeFile.ts
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveImport/InteractiveImport.ts
  frontend/src/InteractiveSearch/useReleases.ts
  frontend/src/Parse/ParseModel.ts
  frontend/src/Series/History/SeriesHistoryRow.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormat.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormats.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/ExportCustomFormatModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/ImportCustomFormatModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/ImportCustomFormatModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationItem.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationPresetMenuItem.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/Specification.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/useCustomFormats.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.tsx
  frontend/src/Settings/Profiles/Quality/useQualityProfiles.ts
  frontend/src/Store/Actions/Settings/customFormatSpecifications.js
  frontend/src/Store/Actions/Settings/customFormats.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Blocklist.ts
  frontend/src/typings/CustomFormat.ts
  frontend/src/typings/CustomFormatSpecification.ts
  frontend/src/typings/History.ts
  frontend/src/typings/Queue.ts
Labels: none

Cleanup Simkl import list
  src/NzbDrone.Core/ImportLists/Simkl/SimklAPI.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklImportBase.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklParser.cs
  src/NzbDrone.Core/ImportLists/Simkl/User/SimklUserImport.cs
  src/NzbDrone.Core/ImportLists/Simkl/User/SimklUserSettings.cs
Labels: none

Skip branch check for PRs against redesign branch
  .github/workflows/wrong_base_branch.yml
Labels: none

feat(queue): add IMPROVE_QUEUE_RESPONSIVENESS feature flag
  README.md
  src/NzbDrone.Core/Download/ProcessMonitoredDownloadsCommand.cs
  src/NzbDrone.Core/Download/RefreshMonitoredDownloadsCommand.cs
  src/NzbDrone.Core/Messaging/Commands/Command.cs
  src/NzbDrone.Core/Messaging/Commands/CommandExecutor.cs
  src/NzbDrone.Core/Messaging/Commands/CommandQueue.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sk.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
