Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Loading calendar on older browsers
  frontend/src/polyfills.js
Labels: none

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Fix: adding a new root folder from series edit modal
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
Labels: none

Fixed: Prevent exception when grabbing unparsable release
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
Labels: parsing

add telegram DisableLinkPreview option
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

change button order
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

Bump MailKit to 4.8.0 and Microsoft.Data.SqlClient to 2.1.7
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump NLog, IPAddressRange, Polly, ImageSharp, Npgsql, System.Memory, Ical.Net and Lib.Harmony
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
  src/NzbDrone.Update/Sonarr.Update.csproj
  src/NzbDrone.Windows/Sonarr.Windows.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Http/Sonarr.Http.csproj
  src/Sonarr.RuntimePatches/Sonarr.RuntimePatches.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fix: Adding a new root folder from edit series modal
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Prevent exception when grabbing unparsable release
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
Labels: parsing

Bump MailKit to 4.8.0 and Microsoft.Data.SqlClient to 2.1.7
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump NLog, IPAddressRange, Polly, ImageSharp, Npgsql, System.Memory, Ical.Net and Lib.Harmony
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
  src/NzbDrone.Update/Sonarr.Update.csproj
  src/NzbDrone.Windows/Sonarr.Windows.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Http/Sonarr.Http.csproj
  src/Sonarr.RuntimePatches/Sonarr.RuntimePatches.csproj
Labels: none

useMeasure instead of Measure in TypeScript components
  frontend/src/Calendar/CalendarPage.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Scroller/Scroller.tsx
Labels: none

Fixed: Prevent exception for seed configuration provider with invalid indexer ID
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
Labels: indexer

Fixed: Series updated during Import List Sync not reflected in the UI
  src/NzbDrone.Core/Tv/Events/SeriesBulkEditedEvent.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed: Prevent exception for seed configuration provider with invalid indexer ID
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
Labels: indexer

Fixed: Series updated during Import List Sync not reflected in the UI
  src/NzbDrone.Core/Tv/Events/SeriesBulkEditedEvent.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Fixed: Advanced settings for Metadata consumers
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Metadata/Metadata/Metadata.tsx
Labels: none

Fix non-anime seasons and episodes not searching with clean titles for raw search
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

resolve merge conflict
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/Select/NotificationTemplateSelectInput.tsx
  frontend/src/Helpers/Props/inputTypes.ts
  frontend/src/Settings/Notifications/NotificationSettings.js
  frontend/src/Settings/Notifications/NotificationTemplates/EditNotificationTemplateModal.tsx
  frontend/src/Settings/Notifications/NotificationTemplates/EditNotificationTemplateModalContent.css
  frontend/src/Settings/Notifications/NotificationTemplates/EditNotificationTemplateModalContent.css.d.ts
  frontend/src/Settings/Notifications/NotificationTemplates/EditNotificationTemplateModalContent.tsx
  frontend/src/Settings/Notifications/NotificationTemplates/NotificationTemplateItem.css
  frontend/src/Settings/Notifications/NotificationTemplates/NotificationTemplateItem.css.d.ts
  frontend/src/Settings/Notifications/NotificationTemplates/NotificationTemplateItem.tsx
  frontend/src/Settings/Notifications/NotificationTemplates/NotificationTemplates.css
  frontend/src/Settings/Notifications/NotificationTemplates/NotificationTemplates.css.d.ts
  frontend/src/Settings/Notifications/NotificationTemplates/NotificationTemplates.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.js
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Store/Actions/Settings/notificationTemplates.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Settings/NotificationTemplate.ts
  src/NzbDrone.Core/Datastore/Migration/216_add_notification_template.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
  src/NzbDrone.Core/Notifications/NotificationRepository.cs
  src/NzbDrone.Core/Notifications/NotificationTemplates/NotificationTemplate.cs
  src/NzbDrone.Core/Notifications/NotificationTemplates/NotificationTemplateParameters.cs
  src/NzbDrone.Core/Notifications/NotificationTemplates/NotificationTemplateRepository.cs
  src/NzbDrone.Core/Notifications/NotificationTemplates/NotificationTemplateService.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/Sonarr.Api.V3/NotificationTemplates/NotificationTemplateController.cs
  src/Sonarr.Api.V3/NotificationTemplates/NotificationTemplateResource.cs
  src/Sonarr.Api.V3/Notifications/NotificationResource.cs
Labels: connection, db-migration

work on notification templates
  src/NzbDrone.Core/Datastore/Migration/216_add_notification_template.cs
Labels: db-migration

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed: Advanced settings for Metadata consumers
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Metadata/Metadata/Metadata.tsx
Labels: none

Fixed: Searching by title not using all titles
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

Don't send session information to Sentry
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
Labels: none

Don't send session information to Sentry
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
Labels: none

Fixed: Improve synchronization logic for import list items
  src/NzbDrone.Core.Test/ImportListTests/ImportListItemServiceFixture.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemService.cs
Labels: none

Suggest adding IP to RPC whitelist for on failed Transmission auth
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
Labels: download-client

fixup! New: Quality limits are part of Quality Profile
  frontend/src/Settings/Quality/Definition/QualityDefinition.css.d.ts
  frontend/src/Settings/Quality/Definition/QualityDefinitions.css.d.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/PrioritizeDownloadDecisionFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionPriorizationService.cs
Labels: none

fixup! New: Quality limits are part of Quality Profile
  frontend/src/Settings/Quality/Definition/QualityDefinition.css.d.ts
  frontend/src/Settings/Quality/Definition/QualityDefinitions.css.d.ts
Labels: none

fixup! New: Quality limits are part of Quality Profile
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Check if backup folder is writable on backup
  src/NzbDrone.Common/ArchiveService.cs
  src/NzbDrone.Core/Backup/BackupService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
