Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

fixup! Fixed: Respect Quality cutoff if Custom Format cutoff isn't met
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/DelaySpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
Labels: none

fixup! Fixed: Respect Quality cutoff if Custom Format cutoff isn't met
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

fixup! New: Except language option for Language Custom Formats
  src/NzbDrone.Core/CustomFormats/Specifications/LanguageSpecification.cs
Labels: none

Convert Interactive Search to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/ReleasesAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Episode/Search/EpisodeSearchConnector.js
  frontend/src/InteractiveSearch/InteractiveSearch.js
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchFilterModal.tsx
  frontend/src/InteractiveSearch/InteractiveSearchFilterModalConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchType.ts
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModal.tsx
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModalContent.tsx
  frontend/src/InteractiveSearch/Peers.tsx
  frontend/src/InteractiveSearch/ReleaseEpisode.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
  frontend/src/typings/Release.ts
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Last Searched column on Wanted screens
  frontend/src/Episode/Episode.ts
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingConnector.js
  frontend/src/Wanted/Missing/MissingRow.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
Labels: none

Convert Interactive Search to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/ReleasesAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Episode/Search/EpisodeSearchConnector.js
  frontend/src/InteractiveSearch/InteractiveSearch.js
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchFilterModal.tsx
  frontend/src/InteractiveSearch/InteractiveSearchFilterModalConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchType.ts
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModal.tsx
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModalContent.tsx
  frontend/src/InteractiveSearch/Peers.tsx
  frontend/src/InteractiveSearch/ReleaseEpisode.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
  frontend/src/typings/Release.ts
Labels: none

New: Scene and Nuked IndexerFlags for Newznab indexers
  src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Parser/Model/IndexerFlags.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
Labels: indexer, parsing

New: Except language option for Language Custom Formats
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/MultiLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/SingleLanguageFixture.cs
  src/NzbDrone.Core/CustomFormats/Specifications/LanguageSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Failing to import any file for series if one has bad encoding
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
Labels: none

Cleanup History Details and a typo
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/Activity/History/Details/HistoryDetailsModal.tsx
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Components/Table/Cells/TableRowCell.tsx
Labels: none

Fixed: Respect Quality cutoff if Custom Format cutoff isn't met
  src/NzbDrone.Core.Test/DecisionEngineTests/CutoffSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/DelaySpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/CutoffSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

New: Include seasons and episodes in Trakt import lists
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
Labels: none

Convert series images to TypeScript
  frontend/src/Series/Series.ts
  frontend/src/Series/SeriesBanner.js
  frontend/src/Series/SeriesBanner.tsx
  frontend/src/Series/SeriesImage.js
  frontend/src/Series/SeriesImage.tsx
  frontend/src/Series/SeriesPoster.js
  frontend/src/Series/SeriesPoster.tsx
Labels: none

Convert NoSeries to TypeScript
  frontend/src/Series/NoSeries.tsx
Labels: none

Fixed: Links tooltip closing too quickly
  frontend/src/Components/Tooltip/Tooltip.tsx
Labels: none

New: Add MDBList link to series details
  frontend/src/Series/Details/SeriesDetailsLinks.tsx
  frontend/src/Series/Series.ts
Labels: none

fixup! New: Add MDBList link to series details
  frontend/src/Series/Series.ts
Labels: none

Convert Progress Bars to TypeScript
  frontend/src/Components/CircularProgressBar.js
  frontend/src/Components/CircularProgressBar.tsx
  frontend/src/Components/ProgressBar.js
  frontend/src/Components/ProgressBar.tsx
Labels: none

New: Include seasons and episodes in Trakt import lists
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
Labels: none

Fixed: Links tooltip closing too quickly
  frontend/src/Components/Tooltip/Tooltip.tsx
Labels: none

Convert NoSeries to TypeScript
  frontend/src/Series/NoSeries.tsx
Labels: none

Convert series images to TypeScript
  frontend/src/Series/Series.ts
  frontend/src/Series/SeriesBanner.js
  frontend/src/Series/SeriesBanner.tsx
  frontend/src/Series/SeriesImage.js
  frontend/src/Series/SeriesImage.tsx
  frontend/src/Series/SeriesPoster.js
  frontend/src/Series/SeriesPoster.tsx
Labels: none

New: Add MDBList link to series details
  frontend/src/Series/Details/SeriesDetailsLinks.tsx
  frontend/src/Series/Series.ts
Labels: none

Convert Progress Bars to TypeScript
  frontend/src/Components/CircularProgressBar.js
  frontend/src/Components/CircularProgressBar.tsx
  frontend/src/Components/ProgressBar.js
  frontend/src/Components/ProgressBar.tsx
Labels: none

Improvement: Enforce Frontend Minimum Value of 1
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
Labels: none

New: Minimum Upgrade Score for Custom Formats
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
  frontend/src/typings/QualityProfile.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeAllowedSpecificationFixture .cs
  src/NzbDrone.Core/Datastore/Migration/212_add_minium_upgrade_format_score_to_quality_profiles.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupQualityProfileFormatItems.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: db-migration

Remove QualityProfile Setter Validation
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
Labels: none

Added MinFormatScore as RejectReason and refactored tests
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeAllowedSpecificationFixture .cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
Labels: none

Improvement: Enforce Backend Minimum Value of 1
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
Labels: none

Improvement: Renamed 'MinimumUpgradeCustomFormatScore' to 'MinimumCustomFormatScoreIncrease'
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Improvement: Better Helptext and Naming
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Enforce Backend Minimum Value of 1 inside QualityProfileController
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
Labels: none

Use Token for Application Name in Helptext
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Format: Added consistent line padding
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
Labels: none

Fixed: Series links not opening on iOS
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/Series/Details/SeriesDetailsLinks.css
Labels: none

Saving changes
  frontend/src/App/State/RegisterAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModalContent.js
  frontend/src/Store/Actions/Creators/createCustomFetchRegister.js
  frontend/src/Store/Actions/Settings/register.ts
  frontend/src/Store/Actions/Settings/users.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createRegisterSelector.ts
  frontend/src/Store/createAppStore.js
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Authentication/AuthenticationService.cs
  src/Sonarr.Http/Frontend/InitializeJsonController.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
