Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Inherit trigger from pushed command models
  src/NzbDrone.Core/Messaging/Commands/CommandQueueManager.cs
  src/Sonarr.Api.V3/Commands/CommandController.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Improve message for grab errors due to no matching tags
  src/NzbDrone.Core.Test/Download/DownloadClientProviderFixture.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
Labels: none

Cleanse exceptions in event logs
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
Labels: none

Fix settings fetching failure for updates
  frontend/src/System/Updates/Updates.tsx
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Initial state for qBittorrent v5.0
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentState.cs
Labels: download-client

Fixed: Changing series to another root folder without moving files
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

New: Maintain '...' in naming format
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

New: Improve parsing absolute followed by standard numbering
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Episode mappings in .plexmatch metadata files
  src/NzbDrone.Core/Extras/ExtraService.cs
  src/NzbDrone.Core/Extras/Files/ExtraFileManager.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Plex/PlexMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Plex/PlexMetadataSettings.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Roksbox/RoksboxMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Wdtv/WdtvMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/IMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/MetadataBase.cs
  src/NzbDrone.Core/Extras/Metadata/MetadataService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Update JetBrains logos
  Logo/Jetbrains/dottrace.svg
  Logo/Jetbrains/jetbrains.svg
  Logo/Jetbrains/resharper.svg
  Logo/Jetbrains/teamcity.svg
  README.md
Labels: none

Fixed: Status check for completed directories in Deluge
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DelugeTests/DelugeFixture.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

Update System.Text.Json to version 6.0.10
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Update paths mapping translations for series specific
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: connection

fixup! Convert Form Components to TypeScript
  frontend/src/Components/Form/AutoSuggestInput.tsx
  frontend/src/Components/Form/Tag/TagInput.tsx
  frontend/src/Components/Form/Tag/TagInputInput.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Update paths mapping translations for series specific
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: connection

New: Use instance name in PWA manifest
  frontend/src/Content/manifest.json
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
Labels: none

Fixed: Parse version after quality in renamed files
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Use current time for cache break in development
  src/Sonarr.Http/Frontend/Mappers/CacheBreakerProvider.cs
Labels: none

New: Favorite folders in Manual Import
  frontend/src/App/State/InteractiveImportAppState.ts
  frontend/src/Helpers/Props/icons.ts
  frontend/src/InteractiveImport/Folder/FavoriteFolderRow.css
  frontend/src/InteractiveImport/Folder/FavoriteFolderRow.css.d.ts
  frontend/src/InteractiveImport/Folder/FavoriteFolderRow.tsx
  frontend/src/InteractiveImport/Folder/InteractiveImportSelectFolderModalContent.css
  frontend/src/InteractiveImport/Folder/InteractiveImportSelectFolderModalContent.tsx
  frontend/src/InteractiveImport/Folder/RecentFolder.ts
  frontend/src/InteractiveImport/Folder/RecentFolderRow.js
  frontend/src/InteractiveImport/Folder/RecentFolderRow.tsx
  frontend/src/Store/Actions/interactiveImportActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Add individual edit to Manage Custom Formats
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalConnector.js
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
Labels: none

Rename Manage Custom Formats to Manage Formats
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsToolbarButton.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Use download client name for history column
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/typings/History.ts
Labels: none

New: Include source path with Webhook import event episode file
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
Labels: connection

Fixed: Cleaning the French preposition 'à' from titles
  src/NzbDrone.Core.Test/ParserTests/NormalizeSeriesTitleFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

On telegram notification - set the right link label
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
Labels: connection

Fixed: Interactive searches when using Escape to close previous searches
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/Series/Search/SeasonInteractiveSearchModal.tsx
Labels: none

Fixed: New values for custom filters
  frontend/src/Components/Form/Tag/TagInput.tsx
Labels: none

Fixed: Root folder existence for import lists health check
  src/NzbDrone.Core/HealthCheck/Checks/ImportListRootFolderCheck.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Monitor New Seasons column for series list
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Store/Actions/seriesIndexActions.js
Labels: none

Fixed: Filtering queue by multiple qualities
  src/Sonarr.Api.V3/Queue/QueueController.cs
Labels: none

Show a series path as example in Mount Health Check
  src/NzbDrone.Core/HealthCheck/Checks/MountCheck.cs
Labels: none

New: Filter queue by status
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/QueueStatusFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/SeriesStatusFilterBuilderRowValue.js
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/Store/Actions/queueActions.js
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Queue/Queue.cs
  src/NzbDrone.Core/Queue/QueueService.cs
  src/NzbDrone.Core/Queue/QueueStatus.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Queue/QueueResource.cs
Labels: none

Fixed: Loading queue with pending releases for deleted series
  src/NzbDrone.Core/Datastore/Extensions/BuilderExtensions.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseRepository.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
Labels: none

New: Reject files during import that have no audio tracks
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/HasAudioTrackSpecificationFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/HasAudioTrackSpecification.cs
Labels: none

Increase retries for DebouncerFixture
  src/NzbDrone.Common.Test/TPLTests/DebouncerFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Use instance name in PWA manifest
  frontend/src/Content/manifest.json
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
