Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Improved names for release profile identifiers
  frontend/src/App/State/TagsAppState.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tag.tsx
  src/NzbDrone.Core/Tags/TagDetails.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Sonarr.Api.V3/Tags/TagDetailsResource.cs
Labels: none

Set `Season Year` to empty when unavailable
  src/NzbDrone.Core.Test/OrganizerTests/GetSeasonFolderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
Labels: none

switch theme automatically when system changes
  frontend/src/Helpers/Hooks/useTheme.ts
Labels: none

Fix external restart handling
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/HostSettings.tsx
  frontend/src/System/Status/About/About.tsx
  frontend/src/System/useIsContainerized.ts
  frontend/src/typings/Settings/General.ts
  frontend/src/typings/SystemStatus.ts
  src/NzbDrone.Common/EnvironmentInfo/IRuntimeInfo.cs
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
  src/NzbDrone.Common/EnvironmentInfo/RuntimeInfo.cs
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
  src/NzbDrone.Common/Options/AppOptions.cs
  src/NzbDrone.Core.Test/HealthCheck/Checks/RemotePathMappingCheckFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemotePathMappingCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Host/AppLifetime.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V3/System/SystemController.cs
  src/Sonarr.Api.V3/System/SystemResource.cs
Labels: none

Update src/NzbDrone.Core/Profiles/Releases/ReleaseProfileService.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfileService.cs
Labels: none

Revert IsDocker API V3
  frontend/src/typings/SystemStatus.ts
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
  src/NzbDrone.Core.Test/HealthCheck/Checks/RemotePathMappingCheckFixture.cs
  src/Sonarr.Api.V3/System/SystemController.cs
  src/Sonarr.Api.V3/System/SystemResource.cs
Labels: none

Changing tests to address feedback
  src/NzbDrone.Core.Test/Profiles/Release/ReleaseProfileServiceFixture.cs
Labels: none

Improving test readability
  src/NzbDrone.Core.Test/Profiles/Release/ReleaseProfileServiceFixture.cs
Labels: none

New: Grab season pack even if some episodes already meet cutoff
  frontend/src/Components/Form/FloatInput.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/NumberInput.tsx
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Store/Actions/Creators/Reducers/createSetSettingValueReducer.js
  frontend/src/typings/Settings/MediaManagement.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/SeasonPackUpgradeType.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
Labels: none

Fix legacy app data folder path on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderInfo.cs
Labels: none

Attempt to remove pid file only if config folder exists
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Bump System.Data.SQLite to official 2.0.2
  src/NuGet.Config
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Switch HttpProxySettingsProviderFixture to test cases
  src/NzbDrone.Core.Test/Http/HttpProxySettingsProviderFixture.cs
Labels: none

Remove IsPodman from API Add container check
  frontend/src/typings/SystemStatus.ts
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
  src/Sonarr.Api.V3/System/SystemController.cs
  src/Sonarr.Api.V3/System/SystemResource.cs
Labels: none

Fix modal widths on some screen sizes
  frontend/src/Components/Modal/Modal.css
Labels: none

Reorder max-width CSS property
  frontend/src/Components/Modal/Modal.css
Labels: none

fixup! New: Grab season pack even if some episodes already meet cutoff
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/typings/Settings/MediaManagement.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
Labels: none

Add additional test
  src/NzbDrone.Core.Test/Profiles/Release/ReleaseProfileServiceFixture.cs
Labels: none

Fix UI build
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
Labels: none

Update frontend/src/Helpers/Hooks/useTheme.ts
  frontend/src/Helpers/Hooks/useTheme.ts
Labels: none

Fix config service test
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
Labels: none

Fixed: Incorrectly parsing English subtitles as English audio
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

New: Parse 'Por' as Portuguese
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Test versions 16 and 17 of Postgres
  .github/actions/test/action.yml
  .github/workflows/build_v5.yml
Labels: none

Bump actions/checkout, actions/download-artifact and actions/setup-dotnet
  .github/actions/build/action.yml
  .github/actions/test/action.yml
  .github/workflows/build_v5.yml
Labels: none

Avoid rewriting file names in builds
  src/Directory.Build.props
Labels: none

Bump coverlet.collector to official 6.0.4
  src/Directory.Build.props
  src/NuGet.Config
  src/coverlet.runsettings
Labels: none

condensed timezone
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Utilities/Date/convertToTimezone.ts
  frontend/src/Utilities/Date/timeZoneOptions.ts
  src/Sonarr.Api.V5/Config/UiConfigController.cs
  src/Sonarr.Api.V5/Config/UiConfigResource.cs
Labels: none

New: Don't reparse OVA with folder name
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Add quality profile downgrade/archiving feature
  .github/actions/package/package.sh
  distribution/debian/install.sh
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/typings/QualityProfile.ts
  scripts/docs.sh
  scripts/test.sh
  src/NzbDrone.Core/Datastore/Migration/222_add_downgrade_fields_to_quality_profiles.cs
  src/NzbDrone.Core/Jobs/TaskManager.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/SeasonPackUpgradeType.cs
  src/NzbDrone.Core/Profiles/Qualities/Commands/ApplyQualityProfileDowngradeCommand.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileDowngradeService.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
Labels: db-migration

Add quality profile downgrade/archiving feature
  .github/actions/package/package.sh
  distribution/debian/install.sh
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/typings/QualityProfile.ts
  scripts/docs.sh
  scripts/test.sh
  src/NzbDrone.Core/Datastore/Migration/222_add_downgrade_fields_to_quality_profiles.cs
  src/NzbDrone.Core/Jobs/TaskManager.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/SeasonPackUpgradeType.cs
  src/NzbDrone.Core/Profiles/Qualities/Commands/ApplyQualityProfileDowngradeCommand.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileDowngradeService.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
Labels: db-migration

Fix merge conflict in EditQualityProfileModalContent
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
Labels: none

New: Support PEM format for SSL certificates
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/HostSettings.tsx
  frontend/src/typings/Settings/General.ts
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Host/Bootstrap.cs
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Remove UI setting
  frontend/src/Settings/General/HostSettings.tsx
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
Labels: none

New: Optional message for marking as failed via API
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.tsx
  frontend/src/Activity/Blocklist/BlocklistRow.tsx
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/Helpers/Hooks/usePagedApiQuery.ts
  frontend/src/typings/Blocklist.ts
  frontend/src/typings/History.ts
  src/NzbDrone.Common.Test/Http/UserAgentParserFixture.cs
  src/NzbDrone.Common/Http/UserAgentParser.cs
  src/NzbDrone.Core/Blocklisting/Blocklist.cs
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Datastore/Migration/223_add_source_to_blocklist.cs
  src/NzbDrone.Core/Download/DownloadFailedEvent.cs
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V5/Queue/QueueController.cs
  src/Sonarr.Http/Extensions/RequestExtensions.cs
Labels: db-migration

Add v5 Blocklist endpoints
  src/Sonarr.Api.V5/Blocklist/BlocklistBulkResource.cs
  src/Sonarr.Api.V5/Blocklist/BlocklistController.cs
  src/Sonarr.Api.V5/Blocklist/BlocklistResource.cs
  src/Sonarr.Api.V5/Queue/QueueController.cs
  src/Sonarr.Http/REST/RestController.cs
Labels: none

Use react-query for Blocklist UI
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/Blocklist/BlocklistFilterModal.tsx
  frontend/src/Activity/Blocklist/BlocklistRow.tsx
  frontend/src/Activity/Blocklist/blocklistOptionsStore.ts
  frontend/src/Activity/Blocklist/useBlocklist.ts
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueFilterModal.tsx
  frontend/src/Activity/Queue/queueOptionsStore.ts
  frontend/src/Activity/Queue/useQueue.ts
  frontend/src/Helpers/Hooks/useOptionsStore.ts
  frontend/src/Helpers/Hooks/usePage.ts
  frontend/src/Helpers/Hooks/usePagedApiQuery.ts
  frontend/src/Store/Actions/blocklistActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/System/Events/LogsTable.tsx
  frontend/src/System/Events/eventOptionsStore.tsx
  frontend/src/System/Events/useEvents.ts
Labels: none

Fixed: Validation for SSL certificate file existence
  src/Sonarr.Api.V3/Config/HostConfigController.cs
Labels: none

cleanup timezone related code path
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Utilities/Date/convertToTimezone.ts
  frontend/src/Utilities/Date/timeZoneOptions.ts
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
