Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: Skip invalid series paths during validation
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Validation/Paths/RootFolderValidator.cs
  src/NzbDrone.Core/Validation/Paths/SeriesPathValidator.cs
Labels: none

Fixed: Improve error messaging if config file isn't formatted correctly
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Ignore `Grabbed` from API docs
  docs.sh
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V3/openapi.json
Labels: none

Add TMDB id support
  frontend/src/Components/Page/Header/SeriesSearchInputConnector.js
  frontend/src/Components/Page/Header/SeriesSearchResult.js
  frontend/src/Components/Page/Header/fuse.worker.js
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Details/SeriesDetailsLinks.js
  frontend/src/Series/Series.ts
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/IdFixture.cs
  src/NzbDrone.Core.Test/TvTests/RefreshSeriesServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/206_add_tmdbid.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/KodiEpisodeGuide.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/ShowResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserItems.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: connection, db-migration, indexer

Fixed: Adding series with unknown items in queue
  src/NzbDrone.Core/Download/Aggregation/RemoteEpisodeAggregationService.cs
  src/NzbDrone.Core/Tv/SeriesScannedHandler.cs
Labels: none

Update src/NzbDrone.Core/Download/Aggregation/RemoteEpisodeAggregationService.cs
  src/NzbDrone.Core/Download/Aggregation/RemoteEpisodeAggregationService.cs
Labels: none

Fixed: Importing from IMDb list
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListParser.cs
Labels: none

New: Display stats for delete multiple series modal
  frontend/src/Series/Delete/DeleteSeriesModalContent.css
  frontend/src/Series/Delete/DeleteSeriesModalContent.css.d.ts
  frontend/src/Series/Delete/DeleteSeriesModalContent.js
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.css
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.css.d.ts
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
Labels: none

New: Ignore inaccessible folders when getting folders
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Fix UpdatePackageProviderFixture for v4
  src/NzbDrone.Core.Test/UpdateTests/UpdatePackageProviderFixture.cs
Labels: none

New: Add TMDB ID support
  frontend/src/Components/Page/Header/SeriesSearchInputConnector.js
  frontend/src/Components/Page/Header/SeriesSearchResult.js
  frontend/src/Components/Page/Header/fuse.worker.js
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Details/SeriesDetailsLinks.js
  frontend/src/Series/Series.ts
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/IdFixture.cs
  src/NzbDrone.Core.Test/TvTests/RefreshSeriesServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/206_add_tmdbid.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/KodiEpisodeGuide.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/ShowResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserItems.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: connection, db-migration, indexer

Fixed: Adding series with unknown items in queue
  src/NzbDrone.Core/Download/Aggregation/RemoteEpisodeAggregationService.cs
  src/NzbDrone.Core/Tv/SeriesScannedHandler.cs
Labels: none

Fixed: Importing from IMDb list
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListParser.cs
Labels: none

Fix UpdatePackageProviderFixture for v4
  src/NzbDrone.Core.Test/UpdateTests/UpdatePackageProviderFixture.cs
Labels: none

New: Ignore inaccessible folders when getting folders
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

New: Display stats for delete multiple series modal
  frontend/src/Series/Delete/DeleteSeriesModalContent.css
  frontend/src/Series/Delete/DeleteSeriesModalContent.css.d.ts
  frontend/src/Series/Delete/DeleteSeriesModalContent.js
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.css
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.css.d.ts
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
Labels: none

New: Parse anime seasons with trailing number in title
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Improve UI status when downloads cannot be imported automatically
  frontend/src/Activity/Queue/QueueStatus.js
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Ability to select Plex Media Server from plex.tv
  frontend/src/Components/Form/EnhancedSelectInput.js
  frontend/src/Components/Form/EnhancedSelectInputConnector.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContentConnector.js
  frontend/src/Store/Actions/Creators/Reducers/createSetProviderFieldValuesReducer.js
  frontend/src/Store/Actions/Settings/notifications.js
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabCategoryFieldOptionsConverter.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvProxy.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvResource.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: connection, indexer

New: Ignore Deluge torrents without a title
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

Fixed: Exclude invalid releases from Newznab and Torznab parsers
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/RssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: indexer

New: Display stats for all series in index footer
  frontend/src/Series/Index/SeriesIndexFooter.tsx
Labels: none

Fixed: Prevent errors parsing releases in unexpected formats
  src/NzbDrone.Core.Test/ParserTests/CrapParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Remove websites in parentheses before parsing
  src/NzbDrone.Core.Test/ParserTests/UrlFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

fixup! New: Ignore Deluge torrents without a title
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

fixup! New: Ignore Deluge torrents without a title
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

fixup! New: Improve UI status when downloads cannot be imported automatically
  src/NzbDrone.Core.Test/Download/CompletedDownloadServiceTests/ImportFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Parse anime seasons with trailing number in title
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Improve UI status when downloads cannot be imported automatically
  frontend/src/Activity/Queue/QueueStatus.js
  src/NzbDrone.Core.Test/Download/CompletedDownloadServiceTests/ImportFixture.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Exclude invalid releases from Newznab and Torznab parsers
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/RssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: indexer

New: Ability to select Plex Media Server from plex.tv
  frontend/src/Components/Form/EnhancedSelectInput.js
  frontend/src/Components/Form/EnhancedSelectInputConnector.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContentConnector.js
  frontend/src/Store/Actions/Creators/Reducers/createSetProviderFieldValuesReducer.js
  frontend/src/Store/Actions/Settings/notifications.js
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabCategoryFieldOptionsConverter.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvProxy.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvResource.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: connection, indexer

New: Ignore Deluge torrents without a title
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

Fixed: Prevent errors parsing releases in unexpected formats
  src/NzbDrone.Core.Test/ParserTests/CrapParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Remove websites in parentheses before parsing
  src/NzbDrone.Core.Test/ParserTests/UrlFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Limit Queue maximum page size to 200
  frontend/src/Activity/Queue/Queue.js
  frontend/src/Components/Table/TableOptions/TableOptionsModal.js
Labels: none

Fixed: Reprocessing items that were previously blocked during importing
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/DownloadMonitoringService.cs
Labels: none

Fixed: Reprocessing items that were previously blocked during importing
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/DownloadMonitoringService.cs
Labels: none

Fixed: Limit Queue maximum page size to 200
  frontend/src/Activity/Queue/Queue.js
  frontend/src/Components/Table/TableOptions/TableOptionsModal.js
Labels: none
