Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Convert FormInputButton to TypeScript
  frontend/src/Components/Form/FormInputButton.js
  frontend/src/Components/Form/FormInputButton.tsx
Labels: none

Convert Naming options to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/MediaManagement/MediaManagement.js
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingConnector.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingOption.js
  frontend/src/Settings/MediaManagement/Naming/NamingOption.tsx
  frontend/src/Settings/MediaManagement/Naming/TokenCase.ts
  frontend/src/Settings/MediaManagement/Naming/TokenSeparator.ts
  frontend/src/typings/Settings/NamingConfig.ts
  frontend/src/typings/Settings/NamingExample.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Remove check for NetBSD platform
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

Fixed: Matched alternative titles and tags in header search results
  frontend/src/Components/Page/Header/SeriesSearchResult.js
  frontend/src/Components/Page/Header/fuse.worker.js
Labels: none

Fixed: Dedupe releases for single daily and anime episode searches
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Bump frontend packages
  package.json
  yarn.lock
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Include exception message in SkyHook failure message
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.js
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

New: Display items tags on import lists index
  frontend/src/Settings/ImportLists/ImportLists/ImportList.js
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
Labels: none

Natural sorting for tags list in the UI
  frontend/src/Settings/Tags/TagsConnector.js
Labels: none

New: Maintain '...' in naming format
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

Inherit trigger from pushed command models
  src/NzbDrone.Core/Messaging/Commands/CommandQueueManager.cs
  src/Sonarr.Api.V3/Commands/CommandController.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Cleanse exceptions in event logs
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
Labels: none

Fix settings fetching failure for updates
  frontend/src/System/Updates/Updates.tsx
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Stopped/Started as initial state for qBittorrent v5.0
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentState.cs
Labels: download-client

New: Sync updates to UI for providers
  frontend/src/Components/SignalRConnector.js
  src/Sonarr.Api.V3/DownloadClient/DownloadClientController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListController.cs
  src/Sonarr.Api.V3/Indexers/IndexerController.cs
  src/Sonarr.Api.V3/Metadata/MetadataController.cs
  src/Sonarr.Api.V3/Notifications/NotificationController.cs
  src/Sonarr.Api.V3/ProviderControllerBase.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Fixed: Changing series to another root folder without moving files
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Bump version to 4.0.10
  .github/workflows/build.yml
Labels: none

New: Improve parsing absolute followed by standard numbering
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Episode mappings in .plexmatch metadata files
  frontend/src/Components/Link/ClipboardButton.tsx
  src/NzbDrone.Core/Extras/ExtraService.cs
  src/NzbDrone.Core/Extras/Files/ExtraFileManager.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Plex/PlexMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Plex/PlexMetadataSettings.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Roksbox/RoksboxMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Wdtv/WdtvMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/IMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/MetadataBase.cs
  src/NzbDrone.Core/Extras/Metadata/MetadataService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Update JetBrains logos
  Logo/Jetbrains/dottrace.svg
  Logo/Jetbrains/jetbrains.svg
  Logo/Jetbrains/resharper.svg
  Logo/Jetbrains/teamcity.svg
  README.md
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Bump version to 4.0.10
  .github/workflows/build.yml
Labels: none

Improve message for grab errors due to no matching tags
  src/NzbDrone.Core.Test/Download/DownloadClientProviderFixture.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
Labels: none

Fixed: Status output root folders for completed directories in Deluge
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DelugeTests/DelugeFixture.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

Update System.Text.Json to version 6.0.10
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

fixup! New: Episode mappings in .plexmatch metadata files
  frontend/src/Components/Link/ClipboardButton.tsx
Labels: none

fixup! New: Episode mappings in .plexmatch metadata files
  src/NzbDrone.Core/Extras/ExtraService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Use `OperatingSystem` class to get OS information
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

Fixed: Matched alternative titles and tags in series search results
  frontend/src/Components/Page/Header/SeriesSearchResult.js
  frontend/src/Components/Page/Header/fuse.worker.js
Labels: none

Fixed: Dedupe releases for single daily and anime episode searches
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Bump frontend packages
  package.json
  yarn.lock
Labels: none

Include exception message in SkyHook failure message
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.js
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

New: Display tags on import list cards
  frontend/src/Settings/ImportLists/ImportLists/ImportList.js
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
Labels: none

New: Real time UI updates for provider changes
  frontend/src/Components/SignalRConnector.js
  src/Sonarr.Api.V3/DownloadClient/DownloadClientController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListController.cs
  src/Sonarr.Api.V3/Indexers/IndexerController.cs
  src/Sonarr.Api.V3/Metadata/MetadataController.cs
  src/Sonarr.Api.V3/Notifications/NotificationController.cs
  src/Sonarr.Api.V3/ProviderControllerBase.cs
Labels: none

Fixed: Natural sorting for tags list in the UI
  frontend/src/Settings/Tags/TagsConnector.js
Labels: none
