Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: ReleaseBlockedException not propagated in PreferTorrentFile path with magnet fallback
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/TorrentBlackholeFixture.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
Labels: none

Refactor: Group torrent file rejections by type, warn on rejection
  src/NzbDrone.Core/Download/TorrentClientBase.cs
Labels: none

Refactor: Simplify ParseExtensions with early return and generic name
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Fix: Place reject-at-grab-time checkbox before FailDownloads in indexer UI
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
Labels: indexer

Test: Fix NLog config wipe on first test and add mixed-group test
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TorrentClientBaseFixture.cs
Labels: none

Refactor: Extract shared user extension parser, collect all file rejections
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Refactor: Share user-extension parsing and promote parse-failure to warn
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Test: Move grab-time file rejection tests to shared test client
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/TorrentBlackholeFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TestTorrentClient.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TestTorrentClientSettings.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TestTorrentIndexerSettings.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TorrentClientBaseFixture.cs
Labels: none

Update src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
Labels: none

New: Reject and blocklist torrents containing dangerous files before sending to download client
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/TorrentInfo/TorrentFileInfoReaderFixture.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/MediaFiles/TorrentInfo/TorrentFileInfoReader.cs
Labels: none

Fixed: Missing using for IsNullOrWhiteSpace in ParseExtensions
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Test: Fix and expand grab-time rejection tests
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TorrentClientBaseFixture.cs
Labels: none

shorten the parser comment and use placeholder titles in the tests
  src/NzbDrone.Core.Test/DecisionEngineTests/DownloadDecisionMakerFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

rename the season search mode and move the comments into the branches
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaRequestGeneratorFixture.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SearchMode.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

drop the combined value and set both modes at the call site
  src/NzbDrone.Core/DataAugmentation/Scene/SearchMode.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

refactor: consolidate pending-move logic into SeriesService, rename NextPath to PendingPath
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Series.ts
  frontend/src/Series/SeriesMovePending.tsx
  src/NzbDrone.Api.Test/Series/SeriesControllerUpdateSeriesFixture.cs
  src/NzbDrone.Api.Test/Series/SeriesV5ControllerUpdateSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateSingleSeriesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/234_add_next_path_to_series.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesEditorFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesV5Fixture.cs
  src/NzbDrone.Integration.Test/Client/SeriesClientV5.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: db-migration

Fix: address cleanup review
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/TorrentBlackholeFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TorrentClientBaseFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

refactor: consolidate pending-move logic into SeriesService and rename NextPath to PendingPath
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.module.css
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesStatusCell.tsx
  frontend/src/Series/Series.ts
  frontend/src/Series/SeriesMovePending.tsx
  src/NzbDrone.Api.Test/Series/SeriesControllerUpdateSeriesFixture.cs
  src/NzbDrone.Api.Test/Series/SeriesV5ControllerUpdateSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateSingleSeriesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/233_add_next_path_to_series.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesEditorFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesV5Fixture.cs
  src/NzbDrone.Integration.Test/Client/SeriesClientV5.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: db-migration

fix: poll for SignalR broadcast instead of asserting immediately
  src/NzbDrone.Integration.Test/ApiTests/SeriesFixture.cs
Labels: none

Localize examples for date and time settings
  frontend/src/Settings/UI/UISettings.tsx
Labels: none

Fix configured timezone usage in moment
  frontend/src/Calendar/Agenda/Agenda.tsx
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/CalendarMissingEpisodeSearchButton.tsx
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Day/CalendarDays.tsx
  frontend/src/Calendar/Day/DayOfWeek.tsx
  frontend/src/Calendar/Day/DaysOfWeek.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Calendar/getStatusStyle.ts
  frontend/src/Calendar/useCalendar.ts
  frontend/src/Components/Page/Page.tsx
  frontend/src/Episode/Summary/EpisodeAiring.tsx
  frontend/src/InteractiveImport/interactiveImportFoldersStore.ts
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Language/useLanguageName.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/useSeries.ts
  frontend/src/System/Status/About/StartTime.tsx
  frontend/src/System/Tasks/Queued/QueuedTaskRow.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/Utilities/Date/convertToTimezone.ts
  frontend/src/Utilities/Date/dateFilterPredicate.ts
  frontend/src/Utilities/Date/formatDate.ts
  frontend/src/Utilities/Date/formatDateTime.ts
  frontend/src/Utilities/Date/formatShortTimeSpan.ts
  frontend/src/Utilities/Date/formatTime.ts
  frontend/src/Utilities/Date/formatTimeSpan.ts
  frontend/src/Utilities/Date/getRelativeDate.ts
  frontend/src/Utilities/Date/isAfter.ts
  frontend/src/Utilities/Date/isBefore.ts
  frontend/src/Utilities/Date/isInNextWeek.ts
  frontend/src/Utilities/Date/isSameWeek.ts
  frontend/src/Utilities/Date/isToday.ts
  frontend/src/Utilities/Date/isTomorrow.ts
  frontend/src/Utilities/Date/isYesterday.ts
Labels: none

Fixed: BroadcasTheNet searches for three digit episode numbers
  src/NzbDrone.Core.Test/IndexerTests/BroadcastheNetTests/BroadcastheNetRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetRequestGenerator.cs
Labels: indexer

Fixed: Preferred size compared against a single episode runtime
  src/NzbDrone.Core.Test/DecisionEngineTests/PrioritizeDownloadDecisionFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

Improve zip extraction
  src/NzbDrone.Common/ArchiveService.cs
Labels: none

New: Add hostname validation
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/General/GeneralSettings.js
  frontend/src/Settings/General/HostSettings.js
  frontend/src/typings/Settings/General.ts
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core.Test/Configuration/AllowedHostsParserFixture.cs
  src/NzbDrone.Core.Test/HealthCheck/Checks/AllowedHostsCheckFixture.cs
  src/NzbDrone.Core/Configuration/AllowedHostsParser.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/AllowedHostsCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/RuleBuilderExtensions.cs
  src/NzbDrone.Host/ConfigureHostFilteringOptions.cs
  src/NzbDrone.Host/Startup.cs
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
Labels: none

New: Add Trusted Networks setting
  frontend/src/Settings/General/GeneralSettings.js
  frontend/src/Settings/General/SecuritySettings.js
  frontend/src/typings/Settings/General.ts
  src/NzbDrone.Api.Test/Authentication/UiAuthorizationHandlerFixture.cs
  src/NzbDrone.Common.Test/NetworkTests/IPNetworkParserFixture.cs
  src/NzbDrone.Common/Network/IPNetworkParser.cs
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/IpValidation.cs
  src/NzbDrone.Host.Test/ForwardedHeadersConfiguratorFixture.cs
  src/NzbDrone.Host/ForwardedHeadersConfigurator.cs
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

Fixed: Format of timestamps for Discord notifications from some systems
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fixed: existing episode file deleted before the new file name is built
  src/NzbDrone.Core.Test/MediaFiles/UpgradeMediaFileServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

New: Option to reject and blocklist torrents containing rejected extensions at grab time
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TestTorrentClient.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TestTorrentClientSettings.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TestTorrentIndexerSettings.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TorrentClientBaseTests/TorrentClientBaseFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/TorrentInfo/TorrentFileInfoReaderFixture.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/ITorrentIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
  src/NzbDrone.Core/MediaFiles/TorrentInfo/TorrentFileInfoReader.cs
Labels: indexer

Localize examples for date and time settings
  frontend/src/Settings/UI/UISettings.tsx
Labels: none

Fix configured timezone usage in moment
  frontend/src/Calendar/Agenda/Agenda.tsx
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/CalendarMissingEpisodeSearchButton.tsx
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Day/CalendarDays.tsx
  frontend/src/Calendar/Day/DayOfWeek.tsx
  frontend/src/Calendar/Day/DaysOfWeek.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Calendar/getStatusStyle.ts
  frontend/src/Calendar/useCalendar.ts
  frontend/src/Components/Page/Page.tsx
  frontend/src/Episode/Summary/EpisodeAiring.tsx
  frontend/src/InteractiveImport/interactiveImportFoldersStore.ts
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Language/useLanguageName.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/useSeries.ts
  frontend/src/System/Status/About/StartTime.tsx
  frontend/src/System/Tasks/Queued/QueuedTaskRow.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/Utilities/Date/convertToTimezone.ts
  frontend/src/Utilities/Date/dateFilterPredicate.ts
  frontend/src/Utilities/Date/formatDate.ts
  frontend/src/Utilities/Date/formatDateTime.ts
  frontend/src/Utilities/Date/formatShortTimeSpan.ts
  frontend/src/Utilities/Date/formatTime.ts
  frontend/src/Utilities/Date/formatTimeSpan.ts
  frontend/src/Utilities/Date/getRelativeDate.ts
  frontend/src/Utilities/Date/isAfter.ts
  frontend/src/Utilities/Date/isBefore.ts
  frontend/src/Utilities/Date/isInNextWeek.ts
  frontend/src/Utilities/Date/isSameWeek.ts
  frontend/src/Utilities/Date/isToday.ts
  frontend/src/Utilities/Date/isTomorrow.ts
  frontend/src/Utilities/Date/isYesterday.ts
Labels: none

New: Parsing file names with ambiguous episode numbering
  src/NzbDrone.Core.Test/ParserTests/PathParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParserCommon.cs
Labels: parsing

Fixed: Pagination for Trakt import lists
  src/NzbDrone.Core.Test/ImportListTests/Trakt/TraktListRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/Trakt/TraktUserRequestGeneratorFixture.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularParser.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktImportBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktQueryHelper.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
Labels: none

track season titles on the criteria instead of a search mode
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaRequestGeneratorFixture.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SearchMode.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/AnimeSeasonSearchCriteria.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SceneEpisodeMapping.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SceneSeasonMapping.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

Simplified the empty check in GetRuntime
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
Labels: none

null the mapped season number when the release doesnt name one
  src/NzbDrone.Common/Extensions/NullableExtensions.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Parser/Model/RemoteEpisode.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing
