Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Anime Lists from Simkl
  src/NzbDrone.Core/ImportLists/Simkl/SimklAPI.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklImportBase.cs
Labels: none

Improve nullable analysis for IsNullOrWhiteSpace and IsNotNullOrWhiteSpace
  src/NzbDrone.Common/Extensions/StringExtensions.cs
  src/Sonarr.Api.V5/Series/SeriesFolderAsRootFolderValidator.cs
Labels: none

Defer deserialize JSON response resource with Lazy
  src/NzbDrone.Common/Http/HttpResponse.cs
Labels: none

Improve Mark as Failed for non-grabbed history events
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/Sonarr.Http/ErrorManagement/SonarrErrorPipeline.cs
Labels: none

Cleanup Post-Backup Temporary Files
  src/NzbDrone.Core/Backup/BackupService.cs
Labels: none

Bump FFprobe to 8.1.1
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Increase width on actions column for episode file details
  frontend/src/Episode/Summary/EpisodeFileRow.css
Labels: none

Avoid DNS resolution for IP addresses in Happy Eyeballs
  src/NzbDrone.Common/Http/HappyEyeballs/HttpHappyEyeballs.cs
Labels: none

Use react-query for Auto Tagging
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.tsx
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModal.tsx
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationItem.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationModal.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModal.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/Specification.tsx
  frontend/src/Settings/Tags/AutoTagging/useAutoTaggings.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Store/Actions/Settings/autoTaggingSpecifications.js
  frontend/src/Store/Actions/Settings/autoTaggings.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/AutoTagging.ts
Labels: none

Add v5 Auto Tagging endpoints
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingController.cs
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingResource.cs
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingSpecificationSchema.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Parsing quality from some WEB releases
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Add `DisabledForLocalHost` option for `AuthenticationRequiredType`
  src/NzbDrone.Core/Authentication/AuthenticationRequiredType.cs
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

Update `LocalHost` to `Localhost` to correspond with the normal naming convention
  src/NzbDrone.Core/Authentication/AuthenticationRequiredType.cs
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

Add v5 Import List Options endpoints
  src/Sonarr.Api.V5/Settings/ImportListSettingsController.cs
  src/Sonarr.Api.V5/Settings/ImportListSettingsResource.cs
Labels: none

Use react-query for Import List Options
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Settings/ImportLists/Options/useImportListSettings.ts
  frontend/src/Store/Actions/Settings/importListOptions.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/ImportListOptionsSettings.ts
Labels: none

Frontend UI change for disabling auth for localhost
  frontend/src/Settings/General/SecuritySettings.tsx
Labels: none

Fixed: Don't log error when missing some translation files
  src/NzbDrone.Core/Localization/LocalizationService.cs
Labels: none

Split authentication check logic
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

EN transltion
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Syntax fix
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

Use react-query for Import Lists
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Settings/ImportLists/ImportListSettings.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListPresetMenuItem.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModal.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  frontend/src/Settings/Profiles/Quality/useQualityProfileInUse.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Store/Actions/Settings/importLists.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/ImportList.ts
Labels: none

Add v5 Import List endpoints
  src/Sonarr.Api.V5/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListController.cs
  src/Sonarr.Api.V5/ImportLists/ImportListResource.cs
Labels: none

Rename isSchemaFetching to isSchemaLoading
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationModalContent.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/useQualityProfiles.ts
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationModalContent.tsx
  frontend/src/Settings/useProviderSchema.ts
Labels: none

Bump .NET to 10.0.8
  global.json
  src/Directory.Build.props
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Bump fontawesome, lodash, qs, babel, core-js and postcss
  package.json
  yarn.lock
Labels: none

Add CancellationToken to HttpClient async methods
  src/NzbDrone.Common/Http/Dispatchers/IHttpDispatcher.cs
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Common/Http/HttpClient.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadClientFixtureBase.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/HadoukenTests/HadoukenFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/BroadcastheNetTests/BroadcastheNetFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/FanzubTests/FanzubFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/FileListTests/FileListFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/HDBitsTests/HDBitsFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/IPTorrentsTests/IPTorrentsFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/SeasonSearchFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorrentRssIndexerTests/TorrentRssIndexerFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorrentleechTests/TorrentleechFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorznabTests/TorznabFixture.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Parsing quality from some WEB releases
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Fixed: Don't log error when missing some translation files
  src/NzbDrone.Core/Localization/LocalizationService.cs
Labels: none

Bump fontawesome, lodash, qs, babel, core-js and postcss
  package.json
  yarn.lock
Labels: none

Bump .NET to 10.0.8
  global.json
  src/Directory.Build.props
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Add CancellationToken to HttpClient async methods
  src/NzbDrone.Common/Http/Dispatchers/IHttpDispatcher.cs
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Common/Http/HttpClient.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadClientFixtureBase.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/HadoukenTests/HadoukenFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/BroadcastheNetTests/BroadcastheNetFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/FanzubTests/FanzubFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/FileListTests/FileListFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/HDBitsTests/HDBitsFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/IPTorrentsTests/IPTorrentsFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/SeasonSearchFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorrentRssIndexerTests/TorrentRssIndexerFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorrentleechTests/TorrentleechFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorznabTests/TorznabFixture.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

New: Optional end-to-end encryption setting for Pushover
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Pushover/PushoverProxy.cs
  src/NzbDrone.Core/Notifications/Pushover/PushoverSettings.cs
Labels: connection

Add logging when searching for recently aired episodes after refresh
  src/NzbDrone.Core/Tv/EpisodeRefreshedService.cs
  src/NzbDrone.Core/Tv/SeriesScannedHandler.cs
Labels: none

New: Allow bypassing authentication for Localhost
  frontend/src/Settings/General/SecuritySettings.tsx
  src/NzbDrone.Core/Authentication/AuthenticationRequiredType.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

Upgrade React Router from v5 to v7
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/ImportSeriesPage.tsx
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/Components/Link/Link.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/Components/Router/Switch.tsx
  frontend/src/Helpers/Hooks/useCurrentPage.ts
  frontend/src/Helpers/Hooks/usePage.ts
  frontend/src/Helpers/Hooks/useScrollPosition.ts
  frontend/src/Series/Details/SeriesDetailsPage.tsx
  frontend/src/Settings/SettingsToolbar.tsx
  frontend/src/Store/Actions/createReducers.js
  frontend/src/Store/Middleware/middlewares.js
  frontend/src/Store/createAppStore.js
  frontend/src/System/Logs/Logs.tsx
  frontend/src/bootstrap.tsx
  package.json
  yarn.lock
Labels: none

Fixed linting issues
  frontend/src/AddSeries/ImportSeries/ImportSeriesPage.tsx
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/System/Logs/Logs.tsx
Labels: none

Migrate to React Router data router for useBlocker support
  frontend/src/AddSeries/ImportSeries/ImportSeriesPage.tsx
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/System/Logs/Logs.tsx
Labels: none

yarn.lock updates after rebase
  yarn.lock
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
