Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Improve precision rounding statistics
  frontend/src/Statistics/Statistics.tsx
  frontend/src/Utilities/Number/roundNumber.ts
Labels: none

Fix Interactive Search layout on smaller screens
  frontend/src/InteractiveSearch/InteractiveSearch.module.css
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.module.css
Labels: none

Improve spacing between description list items on mobile
  frontend/src/Components/DescriptionList/DescriptionList.module.css
Labels: none

Fix page scroll staying locked when a modal unmounts while open
  frontend/src/Components/Modal/Modal.tsx
Labels: none

Show no airings message on calendar single day view
  frontend/src/Calendar/Day/CalendarDay.module.css
  frontend/src/Calendar/Day/CalendarDay.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fix popovers overflowing the viewport on mobile
  frontend/src/Components/Tooltip/Popover.module.css
  frontend/src/Components/Tooltip/Popover.tsx
  frontend/src/Components/Tooltip/Tooltip.module.css
  frontend/src/Components/Tooltip/Tooltip.tsx
Labels: none

Fix validation for empty values in media management
  src/Sonarr.Api.V3/Config/MediaManagementConfigController.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsController.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsResource.cs
Labels: none

Hours instead of days for Air Date Grace Period
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  src/NzbDrone.Core.Test/DecisionEngineTests/AirDateSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/AirDateSpecification.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileResource.cs
Labels: none

Clear expired cache entries periodically
  src/NzbDrone.Common.Test/CacheTests/CachedManagerFixture.cs
  src/NzbDrone.Common/Cache/CacheManager.cs
  src/NzbDrone.Common/Cache/CachedDictionary.cs
  src/NzbDrone.Core.Test/Caching/ClearExpiredCacheServiceFixture.cs
  src/NzbDrone.Core/Caching/ClearExpiredCacheCommand.cs
  src/NzbDrone.Core/Caching/ClearExpiredCacheService.cs
  src/NzbDrone.Core/Jobs/TaskManager.cs
Labels: none

New: Option to remove tags from series removed from import list
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportLists/tagExistingOptions.ts
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  src/NzbDrone.Core.Test/Datastore/Migration/236_import_list_tag_existing_typeFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/236_import_list_tag_existing_type.cs
  src/NzbDrone.Core/ImportLists/ImportListDefinition.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/ImportLists/TagExistingType.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V3/ImportLists/ImportListResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListResource.cs
Labels: db-migration

Fixed: NZBGet history message showing {scriptStatus} token
  src/NzbDrone.Core.Test/Download/DownloadClientTests/NzbgetTests/NzbgetFixture.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/Nzbget.cs
Labels: download-client

Fix loading indicator being invisible with reduced motion enabled
  frontend/src/Components/Loading/LoadingIndicator.module.css
Labels: none

Pulse loading indicator opacity instead of showing static rings with reduced motion
  frontend/src/Components/Loading/LoadingIndicator.module.css
Labels: none

Resolve episodes across every season in multi-season packs
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SeasonMatchSpecificationTests/SeasonMatchSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SingleEpisodeSearchMatchSpecificationTests/StandardEpisodeSearch.cs
  src/NzbDrone.Core.Test/Download/Pending/PendingReleaseServiceTests/RemovePendingFixture.cs
  src/NzbDrone.Core.Test/Download/Pending/PendingReleaseServiceTests/RemovePendingObsoleteFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Others/OtherExtraServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Subtitles/SubtitleServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsPossibleSpecialEpisodeFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SeasonMatchSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SingleEpisodeSearchMatchSpecification.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/Organizer/FileNameValidationService.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
Labels: parsing

use list notation
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
Labels: none

use list for season numbers and drop unused scene mapping dependency
  src/NzbDrone.Core.Test/DecisionEngineTests/MultiSeasonSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SeasonMatchSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SingleEpisodeSearchMatchSpecification.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Sonarr.Api.V3/Parse/ParsedEpisodeInfoResource.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
Labels: parsing

Use collections
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SeasonMatchSpecificationTests/SeasonMatchSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SingleEpisodeSearchMatchSpecificationTests/StandardEpisodeSearch.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Others/OtherExtraServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsPossibleSpecialEpisodeFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
Labels: none

restore nullable season number usage and use a realistic multi-season search test
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SingleEpisodeSearchMatchSpecificationTests/StandardEpisodeSearch.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
Labels: parsing

add more tests
  src/NzbDrone.Api.Test/v3/Parse/ParsedEpisodeInfoResourceFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/234_pending_releases_season_numbersFixture.cs
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsedEpisodeInfoFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
Labels: none

New: Make series search results real links
  frontend/src/Components/Page/Header/SeriesSearchInput.module.css
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/Page/Header/SeriesSearchResult.module.css
  frontend/src/Components/Page/Header/SeriesSearchResult.tsx
  frontend/src/Components/Page/Header/SeriesSearchSuggestionLink.module.css
  frontend/src/Components/Page/Header/SeriesSearchSuggestionLink.tsx
Labels: none

Fixed: Make Calendar grid navigable with screen readers
  frontend/src/Calendar/Day/CalendarDay.module.css
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Day/CalendarDays.module.css
  frontend/src/Calendar/Day/CalendarDays.tsx
  frontend/src/Calendar/Day/DaysOfWeek.tsx
Labels: none

show season numbers in episode lists
  frontend/src/Activity/Queue/EpisodeTitleCellContent.tsx
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModalContent.tsx
  frontend/src/Parse/ParseResult.tsx
Labels: none

add multi-season pack release type
  frontend/src/Components/Filter/Builder/ReleaseTypeFilterBuilderRowValue.tsx
  frontend/src/Episode/getReleaseTypeName.ts
  frontend/src/InteractiveImport/ReleaseType.ts
  frontend/src/InteractiveImport/ReleaseType/SelectReleaseTypeModalContent.tsx
  src/NzbDrone.Core.Test/CustomFormats/Specifications/ReleaseTypeSpecification/ReleaseTypeFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportDecisionMakerFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsedEpisodeInfoFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Model/ReleaseType.cs
Labels: parsing

add end-to-end test for multi-season pack import
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/MultiSeasonImportFixture.cs
Labels: none

show season range in multi-season pack notifications
  src/NzbDrone.Core.Test/NotificationTests/NotificationServiceFixture.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
Labels: connection

add multi-season pack filter to interactive search
  frontend/src/InteractiveSearch/useReleases.ts
Labels: none

Update frontend dependencies
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.module.css
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.module.css
  frontend/src/Components/Page/PageJumpBar.module.css
  frontend/src/Components/Scroller/Scroller.module.css
  frontend/src/Series/Details/SeriesDetails.module.css
  frontend/src/Settings/MediaManagement/Naming/NamingModal.module.css
  package.json
  yarn.lock
Labels: none

Center search suggestions dropdown
  frontend/src/Components/Page/Header/SeriesSearchInput.module.css
Labels: none

Fixed: Sorting Interactive Search results by language
  frontend/src/InteractiveSearch/useReleases.ts
Labels: none

Page message and input for files improvements
  frontend/src/App/AppRoutes.tsx
  frontend/src/Components/Form/TextInput.module.css
  frontend/src/Components/Page/PageMessage.module.css
  frontend/src/Components/Page/PageMessage.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/System/Backup/useBackups.ts
  frontend/src/System/Status/About/About.module.css
Labels: none

Reduce payload size when saving series
  frontend/src/Series/useSeries.ts
  src/Sonarr.Api.V5/Series/SeasonTypeResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesTranslationResource.cs
Labels: none

Address Calendar table review feedback
  frontend/postcss.config.cjs
  frontend/src/Calendar/Day/CalendarDay.module.css
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Day/CalendarDays.module.css
  frontend/src/Calendar/Day/CalendarDays.tsx
  frontend/src/Calendar/Day/CalendarTableHeader.module.css
  frontend/src/Calendar/Day/CalendarTableHeader.tsx
  frontend/src/Components/StatusIndicator.module.css
  frontend/src/Styles/Mixins/visuallyHidden.css
Labels: none

remove coloured alter texts in colour impared mode
  frontend/src/Styles/Themes/themes.css
Labels: none

Resolve episodes accross multi-season packs
  src/NzbDrone.Core.Test/DecisionEngineTests/MultiSeasonSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SeasonMatchSpecificationTests/SeasonMatchSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SingleEpisodeSearchMatchSpecificationTests/StandardEpisodeSearch.cs
  src/NzbDrone.Core.Test/Download/Pending/PendingReleaseServiceTests/RemovePendingFixture.cs
  src/NzbDrone.Core.Test/Download/Pending/PendingReleaseServiceTests/RemovePendingObsoleteFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Others/OtherExtraServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Subtitles/SubtitleServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsPossibleSpecialEpisodeFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SeasonMatchSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SingleEpisodeSearchMatchSpecification.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/Organizer/FileNameValidationService.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V3/Parse/ParsedEpisodeInfoResource.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
Labels: parsing

Clear all expired cache entries periodically
  src/NzbDrone.Common.Test/CacheTests/CachedManagerFixture.cs
  src/NzbDrone.Common/Cache/CacheManager.cs
  src/NzbDrone.Common/Cache/CachedDictionary.cs
  src/NzbDrone.Core.Test/Caching/ClearExpiredCacheServiceFixture.cs
  src/NzbDrone.Core/Caching/ClearExpiredCacheCommand.cs
  src/NzbDrone.Core/Caching/ClearExpiredCacheService.cs
  src/NzbDrone.Core/Jobs/TaskManager.cs
Labels: none

Hours instead of days for Air Date Grace Period
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  src/NzbDrone.Core.Test/DecisionEngineTests/AirDateSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/AirDateSpecification.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileResource.cs
Labels: none

New: Option to remove tags from series removed from import list
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportLists/tagExistingOptions.ts
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  src/NzbDrone.Core.Test/Datastore/Migration/236_import_list_tag_existing_typeFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/236_import_list_tag_existing_type.cs
  src/NzbDrone.Core/ImportLists/ImportListDefinition.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/ImportLists/TagExistingType.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V3/ImportLists/ImportListResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListResource.cs
Labels: db-migration

Don't cache translations during development
  src/NzbDrone.Core/Localization/LocalizationService.cs
  vite.config.ts
Labels: none

Fix loading indicator with Reduced Motion enabled
  frontend/src/Components/Loading/LoadingIndicator.module.css
Labels: none

Fixed: Sorting Interactive Search results by language
  frontend/src/InteractiveSearch/useReleases.ts
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
