Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Update MediaInfo.ts
  frontend/src/typings/MediaInfo.ts
Labels: none

Create MediaInfo.css.d.ts
  frontend/src/Episode/Summary/MediaInfo.css.d.ts
Labels: none

add AudioStreams to MediaInfoResource
  src/Sonarr.Api.V3/EpisodeFiles/MediaInfoResource.cs
Labels: none

add AudioStreams list to MediaInfoModel
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoModel.cs
Labels: none

Recommend against using uTorrent
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Migrate Episode Files resources to V5 API
  src/Sonarr.Api.V5/CustomFormats/CustomFormatBulkResource.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatController.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatResource.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatSpecificationSchema.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileController.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileListResource.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileResource.cs
  src/Sonarr.Api.V5/EpisodeFiles/MediaInfoResource.cs
Labels: none

move changes to V5 API
  src/Sonarr.Api.V3/EpisodeFiles/MediaInfoResource.cs
Labels: none

left a comma
  src/Sonarr.Api.V3/EpisodeFiles/MediaInfoResource.cs
Labels: none

change MediaInfoModel.AudioStream to type List<AudioStream>
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoModel.cs
Labels: none

add AudioStreams to mediaInfoModel; update bitrate fetch logic
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

New: Parse 'FRA' and 'FRE' as French language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Parsing some titles with ITA as Italian
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Replace diacritics in Clean Title naming tokens
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

enhance failed download warning for items not grabbed by sonarr
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

remove the info box about Remove settings on completed download handling
  frontend/src/Settings/DownloadClients/Options/DownloadClientOptions.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

seperate warning messages per case
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

Upgrade Microsoft.Data.SqlClient to 6.0.1
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fix Watch List Sorting translation for Trakt settings
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Add Azerbaijani, Uzbek and Malay languages
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

New: Parse 'FRA' and 'FRE' as French language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Parsing some titles with ITA as Italian
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Replace diacritics in Clean Title naming tokens
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

Enhance failed download warning for items not grabbed by Sonarr
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

Remove information that Remove settings were moved to individual download clients
  frontend/src/Settings/DownloadClients/Options/DownloadClientOptions.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Upgrade Microsoft.Data.SqlClient to 6.0.1
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Update warning message
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Improve wrapping of text in sidebar
  frontend/src/Components/Page/Sidebar/PageSidebarItem.css
  frontend/src/Components/Page/Sidebar/PageSidebarItem.css.d.ts
  frontend/src/Components/Page/Sidebar/PageSidebarItem.tsx
Labels: none

Upgrade 'eslint-plugin-react-hooks' to 5.2.0
  package.json
  yarn.lock
Labels: none

Convert Log Events to React Query
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/LogsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Components/Table/TablePager.tsx
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/Helpers/Hooks/usePage.ts
  frontend/src/Helpers/Hooks/usePagedApiQuery.ts
  frontend/src/Helpers/createPersist.ts
  frontend/src/Store/Actions/systemActions.js
  frontend/src/System/Events/LogsTable.tsx
  frontend/src/System/Events/LogsTableDetailsModal.tsx
  frontend/src/System/Events/eventOptionsStore.tsx
  frontend/src/System/Events/useEvents.ts
  frontend/src/Utilities/Fetch/fetchJson.ts
  frontend/src/Utilities/Fetch/getQueryPath.ts
  frontend/src/Utilities/Fetch/getQueryString.ts
  src/Sonarr.Api.V5/Logs/LogController.cs
  src/Sonarr.Api.V5/Logs/LogResource.cs
Labels: none

Fix log event details not closing
  frontend/src/System/Events/LogsTableRow.tsx
Labels: none

New: Truncate button text
  frontend/src/Components/Page/Toolbar/PageToolbarButton.css
  frontend/src/Components/Page/Toolbar/PageToolbarButton.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

don't check for localepisode + add logging
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

Align quality profile translations with Radarr
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Downloads failed for file contents will be removed from client
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
Labels: none

Show Remove Failed option in torrent download clients
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Recommend against using uTorrent
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client
