Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Improve calendar screen reader accessibility
  frontend/src/Activity/Queue/QueueDetails.tsx
  frontend/src/Calendar/Agenda/Agenda.css
  frontend/src/Calendar/Agenda/Agenda.css.d.ts
  frontend/src/Calendar/Agenda/Agenda.tsx
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/Calendar.tsx
  frontend/src/Calendar/CalendarMissingEpisodeSearchButton.tsx
  frontend/src/Calendar/Day/CalendarDay.css
  frontend/src/Calendar/Day/CalendarDay.css.d.ts
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Day/CalendarDays.css
  frontend/src/Calendar/Day/CalendarDays.css.d.ts
  frontend/src/Calendar/Day/CalendarDays.tsx
  frontend/src/Calendar/Day/DayOfWeek.css
  frontend/src/Calendar/Day/DayOfWeek.tsx
  frontend/src/Calendar/Day/DaysOfWeek.css
  frontend/src/Calendar/Day/DaysOfWeek.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.css
  frontend/src/Calendar/Events/CalendarEventGroup.css.d.ts
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Calendar/Events/getCalendarEventStatusDetails.ts
  frontend/src/Calendar/Events/getCalendarStatusLabel.ts
  frontend/src/Calendar/Header/CalendarHeader.css
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Calendar/Header/CalendarHeaderViewButton.tsx
  frontend/src/Calendar/Legend/Legend.tsx
  frontend/src/Calendar/Legend/LegendIconItem.tsx
  frontend/src/Calendar/Legend/LegendItem.tsx
  frontend/src/Calendar/Options/CalendarOptionsModalContent.tsx
  frontend/src/Calendar/getCalendarViewLabel.ts
  frontend/src/Calendar/useCalendar.ts
  frontend/src/Components/Form/CheckInput.tsx
  frontend/src/Components/Form/SelectInput.tsx
  frontend/src/Components/ScreenReaderOnly.css
  frontend/src/Components/ScreenReaderOnly.css.d.ts
  frontend/src/Components/ScreenReaderOnly.tsx
  frontend/src/Components/Tooltip/Tooltip.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Improve calendar toolbar and legend labels
  frontend/src/Calendar/CalendarPage.tsx
  frontend/src/Calendar/Legend/LegendIconItem.tsx
  frontend/src/Calendar/Legend/LegendItem.tsx
Labels: none

Reorder calendar view and range controls
  frontend/src/Calendar/Header/CalendarHeader.css
  frontend/src/Calendar/Header/CalendarHeader.css.d.ts
  frontend/src/Calendar/Header/CalendarHeader.tsx
Labels: none

Finish calendar accessibility cleanup
  frontend/src/Calendar/CalendarMissingEpisodeSearchButton.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
  frontend/src/Components/Link/ClipboardButton.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Ensure calendar legend descriptions are read
  frontend/src/Calendar/Legend/LegendIconItem.tsx
  frontend/src/Calendar/Legend/LegendItem.tsx
Labels: none

Fix screen reader helper style ordering
  frontend/src/Components/ScreenReaderOnly.css
Labels: none

Consistent icon and size
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
Labels: none

Make tooltip and popover anchors keyboard accessible
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Tooltip/Tooltip.css
  frontend/src/Components/Tooltip/Tooltip.css.d.ts
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Make manual import cells keyboard accessible
  frontend/src/Components/Table/Cells/TableRowCellButton.css
  frontend/src/Components/Table/Cells/TableRowCellButton.css.d.ts
  frontend/src/Components/Table/Cells/TableRowCellButton.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.css
Labels: none

Close modal after saving provider
  frontend/src/Settings/useProviderSettings.ts
Labels: none

Don't refetch interactive search results when switching tabs
  frontend/src/Episode/EpisodeDetailsModalContent.tsx
  frontend/src/InteractiveSearch/useReleases.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
Labels: none

Fixed: Connecting to Jellyfin 12+
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
Labels: connection

Remove waiting-for-info label after correcting issues
  .github/workflows/label_invalid_issues.yml
Labels: none

Improve Emby/Jellyfin connection test
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
Labels: connection

Fixed: Connecting to Jellyfin 12+
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
Labels: connection

Fixed: Connecting to Jellyfin 12+
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
Labels: connection

Improve Emby/Jellyfin connection test
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
Labels: connection

Fixed: Run missing episode searches from Calendar
  frontend/src/Calendar/CalendarMissingEpisodeSearchButton.tsx
  frontend/src/Calendar/useCalendar.ts
Labels: none

New: Only search for individual anime episodes for unaired seasons
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Fixed: Validate language existance for manual imports
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportFile.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

fix: Properly resolve file renaming conflicts
  src/NzbDrone.Core.Test/MediaFiles/RenameEpisodeFileServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/RenameEpisodeFileService.cs
Labels: none

New: Match anime season packs named only by their season title
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

Update src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Update src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Update src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Resolve the unset season sentinel in ParsingService
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

New: Preserve original episode file date during upgrades
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  src/NzbDrone.Core.Test/MediaFiles/UpdateEpisodeFileServiceTests/ChangeFileDateForFileFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/UpgradeMediaFileServiceFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/EpisodeFileMovingService.cs
  src/NzbDrone.Core/MediaFiles/FileDateType.cs
  src/NzbDrone.Core/MediaFiles/UpdateEpisodeFileService.cs
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
Labels: parsing

Fixed: Announce sidebar messages to screen readers
  frontend/src/Components/Page/Sidebar/Messages/Message.tsx
Labels: none

Fixed: Announce clipboard copy results to screen readers
  frontend/src/Components/Link/ClipboardButton.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Use same request builder for all Emby/Jellyfin requests
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
Labels: connection

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

Bump sqlite3 to 3.53.4
  src/NzbDrone.Common/Sonarr.Common.csproj
Labels: none

Bump NUnit to 4.6.1
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
Labels: none

Bump FFprobe to 9.0
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Downgrade System.IO.FileSystem.AccessControl to 5.0.0
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Mono/Sonarr.Mono.csproj
  src/NzbDrone.Windows/Sonarr.Windows.csproj
Labels: none

Bump Mono.Unix to 7.1.0
  .github/actions/build/action.yml
  src/NuGet.Config
  src/NzbDrone.Mono.Test/Sonarr.Mono.Test.csproj
  src/NzbDrone.Mono/Disk/DiskProvider.cs
  src/NzbDrone.Mono/Sonarr.Mono.csproj
Labels: none

Inline clipboard status label
  frontend/src/Components/Link/ClipboardButton.tsx
Labels: none

Fixed: Avoid marking as failed on release adding conflict for qBittorrent
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

New: Calendar date selector
  frontend/src/Calendar/Header/CalendarHeader.css
  frontend/src/Calendar/Header/CalendarHeader.css.d.ts
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Calendar/useCalendar.ts
  frontend/src/Components/DateInput.css
  frontend/src/Components/DateInput.css.d.ts
  frontend/src/Components/DateInput.tsx
  frontend/src/Utilities/browser.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
