Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Add command-line argument and unattended mode for Debian installs
  distribution/debian/install.sh
Labels: none

Add size validation for Quality Profiles
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResourceValidator.cs
Labels: none

Log delete statements only once
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

Fix issues with Floating UI
  frontend/src/Components/Form/AutoSuggestInput.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.css
  frontend/src/Components/Form/Select/EnhancedSelectInput.css.d.ts
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Menu/Menu.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
Labels: none

Validation for tags label
  src/Sonarr.Api.V3/Tags/TagController.cs
Labels: none

Fixed: Avoid requests without categories for FileList
  src/NzbDrone.Core/Indexers/FileList/FileListRequestGenerator.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
Labels: indexer

Fixed: Respect series type in Newznab/Torznab searches for specials
  src/NzbDrone.Core/IndexerSearch/Definitions/SpecialEpisodeSearchCriteria.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

Update src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Languages/Language.cs
Labels: none

New: Add Urdu language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Fixed: Sending Manual Interaction Needed for Custom Script with unparsed series
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
Labels: connection

Pass messages with arguments to NLog in LoggerExtensions
  src/NzbDrone.Common/Instrumentation/Extensions/LoggerExtensions.cs
Labels: none

Clean up progress log messages in ImportListSyncService
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Fixed: Folder hint for root folder path in edit series
  src/Sonarr.Api.V5/Series/SeriesFolderController.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Grouping qualities inside a quality profile
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
Labels: none

Fixed: Free space and missing for selected root folder value
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputOption.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css.d.ts
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.tsx
Labels: none

Log when expected episode file is missing from disk on upgrade
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
Labels: none

add validation to CF spec for max size
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
Labels: none

Improve typings for Select Input options
  frontend/src/Components/Form/SelectInput.tsx
  frontend/src/Components/Table/TablePager.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: none

Add & Parse Subtitles info in Torznab
  src/NzbDrone.Core/Indexers/RssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
Labels: indexer, parsing

Add to interactiveSearch
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/typings/Release.ts
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
Labels: none

New: Selecting multiple indexers per release profile
  frontend/src/Components/Form/Select/IndexerSelectInput.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/typings/Settings/ReleaseProfile.ts
  src/NzbDrone.Core/Datastore/Migration/219_release_profile_indexer_ids.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfile.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfileService.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: db-migration

Fixed: Autotagging using tag specification
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/Tag/SeriesTagInput.tsx
Labels: none

Improve typings for enhanced select options
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  frontend/src/Components/Form/Select/UMaskInput.tsx
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/Series/Index/Overview/Options/SeriesIndexOverviewOptionsModalContent.tsx
  frontend/src/Series/Index/Posters/Options/SeriesIndexPosterOptionsModalContent.tsx
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/General/LoggingSettings.tsx
  frontend/src/Settings/General/ProxySettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  frontend/src/Settings/General/UpdateSettings.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.tsx
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Utilities/Series/monitorNewItemsOptions.ts
Labels: none

Fixed: Selecting No Change for quality profile inputs
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
Labels: none

Fix various typos
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.css
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.tsx
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Selectors/createCommandExecutingSelector.ts
  frontend/src/Store/Selectors/createCommandSelector.ts
  frontend/src/polyfills.js
  src/NzbDrone.Common/EnvironmentInfo/BuildInfo.cs
  src/NzbDrone.Core/Datastore/Migration/057_convert_episode_file_path_to_relative.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/NzbDrone.Core/Notifications/Mailgun/MailgunProxy.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/NzbDrone.Update.Test/UpdateProviderStartFixture.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
Labels: connection, db-migration

Update default log level message
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Bump core-js to 3.41
  frontend/build/webpack.config.js
  package.json
  yarn.lock
Labels: none

Bump caniuse db
  yarn.lock
Labels: none

Fixed: Sidebar flickering on mobile
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
Labels: none

Fixed: Parsing titles with 3 digit season numbers
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Improve messaging when NZB contains invalid XML
  src/NzbDrone.Core/Download/NzbValidationService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Auto tag based on network
  src/NzbDrone.Core/AutoTagging/Specifications/NetworkSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Sending Manual Interaction Needed for Custom Script with unparsed series
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
Labels: connection

Pass messages with arguments to NLog in LoggerExtensions
  src/NzbDrone.Common/Instrumentation/Extensions/LoggerExtensions.cs
Labels: none

Clean up progress log messages in ImportListSyncService
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Add SeriesFolderController for v5
  src/Sonarr.Api.V5/Series/SeriesFolderController.cs
Labels: none
