Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Expose pages as named main landmarks
  frontend/src/Components/NotFound.tsx
  frontend/src/Components/Page/PageContent.tsx
  frontend/src/Series/Index/SeriesIndex.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Identify queue download progress to screen readers
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/Components/ProgressBar.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

drop the comments and reword the rest
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

rename to IsSeasonTitle, match non empty brackets and leave the parsed info alone
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

also search the season title on nyaa without the season number
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaRequestGeneratorFixture.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

let the parse endpoints use the season title parser too
  src/Sonarr.Api.V3/Parse/ParseController.cs
  src/Sonarr.Api.V5/Parse/ParseController.cs
Labels: none

show a dash instead of -1 when the name has no season
  frontend/src/Parse/ParseResult.tsx
Labels: none

dont gate the season alias search behind AnimeStandardFormatSearch
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaRequestGeneratorFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

only search the alias itself on a season search
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaRequestGeneratorFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

split the parse fallback onto its own line
  src/Sonarr.Api.V3/Parse/ParseController.cs
  src/Sonarr.Api.V5/Parse/ParseController.cs
Labels: none

Bump node.js to 24 LTS
  .devcontainer/devcontainer.json
  package.json
  yarn.lock
Labels: none

Close PRs without author activity in last 90 days
  .github/workflows/close_stale_draft_prs.yml
Labels: none

Fix TrackedDownloadAlreadyImported matching an unrelated download's import history by episode ID alone
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadAlreadyImportedFixture.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadAlreadyImported.cs
Labels: none

feat: add NextPath migration for deferred series move tracking
  src/NzbDrone.Core/Datastore/Migration/233_add_next_path_to_series.cs
Labels: db-migration

feat: add NextPath property to Series model
  src/NzbDrone.Core/Tv/Series.cs
Labels: none

feat: set/clear NextPath and guard against overwriting a pending move
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
Labels: none

feat: clear NextPath on every exit path of MoveSingleSeries
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
Labels: none

feat: skip queuing a bulk move for a series with a move already pending
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
Labels: none

feat: expose NextPath on V5 SeriesResource
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: none

feat: expose NextPath on V3 SeriesResource
  src/Sonarr.Api.V3/Series/SeriesResource.cs
Labels: none

feat: show move-pending icon on series index
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesStatusCell.tsx
  frontend/src/Series/Series.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

test: verify concurrent bulk move does not queue a second command
  src/NzbDrone.Integration.Test/ApiTests/SeriesEditorFixture.cs
Labels: none

test: document assertion reliability caveat in queue-skip test
  src/NzbDrone.Integration.Test/ApiTests/SeriesEditorFixture.cs
Labels: none

fix: address final review findings (command ordering, CI-flaky test, neutered unit test)
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesEditorFixture.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
Labels: none

feat: track and surface a pending series move via NextPath
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesStatusCell.tsx
  frontend/src/Series/Series.ts
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/233_add_next_path_to_series.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesEditorFixture.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: db-migration

Fixed: Avoid checking for free space if other specifications fail first
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Fixed: NRE when ManualImport command is sent without files
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Manual/ManualImportServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Fixed: Avoid checking for free space if other specifications fail first
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/es_MX.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump .NET to 10.0.11
  global.json
  package.json
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  yarn.lock
Labels: none

Bump coverlet.collector to 10.0.1
  src/Directory.Build.props
Labels: none

Build and lint frontend in parallel
  .github/actions/build/action.yml
  .github/actions/test/action.yml
  .github/workflows/api_docs.yml
  .github/workflows/build_v5.yml
Labels: none

Bump GitHubActionsTestLogger to 3.0.5
  src/Directory.Build.props
Labels: none

Bump FFprobe to 9.0.1
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/es_MX.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Include reason in release rejection message
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V5/Release/ReleaseController.cs
Labels: none

Fixed: Skip 'N-Z-B' as release group name
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: parsing

Fixed: Ensure date is parsed before 4-digit absolute episode number
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Expose pages as named main landmarks
  frontend/src/Components/NotFound.tsx
  frontend/src/Components/Page/PageContent.tsx
  frontend/src/Series/Index/SeriesIndex.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Identify Queue download progress to screen readers
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/Components/ProgressBar.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
