Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

fixup! New: Kometa metadata file creation disabled
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
Labels: none

refactor: separate CGNAT trust from local address validation
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

test: update IPAddressExtensions tests to exclude CGNAT addresses
  src/NzbDrone.Common.Test/ExtensionTests/IPAddressExtensionsFixture.cs
Labels: none

fix: standardize TrustCgnat casing
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
Labels: none

refactor: improve CGNAT implementation
  src/NzbDrone.Common.Test/ExtensionTests/IPAddressExtensionsFixture.cs
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_HANS.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Deleted translation using Weblate (zh_HANS (generated) (zh_HANS))
  src/NzbDrone.Core/Localization/Core/zh_HANS.json
Labels: none

Use 'text-wrap: balance' for text wrapping on overview and details
  frontend/src/Series/Details/SeriesDetails.css
Labels: none

New: Option to treat downloads with non-media extensions as failed
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TestIndexerSettings.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
  src/NzbDrone.Core/Download/RejectedImportService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
  src/NzbDrone.Core/Indexers/FailDownloads.cs
  src/NzbDrone.Core/Indexers/Fanzub/FanzubSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IIndexerSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/SeedConfigProvider.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportRejectionReason.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: indexer

New: Add Languages to Webhook Notifications
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
Labels: connection

New: Add config file setting for CGNAT authentication bypass
  src/NzbDrone.Common.Test/ExtensionTests/IPAddressExtensionsFixture.cs
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

Fixed: Don't fail import if symlink target can't be resolved
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Add return type for series/lookup endpoint
  src/Sonarr.Api.V3/Series/SeriesLookupController.cs
Labels: none

New: Kometa metadata file creation disabled
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/MetadataAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalConnector.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.css
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.css.d.ts
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContentConnector.js
  frontend/src/Settings/Metadata/Metadata/Metadata.js
  frontend/src/Settings/Metadata/Metadata/Metadata.tsx
  frontend/src/Settings/Metadata/Metadata/Metadatas.js
  frontend/src/Settings/Metadata/Metadata/Metadatas.tsx
  frontend/src/Settings/Metadata/MetadataSettings.js
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/typings/DownloadClient.ts
  frontend/src/typings/Field.ts
  frontend/src/typings/ImportList.ts
  frontend/src/typings/Indexer.ts
  frontend/src/typings/Metadata.ts
  frontend/src/typings/Notification.ts
  frontend/src/typings/Provider.ts
  frontend/src/typings/pending.ts
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
  src/NzbDrone.Core/HealthCheck/Checks/MetadataCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Remove unnecessary heap allocations in local IP check
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Migrate appdata folder on dotnet 8 for OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Cleanup unused metadatas connector
  frontend/src/Settings/Metadata/Metadata/MetadatasConnector.js
Labels: none

Increase input sizes in edit series modal
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

make wanted search buttons reactive
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/Missing/Missing.js
  frontend/src/Wanted/Missing/MissingConnector.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Fixed: Custom Format score bypassing upgrades not being allowed
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
Labels: none

refine `IndexerSettingsFailDownloadsHelpText` string
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Convert EpisodeHistory to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/Episode/EpisodeDetailsModalContent.tsx
  frontend/src/Episode/History/EpisodeHistory.js
  frontend/src/Episode/History/EpisodeHistory.tsx
  frontend/src/Episode/History/EpisodeHistoryConnector.js
  frontend/src/Episode/History/EpisodeHistoryRow.js
  frontend/src/Episode/History/EpisodeHistoryRow.tsx
Labels: none

Convert EpisodeSearch to TypeScript
  frontend/src/Episode/EpisodeDetailsModalContent.tsx
  frontend/src/Episode/Search/EpisodeSearch.js
  frontend/src/Episode/Search/EpisodeSearch.tsx
  frontend/src/Episode/Search/EpisodeSearchConnector.js
Labels: none

Convert MediaInfo to TypeScript
  frontend/src/Episode/Summary/EpisodeFileRow.tsx
  frontend/src/Episode/Summary/MediaInfo.js
  frontend/src/Episode/Summary/MediaInfo.tsx
  frontend/src/EpisodeFile/EpisodeFileLanguageConnector.js
  frontend/src/EpisodeFile/EpisodeFileLanguages.tsx
  frontend/src/EpisodeFile/MediaInfo.js
  frontend/src/EpisodeFile/MediaInfo.tsx
  frontend/src/EpisodeFile/MediaInfoConnector.js
  frontend/src/Series/Details/EpisodeRow.js
  frontend/src/Utilities/Object/getEntries.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
Labels: none

Fixed: Converting TimeSpan from database
  src/NzbDrone.Core/Datastore/Converters/TimeSpanConverter.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Add Instance Name option to Telegram notifications
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

Update src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Converting TimeSpan from database
  src/NzbDrone.Core.Test/Datastore/Converters/TimeSpanConverterFixture.cs
  src/NzbDrone.Core/Datastore/Converters/TimeSpanConverter.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
Labels: none

Convert EpisodeHistory to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/Episode/EpisodeDetailsModalContent.tsx
  frontend/src/Episode/History/EpisodeHistory.js
  frontend/src/Episode/History/EpisodeHistory.tsx
  frontend/src/Episode/History/EpisodeHistoryConnector.js
  frontend/src/Episode/History/EpisodeHistoryRow.js
  frontend/src/Episode/History/EpisodeHistoryRow.tsx
  frontend/src/InteractiveImport/Episode/SelectEpisodeModalContent.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Increase input sizes in edit series modal
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
Labels: none

Cleanup unused metadatas connector
  frontend/src/Settings/Metadata/Metadata/MetadatasConnector.js
Labels: none

New: Reactive search button on Wanted pages
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/Missing/Missing.js
  frontend/src/Wanted/Missing/MissingConnector.js
Labels: none
