Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Upgrade nlog to 5.3.2
  src/NzbDrone.Common/Instrumentation/Extensions/SentryLoggerExtensions.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneFileTarget.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Host/Startup.cs
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
  src/NzbDrone.Update/Sonarr.Update.csproj
  src/NzbDrone.Windows/Sonarr.Windows.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: parsing

Parse TVDB ID for releases from HDBits
  src/NzbDrone.Core/Indexers/HDBits/HDBitsParser.cs
Labels: indexer

Validation for bulk series editor
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V3/Series/SeriesEditorValidator.cs
Labels: none

New: Remove all single quote characters from searches
  src/NzbDrone.Core.Test/IndexerSearchTests/SearchDefinitionFixture.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
Labels: none

New: Match search releases using IMDb ID if available
  src/NzbDrone.Core.Test/DecisionEngineTests/DownloadDecisionMakerFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadClientFixtureBase.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetParser.cs
  src/NzbDrone.Core/Indexers/FileList/FileListParser.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecification.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V3/Parse/ParseController.cs
Labels: indexer, parsing

Fixed: Formatting empty size on disk values
  frontend/src/RootFolder/RootFolderRow.tsx
  frontend/src/Series/Details/SeasonInfo.tsx
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Utilities/Number/formatBytes.ts
Labels: none

Fix: Use indexer's Multi Languages setting for pushed releases
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: indexer, parsing

Fixed: Clearing pending changes for edit import list exclusions on modal close
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModal.tsx
Labels: none

Fixed: Marking queued item as failed not blocking the correct Torrent Info Hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
Labels: none

Fix typos and improve log messages
  distribution/debian/install.sh
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Test.Common/AutoMoq/AutoMoqer.cs
Labels: download-client

Align queue action buttons on right
  frontend/src/Activity/Queue/QueueRow.css
Labels: none

Fixed: Dedupe titles to avoid similar search requests
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Fixed: Overwriting query params for remove item handler (#7075)
  frontend/src/Store/Actions/Creators/createRemoveItemHandler.js
Labels: none

Clear pending changes for edit import list exclusions on modal close
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModal.tsx
Labels: none

Fixed nlog deprecated calls
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

Fixed nlog deprecated calls
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

Fix import list typos
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Store/Actions/Settings/importLists.js
Labels: none

New: Bulk import list exclusions removal
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusionRow.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Store/Actions/Settings/importListExclusions.js
  src/NzbDrone.Core/ImportLists/Exclusions/ImportListExclusionService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionBulkResource.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
Labels: none

Fixed actions column width for import list exclusions
  frontend/src/Components/Table/Table.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
Labels: none

New: Support for releases with absolute episode number and air date
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fixed: Updating existing import list exclusions
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionExistsValidator.cs
Labels: none

New: Increase max size limit for quality definitions
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
  frontend/src/Store/Actions/Settings/qualityDefinitions.js
Labels: none

Cleanup old prop-types for TS
  frontend/src/Activity/History/Details/HistoryDetailsModal.tsx
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Commands/Command.ts
  frontend/src/Components/Form/SeriesTypeSelectInput.tsx
  frontend/src/System/Status/Status.tsx
Labels: none

Fix wiki link for update healthcheck
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
Labels: none

Fixed: Avoid displaying multi-languages for episodes parsed without languages
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Episode/EpisodeLanguages.tsx
Labels: none

Refactoring: Moved First run components to Typescript function components
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModal.js
  frontend/src/FirstRun/AuthenticationRequiredModal.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContentConnector.js
  frontend/src/typings/inputs.ts
Labels: none

Fixed: Persist selected custom filter for interactive searches
  frontend/src/Store/Actions/releaseActions.js
Labels: none

New: Parse DarQ release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Update src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
Labels: none

Fixed: Prefer episode runtime when determining whether a file is a sample
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/DetectSampleFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/NotSampleSpecificationFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/DetectSample.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/NotSampleSpecification.cs
Labels: none

Fixed: Stale formats score after changing quality profile for series
  frontend/src/Components/SignalRConnector.js
  frontend/src/Series/Details/SeriesDetailsConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
Labels: none

Fixed: Sending Manual Interaction Required notifications for unknown series
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
Labels: connection

Fixed: Calculating custom formats with languages in queue
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Sort quality profiles by name in custom filters
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValueConnector.js
Labels: none

Fixed: Sending Manual Interaction Required notifications for unknown series
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
Labels: connection

Cleanup old prop-types for TS
  frontend/src/Activity/History/Details/HistoryDetailsModal.tsx
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Commands/Command.ts
  frontend/src/Components/Form/SeriesTypeSelectInput.tsx
  frontend/src/System/Status/Status.tsx
Labels: none

Fix wiki link for update healthcheck
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
Labels: none

New: Bulk import list exclusions removal
  frontend/src/Components/Table/Table.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusionRow.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Store/Actions/Settings/importListExclusions.js
  frontend/src/Store/Actions/Settings/importLists.js
  src/NzbDrone.Core/ImportLists/Exclusions/ImportListExclusionService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionBulkResource.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
Labels: none

New: Support for releases with absolute episode number and air date
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
