Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: Persist Indexer Flags for automatic imports
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Improve messaging for for Send Notifications setting in Emby / Jellyfin
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
Labels: connection

New: Default file log level changed to debug
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Moving files on import for usenet clients
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportApprovedEpisodesFixture.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
Labels: download-client

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Fixed: Saving indexer flags when manual importing from queue
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
Labels: none

Fixed: Migrate appdata folder on dotnet 8 for OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Parse TvdbId for releases from HDBits
  src/NzbDrone.Core/Indexers/HDBits/HDBitsParser.cs
Labels: indexer

New: Validation for bulk series editor
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V3/Series/SeriesEditorValidator.cs
Labels: none

Improve Title mismatch messaging for searches
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

New: Match search releases using IMDb ID
  src/NzbDrone.Core.Test/DecisionEngineTests/DownloadDecisionMakerFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadClientFixtureBase.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetParser.cs
  src/NzbDrone.Core/Indexers/FileList/FileListParser.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecification.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V3/Parse/ParseController.cs
Labels: indexer, parsing

Cleanup old prop-types for TS
  frontend/src/Activity/History/Details/HistoryDetailsModal.tsx
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Commands/Command.ts
  frontend/src/Components/Form/SeriesTypeSelectInput.tsx
  frontend/src/System/Status/Status.tsx
Labels: none

Fix wiki link for update healthcheck
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
Labels: none

Fixed: Formatting empty size on disk values
  frontend/src/RootFolder/RootFolderRow.tsx
  frontend/src/Series/Details/SeasonInfo.tsx
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Utilities/Number/formatBytes.ts
Labels: none

Add special character to search criteria
  src/NzbDrone.Core.Test/IndexerSearchTests/SearchDefinitionFixture.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
Labels: none

Correcting download status when fetching metadata
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

Fix indexer multi-languages for release/push
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: indexer, parsing

Fixed: Marking queued item as failed not blocking the correct Torrent Info Hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Download/DownloadFailedEvent.cs
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
Labels: none

fixup! Fixed: Marking queued item as failed not blocking the correct Torrent Info Hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Download/DownloadFailedEvent.cs
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

Upgrade nlog to 5.3.2
  src/NzbDrone.Common/Instrumentation/Extensions/SentryLoggerExtensions.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneFileTarget.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Host/Startup.cs
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
  src/NzbDrone.Update/Sonarr.Update.csproj
  src/NzbDrone.Windows/Sonarr.Windows.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: parsing

New: Configurable log file size limit
  src/NzbDrone.Common.Test/ExtensionTests/NumberExtensionFixture.cs
  src/NzbDrone.Common/Extensions/NumberExtensions.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/MultiLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/OriginalLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/SingleLanguageFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/203_release_typeFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/AcceptableSizeSpecificationFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/DownloadedEpisodesImportServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportApprovedEpisodesFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/NotSampleSpecification.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcNfoDetector.cs
  src/NzbDrone.Core/Fluent.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/FreeSpaceSpecification.cs
Labels: none

New: Add Compact Log Event Format option for console logging
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
Labels: none

fixup! Fixed: Marking queued item as failed not blocking the correct Torrent Info Hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
Labels: none

fixup! Fixed: Marking queued item as failed not blocking the correct Torrent Info Hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Refactoring: Moved First run components to Typescript function components
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModal.js
  frontend/src/FirstRun/AuthenticationRequiredModal.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContentConnector.js
  frontend/src/Store/Actions/Settings/general.ts
  frontend/src/typings/FormChange.ts
Labels: none

New: Bulk import list exclusions removal
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusionRow.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Store/Actions/Settings/importListExclusions.js
  src/NzbDrone.Core/ImportLists/Exclusions/ImportListExclusionService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionBulkResource.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
Labels: none

fixup! New: Bulk import list exclusions removal
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
Labels: none

Implemented basic implementation of adding multiple users
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/UsersAppState.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Settings/Users/AddUsers/AddUser.css
  frontend/src/Settings/Users/AddUsers/AddUsers.css
  frontend/src/Settings/Users/AddUsers/AddUsers.css.d.ts
  frontend/src/Settings/Users/AddUsers/AddUsers.js
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModal.js
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModalContent.css
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModalContent.css.d.ts
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModalContent.js
  frontend/src/Settings/Users/User/User.js
  frontend/src/Settings/Users/User/UserConnector.js
  frontend/src/Settings/Users/Users.css
  frontend/src/Settings/Users/Users.css.d.ts
  frontend/src/Settings/Users/Users.js
  frontend/src/Settings/Users/UsersConnector.js
  frontend/src/Store/Actions/Settings/users.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Actions/usersActions.js
  frontend/src/Store/Selectors/createUserDetailsSelector.ts
  src/NzbDrone.Core/Authentication/UserService.cs
  src/NzbDrone.Core/Users/UsersUpdatedEvent.cs
  src/Sonarr.Api.V3/Users/UserController.cs
  src/Sonarr.Api.V3/Users/UserResource.cs
Labels: none

fixup! Fixed: Marking queued item as failed not blocking the correct Torrent Info Hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

Fix indexer multi-languages for release/push
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: indexer, parsing

fixup! Fixed: Marking queued item as failed not blocking the correct Torrent Info Hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
Labels: none

Align queue action buttons on right
  frontend/src/Activity/Queue/QueueRow.css
Labels: none

Fix typos and improve log messages
  distribution/debian/install.sh
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Test.Common/AutoMoq/AutoMoqer.cs
Labels: download-client

Fixed: Overwriting query params for remove item handler
  frontend/src/Store/Actions/Creators/createRemoveItemHandler.js
Labels: none

Fixed: Dedupe titles to avoid similar search requests
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

New: Add Compact Log Event Format option for console logging
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
Labels: none

New: Configurable log file size limit
  src/NzbDrone.Common.Test/ExtensionTests/NumberExtensionFixture.cs
  src/NzbDrone.Common/Extensions/NumberExtensions.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/MultiLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/OriginalLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/SingleLanguageFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/203_release_typeFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/AcceptableSizeSpecificationFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/DownloadedEpisodesImportServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportApprovedEpisodesFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/NotSampleSpecification.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcNfoDetector.cs
  src/NzbDrone.Core/Fluent.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/FreeSpaceSpecification.cs
Labels: none
