Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Simplify StyleCop.Analyzers as dependency for all projects
  src/Directory.Build.props
  src/NzbDrone.Api.Test/Sonarr.Api.Test.csproj
  src/NzbDrone.Automation.Test/Sonarr.Automation.Test.csproj
  src/NzbDrone.Common.Test/Sonarr.Common.Test.csproj
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Console/Sonarr.Console.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host.Test/Sonarr.Host.Test.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone.Libraries.Test/Sonarr.Libraries.Test.csproj
  src/NzbDrone.Mono.Test/Sonarr.Mono.Test.csproj
  src/NzbDrone.Mono/Sonarr.Mono.csproj
  src/NzbDrone.SignalR/Sonarr.SignalR.csproj
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
  src/NzbDrone.Test.Dummy/Sonarr.Test.Dummy.csproj
  src/NzbDrone.Update.Test/Sonarr.Update.Test.csproj
  src/NzbDrone.Update/Sonarr.Update.csproj
  src/NzbDrone.Windows.Test/Sonarr.Windows.Test.csproj
  src/NzbDrone.Windows/Sonarr.Windows.csproj
  src/NzbDrone/Sonarr.csproj
  src/ServiceHelpers/ServiceInstall/ServiceInstall.csproj
  src/ServiceHelpers/ServiceUninstall/ServiceUninstall.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
  src/Sonarr.Http/Sonarr.Http.csproj
  src/Sonarr.RuntimePatches/Sonarr.RuntimePatches.csproj
Labels: none

New: Ignore extra files in theme-music and backdrop folders
  src/NzbDrone.Core.Test/ProviderTests/DiskScanProviderTests/GetVideoFilesFixture.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupExtraFilesInExcludedFolders.cs
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
Labels: none

Episodes for queue item should not be null
  src/NzbDrone.Core/Queue/QueueService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Change Manage Episodes import button to Apply
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
Labels: none

Add v5 episode file endpoints
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileController.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileListResource.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileResource.cs
  src/Sonarr.Api.V5/EpisodeFiles/MediaInfoResource.cs
Labels: none

Use react-query for episode files
  frontend/src/Activity/History/History.tsx
  frontend/src/Activity/Queue/Details/QueueDetailsProvider.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/EpisodeFilesAppState.ts
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/Calendar.tsx
  frontend/src/Calendar/CalendarPage.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Episode/EpisodeStatus.tsx
  frontend/src/Episode/Summary/EpisodeSummary.tsx
  frontend/src/Episode/useEpisode.ts
  frontend/src/EpisodeFile/EpisodeFileLanguages.tsx
  frontend/src/EpisodeFile/EpisodeFileProvider.tsx
  frontend/src/EpisodeFile/MediaInfo.tsx
  frontend/src/EpisodeFile/mediaInfoTypes.js
  frontend/src/EpisodeFile/useEpisodeFile.ts
  frontend/src/EpisodeFile/useEpisodeFiles.ts
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/Series/Details/EpisodeRow.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Details/SeriesDetailsProvider.tsx
  frontend/src/Store/Actions/episodeFileActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Selectors/createEpisodeFileSelector.ts
  frontend/src/Store/Selectors/createEpisodeSelector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
Labels: none

Fix manual import title when importing from Queue
  frontend/src/Activity/Queue/QueueRow.tsx
Labels: none

Add v5 root folder endpoints
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
  src/Sonarr.Api.V5/RootFolders/RootFolderController.cs
  src/Sonarr.Api.V5/RootFolders/RootFolderResource.cs
Labels: none

Use react-query for root folders
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolder.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
  frontend/src/Components/SignalRListener.tsx
  frontend/src/RootFolder/RootFolderRow.css
  frontend/src/RootFolder/RootFolderRow.css.d.ts
  frontend/src/RootFolder/RootFolderRow.tsx
  frontend/src/RootFolder/RootFolders.tsx
  frontend/src/RootFolder/useRootFolders.ts
  frontend/src/Series/Index/Select/SeriesIndexSelectFooter.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.tsx
  frontend/src/Settings/MediaManagement/RootFolder/AddRootFolder.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.tsx
  frontend/src/Store/Actions/importSeriesActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/rootFolderActions.js
  frontend/src/Store/Selectors/createRootFoldersSelector.ts
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/HealthCheck/Checks/RootFolderCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/RootFolders/RootFolder.cs
Labels: none

Simplify GitHubActionsTestLogger as dependency to test projects
  src/Directory.Build.props
  src/NzbDrone.Api.Test/Sonarr.Api.Test.csproj
  src/NzbDrone.Automation.Test/Sonarr.Automation.Test.csproj
  src/NzbDrone.Common.Test/Sonarr.Common.Test.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Host.Test/Sonarr.Host.Test.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone.Libraries.Test/Sonarr.Libraries.Test.csproj
  src/NzbDrone.Mono.Test/Sonarr.Mono.Test.csproj
  src/NzbDrone.Update.Test/Sonarr.Update.Test.csproj
  src/NzbDrone.Windows.Test/Sonarr.Windows.Test.csproj
Labels: none

Bump Sentry to 5.16.2
  src/Directory.Build.props
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/Sonarr.Api.V5/Queue/QueueStatusController.cs
Labels: none

fix: Respect delay profile when repacks and propers aren't preferred
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/DelaySpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
Labels: none

Don't send full paths to Skyhook for searches
  src/NzbDrone.Core/MetadataSource/SkyHook/InvalidSearchTermException.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Add v5 release endpoints
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V5/CustomFilters/CustomFilterController.cs
  src/Sonarr.Api.V5/CustomFilters/CustomFilterResource.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
  src/Sonarr.Api.V5/Release/ReleaseController.cs
  src/Sonarr.Api.V5/Release/ReleaseControllerBase.cs
  src/Sonarr.Api.V5/Release/ReleaseDecisionResource.cs
  src/Sonarr.Api.V5/Release/ReleaseGrabResource.cs
  src/Sonarr.Api.V5/Release/ReleaseInfoResource.cs
  src/Sonarr.Api.V5/Release/ReleasePushController.cs
  src/Sonarr.Api.V5/Release/ReleasePushResource.cs
  src/Sonarr.Api.V5/Release/ReleaseResource.cs
Labels: none

Add additional v5 history endpoints
  src/NzbDrone.Core/History/HistoryRepository.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/Sonarr.Api.V5/History/HistoryController.cs
Labels: none

New: Show grabbed/blocklisted releases in Interactive Search
  frontend/src/Helpers/Props/icons.ts
  frontend/src/InteractiveSearch/InteractiveSearchRow.css
  frontend/src/InteractiveSearch/InteractiveSearchRow.css.d.ts
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/releaseOptionsStore.ts
  frontend/src/InteractiveSearch/useReleases.ts
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/Model/ReleaseComparerModel.cs
  src/NzbDrone.Core/Parser/ReleaseComparer.cs
  src/Sonarr.Api.V5/Release/ReleaseController.cs
  src/Sonarr.Api.V5/Release/ReleaseHistoryResource.cs
  src/Sonarr.Api.V5/Release/ReleaseResource.cs
Labels: parsing

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Add additional v5 filesystem endpoints
  src/Sonarr.Api.V5/FileSystem/FileSystemController.cs
Labels: none

Use react-query for path input and file browser
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/PathsAppState.ts
  frontend/src/Components/FileBrowser/FileBrowserModalContent.tsx
  frontend/src/Components/FileBrowser/FileBrowserRow.tsx
  frontend/src/Components/FileBrowser/createPathsSelector.ts
  frontend/src/Components/Form/PathInput.tsx
  frontend/src/Path/usePaths.ts
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/pathActions.js
Labels: none

Improve backup mutations
  frontend/src/System/Backup/BackupRow.tsx
  frontend/src/System/Backup/RestoreBackupModalContent.tsx
  frontend/src/System/Backup/useBackups.ts
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
Labels: none

Use react-query for episode selection
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/Episode/episodeSelectionOptionsStore.ts
  frontend/src/Episode/useEpisodes.ts
  frontend/src/Episode/useEpisodesWithIds.ts
  frontend/src/InteractiveImport/Episode/SelectEpisodeModalContent.tsx
  frontend/src/Store/Actions/episodeSelectionActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/Utilities/Filter/clientSideFilterAndSort.ts
Labels: none

Use react-query for episodes
  frontend/src/Activity/History/History.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/App/App.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/EpisodesAppState.ts
  frontend/src/App/queryClient.ts
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Episode/EpisodeDetailsModalContent.tsx
  frontend/src/Episode/createEpisodesFetchingSelector.ts
  frontend/src/Episode/episodeOptionsStore.ts
  frontend/src/Episode/useEpisode.ts
  frontend/src/Episode/useEpisodes.ts
  frontend/src/Episode/useEpisodesWithIds.ts
  frontend/src/InteractiveImport/Episode/SelectEpisodeModalContent.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Store/Actions/episodeActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/seriesActions.js
  frontend/src/Utilities/Object/selectUniqueIds.ts
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Remove the database credentials from the connectionString when logging.
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
Labels: none

Add v5 season pass and series editor endpoints
  src/NzbDrone.Common/TPL/LockByIdPool.cs
  src/Sonarr.Api.V5/ApplyTags.cs
  src/Sonarr.Api.V5/SeasonPass/SeasonPassController.cs
  src/Sonarr.Api.V5/SeasonPass/SeasonPassResource.cs
  src/Sonarr.Api.V5/SeasonPass/SeasonPassSeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorDeleteResource.cs
  src/Sonarr.Api.V5/Series/SeriesEditorResource.cs
  src/Sonarr.Api.V5/Series/SeriesEditorValidator.cs
  src/Sonarr.Api.V5/Series/SeriesFolderAsRootFolderValidator.cs
Labels: none

Re-calibrating, not RE-calibrating
  frontend/src/Components/Loading/LoadingMessage.tsx
Labels: none

Fixed WantMoreControlAddACustomFormat settings/customformats for Spanish translation
  src/NzbDrone.Core/Localization/Core/es.json
Labels: none

Update renamed generator id for PostgreSQL in FluentMigrator
  src/NzbDrone.Core/Datastore/Migration/000_database_engine_version_check.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
Labels: db-migration

Fixed: Cleanse logged RSS URLs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Prevent missing media info from failing script import
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
Labels: none

Run tests using Postgres 18
  .github/actions/test/action.yml
  .github/workflows/build_v5.yml
Labels: none

Determine the renamed filename for recently downloaded files before importing them, and use that name to calculate custom score.
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
Labels: parsing

Remove space before period in TVDB message
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Bump minimum Postgres version to 15 for FluentMigrator
  src/NzbDrone.Core.Test/Datastore/Migration/071_unknown_quality_in_profileFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/101_add_ultrahd_quality_in_profilesFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/117_add_webrip_qualites_in_profileFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/122_add_remux_qualities_in_profileFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/148_mediainfo_channel_propertiesFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/198_parse_titles_from_existing_subtitle_filesFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/210_add_monitored_seasons_filterFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/215_add_blurary576p_quality_in_profiles_with_grouped_blurary480pFixture.cs
  src/NzbDrone.Core/Datastore/Migration/000_database_engine_version_check.cs
  src/NzbDrone.Core/Datastore/Migration/184_remove_invalid_roksbox_metadata_images.cs
  src/NzbDrone.Core/Datastore/Migration/192_import_exclusion_type.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
  src/NzbDrone.Test.Common/Datastore/PostgresDatabase.cs
Labels: db-migration

Fixed: Parsing quality and languages when manual importing item with multiple series error
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportItem.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
  src/Sonarr.Api.V3/ManualImport/ManualImportController.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

fix multiple XML declarations
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none
