Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

New: Only search for individual anime episodes for unaired seasons
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Fixed: Ignore invalid languages during Manual Import
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportFile.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Announce clipboard copy results to screen readers
  frontend/src/Components/Link/ClipboardButton.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Use same request builder for all Emby/Jellyfin requests
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
Labels: connection

Bump Mono.Unix to 7.1.0
  .github/actions/build/action.yml
  src/NuGet.Config
  src/NzbDrone.Mono.Test/Sonarr.Mono.Test.csproj
  src/NzbDrone.Mono/Disk/DiskProvider.cs
  src/NzbDrone.Mono/Sonarr.Mono.csproj
Labels: none

Downgrade System.IO.FileSystem.AccessControl to 5.0.0
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Mono/Sonarr.Mono.csproj
  src/NzbDrone.Windows/Sonarr.Windows.csproj
Labels: none

Bump NUnit to 4.6.1
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
Labels: none

Bump sqlite3 to 3.53.4
  src/NzbDrone.Common/Sonarr.Common.csproj
Labels: none

Bump FFprobe to 9.0
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Use same request builder for all Emby/Jellyfin requests
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
Labels: connection

Fixed: Avoid marking grab as failed when qBittorrent already has that release
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

Include reason in release rejection message
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V5/Release/ReleaseController.cs
Labels: none

Fixed: Ensure date is parsed before 4-digit absolute episode number
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Skip 'N-Z-B' as release group name
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: parsing

Announce sidebar messages to screen readers
  frontend/src/Components/Page/Sidebar/Messages/Message.tsx
Labels: none

Replace react-dnd with dnd-kit
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css.d.ts
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
  frontend/src/Helpers/DragType.ts
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfile.css
  frontend/src/Settings/Profiles/Delay/DelayProfile.css.d.ts
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfiles.tsx
  frontend/src/Settings/Profiles/Profiles.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.tsx
  frontend/src/Settings/Profiles/Quality/qualityProfileItemFailures.ts
  frontend/src/Settings/Profiles/Quality/useQualityProfileDnd.ts
  package.json
  yarn.lock
Labels: none

v5 Add New Series
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/Components/HeartRating.css
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Redesign import-series flow
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesChip.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesChip.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesChip.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesHeader.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesHeader.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSearchResult.css
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSearchResult.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.css
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesTitle.css
  frontend/src/AddSeries/ImportSeries/Import/importSeriesStore.ts
  frontend/src/AddSeries/ImportSeries/ImportSeriesPage.tsx
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolder.css
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolder.css.d.ts
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolder.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/RootFolder/RootFolderRow.css
  frontend/src/RootFolder/RootFolderRow.css.d.ts
  frontend/src/RootFolder/RootFolderRow.tsx
  frontend/src/RootFolder/RootFolders.css
  frontend/src/RootFolder/RootFolders.css.d.ts
  frontend/src/RootFolder/RootFolders.tsx
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/RootFolder/AddRootFolder.tsx
  frontend/src/System/Logs/Logs.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Rework library import into a single list with a defaults bar
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesChip.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesChip.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesChip.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesList.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesList.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesList.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesSelected.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.css
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/importSeriesStore.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Remove the meaningless dot from network labels in series search results
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesTitle.tsx
Labels: none

Hide the series type hint where the column is too narrow for it
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.tsx
Labels: none

Reuse existing translation keys and restore the status label base
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolder.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Keep select dropdowns inside the viewport on narrow screens
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Form/Select/SeriesTypeSelectInputOption.css
Labels: none

Let the series search dropdown outgrow its narrow input
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
Labels: none

Collapse the import row to just the checkbox and search while searching
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
Labels: none

Title the mobile select picker with the field it edits
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.css
  frontend/src/Components/Form/Select/EnhancedSelectInput.css.d.ts
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: none

Handle duplicate matches safely during library import
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesList.tsx
  frontend/src/AddSeries/ImportSeries/Import/importSeriesEligibility.ts
  frontend/src/AddSeries/ImportSeries/Import/importSeriesStore.ts
  frontend/src/App/Select/useSelectStore.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Truncate the matched title so its search icon stays visible
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.css
Labels: none

New: Also search anime season titles without the season parameter
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

use placeholder names in the test and shorten the comments
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

Update src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

fix typo from the suggestion
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

rename the regexes for anime, drop the comments and use placeholder titles
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

run the season title parse on rss too and add a flag for it
  src/NzbDrone.Core.Test/DecisionEngineTests/DownloadDecisionMakerFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

feat(theme): add persistent OLED appearance mode
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Helpers/Hooks/useTheme.ts
  frontend/src/Settings/UI/useUiSettings.ts
  frontend/src/Styles/Themes/index.js
  frontend/src/Styles/Themes/oled.js
  frontend/src/index.ejs
  frontend/src/login.html
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/UiTheme.cs
  src/Sonarr.Api.V3/Config/UiConfigController.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
Labels: none

fix(a11y): improve keyboard and overlay interactions
  frontend/src/Components/Link/IconButton.tsx
  frontend/src/Components/Link/Link.tsx
  frontend/src/Components/Menu/Menu.tsx
  frontend/src/Components/Menu/MenuContent.tsx
  frontend/src/Components/Menu/MenuItem.tsx
  frontend/src/Components/Modal/Modal.tsx
  frontend/src/Components/Modal/ModalContent.tsx
  frontend/src/Components/Scroller/Scroller.tsx
  frontend/src/Components/Table/Table.tsx
Labels: none

test(ui): add responsive and theme regression evidence
  .github/screenshots/mobile-responsive-oled-ui-polish/README.md
  .github/screenshots/mobile-responsive-oled-ui-polish/activity-queue-scrolled-oled-390x844.png
  .github/screenshots/mobile-responsive-oled-ui-polish/before-after-contact-sheet.png
  .github/screenshots/mobile-responsive-oled-ui-polish/dialog-oled-844x390.png
  .github/screenshots/mobile-responsive-oled-ui-polish/login-dark-vs-oled-390x844.png
  .github/screenshots/mobile-responsive-oled-ui-polish/login-oled-320x568.png
  .github/screenshots/mobile-responsive-oled-ui-polish/mobile-navigation-oled-390x844.png
  .github/screenshots/mobile-responsive-oled-ui-polish/oled-contact-sheet.png
  .github/screenshots/mobile-responsive-oled-ui-polish/settings-oled-390x844.png
  frontend/scripts/verify-ui-contracts.mjs
  package.json
Labels: none

fix(ui): satisfy frontend quality checks
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Components/Link/IconButton.tsx
  frontend/src/Components/Modal/ModalFooter.css
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.css
  frontend/src/Components/Scroller/Scroller.css
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Styles/Themes/index.js
  frontend/src/Styles/scaffolding.css
Labels: none

fix(v5): complete v5-develop integration
  frontend/scripts/verify-ui-contracts.mjs
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Components/Menu/Menu.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
Labels: none

New: Treat stalled torrents as failed after a configurable timeout
  frontend/src/Settings/DownloadClients/Options/DownloadClientOptions.tsx
  frontend/src/Settings/DownloadClients/Options/useDownloadClientSettings.ts
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Config/DownloadClientConfigResource.cs
Labels: none
