Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

New: OIDC authentication
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/General/AuthenticationMethodSettings.tsx
  frontend/src/Settings/General/FormsAuthenticationSettings.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/OidcAuthenticationSettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  frontend/src/Settings/General/useGeneralSettings.ts
  frontend/src/login.html
  frontend/src/logout.html
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Core/Authentication/AuthenticationConfigurationExtensions.cs
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Authentication/OidcDiscoveryService.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/OidcConfigurationCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/OidcAuthorityValidator.cs
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Authentication/AuthenticationService.cs
  src/Sonarr.Http/Authentication/OidcOptionsChangeTokenSource.cs
  src/Sonarr.Http/Authentication/UiAuthorizationPolicyProvider.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LogoutHtmlMapper.cs
  src/Sonarr.Http/Frontend/StaticResourceController.cs
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: none

Cleanse email addresses from logs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Support Labels + Download directory
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/VuzeTests/VuzeFixture.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

fixup! Fixed: Don't cache media covers that aren't downloaded
  src/NzbDrone.Core.Test/MediaCoverTests/MediaCoverServiceFixture.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
Labels: connection

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

fixup! Fixed: Don't cache media covers that aren't downloaded
  src/NzbDrone.Core.Test/MediaCoverTests/MediaCoverServiceFixture.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
Labels: connection

fix: sonarr plex update only hit the first matching section
  src/NzbDrone.Core.Test/NotificationTests/Plex/PlexServerServiceFixture.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
Labels: connection

Add v5 MediaCoverController
  src/Sonarr.Api.V5/MediaCovers/MediaCoverController.cs
Labels: none

Fixed: Don't cache media covers that aren't downloaded
  src/NzbDrone.Core.Test/MediaCoverTests/MediaCoverServiceFixture.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Http/Middleware/CacheableSpecification.cs
Labels: connection

Reset loaded state for series images when URL changes
  frontend/src/Series/SeriesImage.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

New: Match anime season packs named by season title
  frontend/src/InteractiveSearch/ReleaseSceneIndicator.tsx
  frontend/src/InteractiveSearch/useReleases.ts
  frontend/src/Parse/ParseModel.ts
  frontend/src/Parse/ParseResult.tsx
  src/NzbDrone.Core.Test/DecisionEngineTests/DownloadDecisionMakerFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SeasonMatchSpecification.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Model/RemoteEpisode.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V3/Parse/ParseController.cs
  src/Sonarr.Api.V3/Parse/ParseResource.cs
  src/Sonarr.Api.V3/Parse/ParsedEpisodeInfoResource.cs
  src/Sonarr.Api.V5/Parse/ParseController.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
Labels: parsing

New: Search anime season titles without season parameter
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaRequestGeneratorFixture.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/AnimeSeasonSearchCriteria.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SceneEpisodeMapping.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SceneSeasonMapping.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

Cleanse email addresses from logs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

New: OIDC authentication
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/General/AuthenticationMethodSettings.tsx
  frontend/src/Settings/General/FormsAuthenticationSettings.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/OidcAuthenticationSettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  frontend/src/Settings/General/useGeneralSettings.ts
  frontend/src/login.html
  frontend/src/logout.html
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Core/Authentication/AuthenticationConfigurationExtensions.cs
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Authentication/OidcDiscoveryService.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/OidcConfigurationCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/OidcAuthorityValidator.cs
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Authentication/AuthenticationService.cs
  src/Sonarr.Http/Authentication/OidcOptionsChangeTokenSource.cs
  src/Sonarr.Http/Authentication/UiAuthorizationPolicyProvider.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LogoutHtmlMapper.cs
  src/Sonarr.Http/Frontend/StaticResourceController.cs
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: none

Add v5 MediaCoverController
  src/Sonarr.Api.V5/MediaCovers/MediaCoverController.cs
Labels: none

Fixed: Don't cache media covers that aren't downloaded
  src/NzbDrone.Core.Test/MediaCoverTests/MediaCoverServiceFixture.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Http/Middleware/CacheableSpecification.cs
Labels: connection

Reset loaded state for series images when URL changes
  frontend/src/Series/SeriesImage.tsx
Labels: none

Replace react-dnd with dnd-kit
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css.d.ts
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
  frontend/src/Helpers/DragType.ts
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfile.css
  frontend/src/Settings/Profiles/Delay/DelayProfile.css.d.ts
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfiles.tsx
  frontend/src/Settings/Profiles/Profiles.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.tsx
  frontend/src/Settings/Profiles/Quality/qualityProfileItemFailures.ts
  frontend/src/Settings/Profiles/Quality/useQualityProfileDnd.ts
  package.json
  yarn.lock
Labels: none

v5 Add New Series
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/Components/HeartRating.css
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

fix: verify destination folder exists before updating series path when source is missing
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
Labels: none

fix: harden the pending-move guard and its command and service wiring
  frontend/src/Series/Series.ts
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/ClearStalePendingPathFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateSingleSeriesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/234_add_pending_path_to_series.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesFixture.cs
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: db-migration

fix: sonarr plex update only hit the first matching section
  src/NzbDrone.Core.Test/NotificationTests/Plex/PlexServerServiceFixture.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
Labels: connection

Resolve episodes across every season in multi-season packs
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SeasonMatchSpecificationTests/SeasonMatchSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SingleEpisodeSearchMatchSpecificationTests/StandardEpisodeSearch.cs
  src/NzbDrone.Core.Test/Download/Pending/PendingReleaseServiceTests/RemovePendingFixture.cs
  src/NzbDrone.Core.Test/Download/Pending/PendingReleaseServiceTests/RemovePendingObsoleteFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Others/OtherExtraServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Subtitles/SubtitleServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsPossibleSpecialEpisodeFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SeasonMatchSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SingleEpisodeSearchMatchSpecification.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/Organizer/FileNameValidationService.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
Labels: parsing

Use collections
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SeasonMatchSpecificationTests/SeasonMatchSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SingleEpisodeSearchMatchSpecificationTests/StandardEpisodeSearch.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Others/OtherExtraServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsPossibleSpecialEpisodeFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fix typo
  CONTRIBUTING.md
Labels: none

Bump FFprobe to 9.0.2
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump Dapper, MailKit and Polly
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump Microsoft.AspNetCore.Authentication.OpenIdConnect to 10.0.12
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: none

Remove System.Drawing.Common
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Add health check reasons for database and backups
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
Labels: none

Add SQLite database integrity health check
  src/NzbDrone.Core/HealthCheck/Checks/DatabaseIntegrityCheck.cs
Labels: none

Add stale automatic backup health check
  src/NzbDrone.Core/HealthCheck/Checks/BackupCheck.cs
Labels: none

Test stale automatic backup health check
  src/NzbDrone.Core.Test/HealthCheck/Checks/BackupCheckFixture.cs
Labels: none

Test database integrity health check
  src/NzbDrone.Core.Test/HealthCheck/Checks/DatabaseIntegrityCheckFixture.cs
Labels: none

Fixed: Manual Interaction Required notifications failing for unknown series
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

Fix Event handling on disposed Container
  src/NzbDrone.Common/ServiceFactory.cs
  src/NzbDrone.Core/Messaging/Events/EventAggregator.cs
Labels: none
