Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: Linking autotags with tag specification to all tags
  src/NzbDrone.Core/Tags/TagService.cs
Labels: none

Fixed: Refresh tags after updating autotags
  src/NzbDrone.Core/AutoTagging/AutoTaggingService.cs
  src/NzbDrone.Core/AutoTagging/AutoTagsUpdatedEvent.cs
  src/Sonarr.Api.V3/Tags/TagController.cs
Labels: none

Save 2
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModalContent.js
  frontend/src/Store/Actions/Creators/createSaveHandler.js
  frontend/src/Store/Actions/Settings/register.ts
  src/NzbDrone.Core/Authentication/UserService.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Users/UserController.cs
  src/Sonarr.Api.V3/Users/UserResource.cs
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Authentication/AuthenticationService.cs
Labels: none

Refactored intial login page for multiple users
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Store/Actions/Creators/createCustomFetchRegister.js
  frontend/src/Store/Actions/Creators/createSaveHandler.js
  frontend/src/Store/Actions/Settings/register.ts
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createRegisterSelector.ts
  frontend/src/index.ts
  frontend/src/intializeConfig.ts
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Users/UserController.cs
Labels: none

Save
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/ProtectedRoute.tsx
Labels: none

New: Check for available space before grabbing
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Added protected routes for testing for new user path
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/ProtectedRoute.tsx
  frontend/src/App/Roles.ts
Labels: none

Fixed: Replace illegal characters even when renaming is disabled
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

Fixed: Linking autotags with tag specification to all tags
  src/NzbDrone.Core/Tags/TagService.cs
Labels: none

Fixed: Don't parse language from series title for v2 releases
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Refresh tags after updating autotags
  src/NzbDrone.Core/AutoTagging/AutoTaggingService.cs
  src/NzbDrone.Core/AutoTagging/AutoTagsUpdatedEvent.cs
  src/Sonarr.Api.V3/Tags/TagController.cs
Labels: none

feat: Shift quality definition limits management to the backend
  src/NzbDrone.Core/Qualities/QualityDefinitionLimits.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionService.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
Labels: none

Add API validation and tests for quality limits
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
Labels: none

Add .idea directory to gitignore
  .gitignore
Labels: none

Support validation of collections in RestController
  src/Sonarr.Http/REST/RestController.cs
Labels: none

Convert QualityDefinitionLimits to static
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionLimits.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionService.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionLimitsResource.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
Labels: none

Show save error in UI
  frontend/src/Settings/Quality/Definition/QualityDefinitions.css
  frontend/src/Settings/Quality/Definition/QualityDefinitions.css.d.ts
  frontend/src/Settings/Quality/Definition/QualityDefinitions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Resolved some PR review issues
  .vscode/settings.json
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  src/NzbDrone.Core/Authentication/User.cs
  src/NzbDrone.Core/Authentication/UserRepository.cs
  src/NzbDrone.Core/Authentication/UserService.cs
  src/NzbDrone.Core/Datastore/DbFactory.cs
  src/NzbDrone.Core/Datastore/Migration/212_add_role_to_users.cs
  src/NzbDrone.Core/Datastore/Migration/213_add_api_key_to_users.cs
  src/NzbDrone.Core/Datastore/Migration/213_add_role_and_api_key_to_users.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
  src/Sonarr.Api.V3/Users/UserController.cs
  src/Sonarr.Api.V3/Users/UserResource.cs
  src/Sonarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
  src/Sonarr.Http/Frontend/InitializeJsonController.cs
Labels: db-migration

Split quality limits into a static and resource class
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionLimits.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionService.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionLimitsResource.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
Labels: none

Add validation rule for Preferred
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
Labels: none

fixup! New: Check for available space before grabbing
  frontend/src/Settings/MediaManagement/MediaManagement.js
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Add Bluray 576p quality
  src/NzbDrone.Core.Test/Datastore/Migration/214_add_bluray576p_in_profileFixture.cs
  src/NzbDrone.Core/Datastore/Migration/214_add_blurary576p_quality_in_profiles.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/NzbDrone.Core/Qualities/Quality.cs
Labels: db-migration, parsing

fixup! New: Add Bluray 576p quality
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
Labels: none

Gotify notification updates
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifyMessage.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifySettings.cs
  src/NzbDrone.Core/Notifications/MetadataLinkType.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

Added API key field in the Edit User Modal
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModalContent.js
  frontend/src/Store/createAppStore.js
  src/NzbDrone.Core/Authentication/UserService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Users/UserController.cs
  src/Sonarr.Api.V3/Users/UserResource.cs
Labels: none

Fixed bug in username uniqueness validator
  src/Sonarr.Api.V3/Users/UserController.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

add workflow to close issue when labelled as support.
  .github/workflows/support-requests.yml
Labels: none

Add rating as an option in sorting dropdown
  frontend/src/Series/Index/Menus/SeriesIndexSortMenu.tsx
Labels: none

New: Use instance name in forms authentication cookie name
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

New: Add exception to SSL Certificate validation message
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
Labels: none

New: Add additional archive exentions
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Drop limit from limit properties
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionLimits.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionLimitsResource.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
Labels: none

Apply suggestions from code review
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
Labels: none

Formatting
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Add 'qualitydefinition/limits' endpoint to get size limitations
  .gitignore
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionLimits.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionLimitsResource.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
  src/Sonarr.Http/REST/RestController.cs
Labels: none

New: Minimum Upgrade Score for Custom Formats
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
  frontend/src/typings/QualityProfile.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/Datastore/Migration/212_add_minium_upgrade_format_score_to_quality_profiles.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupQualityProfileFormatItems.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: db-migration

Fixed: Series links not opening on iOS
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/Series/Details/SeriesDetailsLinks.css
Labels: none

Fixed: Replace illegal characters even when renaming is disabled
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none
