Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Review comments
  frontend/src/Components/Form/KeyValueListInput.tsx
  frontend/src/Components/Form/KeyValueListInputItem.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Labels support for Transmission 4.0
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixtureBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
  src/NzbDrone.Core/Download/Clients/Vuze/Vuze.cs
Labels: download-client

Don't try to process items that didn't import in manual import
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Fixed: Normalize unicode characters when comparing paths for equality
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Common/PathEqualityComparer.cs
Labels: none

Console warnings for missing translations on development builds
  frontend/src/Calendar/Legend/Legend.js
  frontend/src/Utilities/String/translate.ts
  frontend/typings/Globals.d.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: .plexmatch episodes on separate lines
  src/NzbDrone.Core/Extras/Metadata/Consumers/Plex/PlexMetadata.cs
Labels: none

New: Improve stored UI settings for multiple instances under the same host
  frontend/src/Store/Middleware/createPersistState.js
Labels: none

New: Add headers setting in webhook connection
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/KeyValueListInput.css
  frontend/src/Components/Form/KeyValueListInput.css.d.ts
  frontend/src/Components/Form/KeyValueListInput.tsx
  frontend/src/Components/Form/KeyValueListInputItem.css
  frontend/src/Components/Form/KeyValueListInputItem.css.d.ts
  frontend/src/Components/Form/KeyValueListInputItem.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Helpers/Props/inputTypes.ts
  src/NzbDrone.Common/Reflection/ReflectionExtensions.cs
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Webhook/WebhookProxy.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSettings.cs
Labels: connection

New: Parse original from release name when specified
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Fixed: Allow files to be moved from Torrent Blackhole even when remove is disabled
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/TorrentBlackholeFixture.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackhole.cs
Labels: download-client

New: Replace 'Ben the Man' release group parsing with 'Ben the Men'
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Improve LanguageSelectInput
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/Settings/UI/UISettings.js
  frontend/src/Store/Selectors/createFilteredLanguagesSelector.ts
Labels: none

Fixed: Closing on click outside select input and styling on Library Import
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.css
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: none

Fixed: Closing on click outside select input and styling on Library Import
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.css
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: none

Improve LanguageSelectInput
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/Settings/UI/UISettings.js
  frontend/src/Store/Selectors/createFilteredLanguagesSelector.ts
Labels: none

Allow `GetFileSize` to follow symlinks
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Init
  README.md
Labels: none

Update SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css
Labels: none

Rename SizeLeft and TimeLeft queue item properties
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Queue/Queue.cs
  src/NzbDrone.Core/Queue/QueueService.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Queue/QueueResource.cs
Labels: none

Fixed: Prevent lack of internet from stopping all health checks from running
  src/NzbDrone.Core/HealthCheck/Checks/SystemTimeCheck.cs
Labels: none

Fixed: Kometa and Kodi metadata failing with duplicate episode files
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Fixed: New episodes in season follow season's monitored status
  src/NzbDrone.Core.Test/TvTests/RefreshEpisodeServiceFixture.cs
  src/NzbDrone.Core/Tv/RefreshEpisodeService.cs
Labels: none

Deluge communication improvements
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeProxy.cs
Labels: download-client

fixup! Deluge communication improvements
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

fixup! Deluge communication improvements
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

fixup! Deluge communication improvements
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

init
  README.md
Labels: none

New: Support for new SABnzbd history retention values
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdCategory.cs
Labels: download-client

fixup! Deluge communication improvements
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

New: Option to treat downloads with non-media extensions as failed
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TestIndexerSettings.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
  src/NzbDrone.Core/Download/RejectedImportService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
  src/NzbDrone.Core/Indexers/FailDownloads.cs
  src/NzbDrone.Core/Indexers/Fanzub/FanzubSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IIndexerSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/SeedConfigProvider.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportRejectionReason.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: indexer

Convert EditSeriesModal to TypeScript
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/SeriesAppState.ts
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Edit/EditSeriesModal.js
  frontend/src/Series/Edit/EditSeriesModal.tsx
  frontend/src/Series/Edit/EditSeriesModalConnector.js
  frontend/src/Series/Edit/EditSeriesModalContent.js
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Store/Selectors/selectSettings.js
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/Utilities/Object/getErrorMessage.ts
  frontend/src/typings/Field.ts
  frontend/src/typings/pending.ts
Labels: none

Webpack web target
  frontend/build/webpack.config.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed: Custom Format upgrading not respecting 'Upgrades Allowed'
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Fixed: Truncating long text in the middle when it shouldn't be truncated
  frontend/build/webpack.config.js
  frontend/src/Components/Form/Tag/TagInputTag.tsx
  frontend/src/Components/MiddleTruncate.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.css
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/typings/MiddleTruncate.d.ts
  package.json
  yarn.lock
Labels: none

Update React and add React Query
  frontend/src/App/App.tsx
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/bootstrap.tsx
  frontend/src/index.ts
  frontend/typings/Globals.d.ts
  package.json
  yarn.lock
Labels: none

New: Ability to change root folder when editing series
  frontend/src/Components/Form/FormInputButton.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/PathInput.css
  frontend/src/Components/Form/PathInput.css.d.ts
  frontend/src/Components/Form/PathInput.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Series/Edit/EditSeriesModalConnector.js
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Edit/RootFolder/RootFolderModal.tsx
  frontend/src/Series/Edit/RootFolder/RootFolderModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
  src/Sonarr.Api.V3/Series/SeriesFolderController.cs
Labels: none

Support Postgres with non-standard version string
  src/NzbDrone.Core.Test/Datastore/DatabaseVersionParserFixture.cs
  src/NzbDrone.Core/Datastore/Database.cs
  src/NzbDrone.Core/Datastore/DatabaseVersionParser.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
