Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Maintain relative path when reprocessing items in manual import
  frontend/src/InteractiveImport/useInteractiveImport.ts
  src/Sonarr.Api.V5/ManualImport/ManualImportController.cs
  src/Sonarr.Api.V5/ManualImport/ManualImportReprocessResource.cs
Labels: none

New: Show error if manual import has the same episode assigned multiple times
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.css
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fix v5 language select and filtering
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.tsx
  frontend/src/Language/useLanguages.ts
  frontend/src/Settings/UI/UISettings.tsx
Labels: none

Theme specific metadata source images
  frontend/src/Content/Images/thetvdb-dark.png
  frontend/src/Content/Images/thetvdb-light.png
  frontend/src/Content/Images/thetvdb.png
  frontend/src/Helpers/Hooks/useTheme.ts
  frontend/src/Settings/MetadataSource/TheTvdb.tsx
Labels: none

Fixed: First column reordering
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
Labels: none

Bump .NET to 10.0.5
  global.json
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Bump github actions
  .github/actions/build/action.yml
  .github/actions/package/action.yml
  .github/actions/publish-test-artifact/action.yml
  .github/actions/test/action.yml
  .github/workflows/api_docs.yml
  .github/workflows/build_v5.yml
  .github/workflows/deploy.yml
Labels: none

Update Repack specification tests for consistent call
  src/NzbDrone.Core.Test/DecisionEngineTests/RepackSpecificationFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

add delete info icon for quality profiles showing usage
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.css
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.css.d.ts
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/useQualityProfileInUse.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Skip per-episode anime search when acceptable season pack found
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Fixed: Parsing date-based releases with 3 digit number in episode title
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

update translation key wording and variable
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Translate popover header
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Improve HTTP file mappers
  src/Sonarr.Http/Frontend/Mappers/BackupFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/BrowserConfig.cs
  src/Sonarr.Http/Frontend/Mappers/CacheBreakerProvider.cs
  src/Sonarr.Http/Frontend/Mappers/FaviconMapper.cs
  src/Sonarr.Http/Frontend/Mappers/HtmlMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LogFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
  src/Sonarr.Http/Frontend/Mappers/MediaCoverMapper.cs
  src/Sonarr.Http/Frontend/Mappers/RobotsTxtMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/UpdateLogFileMapper.cs
  src/Sonarr.Http/Frontend/Mappers/UrlBaseReplacementResourceMapperBase.cs
  src/Sonarr.Http/Frontend/StaticResourceController.cs
Labels: none

Bump ImageSharp to 3.1.12
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump version to 4.0.17
  .github/workflows/build.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

New: Delete files for Select Series
  frontend/src/Commands/CommandNames.ts
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModal.tsx
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModalContent.css
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModalContent.css.d.ts
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModalContent.tsx
  frontend/src/Series/Index/Select/Delete/SeriesDeleteList.tsx
  frontend/src/Series/Index/Select/Delete/useSelectedSeriesStats.ts
  frontend/src/Series/Index/Select/SeriesIndexSelectFooter.tsx
  src/NzbDrone.Core.Test/MediaFiles/MediaFileDeletionService/DeleteEpisodeFileFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/Commands/DeleteSeriesFilesCommand.cs
  src/NzbDrone.Core/MediaFiles/MediaFileDeletionService.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileController.cs
  src/Sonarr.Api.V5/Queue/QueueActionController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
Labels: none

New: Replace HTML Encoded values in release titles
  src/NzbDrone.Core.Test/Files/Indexers/encoded_title.xml
  src/NzbDrone.Core.Test/IndexerTests/BasicRssParserFixture.cs
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Indexers/RssParser.cs
Labels: indexer

Fixed: Trakt import lists with null IDs
  src/NzbDrone.Core/ImportLists/Trakt/TraktAPI.cs
Labels: none

Improve validation and test skipping in v5 API
  frontend/src/Settings/useProviderSettings.ts
  src/Sonarr.Api.V5/Provider/ProviderControllerBase.cs
  src/Sonarr.Api.V5/Provider/SkipValidation.cs
Labels: none

Add v5 Indexer options endpoints
  src/Sonarr.Api.V5/Settings/IndexerSettingsController.cs
  src/Sonarr.Api.V5/Settings/IndexerSettingsResource.cs
Labels: none

Use react-query for Indexers Options
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Indexers/Options/IndexerOptions.tsx
  frontend/src/Settings/Indexers/Options/useIndexerSettings.ts
  frontend/src/Store/Actions/Settings/indexerOptions.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Settings/IndexerOptions.ts
Labels: none

Use react-query for Indexers Flags
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/Select/IndexerFlagsSelectInput.tsx
  frontend/src/Episode/IndexerFlags.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Settings/Indexers/useIndexerFlags.ts
  frontend/src/Store/Actions/Settings/indexerFlags.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createIndexerFlagsSelector.ts
  frontend/src/typings/IndexerFlag.ts
Labels: none

Improve scene mapping updating
  src/NzbDrone.Core.Test/DataAugmentation/Scene/SceneMappingServiceFixture.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMapping.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingRepository.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
  src/NzbDrone.Core/DataAugmentation/Xem/XemProxy.cs
  src/NzbDrone.Core/Datastore/Migration/230_add_mapping_id_to_scene_mappings.cs
Labels: db-migration

New: Show error if manual import has the same episode assigned multiple times
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.css
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Maintain relative path when reprocessing items in manual import
  frontend/src/InteractiveImport/useInteractiveImport.ts
  src/Sonarr.Api.V5/ManualImport/ManualImportController.cs
  src/Sonarr.Api.V5/ManualImport/ManualImportReprocessResource.cs
Labels: none

Theme specific metadata source images
  frontend/src/Content/Images/thetvdb-dark.png
  frontend/src/Content/Images/thetvdb-light.png
  frontend/src/Content/Images/thetvdb.png
  frontend/src/Helpers/Hooks/useTheme.ts
  frontend/src/Settings/MetadataSource/TheTvdb.tsx
Labels: none

Fix v5 language select and filtering
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.tsx
  frontend/src/Language/useLanguages.ts
  frontend/src/Settings/UI/UISettings.tsx
Labels: none

Fix first column reordering
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
Labels: none

Bump github actions
  .github/actions/build/action.yml
  .github/actions/package/action.yml
  .github/actions/publish-test-artifact/action.yml
  .github/actions/test/action.yml
  .github/workflows/api_docs.yml
  .github/workflows/build_v5.yml
  .github/workflows/deploy.yml
Labels: none

Bump .NET to 10.0.5
  global.json
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Update Repack specification tests for consistent call
  src/NzbDrone.Core.Test/DecisionEngineTests/RepackSpecificationFixture.cs
Labels: none

New: Info icon for Quality Profiles that are in use
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.css
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.css.d.ts
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/useQualityProfileInUse.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Special Seasons filtering for Wanted Missing
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/MissingFilterModal.tsx
  frontend/src/Wanted/Missing/useMissing.tsx
  src/NzbDrone.Core/IndexerSearch/EpisodeSearchService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/Sonarr.Api.V3/Wanted/MissingController.cs
  src/Sonarr.Api.V5/Wanted/MissingController.cs
Labels: none

Bump FFprobe to 8.1.0
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump Microsoft.Data.SqlClient and System.Data.SQLite
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
