Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed grouping qualities inside a quality profile
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
Labels: none

Fixed free space and missing for selected root folder value
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputOption.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css.d.ts
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.tsx
Labels: none

Log when expected episode file is missing from disk on upgrade
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
Labels: none

Improve typings for enhanced select options
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  frontend/src/Components/Form/Select/UMaskInput.tsx
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/Series/Index/Overview/Options/SeriesIndexOverviewOptionsModalContent.tsx
  frontend/src/Series/Index/Posters/Options/SeriesIndexPosterOptionsModalContent.tsx
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/General/LoggingSettings.tsx
  frontend/src/Settings/General/ProxySettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  frontend/src/Settings/General/UpdateSettings.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.tsx
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Utilities/Series/monitorNewItemsOptions.ts
Labels: none

Improve typings for Select Input options
  frontend/src/Components/Form/SelectInput.tsx
  frontend/src/Components/Table/TablePager.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: none

Fixed selecting No Change for quality profile inputs
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
Labels: none

Fixed auto tagging tag specification
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/Tag/SeriesTagInput.tsx
Labels: none

Fix various typos
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.css
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.tsx
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Selectors/createCommandExecutingSelector.ts
  frontend/src/Store/Selectors/createCommandSelector.ts
  frontend/src/polyfills.js
  src/NzbDrone.Common/EnvironmentInfo/BuildInfo.cs
  src/NzbDrone.Core/Datastore/Migration/057_convert_episode_file_path_to_relative.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/NzbDrone.Core/Notifications/Mailgun/MailgunProxy.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/NzbDrone.Update.Test/UpdateProviderStartFixture.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
Labels: connection, db-migration

Update default log level message
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Bump core-js to 3.41
  frontend/build/webpack.config.js
  package.json
  yarn.lock
Labels: none

Bump caniuse db
  yarn.lock
Labels: none

Fixed sidebar flickering on mobile
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
Labels: none

Improve messaging when NZB contains invalid XML
  src/NzbDrone.Core/Download/NzbValidationService.cs
Labels: none

Fixed: Parsing titles with 3 digit season numbers
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Avoid varying logging message template between calls
  src/NzbDrone.Core/Indexers/RssSyncService.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
Labels: connection, indexer

Increase maximum backup restoration size to 5GB
  src/Sonarr.Api.V3/System/Backup/BackupController.cs
Labels: none

don't allow remote path to start with space
  src/NzbDrone.Core/RemotePathMappings/RemotePathMappingService.cs
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: none

Use the thrown exception in http timeout handling
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

feat: paginate interactive search results
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
Labels: none

Handle HTTP 410 for release download like HTTP 404
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

Handle HTTP 410 and 404 via pattern matching
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

New: Include series poster for Apprise
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/Apprise/ApprisePayload.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseSettings.cs
Labels: connection

new: ignore volumes containing `.timemachine` from Disk Space
  src/NzbDrone.Core.Test/DiskSpace/DiskSpaceServiceFixture.cs
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
Labels: none

Fixed: Loading suggestions for header search input
  frontend/src/Components/Form/Tag/TagInput.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Helpers/Hooks/useDebouncedCallback.tsx
  package.json
  yarn.lock
Labels: none

Remove useless languages transform
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: indexer

Fixed: Searching all missing from Wanted
  frontend/src/Wanted/Missing/Missing.tsx
Labels: none

New: Include Special option for Wanted Missing
  frontend/src/App/State/WantedAppState.ts
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/MissingOptions.tsx
  src/NzbDrone.Core/IndexerSearch/EpisodeSearchService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/Sonarr.Api.V3/Wanted/MissingController.cs
Labels: none

Bump core-js to 3.42
  frontend/build/webpack.config.js
  package.json
  yarn.lock
Labels: none

Bump babel, fontawesome icons, fuse.js, react-lazyload, react-use-measure and react-window
  package.json
  yarn.lock
Labels: none

Update src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
Labels: none

add warning rule for ending with space
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: none

Add subtitles parser to Newznab
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
Labels: indexer

Add subtitles to filter option
  frontend/src/Store/Actions/releaseActions.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Clarify wording of "DeleteRootFolder" and "DeleteRootFolderMessageText" to better reflect action
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Prevent should refresh series from failing
  src/NzbDrone.Core/Tv/ShouldRefreshSeries.cs
Labels: none

New: Add Romansh language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
