Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

New: Dark theme for login screen
  frontend/src/App/App.js
  frontend/src/App/ApplyTheme.js
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Styles/Themes/index.js
  frontend/src/login.html
  frontend/src/typings/UiSettings.ts
  src/Sonarr.Http/Frontend/Mappers/HtmlMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
Labels: none

Move to using PagingSpec in BlocklistRepository
  frontend/src/Activity/Blocklist/Blocklist.js
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
Labels: none

revert change to CustomFormatCalculationService.cs
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
Labels: none

Fixed: Use of indexer flags for torrent release pushes
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
Labels: none

allow multiple protocols in custom filter
  frontend/src/Store/Actions/blocklistActions.js
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
Labels: none

Fixed: Refresh queue items for changed series
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
Labels: none

Update src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
Labels: download-client

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Add file-count for Transmission RPC
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
Labels: download-client

New: Config file setting to disable log database
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Datastore/Extensions/CompositionExtensions.cs
  src/NzbDrone.Core/Update/History/UpdateHistoryService.cs
  src/NzbDrone.Core/Update/RecentUpdateProvider.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Logs/LogController.cs
  src/Sonarr.Api.V3/Update/UpdateController.cs
  src/Sonarr.Http/PagingResource.cs
Labels: none

Forward X-Forwarded-Host header
  src/NzbDrone.Host/Startup.cs
Labels: none

Parameter binding for API requests
  src/Sonarr.Api.V3/AutoTagging/AutoTaggingController.cs
  src/Sonarr.Api.V3/Commands/CommandController.cs
  src/Sonarr.Api.V3/Config/ConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/NamingConfigController.cs
  src/Sonarr.Api.V3/Config/UiConfigController.cs
  src/Sonarr.Api.V3/CustomFilters/CustomFilterController.cs
  src/Sonarr.Api.V3/CustomFormats/CustomFormatController.cs
  src/Sonarr.Api.V3/EpisodeFiles/EpisodeFileController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V3/Indexers/ReleasePushController.cs
  src/Sonarr.Api.V3/Profiles/Delay/DelayProfileController.cs
  src/Sonarr.Api.V3/Profiles/Languages/LanguageProfileController.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/ProviderControllerBase.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V3/Queue/QueueActionController.cs
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
  src/Sonarr.Api.V3/RootFolders/RootFolderController.cs
  src/Sonarr.Api.V3/SeasonPass/SeasonPassController.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/System/Backup/BackupController.cs
  src/Sonarr.Api.V3/Tags/TagController.cs
Labels: none

Add missing translation key
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: History with unknown episode
  frontend/src/Series/History/SeriesHistoryRow.js
Labels: none

New: Treat batch releases with total episode count as full season release
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Indexer flags for torrent release pushes
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
Labels: none

move filtering of protocols to controller
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
Labels: none

qBittorrent: support stoppedUP and stoppedDL states
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

Fixed: Initialize databases after app folder migrations
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

Fixed: Timezone issue with next/previous/last air dates
  src/NzbDrone.Core/SeriesStats/SeasonStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsService.cs
Labels: none

Fixed: Parsing long downloading/seeding values from Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
Labels: download-client

Use number input for seed ratio
  src/NzbDrone.Core/Indexers/SeedCriteriaSettings.cs
  src/Sonarr.Http/ClientSchema/SchemaBuilder.cs
Labels: indexer

Porla Download Client
  .containerignore
  Taskfile.yml
  docker/Taskfile.yml
  docker/build/alpine/Containerfile
  docker/pack/alpine/Containerfile
  docker/test/Containerfile
  src/NzbDrone.Common/Http/JsonRpcRequestBuilder.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/PorlaTests/PorlaFixture.cs
  src/NzbDrone.Core/Download/Clients/LibTorrent/Models/LibTorrentInfoHash.cs
  src/NzbDrone.Core/Download/Clients/LibTorrent/Models/LibTorrentSettingsPack.cs
  src/NzbDrone.Core/Download/Clients/LibTorrent/Models/LibTorrentTorrentStatus.cs
  src/NzbDrone.Core/Download/Clients/LibTorrent/README.md
  src/NzbDrone.Core/Download/Clients/Porla/Models/PorlaPresetsList.cs
  src/NzbDrone.Core/Download/Clients/Porla/Models/PorlaSessionList.cs
  src/NzbDrone.Core/Download/Clients/Porla/Models/PorlaSessionsSettingsList.cs
  src/NzbDrone.Core/Download/Clients/Porla/Models/PorlaSysVersionsList.cs
  src/NzbDrone.Core/Download/Clients/Porla/Models/PorlaTorrent.cs
  src/NzbDrone.Core/Download/Clients/Porla/Models/PorlaTorrentList.cs
  src/NzbDrone.Core/Download/Clients/Porla/Porla.cs
  src/NzbDrone.Core/Download/Clients/Porla/PorlaProxy.cs
  src/NzbDrone.Core/Download/Clients/Porla/PorlaSettings.cs
  src/NzbDrone.Core/Download/Clients/Porla/README.md
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

New: Has Unmonitored Season filter for Series
  frontend/src/Store/Actions/seriesActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Add Custom Format Score to file in Episode Details
  frontend/src/Episode/Summary/EpisodeFileRow.css
  frontend/src/Episode/Summary/EpisodeFileRow.css.d.ts
  frontend/src/Episode/Summary/EpisodeFileRow.js
  frontend/src/Episode/Summary/EpisodeSummary.js
  frontend/src/Episode/Summary/EpisodeSummaryConnector.js
Labels: none

New: Add series tags to Webhook and Notifiarr events
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
  src/NzbDrone.Core/Tags/TagRepository.cs
Labels: connection

Update src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
Labels: none

Fixed: Ignore invalid movie tags when writing XBMC metadata
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

New: Support stoppedUP and stoppedDL states from qBittorrent
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

Fixed: Initialize databases after app folder migrations
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

New: Blocklist Custom Filters
  frontend/src/Activity/Blocklist/Blocklist.js
  frontend/src/Activity/Blocklist/BlocklistConnector.js
  frontend/src/Activity/Blocklist/BlocklistFilterModal.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/BlocklistAppState.ts
  frontend/src/Store/Actions/blocklistActions.js
  frontend/src/typings/Blocklist.ts
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
Labels: none

New: Dark theme for login screen
  frontend/src/App/App.js
  frontend/src/App/ApplyTheme.js
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Styles/Themes/index.js
  frontend/src/login.html
  frontend/src/typings/UiSettings.ts
  src/Sonarr.Http/Frontend/Mappers/HtmlMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
Labels: none

Fixed: Next/previous/last air dates with Postgres DB
  src/NzbDrone.Core/SeriesStats/SeasonStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsService.cs
Labels: none

Fixed: Parsing long downloading/seeding values from Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
Labels: download-client

Use number input for seed ratio
  src/NzbDrone.Core/Indexers/SeedCriteriaSettings.cs
  src/Sonarr.Http/ClientSchema/SchemaBuilder.cs
Labels: indexer

New: Has Unmonitored Season filter for Series
  frontend/src/Store/Actions/seriesActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Add Custom Format Score to file in Episode Details
  frontend/src/Episode/Summary/EpisodeFileRow.css
  frontend/src/Episode/Summary/EpisodeFileRow.css.d.ts
  frontend/src/Episode/Summary/EpisodeFileRow.js
  frontend/src/Episode/Summary/EpisodeSummary.js
  frontend/src/Episode/Summary/EpisodeSummaryConnector.js
Labels: none

Fixed: Ignore invalid movie tags when writing XBMC metadata
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

New: Add series tags to Webhook and Notifiarr events
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
  src/NzbDrone.Core/Tags/TagRepository.cs
Labels: connection

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none
