Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

fix wrong adaption of code from Radarr
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
Labels: none

New: Selecting multiple indexers per release profile
  frontend/src/Components/Form/Select/IndexerSelectInput.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/typings/Settings/ReleaseProfile.ts
  src/NzbDrone.Core/Datastore/Migration/219_release_profile_indexer_ids.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfile.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfileService.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: db-migration

New: .arj and .lzh extensions are potentially dangerous
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Upgrade ImageSharp
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump version to 4.0.14
  .github/workflows/build.yml
Labels: none

Improve logging when login fails due to CryptographicException
  src/Sonarr.Http/Authentication/AuthenticationController.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

New: Options to send Image and Metadata links for Pushcut Notifications
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/NotificationMetadataLink.cs
  src/NzbDrone.Core/Notifications/NotificationMetadataLinkGenerator.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutPayload.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLinkPreviewOptions.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
Labels: connection

Fixed: Unknown series slug redirecting back to home instad of error screen
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.tsx
  frontend/src/Series/Details/SeriesDetailsPage.tsx
Labels: none

Fixed: UI does not always reflect series being refreshed
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/createSeriesIndexItemSelector.ts
Labels: none

Re-add repopulate reasons lost during TS conversion
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/Missing/Missing.tsx
Labels: none

Improve RestController usage for non-ID based items
  src/Sonarr.Http/REST/RestController.cs
Labels: none

Convert Updates to React Query
  frontend/src/App/AppUpdatedModalContent.tsx
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Settings/General/useUpdateSettings.ts
  frontend/src/System/Updates/Updates.tsx
  frontend/src/System/Updates/useUpdates.ts
  src/Sonarr.Api.V5/Settings/UpdateSettingsController.cs
  src/Sonarr.Api.V5/Settings/UpdateSettingsResource.cs
  src/Sonarr.Api.V5/Update/UpdateController.cs
  src/Sonarr.Api.V5/Update/UpdateResource.cs
Labels: none

Fix import typo for QualityProfileName
  frontend/src/Episode/Summary/EpisodeSummary.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Fix typos
  src/NzbDrone.Common/Processes/ProcessProvider.cs
  src/NzbDrone.Core/Datastore/ExpressionVisitor.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/Responses/FreeboxDownloadTask.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemotePathMappingCheck.cs
Labels: download-client

Use floating UI for AutoSuggestInput
  frontend/src/Components/Form/AutoSuggestInput.tsx
Labels: none

Remove react-popper
  package.json
  yarn.lock
Labels: none

Use floating UI for ImportSeriesSelectSeries
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
Labels: none

Use floating UI for Tooltip
  frontend/src/Activity/Queue/QueueDetails.tsx
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Components/Tooltip/Tooltip.css
  frontend/src/Components/Tooltip/Tooltip.css.d.ts
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/Helpers/Hooks/useTheme.ts
  package.json
  yarn.lock
Labels: none

Fix multi-select checkboxes not appearing
  frontend/src/Components/Form/Select/HintedSelectInputOption.tsx
Labels: none

Use floading UI for EnhancedSelectInput
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: none

Use floating UI for Menu
  frontend/src/Components/Menu/Menu.tsx
Labels: none

Improve logging when login fails due to CryptographicException
  src/Sonarr.Http/Authentication/AuthenticationController.cs
Labels: none

New: Display indexer in download failed details
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/typings/History.ts
Labels: none

Fixed: Inherit indexer, size and release group for marked as failed history
  src/NzbDrone.Core/History/EpisodeHistory.cs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Fixed: Spinning icon on toggling series monitoring
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

New: Add HDR Type to XBMC metadata video stream details
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Manual importing queued items with seriesId to avoid title parsing
  src/Sonarr.Api.V3/ManualImport/ManualImportController.cs
Labels: none

Fixed: Close modal when deleting series from index
  frontend/src/Series/Delete/DeleteSeriesModalContent.tsx
Labels: none

Fix indexer translations for categories and additional parameters
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: indexer

Fixed: Priority validation for indexers and download clients
  src/Sonarr.Api.V3/DownloadClient/DownloadClientController.cs
  src/Sonarr.Api.V3/Indexers/IndexerController.cs
Labels: none

New: Bulk manage Maximum Single Episode Age for indexers
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.css.d.ts
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
  src/Sonarr.Api.V3/Indexers/IndexerBulkResource.cs
  src/Sonarr.Api.V3/Indexers/IndexerController.cs
Labels: none

Add series progress tag to header
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Details/SeriesProgressLabel.tsx
Labels: none

set default for episodeCount
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Improve Series Details loading
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Refactor history checks and add tests for decision logic
  src/NzbDrone.Core.Test/HistoryTests/HistorySpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/History/HistoryRepository.cs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Remove redundant comments from HistorySpecificationFixture
  src/NzbDrone.Core.Test/HistoryTests/HistorySpecificationFixture.cs
Labels: none
