Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Create docker-publish.yml
  .github/workflows/docker-publish.yml
Labels: none

Fix add series not sending the correct payload
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
Labels: none

Add v5 localization endpoints
  src/Sonarr.Api.V5/Localization/LocalizationController.cs
  src/Sonarr.Api.V5/Localization/LocalizationLanguageResource.cs
  src/Sonarr.Api.V5/Localization/LocalizationResource.cs
Labels: none

Use react-query for translations
  frontend/src/App/State/AppState.ts
  frontend/src/App/useTranslations.ts
  frontend/src/Components/Page/ErrorPage.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Store/Actions/appActions.js
  frontend/src/Utilities/String/translate.ts
Labels: none

Convert app state to zustand stores
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.tsx
  frontend/src/App/AppUpdatedModalContent.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/MessagesAppState.ts
  frontend/src/App/appStore.ts
  frontend/src/App/messagesStore.ts
  frontend/src/Calendar/Day/CalendarDays.tsx
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Components/Page/Header/PageHeader.tsx
  frontend/src/Components/Page/Page.tsx
  frontend/src/Components/Page/Sidebar/Messages/Message.tsx
  frontend/src/Components/Page/Sidebar/Messages/Messages.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Index/SeriesIndex.tsx
  frontend/src/Store/Actions/appActions.js
  frontend/src/Store/Actions/commandActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Selectors/createDimensionsSelector.ts
  frontend/src/System/Backup/RestoreBackupModalContent.tsx
  frontend/src/System/Status/Health/HealthStatus.tsx
  frontend/src/System/Updates/Updates.tsx
  frontend/src/System/useSystem.ts
Labels: none

Ensure tests that log warnings don't fail
  src/NzbDrone.Core.Test/Download/DownloadClientTests/RQBitTests/RQBitFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/UpgradeMediaFileServiceFixture.cs
Labels: none

Fixed: Prevent paths with multiple slashes causing backups to fail
  src/NzbDrone.Common.Test/DiskTests/DiskTransferServiceFixture.cs
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Add v5 command endpoints
  src/Sonarr.Api.V5/Commands/CommandController.cs
  src/Sonarr.Api.V5/Commands/CommandResource.cs
Labels: none

New: Bump FluentMigrator to 7.2
  src/NzbDrone.Core/Datastore/Migration/000_database_engine_version_check.cs
  src/NzbDrone.Core/Datastore/Migration/184_remove_invalid_roksbox_metadata_images.cs
  src/NzbDrone.Core/Datastore/Migration/192_import_exclusion_type.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: db-migration

New: Bump FFMpegCore to 5.4.0 and FFprobe to 8.0.1
  src/NuGet.Config
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatAudioCodecFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/VideoFileInfoReaderFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/FFMpegCoreSideDataTypes.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoModel.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Removed remaining changes to FileNameBuilder.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/LocalEpisodeCustomFormatCalculationService.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

Fixed a null reference exception. Added tests for LocalEpisodeCustomFormatCalculationService.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/LocalEpisodeCustomFormatCalculationServiceFixture.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
Labels: parsing

fix(connection): use ISO 8601 format specifier for Discord timestamps
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Fixed: Redirect failed forms authentication to login page
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

Fixed: Parsing Uri on certain cultures (tr, az)
  src/NzbDrone.Common/Http/HttpUri.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Fixed: Don't fail refresh for multiple series if one can't get updated information from Skyhook
  src/NzbDrone.Core.Test/TvTests/RefreshSeriesServiceFixture.cs
  src/NzbDrone.Core/Messaging/Commands/CommandResult.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
Labels: none

Fixed: Parsing of some 1440p files
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Parse 'Vialle' release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: parsing

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Use react-query for episode and series history
  frontend/src/Activity/History/useEpisodeHistory.ts
  frontend/src/Activity/History/useHistory.ts
  frontend/src/Activity/History/useSeriesHistory.ts
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/HistoryAppState.ts
  frontend/src/Episode/History/EpisodeHistory.tsx
  frontend/src/Episode/History/EpisodeHistoryRow.tsx
  frontend/src/Series/History/SeriesHistoryModalContent.tsx
  frontend/src/Series/History/SeriesHistoryRow.tsx
  frontend/src/Store/Actions/episodeHistoryActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/seriesHistoryActions.js
Labels: none

Add v5 rename endpoints
  src/Sonarr.Api.V5/Episodes/RenameEpisodeController.cs
  src/Sonarr.Api.V5/Episodes/RenameEpisodeResource.cs
Labels: none

Use react-query for renaming
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/OrganizePreviewAppState.ts
  frontend/src/Organize/OrganizePreviewModal.tsx
  frontend/src/Organize/OrganizePreviewModalContent.tsx
  frontend/src/Organize/OrganizePreviewRow.tsx
  frontend/src/Organize/useOrganizePreview.ts
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/organizePreviewActions.js
  src/Sonarr.Api.V5/Episodes/RenameEpisodeController.cs
  src/Sonarr.Api.V5/Episodes/RenameEpisodeResource.cs
Labels: none

Removed out param that was only used internally.
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/LocalEpisodeCustomFormatCalculationServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/LocalEpisodeCustomFormatCalculationService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

use special episode number instead of sonarr episode id in plexmatch special episodes
  src/NzbDrone.Core/Extras/Metadata/Consumers/Plex/PlexMetadata.cs
Labels: none

Add v5 manual import endpoints
  src/Sonarr.Api.V5/ManualImport/ManualImportController.cs
  src/Sonarr.Api.V5/ManualImport/ManualImportReprocessResource.cs
  src/Sonarr.Api.V5/ManualImport/ManualImportResource.cs
Labels: none

Use react-query for manual import
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/InteractiveImportAppState.ts
  frontend/src/InteractiveImport/Folder/FavoriteFolderRow.tsx
  frontend/src/InteractiveImport/Folder/InteractiveImportSelectFolderModalContent.tsx
  frontend/src/InteractiveImport/Folder/RecentFolderRow.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveImport/InteractiveImport.ts
  frontend/src/InteractiveImport/interactiveImportFoldersStore.ts
  frontend/src/InteractiveImport/interactiveImportOptionsStore.ts
  frontend/src/InteractiveImport/useInteractiveImport.ts
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/interactiveImportActions.js
Labels: none

New: Manually import multiple items at the same time from Activity: Queue
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/InteractiveImport/InteractiveImportModal.tsx
  frontend/src/InteractiveImport/useInteractiveImport.ts
  frontend/src/Utilities/Fetch/getQueryString.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V5/ManualImport/ManualImportController.cs
  src/Sonarr.Api.V5/ManualImport/ManualImportResource.cs
Labels: none

Fix grabbing interactive search items
  src/Sonarr.Api.V5/Release/ReleaseController.cs
Labels: none

Refetch episode files on series refresh
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Bump fontawesome, babel, core-js, rimraf and browserlist db
  package.json
  yarn.lock
Labels: none

Bump Npgsql and Swashbuckle
  scripts/docs.sh
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Fix translate call in release options store
  frontend/src/InteractiveSearch/releaseOptionsStore.ts
Labels: none

New: Calendar Custom Filter for specials
  frontend/src/Calendar/useCalendar.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/FullSeasonSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/MultiSeasonSpecificationFixture.cs
  src/NzbDrone.Core.Test/TvTests/EpisodeRepositoryTests/EpisodesBetweenDatesFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Tv/EpisodeRepository.cs
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/Sonarr.Api.V3/Calendar/CalendarController.cs
  src/Sonarr.Api.V3/Calendar/CalendarFeedController.cs
  src/Sonarr.Api.V5/Calendar/CalendarController.cs
  src/Sonarr.Api.V5/Calendar/CalendarFeedController.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Removed Special Handling of Reflinks for BTRFS and ZFS
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
  src/NzbDrone.Common/Disk/DiskTransferService.cs
  src/NzbDrone.Common/Disk/IDiskProvider.cs
  src/NzbDrone.Mono/Disk/DiskProvider.cs
  src/NzbDrone.Mono/Disk/RefLinkCreator.cs
Labels: none

Use 'includeSubResources' to include sub resources in responses
  src/Sonarr.Api.V5/Calendar/CalendarController.cs
  src/Sonarr.Api.V5/Calendar/CalendarSubresource.cs
  src/Sonarr.Api.V5/Episodes/EpisodeController.cs
  src/Sonarr.Api.V5/Episodes/EpisodeSubresource.cs
  src/Sonarr.Api.V5/History/HistoryController.cs
  src/Sonarr.Api.V5/History/HistorySubresource.cs
  src/Sonarr.Api.V5/Queue/QueueController.cs
  src/Sonarr.Api.V5/Queue/QueueDetailsController.cs
  src/Sonarr.Api.V5/Queue/QueueSubresource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesSubresource.cs
  src/Sonarr.Api.V5/Wanted/CutoffController.cs
  src/Sonarr.Api.V5/Wanted/CutoffSubresource.cs
  src/Sonarr.Api.V5/Wanted/MissingController.cs
  src/Sonarr.Api.V5/Wanted/MissingSubresource.cs
Labels: none

New: Series custom filter for Monitored Episodes
  frontend/src/Components/Filter/Builder/FilterBuilderRow.tsx
  frontend/src/Components/Filter/Builder/MonitoredStatusFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/SeasonsMonitoredStatusFilterBuilderRowValue.tsx
  frontend/src/Helpers/Props/filterBuilderValueTypes.ts
  frontend/src/Series/Series.ts
  frontend/src/Series/useSeries.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/SeriesStats/SeasonStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsService.cs
  src/Sonarr.Api.V5/Series/SeasonStatisticsResource.cs
  src/Sonarr.Api.V5/Series/SeriesStatisticsResource.cs
Labels: none

Clean up release group exception regex
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: parsing
