Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Validate Special Folder Format doesn't match excluded folder
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fallback to video stream 0 when reading primary video for frame analysis
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Reduce log noise in HttpHappyEyeballs
  src/NzbDrone.Common/Http/HappyEyeballs/HttpHappyEyeballs.cs
Labels: none

Fix translation key for banner in SeriesImage component
  frontend/src/Series/SeriesImage.tsx
Labels: none

Fix sorting direction on series index component
  frontend/src/Helpers/Hooks/useOptionsStore.ts
  frontend/src/Series/Index/SeriesIndex.tsx
Labels: none

Display ratings when sorting on series posters index component
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
Labels: none

Use theme appropriate colors for image background on initial load
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css
Labels: none

Add v5 Metadata endpoints
  src/Sonarr.Api.V5/Metadata/MetadataBulkResource.cs
  src/Sonarr.Api.V5/Metadata/MetadataController.cs
  src/Sonarr.Api.V5/Metadata/MetadataResource.cs
Labels: none

Reenable column selection for series
  frontend/src/Series/Index/SeriesIndex.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.tsx
Labels: none

Use react-query for Metadata
  frontend/src/App/State/MetadataAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
  frontend/src/Settings/Metadata/Metadata/Metadatas.tsx
  frontend/src/Settings/Metadata/useMetadata.ts
  frontend/src/Store/Actions/Settings/metadata.js
  frontend/src/Store/Actions/settingsActions.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Add Afrikaans as a supported language
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Localization/Core/af.json
  src/NzbDrone.Core/Parser/IsoLanguages.cs
Labels: parsing

Initial translations
  src/NzbDrone.Core/Localization/Core/af.json
Labels: none

Add: New Download Rejection Reason for Episodes Not Aired
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/AirDateSpecification.cs
Labels: none

Add v5 Media Management endpoints
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsController.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsResource.cs
  src/Sonarr.Api.V5/Settings/SettingsController.cs
  src/Sonarr.Api.V5/Settings/UiSettingsController.cs
  src/Sonarr.Api.V5/Settings/UiSettingsResource.cs
Labels: none

Use react-query for Media Management settings
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/useMediaManagementSettings.ts
  frontend/src/Settings/UI/useUiSettings.ts
  frontend/src/Store/Actions/Settings/mediaManagement.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Settings/MediaManagement.ts
Labels: none

Remove naming from SettingsAppState
  frontend/src/App/State/SettingsAppState.ts
Labels: none

remove the default indexer definitions for AnimeTosho
  src/NzbDrone.Core/Indexers/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
Labels: indexer

feat(metadata): add configurable TVDB metadata language
  frontend/src/Settings/MetadataSource/MetadataSourceSettings.tsx
  frontend/src/Settings/MetadataSource/useMetadataSourceSettings.ts
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core.Test/MetadataSource/SkyHook/SkyHookProxyLanguageFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/Sonarr.Api.V3/Config/MetadataSourceConfigController.cs
  src/Sonarr.Api.V3/Config/MetadataSourceConfigResource.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsResource.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/sk.json
Labels: none

Convert getLanguageName to hook
  frontend/src/Episode/Summary/MediaInfo.tsx
  frontend/src/EpisodeFile/MediaInfo.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Language/useLanguageName.ts
  frontend/src/Utilities/String/getLanguageName.ts
Labels: none

New: Use translations for days of week
  frontend/src/Language/useLanguageName.ts
  frontend/src/Utilities/Date/getRelativeDate.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Additional logging for recycle bin cleanup
  src/NzbDrone.Core/MediaFiles/RecycleBinProvider.cs
Labels: none

New: Add option to not download before air date to Release Profiles
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/useReleaseProfiles.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/AirDateSpecificationFixture.cs
  src/NzbDrone.Core/Datastore/Migration/226_add_air_date_filtering_to_release_profiles.cs
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/AirDateSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfile.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileResource.cs
Labels: db-migration

Bump .NET to 10.0.3
  global.json
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
Labels: none

Added an additional line-break.
  src/NzbDrone.Core/MediaFiles/MediaInfo/UpdateMediaInfoService.cs
Labels: none

Added new rejection reason upon custom score mismatch.
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportRejectionReason.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/UpgradeSpecification.cs
Labels: none

New: Parse NCOP/NCED as specials
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Skip series search for seasons with files if profile doesn't allow upgrades
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerSearchTests/SeriesSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/IndexerSearch/SeriesSearchService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

add rating, genres, years to all trakt import lists
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

add a query helper for trakt
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktQueryHelper.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
Labels: none

Fixed: Ensure trailing slash is removed from drive letters when updating Plex Media Server
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
Labels: connection

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Bump .NET to 10.0.3
  global.json
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

New: Use translations for days of week
  frontend/src/Language/useLanguageName.ts
  frontend/src/Utilities/Date/getRelativeDate.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none
