Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Save Publish Dates as UTC for grabbed episodes
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

convert IndexerFlags to string list
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
Labels: connection

New: Indexer flags in webhook for grabbed release
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookGrabbedRelease.cs
  src/NzbDrone.Core/Parser/Model/GrabbedReleaseInfo.cs
Labels: connection, parsing

New: Add close button for PageSidebar component and switch deprecated function.
  frontend/src/Components/Page/Sidebar/PageSidebar.css
  frontend/src/Components/Page/Sidebar/PageSidebar.css.d.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/Helpers/Props/icons.ts
Labels: none

Expose total space in root folder endpoint. Upgrade ChromeDriver Nuget to latest.
  src/NzbDrone.Automation.Test/Sonarr.Automation.Test.csproj
  src/NzbDrone.Integration.Test/ApiTests/RootFolderFixture.cs
  src/Sonarr.Api.V3/RootFolders/RootFolderResource.cs
Labels: none

Using Close instead of Exit. Don't need to display: none for the button, since the container covers it.
  frontend/src/Components/Page/Sidebar/PageSidebar.css
  frontend/src/Helpers/Props/icons.ts
Labels: none

Remove unused import
  frontend/src/Helpers/Props/icons.ts
Labels: none

add ability to clone import lists
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.tsx
  frontend/src/Store/Actions/Settings/importLists.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Avoid fetching series twice on initial load
  frontend/src/Series/Index/SeriesIndex.tsx
Labels: none

Fixed: Improve error message for queue items from Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Fixed: Delete orphaned extra and subtitle files during housekeeping
  src/NzbDrone.Core.Test/Housekeeping/Housekeepers/CleanupOrphanedExtraFilesFixture.cs
  src/NzbDrone.Core.Test/Housekeeping/Housekeepers/CleanupOrphanedSubtitleFilesFixture.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupOrphanedExtraFiles.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupOrphanedSubtitleFiles.cs
Labels: none

Fixed: Default runtime to 45 minutes if unavailable when importing episode files
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/DetectSampleFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/DetectSample.cs
Labels: none

Update WikiUrl type in API docs
  src/Sonarr.Api.V3/Health/HealthResource.cs
Labels: none

Add Urdu and update LanguageFixtures
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Allow install.sh to run unattended by supplying user and group from env vars
  distribution/debian/install.sh
Labels: none

Fix a type where USER was checked instead of GROUP
  distribution/debian/install.sh
Labels: none

Refactor parameter ingestion to use command-line arguments instead of env vars, and add help
  distribution/debian/install.sh
Labels: none

Update installer version and date
  distribution/debian/install.sh
Labels: none

Fixed: Validation for tags label
  src/Sonarr.Api.V3/Tags/TagController.cs
Labels: none

add validation to quality profiles for sizes
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResourceValidator.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Log delete statements only once
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

Fix issues with Floating UI
  frontend/src/Components/Form/AutoSuggestInput.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.css
  frontend/src/Components/Form/Select/EnhancedSelectInput.css.d.ts
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Menu/Menu.tsx
Labels: none

New: Show episode count in season interactive search modal
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Search/SeasonInteractiveSearchModal.tsx
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.css
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.css.d.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

New: Indexer Flags in Webhook On Grab Notifications
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
Labels: connection

New: Indexer Flags in Webhook Import Notifications
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookGrabbedRelease.cs
  src/NzbDrone.Core/Parser/Model/GrabbedReleaseInfo.cs
Labels: connection, parsing

Fixed: Set output encoding to UTF-8 when running external processes
  src/NzbDrone.Common/Processes/ProcessProvider.cs
Labels: none

New: Prevent Remote Path Mapping local folder being set to System folder or '/'
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: none

New: Show episode count in season interactive search modal
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Search/SeasonInteractiveSearchModal.tsx
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.css
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.css.d.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Save Publish Dates as UTC for grabbed episodes
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Fixed: Include total space in root folder endpoint
  src/NzbDrone.Automation.Test/Sonarr.Automation.Test.csproj
  src/NzbDrone.Integration.Test/ApiTests/RootFolderFixture.cs
  src/Sonarr.Api.V3/RootFolders/RootFolderResource.cs
Labels: none

New: Ability to clone Import Lists
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.tsx
  frontend/src/Store/Actions/Settings/importLists.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Respect series type in Newznab/Torznab searches for specials
  src/NzbDrone.Core/IndexerSearch/Definitions/SpecialEpisodeSearchCriteria.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

Fixed: Avoid requests without categories for FileList
  src/NzbDrone.Core/Indexers/FileList/FileListRequestGenerator.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
Labels: indexer

Fixed: Improve error message for queue items from Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Fixed: Delete orphaned extra and subtitle files during housekeeping
  src/NzbDrone.Core.Test/Housekeeping/Housekeepers/CleanupOrphanedExtraFilesFixture.cs
  src/NzbDrone.Core.Test/Housekeeping/Housekeepers/CleanupOrphanedSubtitleFilesFixture.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupOrphanedExtraFiles.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupOrphanedSubtitleFiles.cs
Labels: none

Update WikiUrl type in API docs
  src/Sonarr.Api.V3/Health/HealthResource.cs
Labels: none

Fixed: Default runtime to 45 minutes if unavailable when importing episode files
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/DetectSampleFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/DetectSample.cs
Labels: none

#7793 Network Auto Tag specification
  src/NzbDrone.Core/AutoTagging/Specifications/NetworkSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none
