Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Queue and Calendar not loading
  frontend/src/Activity/Queue/TimeleftCell.js
  frontend/src/Calendar/Day/DayOfWeek.js
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Utilities/Date/getRelativeDate.js
  frontend/src/Utilities/Date/getRelativeDate.tsx
Labels: none

Fixed: Queue and Calendar not loading
  frontend/src/Activity/Queue/TimeleftCell.js
  frontend/src/Calendar/Day/DayOfWeek.js
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Utilities/Date/getRelativeDate.js
  frontend/src/Utilities/Date/getRelativeDate.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

New: Genres and Images for Webhooks and Notifiarr
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookImage.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
Labels: connection

Fixed: Time for episodes airing today being blank
  frontend/src/Utilities/Date/getRelativeDate.tsx
Labels: none

Fixed: Time for episodes airing today being blank
  frontend/src/Utilities/Date/getRelativeDate.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Update VideoFileInfoReader.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Update VideoFileInfoReaderFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/VideoFileInfoReaderFixture.cs
Labels: none

Update VideoFileInfoReader.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Update FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

Fixed: Include full series title in episode search
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Search for raw and clean titles for Newznab/Torznab indexers that support raw title searching
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

Bump version to 4.0.5
  .github/workflows/build.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

Bump version to 4.0.5
  .github/workflows/build.yml
Labels: none

Fixed: Manual Interaction Required with possible null series
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
Labels: none

Fixed: SDR Files Being Parsed As HLG
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/VideoFileInfoReaderFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

New: Genres and Images for Webhooks and Notifiarr
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookImage.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
Labels: connection

Search for raw and clean titles for Newznab/Torznab indexers that support raw title searching
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

Fixed: Include full series title in episode search
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Fixed: Error sending Manual Interaction Required when series is unknown
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

Fixed: Skip invalid series paths during validation
  src/NzbDrone.Core/Validation/Paths/SeriesPathValidator.cs
Labels: none

Fixed: Ignore case for name validation in providers
  src/Sonarr.Api.V3/ProviderControllerBase.cs
Labels: none

Fixed: Ignore case when resolving indexer by name in release push
  src/Sonarr.Api.V3/Indexers/ReleasePushController.cs
Labels: none

New: Refresh cache for tracked queue on series add
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

fixup! Fixed: Skip invalid series paths during validation
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
Labels: none

Fixed: Improve error messaging if config file isn't formatted correctly
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

fixup! Fixed: Skip invalid series paths during validation
  src/NzbDrone.Core/Validation/Paths/RootFolderValidator.cs
Labels: none

Fallback to remote url for series images
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/SeriesImage.js
Labels: none

Ignore `Grabbed` from API docs
  docs.sh
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V3/openapi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Refresh cache for tracked queue on series add
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Fixed: Ignore case for name validation in providers
  src/Sonarr.Api.V3/ProviderControllerBase.cs
Labels: none

Fixed: Ignore case when resolving indexer by name in release push
  src/Sonarr.Api.V3/Indexers/ReleasePushController.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
