Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Add finale type to on grab custom script notifications
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
Labels: connection

Add reason to health check
  src/NzbDrone.Core.Test/HealthCheck/HealthCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/ApiKeyValidationCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/AppDataLocationCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRemovesCompletedDownloadsCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRootFolderCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientSortingCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/ImportListRootFolderCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/ImportListStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/ImportMechanismCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerDownloadClientCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerJackettAllCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerLongTermStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerRssCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerSearchCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/MountCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/NotificationStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/PackageGlobalMessageCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/ProxyCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/RecyclingBinCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemotePathMappingCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemovedSeriesCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/RootFolderCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/SystemTimeCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/HealthCheck/ServerSideNotificationService.cs
Labels: none

Add v5 health endpoints
  src/Sonarr.Api.V5/Health/HealthController.cs
  src/Sonarr.Api.V5/Health/HealthResource.cs
Labels: none

Use react-query for Health UI
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Store/Actions/systemActions.js
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Status/Health/HealthStatus.tsx
  frontend/src/System/Status/Health/createHealthSelector.ts
  frontend/src/System/Status/Health/useHealth.ts
Labels: none

Add v5 diskspace endpoint
  src/Sonarr.Api.V5/DiskSpace/DiskSpaceController.cs
  src/Sonarr.Api.V5/DiskSpace/DiskSpaceResource.cs
Labels: none

Use react-query for disk space
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Store/Actions/systemActions.js
  frontend/src/System/Status/DiskSpace/DiskSpace.tsx
  frontend/src/System/Status/DiskSpace/useDiskSpace.ts
Labels: none

Remove updates, log files from app state
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Store/Actions/systemActions.js
Labels: none

New: Improve 'Select All' in Library Import
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/Blocklist/BlocklistRow.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.tsx
  frontend/src/App/Select/SelectContext.tsx
  frontend/src/App/Select/useSelectStore.ts
  frontend/src/App/SelectContext.tsx
  frontend/src/Components/Table/Cells/TableSelectCell.tsx
  frontend/src/Components/Table/Cells/VirtualTableSelectCell.tsx
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModal.tsx
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
  frontend/src/Series/Index/Select/Edit/EditSeriesModal.tsx
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Select/Organize/OrganizeSeriesModal.tsx
  frontend/src/Series/Index/Select/Organize/OrganizeSeriesModalContent.tsx
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModal.tsx
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
  frontend/src/Series/Index/Select/SeriesIndexPosterSelect.tsx
  frontend/src/Series/Index/Select/SeriesIndexSelectAllButton.tsx
  frontend/src/Series/Index/Select/SeriesIndexSelectAllMenuItem.tsx
  frontend/src/Series/Index/Select/SeriesIndexSelectFooter.tsx
  frontend/src/Series/Index/Select/SeriesIndexSelectModeButton.tsx
  frontend/src/Series/Index/Select/SeriesIndexSelectModeMenuItem.tsx
  frontend/src/Series/Index/Select/Tags/TagsModal.tsx
  frontend/src/Series/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Series/Index/SeriesIndex.tsx
  frontend/src/Series/Index/SeriesIndexRefreshSeriesButton.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.tsx
  frontend/src/typings/props.ts
Labels: none

Convert select to SelectContext
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/Helpers/Hooks/useSelectState.tsx
  frontend/src/InteractiveImport/Episode/SelectEpisodeModalContent.tsx
  frontend/src/InteractiveImport/Episode/SelectEpisodeRow.js
  frontend/src/InteractiveImport/Episode/SelectEpisodeRow.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/Organize/OrganizePreviewModalContent.tsx
  frontend/src/Organize/OrganizePreviewRow.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusionRow.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
  frontend/src/Utilities/Table/areAllSelected.ts
  frontend/src/Utilities/Table/getSelectedIds.ts
  frontend/src/Utilities/Table/getToggledRange.ts
  frontend/src/Utilities/Table/removeOldSelectedState.ts
  frontend/src/Utilities/Table/selectAll.ts
  frontend/src/Utilities/Table/toggleSelected.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.tsx
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/MissingRow.tsx
  src/Sonarr.Api.V3/Episodes/RenameEpisodeResource.cs
Labels: none

Add v5 backup endpoints
  src/Sonarr.Api.V5/System/Backup/BackupController.cs
  src/Sonarr.Api.V5/System/Backup/BackupResource.cs
Labels: none

Use react-query for tasks
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Store/Actions/systemActions.js
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.tsx
  frontend/src/System/Tasks/useTasks.ts
Labels: none

Add v5 task endpoints
  src/Sonarr.Api.V5/System/Tasks/TaskController.cs
  src/Sonarr.Api.V5/System/Tasks/TaskResource.cs
Labels: none

Use react-query for backups
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/systemActions.js
  frontend/src/System/Backup/BackupRow.tsx
  frontend/src/System/Backup/Backups.tsx
  frontend/src/System/Backup/RestoreBackupModal.tsx
  frontend/src/System/Backup/RestoreBackupModalContent.tsx
  frontend/src/System/Backup/useBackups.ts
  frontend/src/System/useSystem.ts
Labels: none

Fix episode status on wanted
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/Missing/Missing.tsx
Labels: none

New: Ignore torrents from Flood with matching Post-Import Tags
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/Flood/FloodSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Add v5 calendar endpoints
  src/Sonarr.Api.V5/Calendar/CalendarController.cs
  src/Sonarr.Api.V5/Calendar/CalendarFeedController.cs
  src/Sonarr.Api.V5/Episodes/EpisodeControllerWithSignalR.cs
  src/Sonarr.Api.V5/Episodes/EpisodeResource.cs
Labels: none

New: Improve Plex auth for Cross-Origin-Opener-Policy support
  frontend/src/Store/Actions/oAuthActions.js
  frontend/src/oauth.html
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvPinUrlResponse.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
Labels: connection

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Use react-query for Calendar UI
  frontend/src/Activity/Queue/QueueFilterModal.tsx
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/CalendarAppState.ts
  frontend/src/Calendar/Agenda/Agenda.tsx
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/Calendar.tsx
  frontend/src/Calendar/CalendarFilterModal.tsx
  frontend/src/Calendar/CalendarMissingEpisodeSearchButton.tsx
  frontend/src/Calendar/CalendarPage.tsx
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Day/CalendarDays.tsx
  frontend/src/Calendar/Day/DaysOfWeek.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Calendar/Legend/Legend.tsx
  frontend/src/Calendar/Options/CalendarOptionsModalContent.tsx
  frontend/src/Calendar/calendarOptionsStore.ts
  frontend/src/Calendar/useCalendar.ts
  frontend/src/Components/Filter/Filter.ts
  frontend/src/Components/Filter/FilterModal.tsx
  frontend/src/Episode/useEpisode.ts
  frontend/src/Episode/useEpisodes.ts
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/Helpers/Hooks/useOptionsStore.ts
  frontend/src/Store/Actions/calendarActions.js
  frontend/src/Store/Actions/index.js
Labels: none

Add v5 parse endpoint
  src/Sonarr.Api.V5/Parse/ParseController.cs
  src/Sonarr.Api.V5/Parse/ParseResource.cs
Labels: none

Use react-query for parse
  frontend/src/App/State/AppState.ts
  frontend/src/Parse/Parse.css
  frontend/src/Parse/Parse.css.d.ts
  frontend/src/Parse/Parse.tsx
  frontend/src/Parse/ParseModalContent.css
  frontend/src/Parse/ParseModalContent.css.d.ts
  frontend/src/Parse/ParseModalContent.tsx
  frontend/src/Parse/ParseModel.ts
  frontend/src/Parse/ParseResult.tsx
  frontend/src/Parse/parseStateSelector.ts
  frontend/src/Parse/useParse.ts
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/parseActions.ts
Labels: none

Fix task endpoint
  src/Sonarr.Api.V5/System/Tasks/TaskController.cs
Labels: none

add TTL setting for pushover notifications
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Pushover/PushoverProxy.cs
  src/NzbDrone.Core/Notifications/Pushover/PushoverSettings.cs
Labels: connection

Fix: incompatibility with reverse proxy forward auth providers
  frontend/src/Utilities/createAjaxRequest.js
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

New: Extend Postgres support to enable all connection string options
  src/NzbDrone.Core.Test/Framework/DbTest.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
  src/NzbDrone.Core/Datastore/PostgresOptions.cs
Labels: none

Add v5 episode, missing and cutoff unmet endpoints
  src/Sonarr.Api.V5/Episodes/EpisodeController.cs
  src/Sonarr.Api.V5/Episodes/EpisodesMonitoredResource.cs
  src/Sonarr.Api.V5/Wanted/CutoffController.cs
  src/Sonarr.Api.V5/Wanted/MissingController.cs
Labels: none

Address PR feedback
  frontend/src/Utilities/Fetch/fetchJson.ts
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host/CorsOriginConfigurator.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Use react-query for wanted missing and cutoff unmet
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/WantedAppState.ts
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Episode/EpisodeStatus.tsx
  frontend/src/Episode/useEpisode.ts
  frontend/src/Helpers/Hooks/usePage.ts
  frontend/src/Helpers/Hooks/usePagedApiQuery.ts
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/CutoffUnmet/cutoffUnmetOptionsStore.ts
  frontend/src/Wanted/CutoffUnmet/useCutoffUnmet.tsx
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/missingOptionsStore.ts
  frontend/src/Wanted/Missing/useMissing.tsx
Labels: none

Address PR feedback
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
Labels: none

Add v5 tag endpoints
  src/Sonarr.Api.V5/Tags/TagController.cs
  src/Sonarr.Api.V5/Tags/TagDetailsController.cs
  src/Sonarr.Api.V5/Tags/TagDetailsResource.cs
  src/Sonarr.Api.V5/Tags/TagResource.cs
Labels: none

Use react-query for tags
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/TagsAppState.ts
  frontend/src/Components/Filter/Builder/TagFilterBuilderRowValue.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/FormInputGroupContext.tsx
  frontend/src/Components/Form/Tag/SeriesTagInput.tsx
  frontend/src/Components/Page/ErrorPage.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/Page/Header/SeriesSearchResult.tsx
  frontend/src/Components/Page/PageSectionContent.tsx
  frontend/src/Components/SeriesTagList.tsx
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Components/TagList.tsx
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Series/Details/SeriesTags.tsx
  frontend/src/Series/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClient.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Indexer.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/Notification.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfiles.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.tsx
  frontend/src/Settings/Tags/Tag.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/tagActions.js
  frontend/src/Store/Selectors/createTagDetailsSelector.ts
  frontend/src/Store/Selectors/createTagsSelector.ts
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/Tags/useTagDetails.ts
  frontend/src/Tags/useTags.ts
Labels: none

Fix changing sort direction
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/Blocklist/blocklistOptionsStore.ts
  frontend/src/Activity/History/History.tsx
  frontend/src/Activity/History/historyOptionsStore.ts
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/queueOptionsStore.ts
  frontend/src/Helpers/Hooks/useOptionsStore.ts
  frontend/src/System/Events/LogsTable.tsx
  frontend/src/System/Events/eventOptionsStore.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/CutoffUnmet/cutoffUnmetOptionsStore.ts
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/missingOptionsStore.ts
Labels: none

Address PR comments
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
Labels: none

Fixed: Testing qBittorrent after credentials change would always pass tests
  src/NzbDrone.Common/Http/HttpRequestBuilder.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

switch var fix
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
Labels: none

Update src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
Labels: none

Update SDK version to 6.0.428
  global.json
Labels: none
