Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Convert dimensions to TypeScript and use for breakpoints
  frontend/src/App/appStore.ts
  frontend/src/Calendar/calendarOptionsStore.ts
  frontend/src/Components/Page/PageJumpBar.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/Components/Table/VirtualTable.tsx
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Styles/Variables/dimensions.js
  frontend/src/Styles/Variables/dimensions.ts
  frontend/src/Styles/Variables/variables.css
  frontend/src/Utilities/ResolutionUtility.ts
Labels: none

Replace react-document-title with useEffect
  frontend/src/App/App.tsx
  frontend/src/Components/Page/PageContent.tsx
  frontend/src/bootstrap.tsx
  package.json
  yarn.lock
Labels: none

Close menus when a menu item is pressed
  frontend/src/Components/Menu/Menu.tsx
  frontend/src/Components/Menu/MenuContext.ts
  frontend/src/Components/Menu/MenuItem.tsx
Labels: none

Fix authentication settings after merge conflict
  frontend/src/Settings/General/FormsAuthenticationSettings.tsx
  frontend/src/Settings/General/OidcAuthenticationSettings.tsx
Labels: none

Fix path input buttons wrapping on mobile
  frontend/src/Components/Form/AutoSuggestInput.module.css
  frontend/src/Components/Form/FormInputGroup.module.css
Labels: none

Series search results styling
  frontend/src/Components/Page/Header/SeriesSearchInput.module.css
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/Page/Header/SeriesSearchResult.module.css
Labels: none

Convert remaining FormGroup usages to FormRow
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
  frontend/src/Components/Filter/Builder/FilterBuilderModalContent.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/InteractiveImport/IndexerFlags/SelectIndexerFlagsModalContent.tsx
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.module.css
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.tsx
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/InteractiveImport/ReleaseGroup/SelectReleaseGroupModalContent.tsx
  frontend/src/InteractiveImport/ReleaseType/SelectReleaseTypeModalContent.tsx
  frontend/src/Series/Edit/RootFolder/RootFolderModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.tsx
Labels: none

Remove unused FormGroup and FormInputGroup
  frontend/src/Components/Form/FormGroup.module.css
  frontend/src/Components/Form/FormGroup.tsx
  frontend/src/Components/Form/FormInput.module.css
  frontend/src/Components/Form/FormInput.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/FormInputGroupContext.tsx
  frontend/src/Components/Form/FormLabel.module.css
  frontend/src/Components/Form/FormLabel.tsx
  frontend/src/Components/Form/Select/UMaskInput.module.css
Labels: none

Show check inputs beside their label on mobile
  frontend/src/Components/Form/FormRow.module.css
Labels: none

Fix series posters on touch devices and row height with tags
  frontend/src/Series/Index/Posters/SeriesIndexPoster.module.css
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
Labels: none

Allow table header cells to wrap on desktop
  frontend/src/Components/Table/TableHeaderCell.module.css
Labels: none

Fix hidden checkbox input escaping custom check containers
  frontend/src/Components/Form/CheckInput.module.css
Labels: none

Fixed: Search for new series delayed by slow On Series Add notifications
  src/NzbDrone.Core.Test/TvTests/SeriesScannedHandlerFixture.cs
  src/NzbDrone.Core/Tv/SeriesScannedHandler.cs
Labels: none

Fixed: Parsing anime partial and multi-season packs with a subgroup prefix
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Use generic group name in partial season test cases
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

use list notation
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
Labels: none

Fixed: Parse daily releases published before their air date
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Allow importing releases with a missing series year
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/useMediaManagementSettings.ts
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core.Test/Download/CompletedDownloadServiceTests/ProcessFixture.cs
  src/NzbDrone.Core.Test/Download/MissingYearImportValidatorFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/MissingYearImportValidator.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsResource.cs
Labels: none

use list for season numbers and drop unused scene mapping dependency
  src/NzbDrone.Core.Test/DecisionEngineTests/MultiSeasonSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SeasonMatchSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/Search/SingleEpisodeSearchMatchSpecification.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Sonarr.Api.V3/Parse/ParsedEpisodeInfoResource.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Update all matching Plex libraries, not just the first match
  src/NzbDrone.Core.Test/NotificationTests/Plex/PlexServerServiceFixture.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
Labels: connection

Fix typo in documentation
  CONTRIBUTING.md
Labels: none

New: Irish language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Virtualize Interactive Search results
  frontend/src/Components/Modal/ModalBody.tsx
  frontend/src/Episode/EpisodeDetailsModalContent.tsx
  frontend/src/Episode/Search/EpisodeSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearch.module.css
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.module.css
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchTableHeader.tsx
  frontend/src/InteractiveSearch/useReleases.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fix authentication settings after merge conflict
  frontend/src/Settings/General/FormsAuthenticationSettings.tsx
  frontend/src/Settings/General/OidcAuthenticationSettings.tsx
Labels: none

Improve Vite dev server support
  frontend/.eslintrc.cjs
  frontend/postcss.config.cjs
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Styles/Variables/dimensions.js
  frontend/tsconfig.json
  package.json
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Http.Test/Frontend/ViteDevServerFixture.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Sonarr.Http/Frontend/Mappers/ViteDevMapper.cs
  src/Sonarr.Http/Frontend/ViteDevServer.cs
  src/Sonarr.Http/Middleware/ViteDevMiddleware.cs
  vite.config.ts
Labels: none

Replace react-document-title with useEffect
  frontend/src/App/App.tsx
  frontend/src/Components/Page/PageContent.tsx
  frontend/src/bootstrap.tsx
  package.json
  yarn.lock
Labels: none

Use custom media breakpoints in CSS
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.module.css
  frontend/src/Calendar/Agenda/AgendaEvent.module.css
  frontend/src/Components/DescriptionList/DescriptionListItemDescription.module.css
  frontend/src/Components/DescriptionList/DescriptionListItemTitle.module.css
  frontend/src/Components/Form/FormRow.module.css
  frontend/src/Components/Modal/ModalFooter.module.css
  frontend/src/Series/Index/SeriesIndex.module.css
  frontend/src/Settings/MediaManagement/Naming/NamingModal.module.css
  frontend/src/Settings/Profiles/Delay/DelayProfile.module.css
  frontend/src/Settings/Profiles/Delay/DelayProfiles.module.css
  frontend/src/Settings/Quality/Definition/QualityDefinition.module.css
  frontend/src/Settings/Quality/Definition/QualityDefinitions.module.css
Labels: none

Allow table header cells to wrap on desktop
  frontend/src/Components/Table/TableHeaderCell.module.css
Labels: none

Convert dimensions to TypeScript and use for breakpoints
  frontend/src/App/appStore.ts
  frontend/src/Calendar/calendarOptionsStore.ts
  frontend/src/Components/Page/PageJumpBar.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/Components/Table/VirtualTable.tsx
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Styles/Variables/dimensions.js
  frontend/src/Styles/Variables/dimensions.ts
  frontend/src/Styles/Variables/variables.css
  frontend/src/Utilities/ResolutionUtility.ts
Labels: none

Fix key spread warnings in AutoSuggestInput
  frontend/src/Components/Form/AutoSuggestInput.tsx
Labels: none

Remove unused FormGroup and FormInputGroup
  frontend/src/Components/Form/FormGroup.module.css
  frontend/src/Components/Form/FormGroup.tsx
  frontend/src/Components/Form/FormInput.module.css
  frontend/src/Components/Form/FormInput.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/FormInputGroupContext.tsx
  frontend/src/Components/Form/FormLabel.module.css
  frontend/src/Components/Form/FormLabel.tsx
  frontend/src/Components/Form/Select/UMaskInput.module.css
Labels: none

Show check inputs beside their label on mobile
  frontend/src/Components/Form/FormRow.module.css
Labels: none

Close menus when a menu item is pressed
  frontend/src/Components/Menu/Menu.tsx
  frontend/src/Components/Menu/MenuContext.ts
  frontend/src/Components/Menu/MenuItem.tsx
Labels: none

Series search results styling
  frontend/src/Components/Page/Header/SeriesSearchInput.module.css
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/Page/Header/SeriesSearchResult.module.css
Labels: none

Fix double border on path input with additional buttons
  frontend/src/Components/Form/PathInputInternal.tsx
Labels: none

Fix series posters on touch devices and row height with tags
  frontend/src/Series/Index/Posters/SeriesIndexPoster.module.css
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
Labels: none

Convert remaining FormGroup usages to FormRow
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
  frontend/src/Components/Filter/Builder/FilterBuilderModalContent.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/InteractiveImport/IndexerFlags/SelectIndexerFlagsModalContent.tsx
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.module.css
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.tsx
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/InteractiveImport/ReleaseGroup/SelectReleaseGroupModalContent.tsx
  frontend/src/InteractiveImport/ReleaseType/SelectReleaseTypeModalContent.tsx
  frontend/src/Series/Edit/RootFolder/RootFolderModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.tsx
Labels: none

Fix hidden checkbox input escaping custom check containers
  frontend/src/Components/Form/CheckInput.module.css
Labels: none
