Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Parse version after quality in renamed files
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Rename Manage Custom Formats to Manage Formats
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsToolbarButton.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Add individual edit to Manage Custom Formats
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalConnector.js
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
Labels: none

Use current time for cache break in development
  src/Sonarr.Http/Frontend/Mappers/CacheBreakerProvider.cs
Labels: none

New: Favorite folders in Manual Import
  frontend/src/App/State/InteractiveImportAppState.ts
  frontend/src/Helpers/Props/icons.ts
  frontend/src/InteractiveImport/Folder/FavoriteFolderRow.css
  frontend/src/InteractiveImport/Folder/FavoriteFolderRow.css.d.ts
  frontend/src/InteractiveImport/Folder/FavoriteFolderRow.tsx
  frontend/src/InteractiveImport/Folder/InteractiveImportSelectFolderModalContent.css
  frontend/src/InteractiveImport/Folder/InteractiveImportSelectFolderModalContent.tsx
  frontend/src/InteractiveImport/Folder/RecentFolder.ts
  frontend/src/InteractiveImport/Folder/RecentFolderRow.js
  frontend/src/InteractiveImport/Folder/RecentFolderRow.tsx
  frontend/src/Store/Actions/interactiveImportActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Use download client name for history column
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/typings/History.ts
Labels: none

New: Include source path with Webhook import event episode file
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
Labels: connection

Fixed: Cleaning the French preposition 'à' from titles
  src/NzbDrone.Core.Test/ParserTests/NormalizeSeriesTitleFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Loading queue with pending releases for deleted series
  src/NzbDrone.Core/Datastore/Extensions/BuilderExtensions.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseRepository.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
Labels: none

Fixed: Telegram notification link text
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
Labels: connection

Fixed: Interactive searches when using Escape to close previous searches
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/Series/Search/SeasonInteractiveSearchModal.tsx
Labels: none

Fixed: New values for custom filters
  frontend/src/Components/Form/Tag/TagInput.tsx
Labels: none

Fixed: Root folder existence for import lists health check
  src/NzbDrone.Core/HealthCheck/Checks/ImportListRootFolderCheck.cs
Labels: none

New: Monitor New Seasons column for series list
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Store/Actions/seriesIndexActions.js
Labels: none

Increase retries for DebouncerFixture
  src/NzbDrone.Common.Test/TPLTests/DebouncerFixture.cs
Labels: none

New: Reject files during import that have no audio tracks
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/HasAudioTrackSpecificationFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/HasAudioTrackSpecification.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/ko.json
Labels: none

Fixed: Filtering queue by multiple qualities
  src/Sonarr.Api.V3/Queue/QueueController.cs
Labels: none

New: Filter queue by status
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/QueueStatusFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/SeriesStatusFilterBuilderRowValue.js
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/Store/Actions/queueActions.js
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Queue/Queue.cs
  src/NzbDrone.Core/Queue/QueueService.cs
  src/NzbDrone.Core/Queue/QueueStatus.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Queue/QueueResource.cs
Labels: none

Show a series path as example in Mount Health Check
  src/NzbDrone.Core/HealthCheck/Checks/MountCheck.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/ko.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

New: Labels support for Transmission
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixtureBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
  src/NzbDrone.Core/Download/Clients/Vuze/Vuze.cs
Labels: download-client

fixup! New: Labels support for Transmission
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: download-client

Console warnings for missing translations on development builds
  frontend/src/Calendar/Legend/Legend.js
  frontend/src/Utilities/String/translate.ts
  frontend/typings/Globals.d.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: .plexmatch episodes on separate lines
  src/NzbDrone.Core/Extras/Metadata/Consumers/Plex/PlexMetadata.cs
Labels: none

New: Replace 'Ben the Man' release group parsing with 'Ben the Men'
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Improve stored UI settings for multiple instances under the same host
  frontend/src/Store/Middleware/createPersistState.js
Labels: none

New: Add headers in webhook connection
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Webhook/WebhookProxy.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSettings.cs
Labels: connection

New: Parse original from release name when specified
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Fixed: Allow files to be moved from Torrent Blackhole even when remove is disabled
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackhole.cs
Labels: download-client

fixup! Fixed: Allow files to be moved from Torrent Blackhole even when remove is disabled
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/TorrentBlackholeFixture.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

New: Add KeyValueList component
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/KeyValueListInput.css
  frontend/src/Components/Form/KeyValueListInput.css.d.ts
  frontend/src/Components/Form/KeyValueListInput.tsx
  frontend/src/Components/Form/KeyValueListInputItem.css
  frontend/src/Components/Form/KeyValueListInputItem.css.d.ts
  frontend/src/Components/Form/KeyValueListInputItem.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Helpers/Props/inputTypes.ts
  src/NzbDrone.Common/Reflection/ReflectionExtensions.cs
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookProxy.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSettings.cs
Labels: connection

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

fix: Allow `GetFileSize` to follow symlinks
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

refactor: Simplify symlink check
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Fixed: Normalize unicode characters when comparing paths for equality
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Common/PathEqualityComparer.cs
Labels: none

Don't try to process items that didn't import in manual import
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Ignore "Percona Distribution" in Postgres version string
  src/NzbDrone.Core/Datastore/Database.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
