Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Run build for PRs against redesign branch
  .github/workflows/build_v5.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sk.json
Labels: none

Improve error handling for quality profile size limits
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.tsx
  frontend/src/Settings/Profiles/Quality/qualityProfileItemFailures.ts
  src/NzbDrone.Core.Test/Datastore/Migration/207_add_size_to_quality_profilesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/207_add_size_to_quality_profiles.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: db-migration

Increase border-radius for medium and large labels
  frontend/src/Components/Label.css
Labels: none

Use react-query for Custom Formats
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Episode/EpisodeFormats.tsx
  frontend/src/Episode/History/EpisodeHistoryRow.tsx
  frontend/src/EpisodeFile/EpisodeFile.ts
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveImport/InteractiveImport.ts
  frontend/src/InteractiveSearch/useReleases.ts
  frontend/src/Parse/ParseModel.ts
  frontend/src/Series/History/SeriesHistoryRow.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormat.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormats.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/ExportCustomFormatModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/ImportCustomFormatModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/ImportCustomFormatModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationItem.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationPresetMenuItem.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/Specification.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/useCustomFormats.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.tsx
  frontend/src/Settings/Profiles/Quality/useQualityProfiles.ts
  frontend/src/Store/Actions/Settings/customFormatSpecifications.js
  frontend/src/Store/Actions/Settings/customFormats.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Blocklist.ts
  frontend/src/typings/CustomFormat.ts
  frontend/src/typings/CustomFormatSpecification.ts
  frontend/src/typings/History.ts
  frontend/src/typings/Queue.ts
Labels: none

Add v5 Custom Format endpoints
  src/Sonarr.Api.V5/CustomFormats/CustomFormatBulkResource.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatController.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatResource.cs
Labels: none

New: Send Manual Interaction event for Potentially Dangerous Extensions that aren't failed
  src/NzbDrone.Core.Test/Download/CompletedDownloadServiceTests/ImportFixture.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
Labels: none

Simplify sort and filtering predicates for series
  frontend/src/Series/useSeries.ts
Labels: none

Fix vertical alignment for ratings on series table
  frontend/src/Series/Index/Table/SeriesIndexRow.css
Labels: none

Avoid mutation for react-query data
  frontend/src/Activity/Queue/Details/QueueDetailsProvider.tsx
  frontend/src/App/AppUpdatedModalContent.tsx
  frontend/src/App/Select/SelectContext.tsx
  frontend/src/App/Select/useSelectStore.ts
  frontend/src/Components/Filter/Builder/FilterBuilderModalContent.tsx
  frontend/src/Components/Filter/Builder/FilterBuilderRow.tsx
  frontend/src/Components/Filter/Builder/FilterBuilderRowValue.tsx
  frontend/src/Components/Filter/FilterModal.tsx
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
  frontend/src/Components/Form/Tag/TagInput.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/TagList.tsx
  frontend/src/EpisodeFile/EpisodeFileProvider.tsx
  frontend/src/Filters/Filter.ts
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/Helpers/Hooks/usePendingItemsStore.ts
  frontend/src/Series/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Series/useSeries.ts
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  frontend/src/Settings/Indexers/Indexers/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/Indexers/useIndexers.ts
  frontend/src/Settings/Metadata/useMetadata.ts
  frontend/src/Settings/Notifications/useConnections.ts
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfiles.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/System/Logs/LogFiles.tsx
  frontend/src/Tags/useTags.ts
  frontend/src/Utilities/Command/findCommand.ts
  frontend/src/Utilities/Filter/clientSideFilterAndSort.ts
  frontend/src/Utilities/Object/hasDifferentItems.ts
  frontend/src/Utilities/Object/hasDifferentItemsOrOrder.ts
  frontend/src/Utilities/Object/selectUniqueIds.ts
Labels: none

Create styles.css for integration tests once
  src/NzbDrone.Integration.Test/GlobalTestSetup.cs
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
Labels: none

Cleanup Simkl import list
  src/NzbDrone.Core/ImportLists/Simkl/SimklAPI.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklImportBase.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklParser.cs
  src/NzbDrone.Core/ImportLists/Simkl/User/SimklUserImport.cs
  src/NzbDrone.Core/ImportLists/Simkl/User/SimklUserSettings.cs
Labels: none

Skip branch check for PRs against redesign branch
  .github/workflows/wrong_base_branch.yml
Labels: none

Run build for PRs against redesign branch
  .github/workflows/build_v5.yml
Labels: none

Allow reordering of non-modifiable table columns
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/Blocklist/blocklistOptionsStore.ts
  frontend/src/Activity/History/historyOptionsStore.ts
  frontend/src/Activity/Queue/queueOptionsStore.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Components/Table/TableHeaderCell.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
  frontend/src/Episode/episodeOptionsStore.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/System/Events/eventOptionsStore.tsx
  frontend/src/Wanted/CutoffUnmet/cutoffUnmetOptionsStore.ts
  frontend/src/Wanted/Missing/missingOptionsStore.ts
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Fix modals on iOS
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Modal/Modal.css.d.ts
  frontend/src/Components/Modal/Modal.tsx
Labels: none

Use react-query for Delay Profiles
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfiles.tsx
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModal.tsx
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.tsx
  frontend/src/Settings/Profiles/Delay/useDelayProfiles.ts
  frontend/src/Settings/Profiles/Quality/useQualityProfiles.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Store/Actions/Settings/delayProfiles.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/DelayProfile.ts
Labels: none

Add v5 Delay Profile endpoints
  src/Sonarr.Api.V5/Profiles/Delay/DelayProfileController.cs
  src/Sonarr.Api.V5/Profiles/Delay/DelayProfileResource.cs
Labels: none

add rating, genres, years to all trakt import lists
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

add a query helper for trakt
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktQueryHelper.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
Labels: none

Standardize trakt settings (#1)
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktQueryHelper.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Refactor Trakt settings validation and add unit tests for rating and year filters
  src/NzbDrone.Core.Test/ImportListTests/Trakt/TraktValidationFixture.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktQueryHelper.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
Labels: none

Update src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Apply suggestions from code review
  src/NzbDrone.Core.Test/ImportListTests/Trakt/TraktValidationFixture.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
Labels: none

Fixed: ManualImport NRE when TrackedDownload.ImportItem is null
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

docs: note that issues must be filed via the web form (label requirement)
  CONTRIBUTING.md
Labels: none

Log debug when skipping post-import cleanup for missing OutputPath
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

docs: split Reporting Issues paragraph into scannable bullets
  CONTRIBUTING.md
Labels: none

show season titles when no sceneOrigin or mappedSeasonNumber is available
  frontend/src/Utilities/Series/filterAlternateTitles.ts
Labels: none

update logic
  frontend/src/Utilities/Series/filterAlternateTitles.ts
Labels: none

Update contributing information
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/no_autopilot.yml
  AGENTS.md
  CONTRIBUTING.md
Labels: none

add additional help text when removal options are disabled due to no association with a show
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

add downloadclient name to message (with fallback to standard `Download Client`)
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Parse releases with 3 digit season number
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Standardize Trakt Import List Settings
  src/NzbDrone.Core.Test/ImportListTests/Trakt/TraktValidationFixture.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktQueryHelper.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Allow Actions column to be reordered in tables
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/Blocklist/blocklistOptionsStore.ts
  frontend/src/Activity/History/historyOptionsStore.ts
  frontend/src/Activity/Queue/queueOptionsStore.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Components/Table/TableHeaderCell.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
  frontend/src/Episode/episodeOptionsStore.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/System/Events/eventOptionsStore.tsx
  frontend/src/Wanted/CutoffUnmet/cutoffUnmetOptionsStore.ts
  frontend/src/Wanted/Missing/missingOptionsStore.ts
Labels: none

Fix modals on iOS
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Modal/Modal.css.d.ts
  frontend/src/Components/Modal/Modal.tsx
Labels: none

Add v5 Delay Profile endpoints
  src/Sonarr.Api.V5/Profiles/Delay/DelayProfileController.cs
  src/Sonarr.Api.V5/Profiles/Delay/DelayProfileResource.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
