Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

New: Calculate custom score using renamed filename before importing
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/LocalEpisodeCustomFormatCalculationServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportRejectionReason.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/LocalEpisodeCustomFormatCalculationService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/UpgradeSpecification.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/UpdateMediaInfoService.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
Labels: parsing

Use react-query for General settings
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/General/AnalyticSettings.tsx
  frontend/src/Settings/General/BackupSettings.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/HostSettings.tsx
  frontend/src/Settings/General/LoggingSettings.tsx
  frontend/src/Settings/General/ProxySettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  frontend/src/Settings/General/UpdateSettings.tsx
  frontend/src/Settings/General/useGeneralSettings.ts
  frontend/src/Settings/General/useUpdateSettings.ts
  frontend/src/Store/Actions/Settings/general.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/System/Updates/Updates.tsx
Labels: none

Cleanup settings controllers
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsController.cs
  src/Sonarr.Api.V5/Settings/SettingsController.cs
  src/Sonarr.Api.V5/Settings/UiSettingsController.cs
  src/Sonarr.Api.V5/Settings/UpdateSettingsController.cs
  src/Sonarr.Api.V5/Settings/UpdateSettingsResource.cs
Labels: none

Add v5 General settings endpoints
  src/Sonarr.Api.V5/Settings/CertificateValidator.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
Labels: none

Clean up SignalRListener
  frontend/src/Components/SignalRListener.tsx
Labels: none

Add v5 Indexer endpoints
  src/Sonarr.Api.V5/Indexers/IndexerBulkResource.cs
  src/Sonarr.Api.V5/Indexers/IndexerController.cs
  src/Sonarr.Api.V5/Indexers/IndexerFlagController.cs
  src/Sonarr.Api.V5/Indexers/IndexerFlagResource.cs
  src/Sonarr.Api.V5/Indexers/IndexerResource.cs
Labels: none

Use react-query for Indexers
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Filter/Builder/IndexerFilterBuilderRowValue.tsx
  frontend/src/Components/Form/Select/IndexerSelectInput.tsx
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Settings/Indexers/IndexerSettings.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerItem.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerModal.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerPresetMenuItem.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModal.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Indexer.tsx
  frontend/src/Settings/Indexers/Indexers/Indexers.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/Indexers/useIndexers.ts
  frontend/src/Settings/Indexers/useManageIndexersOptionsStore.ts
  frontend/src/Settings/Notifications/Notifications/AddNotificationItem.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationPresetMenuItem.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModal.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Store/Actions/Settings/indexers.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/typings/Indexer.ts
Labels: none

New: Improve acceptable size rejection messaging for multi-episode releases
  src/NzbDrone.Core/DecisionEngine/Specifications/AcceptableSizeSpecification.cs
Labels: none

Bump lodash, qs, rimraf, html-webpack-plugin and webpack
  package.json
  yarn.lock
Labels: none

New: Improve parsing of releases with contain multiple titles
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

New: Add Original Country information
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Internationalization/getCountryCode.ts
  frontend/src/Internationalization/useCountryName.ts
  frontend/src/Language/useLanguageName.ts
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Index/Menus/SeriesIndexSortMenu.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/Series.ts
  frontend/src/Series/seriesOptionsStore.ts
  src/NzbDrone.Core/AutoTagging/Specifications/OriginalCountrySpecification.cs
  src/NzbDrone.Core/Datastore/Migration/227_original_country.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/ShowResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: connection, db-migration

Fixed: Consistent diacrital removal from clean titles
  src/NzbDrone.Common/Extensions/StringExtensions.cs
  src/NzbDrone.Common/Globalization/AdditionalDiacriticsProvider.cs
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/ParserTests/NormalizeSeriesTitleFixture.cs
  src/NzbDrone.Core/Datastore/Migration/163_mediainfo_to_ffmpeg.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: db-migration, parsing

Remove English limitation for aliases
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
Labels: none

New: Warning on add series list for Import list exclusions
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/AddSeries.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: none

New: Do not automatically import multi-season releases
  src/NzbDrone.Core.Test/MediaFiles/DownloadedEpisodesImportServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportDecisionMakerFixture.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportRejectionReason.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

New: Do not automatically import multi-season releases
  src/NzbDrone.Core.Test/MediaFiles/DownloadedEpisodesImportServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportDecisionMakerFixture.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportRejectionReason.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

New: Include External IDs for series with links
  frontend/src/Components/Link/ClipboardButton.css
  frontend/src/Components/Link/ClipboardButton.css.d.ts
  frontend/src/Components/Link/ClipboardButton.tsx
  frontend/src/Series/Details/SeriesDetailsLinks.css
  frontend/src/Series/Details/SeriesDetailsLinks.css.d.ts
  frontend/src/Series/Details/SeriesDetailsLinks.tsx
Labels: none

Changed from using IFailedDownloadService to IBlocklistService to avoid redownloading a release.
  src/NzbDrone.Core.Test/MediaFiles/DownloadedEpisodesImportServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
Labels: none

Indexer: HTML-decode RSS title at parse boundary
  src/NzbDrone.Core.Test/IndexerTests/BasicRssParserFixture.cs
  src/NzbDrone.Core/Indexers/RssParser.cs
Labels: indexer

New: Replace HTML Encoded values in release titles
  src/NzbDrone.Core.Test/Files/Indexers/encoded_title.xml
  src/NzbDrone.Core.Test/IndexerTests/BasicRssParserFixture.cs
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Indexers/RssParser.cs
Labels: indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump terser-webpack-plugin
  package.json
  yarn.lock
Labels: none

Remove postcss-url
  package.json
  yarn.lock
Labels: none

Bump Dapper, MailKit, Polly, Swashbuckle and NLog.Layouts.ClefJsonLayout
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump Dapper, MailKit, Polly, Swashbuckle and NLog.Layouts.ClefJsonLayout
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Remove postcss-url
  package.json
  yarn.lock
Labels: none

Bump terser-webpack-plugin
  package.json
  yarn.lock
Labels: none

New: Delete files for Select Series
  frontend/src/Commands/CommandNames.ts
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModal.tsx
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModalContent.css
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModalContent.css.d.ts
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModalContent.tsx
  frontend/src/Series/Index/Select/Delete/SeriesDeleteList.tsx
  frontend/src/Series/Index/Select/Delete/useSelectedSeriesStats.ts
  frontend/src/Series/Index/Select/SeriesIndexSelectFooter.tsx
  src/NzbDrone.Core.Test/MediaFiles/MediaFileDeletionService/DeleteEpisodeFileFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/Commands/DeleteSeriesFilesCommand.cs
  src/NzbDrone.Core/MediaFiles/MediaFileDeletionService.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileController.cs
  src/Sonarr.Api.V5/Queue/QueueActionController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
Labels: none

Fix import lists with null Trakt IDs
  src/NzbDrone.Core/ImportLists/Trakt/TraktAPI.cs
Labels: none

Improve validation and test skipping in v5 API
  frontend/src/Settings/useProviderSettings.ts
  src/Sonarr.Api.V5/Provider/ProviderControllerBase.cs
  src/Sonarr.Api.V5/Provider/SkipValidation.cs
Labels: none

Add v5 Indexer options endpoints
  src/Sonarr.Api.V5/Settings/IndexerSettingsController.cs
  src/Sonarr.Api.V5/Settings/IndexerSettingsResource.cs
Labels: none

Use react-query for Indexers Options
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Indexers/Options/IndexerOptions.tsx
  frontend/src/Settings/Indexers/Options/useIndexerSettings.ts
  frontend/src/Store/Actions/Settings/indexerOptions.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Settings/IndexerOptions.ts
Labels: none

Use react-query for Indexers Flags
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/Select/IndexerFlagsSelectInput.tsx
  frontend/src/Episode/IndexerFlags.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Settings/Indexers/useIndexerFlags.ts
  frontend/src/Store/Actions/Settings/indexerFlags.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createIndexerFlagsSelector.ts
  frontend/src/typings/IndexerFlag.ts
Labels: none

Improve scene mapping updating
  src/NzbDrone.Core.Test/DataAugmentation/Scene/SceneMappingServiceFixture.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMapping.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingRepository.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
  src/NzbDrone.Core/DataAugmentation/Xem/XemProxy.cs
  src/NzbDrone.Core/Datastore/Migration/230_add_mapping_id_to_scene_mappings.cs
Labels: db-migration

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
