Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

include network drive types in diskspace and sort all by path
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
Labels: none

use pattern matching and ignore case
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
Labels: none

allow user to define additional rejected extension types
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/typings/Settings/MediaManagement.ts
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Download/RejectedImportService.cs
  src/NzbDrone.Core/Indexers/FailDownloads.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportRejectionReason.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
Labels: indexer

build in null check for failing tests
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
Labels: none

Fixed: Handle null IMDb IDs in import list sync cleanup
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Add validation for media files and archive files
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigController.cs
Labels: none

Fixed: Hide separators when page toolbar shows all buttons on small screens
  frontend/src/Components/Page/Toolbar/PageToolbarSection.tsx
Labels: none

Add provider message as warning to users that Tribler integration is experimental.
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Escape backticks in discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

New: Update wording when removing a root folder
  frontend/src/RootFolder/RootFolderRow.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Prevent should refresh series from failing
  src/NzbDrone.Core/Tv/ShouldRefreshSeries.cs
Labels: none

Fixed: Trakt Import List authentication after 24 hours
  src/NzbDrone.Core/ImportLists/Trakt/TraktAPI.cs
Labels: none

Fixed: Bitrate showing as Megabytes instead of Megabits
  frontend/src/Utilities/Number/formatBitrate.ts
Labels: none

Added 'libicu72' as a required package for Debian install script
  distribution/debian/install.sh
Labels: none

Follow redirects for usenet grabs on non-prod builds
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

Fixed validation for Remote Path Mapping
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: none

Cleanup series title normalizer
  src/NzbDrone.Core.Test/TvTests/SeriesTitleNormalizerFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Tv/SeriesTitleNormalizer.cs
Labels: parsing

New: Rename Series Monitoring to Episode Monitoring
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
  frontend/src/Series/MonitoringOptions/MonitoringOptionsModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Map Swiss German to German
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Typings for iCal state options
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
Labels: none

Fix status for grabbed episodes part of grouped calendar events
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Episode/Episode.ts
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
Labels: none

Fixed: Quality sliders on some browsers
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.tsx
Labels: none

Fixed: Include network drive types in Disk Space
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
Labels: none

Fixed: Prevent series without IMDB ID from being removed erroneously
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Fixed: Buttons cutoff when page toolbar shows all buttons on smaller screens
  frontend/src/Components/Page/Toolbar/PageToolbarSection.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Trakt Import List authentication after 24 hours
  src/NzbDrone.Core/ImportLists/Trakt/TraktAPI.cs
Labels: none

Fixed: Prevent series without IMDB ID from being removed erroneously
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Bump version to 4.0.15
  .github/workflows/build.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Update token to be Sonarr specific for remove root folder message translation
  frontend/src/RootFolder/RootFolderRow.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Revert "Added 'libicu72' as a required package for Debian install script"
  distribution/debian/install.sh
Labels: none

Fixed: Redirect loop for removed basic auth method
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/UiAuthorizationPolicyProvider.cs
Labels: none

fix: select all on series import
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.tsx
  frontend/src/Store/Selectors/createExistingSeriesSelector.ts
  frontend/src/Store/Selectors/createImportSeriesAllSelectedSelector.ts
Labels: none

fix: prevent series synopsis from being cutoff
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

feat(api): pass multiple seriesIds in Rename API
  src/NzbDrone.Core/MediaFiles/MediaFileRepository.cs
  src/NzbDrone.Core/MediaFiles/MediaFileService.cs
  src/NzbDrone.Core/MediaFiles/RenameEpisodeFileService.cs
  src/NzbDrone.Core/Tv/EpisodeRepository.cs
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/Sonarr.Api.V3/Episodes/RenameEpisodeController.cs
Labels: none

Fixed: Deleting tags from UI
  frontend/src/Settings/Tags/Tag.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
