Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Interactive searches causing multiple requests to indexers
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
Labels: none

Fix description for API key as query parameter
  src/NzbDrone.Host/Startup.cs
Labels: none

Add 'includeSeries' and 'includeEpisodeFile' to Episode API endpoint
  src/Sonarr.Api.V3/Episodes/EpisodeController.cs
Labels: none

Fixed: Rejections for Custom Format score increment
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

Fixed: Adding Bluray 576p to some profiles
  src/NzbDrone.Core.Test/Datastore/Migration/214_add_bluray576p_in_profileFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/215_add_blurary576p_quality_in_profiles_with_grouped_blurary480pFixture.cs
  src/NzbDrone.Core/Datastore/Migration/214_fake_bluray576p.cs
  src/NzbDrone.Core/Datastore/Migration/215_add_blurary576p_quality_in_profiles_with_grouped_blurary480p.cs
Labels: db-migration

Fixed: Aggregating media files with 576p resolution
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateQualityFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Quality/AugmentQualityFromMediaInfoFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Quality/AugmentQualityFromMediaInfo.cs
  src/NzbDrone.Core/Qualities/QualityFinder.cs
Labels: none

Fixed: Reprocessing manual import items unable to detect sample
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

New: Fetch up to 1000 series from Plex Watchlist
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexListRequestGenerator.cs
Labels: none

Update src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

Fixed: Unable to login when instance name contained brackets
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

Fixed: Don't set last write time on episode files if difference is within the same second
  src/NzbDrone.Common/Extensions/DateTimeExtensions.cs
  src/NzbDrone.Core/MediaFiles/UpdateEpisodeFileService.cs
Labels: none

New: Persist sort in Select Episodes modal
  frontend/src/Store/Actions/episodeSelectionActions.js
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

New: Errors sending Telegram notifications when links aren't available
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
Labels: connection

Fixed: Loading series images after placeholder in Safari
  frontend/src/Series/SeriesImage.tsx
Labels: none

Fixed: Parsing of Hybrid-Remux
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Fixed: Sorting queue by columns
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
  src/Sonarr.Api.V3/History/HistoryController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Wanted/CutoffController.cs
  src/Sonarr.Api.V3/Wanted/MissingController.cs
Labels: none

Fixed: Telegram Log Message
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Fix translation for Custom Colon Replacement label
  frontend/src/Settings/MediaManagement/Naming/Naming.js
Labels: none

Display naming example errors when all fields are empty
  frontend/src/Settings/MediaManagement/Naming/NamingConnector.js
Labels: none

Fixed: Ignore '.DS_Store' and '.unmanic' when scanning for files
  src/NzbDrone.Core.Test/MediaFiles/DiskScanServiceTests/ScanFixture.cs
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
Labels: none

[DiskTransferService] WaitForIO after Copy/Move file
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Copy to clipboard in non-secure contexts
  frontend/src/Components/Link/ClipboardButton.tsx
  package.json
  yarn.lock
Labels: none

Use OperatingSystem class to get OS information
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

Fixed: Don't reject revision upgrades if profile doesn't allow upgrades
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeAllowedSpecificationFixture .cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Fixed: Ignore extra spaces in path when not running on Windows
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

New: Parse 'BEN THE MAN' release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Sorting queue by columns
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
  src/Sonarr.Api.V3/History/HistoryController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Wanted/CutoffController.cs
  src/Sonarr.Api.V3/Wanted/MissingController.cs
Labels: none

New: Errors sending Telegram notifications when links aren't available
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
Labels: connection

Fixed: Loading series images after placeholder in Safari
  frontend/src/Series/SeriesImage.tsx
Labels: none

Fixed: Parsing of Hybrid-Remux as Remux
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Fixed: Telegram log message including token
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Display naming example errors when all fields are empty
  frontend/src/Settings/MediaManagement/Naming/NamingConnector.js
Labels: none

Fix translation for Custom Colon Replacement label
  frontend/src/Settings/MediaManagement/Naming/Naming.js
Labels: none

New: Ignore '.DS_Store' and '.unmanic' files
  src/NzbDrone.Core.Test/MediaFiles/DiskScanServiceTests/ScanFixture.cs
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
Labels: none

Fixed: Don't reject revision upgrades if profile doesn't allow upgrades
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeAllowedSpecificationFixture .cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Fixed: Ignore extra spaces in path when not running on Windows
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
