Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

New: Option to skip free space check when grabbing
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/useMediaManagementSettings.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsResource.cs
Labels: none

rqbit: fix out path mapping
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/ListTorrentsWithStatsResponse.cs
Labels: download-client

Address review feedback on deferred path update
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
Labels: none

Fixed: rqbit output path mapping
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/ListTorrentsWithStatsResponse.cs
Labels: download-client

Fixed: Make tooltips keyboard accessible
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Tooltip/Tooltip.css
  frontend/src/Components/Tooltip/Tooltip.css.d.ts
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Fixed: Allow keyboard activation for check inputs
  frontend/src/Components/Form/CheckInput.tsx
Labels: none

Address second round of review feedback
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
Labels: none

Collapse UpdateSeries deferPathUpdate into a single boolean
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
Labels: none

fix: defer series path update in bulk editor until move completes
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
Labels: none

Fallback to name tag in media info stream titles for mp4
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Fixed: HTTP Basic Auth credentials with non-ASCII characters
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Fixed: Unexpected languages stored in DB will be treated as Unknown
  src/NzbDrone.Core/Datastore/Converters/LanguageIntConverter.cs
Labels: none

Fixed: Exclude streaming extensions for probing media info
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaFileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Fix malformed cookie test
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sv.json
Labels: none

Redesign add-series search
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Exclude streaming extensions for probing media info
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaFileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Fixed: Unexpected languages stored in DB will be treated as Unknown
  src/NzbDrone.Core/Datastore/Converters/LanguageIntConverter.cs
Labels: none

Fix malformed cookie test
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sv.json
Labels: none

Improve accessibility of series status indicators
  frontend/src/Series/Index/Table/SeriesStatusCell.tsx
Labels: none

New: Sorting Blocklist, History and Queue by Quality
  frontend/src/Activity/Blocklist/blocklistOptionsStore.ts
  frontend/src/Activity/History/historyOptionsStore.ts
  frontend/src/EpisodeFile/EpisodeFileQuality.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.tsx
  frontend/src/Wanted/CutoffUnmet/cutoffUnmetOptionsStore.ts
  src/NzbDrone.Core.Test/Profiles/Qualities/QualityProfileRankIntegrationFixture.cs
  src/NzbDrone.Core.Test/Profiles/Qualities/QualityProfileRankServiceFixture.cs
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/Datastore/Migration/233_quality_profile_quality_ranks.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/History/HistoryRepository.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileQualityRank.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileRankRepository.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileRankService.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/NzbDrone.Core/Tv/EpisodeRepository.cs
  src/Sonarr.Api.V5/Blocklist/BlocklistController.cs
  src/Sonarr.Api.V5/History/HistoryController.cs
  src/Sonarr.Api.V5/Queue/QueueController.cs
  src/Sonarr.Api.V5/Wanted/CutoffController.cs
Labels: db-migration

New: Option to skip free space check when grabbing
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/useMediaManagementSettings.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsResource.cs
Labels: none

Keyboard activation for check inputs
  frontend/src/Components/Form/CheckInput.tsx
Labels: none

Fallback to name tag in media info stream titles for mp4
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

HTTP Basic Auth credentials with non-ASCII characters
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/it.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/it.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Address review feedback on the add new series page
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Connecting to Jellyfin 12+
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
Labels: connection

Don't refetch interactive search results when switching tabs
  frontend/src/Episode/EpisodeDetailsModalContent.tsx
  frontend/src/InteractiveSearch/useReleases.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
Labels: none

Close modal after saving provider
  frontend/src/Settings/useProviderSettings.ts
Labels: none

Fixed: NullReferenceException in decision specs when episode file is missing
  src/NzbDrone.Core/DecisionEngine/Specifications/RepackSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DeletedEpisodeFileSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/ProperSpecification.cs
Labels: none

Fixed: Make manual import cells keyboard accessible
  frontend/src/Components/Table/Cells/TableRowCellButton.css
  frontend/src/Components/Table/Cells/TableRowCellButton.css.d.ts
  frontend/src/Components/Table/Cells/TableRowCellButton.tsx
Labels: none

Remove waiting-for-info label after correcting issues
  .github/workflows/label_invalid_issues.yml
Labels: none

Fixed: Compose manual import button cells correctly
  frontend/src/Components/Table/Cells/TableRowCellButton.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.css
Labels: none

New: Calendar date selector
  frontend/src/Calendar/Header/CalendarHeader.css
  frontend/src/Calendar/Header/CalendarHeader.css.d.ts
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Calendar/useCalendar.ts
  frontend/src/Components/DateInput.css
  frontend/src/Components/DateInput.css.d.ts
  frontend/src/Components/DateInput.tsx
  frontend/src/Utilities/browser.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Some more fixes
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/Components/HeartRating.css
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none
