Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

ignore a scene mapping season of -1 when mapping a season title
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

Update messaging for 'Allowed Hosts' and 'Trusted Networks'
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/General/HostSettings.js
  frontend/src/Settings/General/SecuritySettings.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/RuleBuilderExtensions.cs
Labels: none

Improve zip extraction
  src/NzbDrone.Common/ArchiveService.cs
Labels: none

New: Add hostname validation
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/HostSettings.tsx
  frontend/src/Settings/General/useGeneralSettings.ts
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core.Test/Configuration/AllowedHostsParserFixture.cs
  src/NzbDrone.Core.Test/HealthCheck/Checks/AllowedHostsCheckFixture.cs
  src/NzbDrone.Core/Configuration/AllowedHostsParser.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/AllowedHostsCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/RuleBuilderExtensions.cs
  src/NzbDrone.Host/ConfigureHostFilteringOptions.cs
  src/NzbDrone.Host/Startup.cs
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
Labels: none

New: Add Trusted Networks setting
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  frontend/src/Settings/General/useGeneralSettings.ts
  src/NzbDrone.Api.Test/Authentication/UiAuthorizationHandlerFixture.cs
  src/NzbDrone.Common.Test/NetworkTests/IPNetworkParserFixture.cs
  src/NzbDrone.Common/Network/IPNetworkParser.cs
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core.Test/HealthCheck/Checks/AllowedHostsCheckFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/IpValidation.cs
  src/NzbDrone.Host.Test/ForwardedHeadersConfiguratorFixture.cs
  src/NzbDrone.Host/ForwardedHeadersConfigurator.cs
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

New: Add Trusted Networks setting
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  frontend/src/Settings/General/useGeneralSettings.ts
  src/NzbDrone.Api.Test/Authentication/UiAuthorizationHandlerFixture.cs
  src/NzbDrone.Common.Test/NetworkTests/IPNetworkParserFixture.cs
  src/NzbDrone.Common/Network/IPNetworkParser.cs
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core.Test/HealthCheck/Checks/AllowedHostsCheckFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/IpValidation.cs
  src/NzbDrone.Host.Test/ForwardedHeadersConfiguratorFixture.cs
  src/NzbDrone.Host/ForwardedHeadersConfigurator.cs
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
  src/Sonarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: none

New: Add hostname validation
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/HostSettings.tsx
  frontend/src/Settings/General/useGeneralSettings.ts
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core.Test/Configuration/AllowedHostsParserFixture.cs
  src/NzbDrone.Core.Test/HealthCheck/Checks/AllowedHostsCheckFixture.cs
  src/NzbDrone.Core/Configuration/AllowedHostsParser.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/AllowedHostsCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/RuleBuilderExtensions.cs
  src/NzbDrone.Host/ConfigureHostFilteringOptions.cs
  src/NzbDrone.Host/Startup.cs
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
Labels: none

Improve zip extraction
  src/NzbDrone.Common/ArchiveService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

return a null season number for releases that dont name one
  frontend/src/InteractiveSearch/ReleaseSceneIndicator.tsx
  frontend/src/InteractiveSearch/useReleases.ts
  frontend/src/Parse/ParseModel.ts
  frontend/src/Parse/ParseResult.tsx
  src/NzbDrone.Common/Extensions/NullableExtensions.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonTitleParserFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
Labels: parsing

use a collection expression and ignore case when deduping season titles
  src/NzbDrone.Core/IndexerSearch/Definitions/AnimeSeasonSearchCriteria.cs
Labels: none

fix: address PR #8799 round-4 review feedback
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateSingleSeriesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/234_add_pending_path_to_series.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: db-migration

Fix allowed hosts check check on config file changes
  src/NzbDrone.Core/HealthCheck/Checks/AllowedHostsCheck.cs
Labels: none

Fixed: Importing single files from Freebox
  src/NzbDrone.Core.Test/Download/DownloadClientTests/FreeboxDownloadTests/TorrentFreeboxDownloadFixture.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
Labels: download-client

Improve restart required behavior
  frontend/src/Settings/General/GeneralSettings.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Set PooledConnectionLifetime to 30 minutes
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

New: Support for Polish tracker releases
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Preferred size comparison for multi-episode release
  src/NzbDrone.Core.Test/DecisionEngineTests/PrioritizeDownloadDecisionFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
Labels: none

Fix allowed hosts check check on config file changes
  src/NzbDrone.Core/HealthCheck/Checks/AllowedHostsCheck.cs
Labels: none

Fixed: Importing single files from Freebox
  src/NzbDrone.Core.Test/Download/DownloadClientTests/FreeboxDownloadTests/TorrentFreeboxDownloadFixture.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
Labels: download-client

Set PooledConnectionLifetime to 30 minutes
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Improve restart required behavior
  frontend/src/Settings/General/GeneralSettings.tsx
Labels: none

New: Support for Polish tracker releases
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Parsing file names with ambiguous episode numbering
  src/NzbDrone.Core.Test/ParserTests/PathParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParserCommon.cs
Labels: parsing

Fixed: Re-run allowed hosts health check when config updated
  src/NzbDrone.Core/HealthCheck/Checks/AllowedHostsCheck.cs
Labels: none

Fixed: Importing single files from Freebox
  src/NzbDrone.Core.Test/Download/DownloadClientTests/FreeboxDownloadTests/TorrentFreeboxDownloadFixture.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
Labels: download-client

Fixed: Improve logging for 'Allowed Hosts' and 'Trusted Networks'
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

Trim and drop empty entries when splitting host and network lists
  src/NzbDrone.Common/Network/IPNetworkParser.cs
  src/NzbDrone.Core/Configuration/AllowedHostsParser.cs
  src/NzbDrone.Host/ForwardedHeadersConfigurator.cs
Labels: none

Don't show Open Browser setting on unsupported setups
  frontend/src/Settings/General/HostSettings.tsx
Labels: none

Remove parser tests unrelated to the request generator change
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
Labels: none

Fixed: Blank page when selecting search suggestion on mobile
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
Labels: none

Cache nuget packages
  .github/actions/build/action.yml
Labels: none

Fixed: IPv6 Addresses for Download Clients
  src/NzbDrone.Common.Test/ExtensionTests/StringExtensionTests/UrlHostFixture.cs
  src/NzbDrone.Common.Test/Http/HttpRequestBuilderFixture.cs
  src/NzbDrone.Common/Extensions/StringExtensions.cs
  src/NzbDrone.Common/Http/HttpRequestBuilder.cs
  src/NzbDrone.Common/Http/HttpUri.cs
  src/NzbDrone.Core.Test/ValidationTests/ValidHostFixture.cs
  src/NzbDrone.Core/Configuration/AllowedHostsParser.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/Flood/FloodProxy.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortex.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/Nzbget.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Validation/RuleBuilderExtensions.cs
Labels: download-client

New: Parse Web release with EAC3 Audio as WEB-DL
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

search bare season titles as a plain search and keep the original grouping variables
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

Remove unused package references
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Don't skip health check if Allowed Hosts is set to *
  src/NzbDrone.Core.Test/HealthCheck/Checks/AllowedHostsCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/AllowedHostsCheck.cs
Labels: none
