Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fix DbLogger unregister
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
Labels: none

Bump FFMpegCore to 5.5.0 and FFprobe to 9.0.2
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

New: Add Irish language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Move null check into AddSeriesVariables with early return
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
Labels: connection

Add tests for CustomScript Manual Interaction Required with null series or download item
  src/NzbDrone.Core.Test/NotificationTests/CustomScript/OnManualInteractionRequiredFixture.cs
Labels: none

Moving from a string-based command execution to an argument-based command execution.
  src/NzbDrone.Common/Processes/ProcessProvider.cs
  src/NzbDrone.Common/ServiceProvider.cs
  src/NzbDrone.Core.Test/UpdateTests/UpdateServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Synology/SynologyIndexerProxy.cs
  src/NzbDrone.Core/Update/InstallUpdateService.cs
  src/NzbDrone.Host.Test/RouterTest.cs
  src/NzbDrone.Host/UtilityModeRouter.cs
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/NzbDrone.Update.Test/StartNzbDroneService.cs
  src/NzbDrone.Update/UpdateEngine/StartNzbDrone.cs
Labels: connection

Removing Escape() because it is no longer needed since arguments are now automatically escaped
  src/NzbDrone.Core/Notifications/Synology/SynologyIndexerProxy.cs
Labels: connection

Fixing a couple minor issues for tests
  src/NzbDrone.Core.Test/UpdateTests/UpdateServiceFixture.cs
  src/NzbDrone.Core/Update/InstallUpdateService.cs
Labels: none

Adding unit test coverage for a variety of possible command-line argument configurations
  src/NzbDrone.Common.Test/ProcessProviderFixture.cs
Labels: none

Bump Dapper, MailKit and Polly
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Remove System.Drawing.Common
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump Microsoft.AspNetCore.Authentication.OpenIdConnect to 10.0.12
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: none

Adding a few more CLI parsing tests
  src/NzbDrone.Common.Test/ProcessProviderFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Internal restart fixes
  src/NzbDrone.Common/ServiceFactory.cs
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
  src/NzbDrone.Core/Messaging/Events/EventAggregator.cs
Labels: none

Bump Dapper, MailKit and Polly
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump Microsoft.AspNetCore.Authentication.OpenIdConnect to 10.0.12
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: none

Bump FFMpegCore to 5.5.0 and FFprobe to 9.0.2
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Remove System.Drawing.Common
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Fixed: Manual Interaction Required Notifications for Unknown Series
  src/NzbDrone.Core.Test/NotificationTests/CustomScript/OnManualInteractionRequiredFixture.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

Replace react-dnd with dnd-kit
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css.d.ts
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
  frontend/src/Helpers/DragType.ts
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfile.css
  frontend/src/Settings/Profiles/Delay/DelayProfile.css.d.ts
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfiles.tsx
  frontend/src/Settings/Profiles/Profiles.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.tsx
  frontend/src/Settings/Profiles/Quality/qualityProfileItemFailures.ts
  frontend/src/Settings/Profiles/Quality/useQualityProfileDnd.ts
  package.json
  yarn.lock
Labels: none

v5 Add New Series
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/Components/HeartRating.css
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Move 'Test Parsing' and 'Manual Import' to menu on page header
  frontend/src/Components/Page/Header/PageHeader.module.css
  frontend/src/Components/Page/Header/PageHeader.tsx
  frontend/src/Components/Page/Header/PageHeaderToolsMenu.module.css
  frontend/src/Components/Page/Header/PageHeaderToolsMenu.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.module.css
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Series/Index/SeriesIndex.tsx
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Hide home until we have something to show
  frontend/src/App/AppRoutes.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
Labels: none

Replace react-dnd with dnd-kit
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css.d.ts
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
  frontend/src/Helpers/DragType.ts
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfile.css
  frontend/src/Settings/Profiles/Delay/DelayProfile.css.d.ts
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfiles.tsx
  frontend/src/Settings/Profiles/Profiles.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css.d.ts
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.tsx
  frontend/src/Settings/Profiles/Quality/qualityProfileItemFailures.ts
  frontend/src/Settings/Profiles/Quality/useQualityProfileDnd.ts
  package.json
  yarn.lock
Labels: none

v5 Add New Series
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/Components/HeartRating.css
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Hide home until we have something to show
  frontend/src/App/AppRoutes.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
Labels: none

New: Move 'Test Parsing' and 'Manual Import' to menu on page header
  frontend/src/Components/Page/Header/PageHeader.module.css
  frontend/src/Components/Page/Header/PageHeader.tsx
  frontend/src/Components/Page/Header/PageHeaderToolsMenu.module.css
  frontend/src/Components/Page/Header/PageHeaderToolsMenu.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.module.css
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Series/Index/SeriesIndex.tsx
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Virtualize Interactive Search results
  frontend/src/Components/Modal/ModalBody.tsx
  frontend/src/Episode/EpisodeDetailsModalContent.tsx
  frontend/src/Episode/Search/EpisodeSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearch.module.css
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.module.css
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchTableHeader.tsx
  frontend/src/InteractiveSearch/useReleases.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fix Deluge reconnection logic
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DelugeTests/DelugeFixture.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

Rename SECURITY.md to SECURITY.mds
  SECURITY.mds
Labels: none

Renaming test and removing comments.
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DelugeTests/DelugeFixture.cs
Labels: none

Resolve reviewer comments
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbParserBase.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbRequestGeneratorBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Improve Vite dev server support
  frontend/.eslintrc.cjs
  frontend/postcss.config.cjs
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Styles/Variables/dimensions.js
  frontend/tsconfig.json
  package.json
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Http.Test/Frontend/ViteDevServerFixture.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Sonarr.Http/Frontend/Mappers/ViteDevMapper.cs
  src/Sonarr.Http/Frontend/ViteDevServer.cs
  src/Sonarr.Http/Middleware/ViteDevMiddleware.cs
  vite.config.ts
Labels: none

Fix double border on path input with additional buttons
  frontend/src/Components/Form/PathInputInternal.tsx
Labels: none

Fix key spread warnings in AutoSuggestInput
  frontend/src/Components/Form/AutoSuggestInput.tsx
Labels: none

Use custom media breakpoints in CSS
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.module.css
  frontend/src/Calendar/Agenda/AgendaEvent.module.css
  frontend/src/Components/DescriptionList/DescriptionListItemDescription.module.css
  frontend/src/Components/DescriptionList/DescriptionListItemTitle.module.css
  frontend/src/Components/Form/FormRow.module.css
  frontend/src/Components/Modal/ModalFooter.module.css
  frontend/src/Series/Index/SeriesIndex.module.css
  frontend/src/Settings/MediaManagement/Naming/NamingModal.module.css
  frontend/src/Settings/Profiles/Delay/DelayProfile.module.css
  frontend/src/Settings/Profiles/Delay/DelayProfiles.module.css
  frontend/src/Settings/Quality/Definition/QualityDefinition.module.css
  frontend/src/Settings/Quality/Definition/QualityDefinitions.module.css
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
