Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fix log event details not closing
  frontend/src/System/Events/LogsTableRow.tsx
Labels: none

Convert Log Events to React Query
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/LogsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Components/Table/TablePager.tsx
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/Helpers/Hooks/usePage.ts
  frontend/src/Helpers/Hooks/usePagedApiQuery.ts
  frontend/src/Helpers/createPersist.ts
  frontend/src/Store/Actions/systemActions.js
  frontend/src/System/Events/LogsTable.tsx
  frontend/src/System/Events/LogsTableDetailsModal.tsx
  frontend/src/System/Events/eventOptionsStore.tsx
  frontend/src/System/Events/useEvents.ts
  frontend/src/Utilities/Fetch/fetchJson.ts
  frontend/src/Utilities/Fetch/getQueryPath.ts
  frontend/src/Utilities/Fetch/getQueryString.ts
  src/Sonarr.Api.V5/Logs/LogController.cs
  src/Sonarr.Api.V5/Logs/LogResource.cs
Labels: none

Upgrade 'eslint-plugin-react-hooks' to 5.2.0
  package.json
  yarn.lock
Labels: none

New: Truncate button text
  frontend/src/Components/Page/Toolbar/PageToolbarButton.css
  frontend/src/Components/Page/Toolbar/PageToolbarButton.tsx
Labels: none

Improve wrapping of text in sidebar
  frontend/src/Components/Page/Sidebar/PageSidebarItem.css
  frontend/src/Components/Page/Sidebar/PageSidebarItem.css.d.ts
  frontend/src/Components/Page/Sidebar/PageSidebarItem.tsx
Labels: none

Fixed: Improve rejected download handling
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

Align quality profile translations with Radarr
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Show Remove Failed option in torrent download clients
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.tsx
Labels: none

Fixed: Downloads failed for file contents will be removed from client
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
Labels: none

Bump SixLabors.ImageSharp, Dapper, MailKit, Polly and Npgsql
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
Labels: none

Fix uTorrent after stylecop upgrade
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
Labels: download-client

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
Labels: none

Bump SixLabors.ImageSharp, Dapper, MailKit, Polly and Npgsql
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Fix uTorrent after stylecop upgrade
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
Labels: download-client

Fixed: UI does not always reflect series being refreshed
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/createSeriesIndexItemSelector.ts
Labels: none

Cleanup
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
Labels: connection

Improvement: Pushcut notifications
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutPayload.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
Labels: connection

Settings for poster and links
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/NotificationMetadataLink.cs
  src/NzbDrone.Core/Notifications/NotificationMetadataLinkGenerator.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLinkPreviewOptions.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
Labels: connection

fixup! Settings for poster and links
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
Labels: connection

Convert Updates to React Query
  frontend/src/App/AppUpdatedModalContent.tsx
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Settings/General/useUpdateSettings.ts
  frontend/src/System/Updates/Updates.tsx
  frontend/src/System/Updates/useUpdates.ts
  src/Sonarr.Api.V5/Settings/UpdateSettingsController.cs
  src/Sonarr.Api.V5/Settings/UpdateSettingsResource.cs
  src/Sonarr.Api.V5/Update/UpdateController.cs
  src/Sonarr.Api.V5/Update/UpdateResource.cs
Labels: none

Improve RestController usage for non-ID based items
  src/Sonarr.Http/REST/RestController.cs
Labels: none

Fixed: Improve rejected download handling
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

Fixed: Downloads failed for file contents will be removed from client
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
Labels: none

Re-add repopulate reasons lost during TS conversion
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/Missing/Missing.tsx
Labels: none

Fixed: Unknown series slug redirecting back to home instad of error screen
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.tsx
  frontend/src/Series/Details/SeriesDetailsPage.tsx
Labels: none

Fix import typo for QualityProfileName
  frontend/src/Episode/Summary/EpisodeSummary.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fix various typos Found via `codespell -q 3 -S "./yarn.lock,./pnpm-lock.yaml,./src/NzbDrone.Core.Test,./src/NzbDrone.Core/Localization,./src/NzbDrone.Core/Parser/IsoLanguages.cs" -L abd,ect`
  src/NzbDrone.Common/Processes/ProcessProvider.cs
  src/NzbDrone.Core/Datastore/ExpressionVisitor.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/Responses/FreeboxDownloadTask.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemotePathMappingCheck.cs
Labels: download-client

Use floating UI for Tooltip
  frontend/src/Activity/Queue/QueueDetails.tsx
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Components/Tooltip/Tooltip.css
  frontend/src/Components/Tooltip/Tooltip.css.d.ts
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/Helpers/Hooks/useTheme.ts
  package.json
  yarn.lock
Labels: none

Use floating UI for Menu
  frontend/src/Components/Menu/Menu.tsx
Labels: none

Use floating UI for AutoSuggestInput
  frontend/src/Components/Form/AutoSuggestInput.tsx
Labels: none

Fix multi-select checkboxes not appearing
  frontend/src/Components/Form/Select/HintedSelectInputOption.tsx
Labels: none

Use floating UI for ImportSeriesSelectSeries
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
Labels: none

Use floading UI for EnhancedSelectInput
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: none

Remove react-popper
  package.json
  yarn.lock
Labels: none

Fixed: Inherit indexer, size and release group for marked as failed history
  src/NzbDrone.Core/History/EpisodeHistory.cs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

New: Display indexer in download failed details
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/typings/History.ts
Labels: none

Fixed: Spinning icon on toggling series monitoring
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
