Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

New: Parse 'BEN THE MAN' release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

[DiskTransferService] VerifyFile method with simple retry
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Convert FormInputButton to TypeScript
  frontend/src/Components/Form/FormInputButton.js
  frontend/src/Components/Form/FormInputButton.tsx
Labels: none

Check for NetBSD platform
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

Add new category for FL
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
Labels: indexer

Fixed: Manual importing to nested series folders
  src/NzbDrone.Core.Test/MediaFiles/EpisodeFileMovingServiceTests/MoveEpisodeFileFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeFileMovingService.cs
Labels: none

Fixed: Validate path on series update
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Fixed: Use Id from route and check for existence on provider update
  src/Sonarr.Api.V3/ProviderControllerBase.cs
Labels: none

Update src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

New: Use 307 redirect for requests missing URL Base
  src/Sonarr.Http/Middleware/UrlBaseMiddleware.cs
Labels: none

Fixed: Ignore free space check before grabbing if directory is missing
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Fixed: Clean paths for top level root folders
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Switch to debug log
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Inverse if w/ early return
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Fixed: Encoded unicode characters in Transmission torrent names
  src/NzbDrone.Common.Test/ExtensionTests/StringExtensionTests/ReplaceEncodedUnicodeCharactersFixture.cs
  src/NzbDrone.Common.Test/OsPathFixture.cs
  src/NzbDrone.Common/Extensions/StringExtensions.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: download-client

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Reordered Series Details, and split onto two rows (except for small screens)
  frontend/src/Series/Details/SeriesDetails.js
Labels: none

Convert Release Profiles to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.tsx
  frontend/src/Settings/Profiles/Profiles.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalConnector.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContentConnector.js
  frontend/src/Settings/Profiles/Release/ReleaseProfile.js
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.css
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.js
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfilesConnector.js
  frontend/src/typings/Settings/ReleaseProfile.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Use the first allowed quality for cutoff met rejection message with disabled upgrades
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

Update src/NzbDrone.Common/Disk/DiskTransferService.cs
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Update src/NzbDrone.Common/Disk/DiskTransferService.cs
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Recompare file size after import file if necessary
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Convert Release Profiles to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.tsx
  frontend/src/Settings/Profiles/Profiles.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalConnector.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContentConnector.js
  frontend/src/Settings/Profiles/Release/ReleaseProfile.js
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.css
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.js
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfilesConnector.js
  frontend/src/typings/Settings/ReleaseProfile.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Copy to clipboard in non-secure contexts
  frontend/src/Components/Link/ClipboardButton.tsx
  package.json
  yarn.lock
Labels: none

Fixed: Error updating providers with ID missing from JSON
  src/Sonarr.Api.V3/ProviderControllerBase.cs
Labels: none

Add new category for FL
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
Labels: indexer

Fixed: Validate path on series update
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Fixed: Manual importing to nested series folders
  src/NzbDrone.Core.Test/MediaFiles/EpisodeFileMovingServiceTests/MoveEpisodeFileFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeFileMovingService.cs
Labels: none

Fixed: Cleaning paths for top level root folders
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Use the first allowed quality for cutoff met rejection message with disabled upgrades
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

Fixed: Ignore free space check before grabbing if directory is missing
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

New: Use 307 redirect for requests missing URL Base
  src/Sonarr.Http/Middleware/UrlBaseMiddleware.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Convert FormInputButton to TypeScript
  frontend/src/Components/Form/FormInputButton.js
  frontend/src/Components/Form/FormInputButton.tsx
Labels: none

Convert Naming options to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/MediaManagement/MediaManagement.js
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingConnector.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingOption.js
  frontend/src/Settings/MediaManagement/Naming/NamingOption.tsx
  frontend/src/Settings/MediaManagement/Naming/TokenCase.ts
  frontend/src/Settings/MediaManagement/Naming/TokenSeparator.ts
  frontend/src/typings/Settings/NamingConfig.ts
  frontend/src/typings/Settings/NamingExample.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Filename examples specific for daily and anime naming
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: none

Filename examples specific for daily and anime naming
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: none
