Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fix parsing already imported items from download clients
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

switch test names to be lower case
  src/NzbDrone.Api.Test/v3/Config/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v5/Settings/CertificateValidatorTests.cs
  src/NzbDrone.Common.Test/Http/SslCertificateLoaderFixture.cs
Labels: none

New: Add TMDb Import Lists
  src/NzbDrone.Core/ImportLists/ImportListType.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountList.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverSort.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverSortOrder.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbLanguageOptionsConverter.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbCrewDepartment.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbAPI.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbImportBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbParserBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbRequestGeneratorBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbSettingsBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

refactor: remove sealed modifier from classes
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbLanguageOptionsConverter.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonSettings.cs
Labels: none

refactor: remove custom TMDb API Read Access Token support
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbImportBase.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbSettingsBase.cs
Labels: none

refactor: adjust order for hidden fields
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbSettingsBase.cs
Labels: none

refactor: rename all types/files containg TMDb to Tmdb internally
  src/NzbDrone.Core/ImportLists/ImportListType.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountList.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Account/TMDbAccountSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Discover/TMDbDiscoverSortOrder.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListParser.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountList.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountParser.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverParser.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSort.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSortOrder.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbLanguageOptionsConverter.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListParser.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbCrewDepartment.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonParser.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbAPI.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbImportBase.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbParserBase.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbRequestGeneratorBase.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbSettingsBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

refactor: apply Resource suffix to Token objects
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbAPI.cs
Labels: none

refactor: remove redundant query param
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbRequestGeneratorBase.cs
Labels: none

UI voodoo
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.tsx
Labels: none

refactor: remove initial capacity argument
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListImport.cs
Labels: none

refactor: remove handling/validation of JWT claims
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbAPI.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbImportBase.cs
Labels: none

fix: adjust json property name to match with returned content
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbAPI.cs
Labels: none

refactor: use enum type to define valid language options
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbLanguageOptionsConverter.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbLanguage.cs
Labels: none

refactor: remove 'Adult' query option
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
Labels: none

chore: add/update english translations
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountList.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountListType.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSort.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSortOrder.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSortOrderType.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSortType.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbCrewDepartment.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonParser.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbCrewDepartmentType.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbSettingsBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

refactor: do not use source generated regex
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
Labels: none

refactor: move request builder initialization to derived type
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbRequestGeneratorBase.cs
Labels: none

refactor: move 'MaxPages' out of settings base type, and into request generator types.
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Account/TmdbAccountRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbRequestGeneratorBase.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbSettingsBase.cs
Labels: none

refactor: move sonarr token resource objects to 'TmdbTokenResources.cs'
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbAPI.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbTokenResources.cs
Labels: none

refactor: adjust naming/translations
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonParser.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Person/TmdbPersonSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbCrewDepartmentType.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbDepartmentType.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

refactor: use static global STJson for JSON deserialization
  src/NzbDrone.Core/ImportLists/Tmdb/List/TmdbListImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbAPI.cs
  src/NzbDrone.Core/ImportLists/Tmdb/TmdbImportBase.cs
Labels: none

chore: move enum value 'Tmdb' before 'Other'
  src/NzbDrone.Core/ImportLists/ImportListType.cs
Labels: none

feat: add option to filter by tv network
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

refactor: remove comma on last entry
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSortType.cs
Labels: none

chore: add valid range in help text
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

feat: add filtering by min/max air dates
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

refactor: max wording consistent with 'Air Date' min/max
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

feat: add genre filtering in Discover list type
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverGenreType.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

chore: add validation to air date min/max entries
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
Labels: none

refactor: mark VoteCountMinimum as advanced property
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
Labels: none

refactor: merge sorting enum types
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverImport.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSettings.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSortByType.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSortOrderType.cs
  src/NzbDrone.Core/ImportLists/Tmdb/Discover/TmdbDiscoverSortType.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Differentiate Repack and Proper quality token
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

Fixed: Exclude known titles from release title custom formats
  src/NzbDrone.Core.Test/CustomFormats/CustomFormatCalculationServiceFixture.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatInput.cs
  src/NzbDrone.Core/CustomFormats/Specifications/ReleaseTitleSpecification.cs
Labels: none

New: Add no preference delay profile option
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.tsx
  frontend/src/Settings/Profiles/Delay/useDelayProfiles.ts
  frontend/src/Settings/Tags/Details/TagDetailsDelayProfile.tsx
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/DelaySpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Preserve subtitle suffixes when renaming
  src/NzbDrone.Core.Test/Extras/Subtitles/SubtitleServiceFixture.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
Labels: none

New: Add MDBList import lists
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.tsx
  src/NzbDrone.Core.Test/Files/mdblist_direct_list.json
  src/NzbDrone.Core.Test/Files/mdblist_list_items.json
  src/NzbDrone.Core.Test/ImportListTests/MDBList/MDBListParserFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/MDBList/MDBListRequestGeneratorFixture.cs
  src/NzbDrone.Core/ImportLists/HttpImportListBase.cs
  src/NzbDrone.Core/ImportLists/ImportListType.cs
  src/NzbDrone.Core/ImportLists/MDBList/MDBListAPI.cs
  src/NzbDrone.Core/ImportLists/MDBList/MDBListImport.cs
  src/NzbDrone.Core/ImportLists/MDBList/MDBListParser.cs
  src/NzbDrone.Core/ImportLists/MDBList/MDBListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/MDBList/MDBListSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fix parsing Celdra as release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: parsing

Fix log message for MinCustomFormatScore rejection
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Add experimental series edition support
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/addSeriesOptionsStore.ts
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/Select/SeriesEditionSelectInput.tsx
  frontend/src/Helpers/Props/inputTypes.ts
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Series.ts
  frontend/src/Utilities/Series/getNewSeries.ts
  frontend/src/Utilities/Series/seriesEditions.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/SeriesEditionSpecificationFixture.cs
  src/NzbDrone.Core.Test/TvTests/AddSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesEditionsFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesRepositoryTests/SeriesRepositoryFixture.cs
  src/NzbDrone.Core/Datastore/Migration/231_add_series_edition.cs
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/SeriesEditionSpecification.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Core/Tv/AddSeriesService.cs
  src/NzbDrone.Core/Tv/RefreshEpisodeService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/NzbDrone.Core/Tv/SeriesEditions.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/NzbDrone.Core/Validation/Paths/SeriesExistsValidator.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: db-migration, parsing
