Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Clean up pending changes and fix OAuth on an existing import list
  frontend/src/Helpers/Hooks/usePendingChangesStore.ts
  frontend/src/Helpers/Hooks/usePendingFieldsStore.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Settings/useSettings.ts
Labels: none

fix: address PR #8799 round-5 review feedback
  frontend/src/Series/Series.ts
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/ClearStalePendingPathFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateSingleSeriesFixture.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesFixture.cs
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
Labels: none

Fix series mapping by relative base folder name
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

fixup! Fixed: Pagination for Trakt import lists
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktRequestGeneratorBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
Labels: none

fixup! Fixed: Pagination for Trakt import lists
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktRequestGeneratorBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
Labels: none

New: Reject releases with different external Ids
  src/NzbDrone.Core/DecisionEngine/Specifications/ExternalIdsSpecification.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: BroadcasTheNet searches for three digit episode numbers
  src/NzbDrone.Core.Test/IndexerTests/BroadcastheNetTests/BroadcastheNetRequestGeneratorFixture.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetRequestGenerator.cs
Labels: indexer

Fixed: Improve logging for 'Allowed Hosts' and 'Trusted Networks'
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

Trim and drop empty entries when splitting host and network lists
  src/NzbDrone.Common/Network/IPNetworkParser.cs
  src/NzbDrone.Core/Configuration/AllowedHostsParser.cs
  src/NzbDrone.Host/ForwardedHeadersConfigurator.cs
Labels: none

Don't show Open Browser setting on unsupported setups
  frontend/src/Settings/General/HostSettings.tsx
Labels: none

Cache nuget packages
  .github/actions/build/action.yml
Labels: none

Fixed: IPv6 Addresses for Download Clients
  src/NzbDrone.Common.Test/ExtensionTests/StringExtensionTests/UrlHostFixture.cs
  src/NzbDrone.Common.Test/Http/HttpRequestBuilderFixture.cs
  src/NzbDrone.Common/Extensions/StringExtensions.cs
  src/NzbDrone.Common/Http/HttpRequestBuilder.cs
  src/NzbDrone.Common/Http/HttpUri.cs
  src/NzbDrone.Core.Test/ValidationTests/ValidHostFixture.cs
  src/NzbDrone.Core/Configuration/AllowedHostsParser.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/Flood/FloodProxy.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortex.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/Nzbget.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Validation/RuleBuilderExtensions.cs
Labels: download-client

New: Parse Web release with EAC3 Audio as WEB-DL
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Remove unused package references
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Don't skip health check if Allowed Hosts is set to *
  src/NzbDrone.Core.Test/HealthCheck/Checks/AllowedHostsCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/AllowedHostsCheck.cs
Labels: none

Clean up pending changes and fix OAuth on an existing import list
  frontend/src/Helpers/Hooks/usePendingChangesStore.ts
  frontend/src/Helpers/Hooks/usePendingFieldsStore.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Settings/useSettings.ts
Labels: none

Fixed: Series mapping by relative base folder name during Manual Import
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Fixed: Pagination for Trakt import lists
  src/NzbDrone.Core.Test/ImportListTests/Trakt/TraktListRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/Trakt/TraktUserRequestGeneratorFixture.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularParser.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktImportBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktQueryHelper.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktRequestGeneratorBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
Labels: none

Restore auto width behavior from previous FontAwesome versions
  frontend/src/Components/Icon.tsx
  package.json
  yarn.lock
Labels: none

track full season range for multi-season packs
  src/NzbDrone.Core.Test/Datastore/Converters/EmbeddedDocumentConverterFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/MultiSeasonSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

simplify condition
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Log warning if hardlinking failed and fallbacks to copy
  src/NzbDrone.Common.Test/DiskTests/DiskTransferServiceFixture.cs
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Use collections, reorder fields
  src/NzbDrone.Core.Test/Datastore/Converters/EmbeddedDocumentConverterFixture.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: File air date being updated every refresh
  src/NzbDrone.Common/Extensions/DateTimeExtensions.cs
  src/NzbDrone.Core.Test/MediaFiles/UpdateEpisodeFileServiceTests/ChangeFileDateForFileFixture.cs
  src/NzbDrone.Core/MediaFiles/UpdateEpisodeFileService.cs
Labels: none

Fixed: Build file date tests on .NET 6
  src/NzbDrone.Core.Test/MediaFiles/UpdateEpisodeFileServiceTests/ChangeFileDateForFileFixture.cs
Labels: none

fix: address PR #8799 round-6 review feedback
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
Labels: none

Add missing content types to v5 API
  src/Sonarr.Api.V5/Blocklist/BlocklistController.cs
  src/Sonarr.Api.V5/FileSystem/FileSystemController.cs
  src/Sonarr.Api.V5/FileSystem/FileSystemMediaFileResource.cs
  src/Sonarr.Api.V5/FileSystem/FileSystemTypeResource.cs
  src/Sonarr.Api.V5/Logs/LogFileControllerBase.cs
  src/Sonarr.Api.V5/Profiles/Delay/DelayProfileController.cs
  src/Sonarr.Api.V5/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V5/RemotePathMappings/RemotePathMappingController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesFolderController.cs
  src/Sonarr.Api.V5/Series/SeriesFolderResource.cs
  src/Sonarr.Api.V5/System/Backup/BackupController.cs
  src/Sonarr.Api.V5/System/Backup/BackupRestoreErrorResource.cs
  src/Sonarr.Api.V5/System/Backup/BackupRestoreResource.cs
  src/Sonarr.Api.V5/System/SystemController.cs
  src/Sonarr.Api.V5/System/SystemRestartResource.cs
  src/Sonarr.Api.V5/System/SystemShutdownResource.cs
  src/Sonarr.Http/ApiInfoController.cs
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Frontend/InitializeJsonController.cs
  src/Sonarr.Http/Ping/PingController.cs
Labels: none

Update help text for Allowed Hosts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Bump .NET to 10.0.12
  global.json
  src/Directory.Build.props
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
Labels: none

New: Move 'Test Parsing' and 'Manual Import' to menu on page header
  frontend/src/Components/Page/Header/PageHeader.module.css
  frontend/src/Components/Page/Header/PageHeader.tsx
  frontend/src/Components/Page/Header/PageHeaderToolsMenu.module.css
  frontend/src/Components/Page/Header/PageHeaderToolsMenu.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.module.css
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Series/Index/SeriesIndex.tsx
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Fixed: Don't cache media covers that aren't downloaded
  src/NzbDrone.Core.Test/MediaCoverTests/MediaCoverServiceFixture.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/Sonarr.Http/Middleware/CacheableSpecification.cs
Labels: none

Add v5 MediaCoverController
  src/Sonarr.Api.V5/MediaCovers/MediaCoverController.cs
Labels: none

Update src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
Labels: parsing

Fixed: Parsing of multi-episode releases with anime-style release group
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Create main.yml
  .github/workflows/main.yml
Labels: none

Update main.yml
  .github/workflows/main.yml
Labels: none

Reset loaded state for series images when URL changes
  frontend/src/Series/SeriesImage.tsx
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
