Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fix height of tags in tag inputs
  frontend/src/Components/Form/TagInputTag.css
Labels: none

New: Add TVMaze and TMDB IDs to Kodi .nfo (#7011)
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Don't hash files in development builds
  frontend/build/webpack.config.js
Labels: none

Fixed: Interactive Import dropdown width on mobile
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.css
Labels: none

Include available version in update health check
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Parse Chinese Anime that separates titles with vertical bar
  src/NzbDrone.Core.Test/ParserTests/UnicodeReleaseParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Convert Queue to TypeScript
  frontend/src/Activity/Queue/ProtocolLabel.css
  frontend/src/Activity/Queue/ProtocolLabel.css.d.ts
  frontend/src/Activity/Queue/ProtocolLabel.js
  frontend/src/Activity/Queue/ProtocolLabel.tsx
  frontend/src/Activity/Queue/Queue.js
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueConnector.js
  frontend/src/Activity/Queue/QueueDetails.tsx
  frontend/src/Activity/Queue/QueueOptions.js
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/Activity/Queue/QueueOptionsConnector.js
  frontend/src/Activity/Queue/QueueRow.js
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/Activity/Queue/QueueRowConnector.js
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Activity/Queue/QueueStatusCell.js
  frontend/src/Activity/Queue/QueueStatusCell.tsx
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  frontend/src/Activity/Queue/Status/QueueStatus.tsx
  frontend/src/Activity/Queue/Status/QueueStatusConnector.js
  frontend/src/Activity/Queue/Status/createQueueStatusSelector.ts
  frontend/src/Activity/Queue/TimeleftCell.tsx
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/QueueAppState.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Episode/useEpisode.ts
  frontend/src/Helpers/Props/TooltipPosition.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Table/SeasonsCell.tsx
  frontend/src/Utilities/Date/getRelativeDate.ts
  frontend/src/typings/Queue.ts
Labels: none

Convert Blocklist to TypeScript
  frontend/src/Activity/Blocklist/Blocklist.js
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/Blocklist/BlocklistConnector.js
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.js
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.tsx
  frontend/src/Activity/Blocklist/BlocklistRow.js
  frontend/src/Activity/Blocklist/BlocklistRow.tsx
  frontend/src/Activity/Blocklist/BlocklistRowConnector.js
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/BlocklistAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Components/Table/usePaging.ts
  frontend/src/DownloadClient/DownloadProtocol.ts
  frontend/src/Helpers/Hooks/useCurrentPage.ts
  frontend/src/Series/useSeries.ts
  frontend/src/Store/Actions/blocklistActions.js
  frontend/src/typings/Blocklist.ts
  frontend/src/typings/Table.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Convert App to TypeScript
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/AppUpdatedModal.js
  frontend/src/App/AppUpdatedModal.tsx
  frontend/src/App/AppUpdatedModalConnector.js
  frontend/src/App/AppUpdatedModalContent.js
  frontend/src/App/AppUpdatedModalContent.tsx
  frontend/src/App/AppUpdatedModalContentConnector.js
  frontend/src/App/ApplyTheme.tsx
  frontend/src/App/ColorImpairedContext.ts
  frontend/src/App/ConnectionLostModal.tsx
  frontend/src/App/ConnectionLostModalConnector.js
  frontend/src/App/State/AppState.ts
  frontend/src/Components/Page/Page.js
  frontend/src/System/Updates/Updates.tsx
  frontend/src/typings/Update.ts
  package.json
  yarn.lock
Labels: none

Convert App to TypeScript
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/AppUpdatedModal.js
  frontend/src/App/AppUpdatedModal.tsx
  frontend/src/App/AppUpdatedModalConnector.js
  frontend/src/App/AppUpdatedModalContent.js
  frontend/src/App/AppUpdatedModalContent.tsx
  frontend/src/App/AppUpdatedModalContentConnector.js
  frontend/src/App/ApplyTheme.tsx
  frontend/src/App/ColorImpairedContext.ts
  frontend/src/App/ConnectionLostModal.tsx
  frontend/src/App/ConnectionLostModalConnector.js
  frontend/src/App/State/AppState.ts
  frontend/src/Components/Page/Page.js
  frontend/src/System/Updates/Updates.tsx
  frontend/src/typings/Update.ts
  package.json
  yarn.lock
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Convert System to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Components/Table/Column.ts
  frontend/src/System/Status/About/About.js
  frontend/src/System/Status/About/About.tsx
  frontend/src/System/Status/About/AboutConnector.js
  frontend/src/System/Status/About/StartTime.js
  frontend/src/System/Status/About/StartTime.tsx
  frontend/src/System/Status/DiskSpace/DiskSpace.js
  frontend/src/System/Status/DiskSpace/DiskSpace.tsx
  frontend/src/System/Status/DiskSpace/DiskSpaceConnector.js
  frontend/src/System/Status/Health/Health.js
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Status/Health/HealthConnector.js
  frontend/src/System/Status/Health/HealthItemLink.tsx
  frontend/src/System/Status/Health/HealthStatus.tsx
  frontend/src/System/Status/Health/HealthStatusConnector.js
  frontend/src/System/Status/Health/createHealthSelector.ts
  frontend/src/System/Status/MoreInfo/MoreInfo.js
  frontend/src/System/Status/MoreInfo/MoreInfo.tsx
  frontend/src/System/Status/Status.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.js
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRowConnector.js
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.js
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTasksConnector.js
  frontend/src/System/Tasks/Tasks.tsx
  frontend/src/typings/DiskSpace.ts
  frontend/src/typings/Health.ts
  frontend/src/typings/SystemStatus.ts
  frontend/src/typings/Task.ts
Labels: none

Convert System to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Components/Table/Column.ts
  frontend/src/System/Status/About/About.js
  frontend/src/System/Status/About/About.tsx
  frontend/src/System/Status/About/AboutConnector.js
  frontend/src/System/Status/About/StartTime.js
  frontend/src/System/Status/About/StartTime.tsx
  frontend/src/System/Status/DiskSpace/DiskSpace.js
  frontend/src/System/Status/DiskSpace/DiskSpace.tsx
  frontend/src/System/Status/DiskSpace/DiskSpaceConnector.js
  frontend/src/System/Status/Health/Health.js
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Status/Health/HealthConnector.js
  frontend/src/System/Status/Health/HealthItemLink.tsx
  frontend/src/System/Status/Health/HealthStatus.tsx
  frontend/src/System/Status/Health/HealthStatusConnector.js
  frontend/src/System/Status/Health/createHealthSelector.ts
  frontend/src/System/Status/MoreInfo/MoreInfo.js
  frontend/src/System/Status/MoreInfo/MoreInfo.tsx
  frontend/src/System/Status/Status.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.js
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRowConnector.js
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.js
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTasksConnector.js
  frontend/src/System/Tasks/Tasks.tsx
  frontend/src/typings/DiskSpace.ts
  frontend/src/typings/Health.ts
  frontend/src/typings/SystemStatus.ts
  frontend/src/typings/Task.ts
Labels: none

Fixed: Allow leading/trailing spaces on non-Windows
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

New: Title filter for Series Index
  frontend/src/Store/Actions/seriesActions.js
Labels: none

New: Return downloading magnets from Transmission
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: download-client

New: Add metadata links to telegram messages
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

Cleanup and multiple links
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLink.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

fixup! New: Return downloading magnets from Transmission
  src/NzbDrone.Core.Test/Download/DownloadClientTests/VuzeTests/VuzeFixture.cs
Labels: none

Fixed: Import with copy from download clients with remove completed disabled
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportApprovedEpisodesFixture.cs
  src/NzbDrone.Core/Download/DownloadClientItem.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

fix page size in activity
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/History/History.tsx
  frontend/src/Activity/Queue/Queue.tsx
Labels: none

Fixed: Setting page size in Queue, History and Blocklist
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/History/History.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueOptions.tsx
Labels: none

Update React Lint rules for TSX
  frontend/.eslintrc.js
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/Components/Error/ErrorBoundaryError.tsx
  frontend/src/Episode/EpisodeNumber.tsx
  frontend/src/Helpers/Hooks/useModalOpenState.ts
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/InteractiveImport/Language/SelectLanguageModal.tsx
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
  frontend/src/InteractiveSearch/OverrideMatch/DownloadClient/SelectDownloadClientModal.tsx
  frontend/src/Parse/ParseToolbarButton.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Series/Index/Table/SeriesIndexTable.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableOptions.tsx
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/System/Status/About/About.tsx
  frontend/src/System/Updates/Updates.tsx
Labels: none

Fixed: Persist indexer flags when manual importing failed imports from queue
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Fixed: Allow leading/trailing spaces on non-Windows
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

New: Title filter for Series Index
  frontend/src/Store/Actions/seriesActions.js
Labels: none

New: Add metadata links to telegram messages
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLink.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

New: Return downloading magnets from Transmission
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/VuzeTests/VuzeFixture.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: download-client

Fixed: Moving files for torrents when Remove Completed is disabled
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportApprovedEpisodesFixture.cs
  src/NzbDrone.Core/Download/DownloadClientItem.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
Labels: none

Update React Lint rules for TSX
  frontend/.eslintrc.js
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/Components/Error/ErrorBoundaryError.tsx
  frontend/src/Episode/EpisodeNumber.tsx
  frontend/src/Helpers/Hooks/useModalOpenState.ts
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/InteractiveImport/Language/SelectLanguageModal.tsx
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
  frontend/src/InteractiveSearch/OverrideMatch/DownloadClient/SelectDownloadClientModal.tsx
  frontend/src/Parse/ParseToolbarButton.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Series/Index/Table/SeriesIndexTable.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableOptions.tsx
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/System/Status/About/About.tsx
  frontend/src/System/Updates/Updates.tsx
Labels: none

Fixed: Setting page size in Queue, History and Blocklist
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/History/History.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueOptions.tsx
Labels: none

Fixed: Persist Indexer Flags when manual importing from queue
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Fixed: Persist indexer flags for automatic imports
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Fixed: Moving files on import for usenet clients
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportApprovedEpisodesFixture.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
Labels: download-client

Improve messaging for for Send Notifications setting in Emby / Jellyfin
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
Labels: connection

New: Default log level changed to debug
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

New: Display build version in header
  frontend/src/Components/Page/Header/PageHeader.css
  frontend/src/Components/Page/Header/PageHeader.css.d.ts
  frontend/src/Components/Page/Header/PageHeader.js
  frontend/src/Components/Page/Page.js
  frontend/src/Components/Page/PageConnector.js
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
