Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fix 'All' filter for calendar page
  frontend/src/Calendar/useCalendar.ts
Labels: none

Fix series ending year on details page
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Series.ts
Labels: none

Bump Microsoft.AspNetCore.Cryptography.KeyDerivation to 10.0.6
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Fix getting series by TVDB ID from v5 API
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none

Auto close stale Draft PRs
  .github/workflows/close_stale_draft_prs.yml
Labels: none

Add useCombinedRefs hook
  frontend/src/Helpers/Hooks/useCombinedRefs.ts
Labels: none

New: Ensure housekeeping task doesn't run while other tasks are running
  src/NzbDrone.Core/Housekeeping/HousekeepingCommand.cs
Labels: none

Fixed queue details counter
  frontend/src/Activity/Queue/Details/QueueDetailsProvider.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/CalendarMissingEpisodeSearchButton.tsx
  frontend/src/typings/Queue.ts
Labels: none

Fix episode air date column styling in queue
  frontend/src/Activity/Queue/QueueRow.tsx
Labels: none

Fix loading Map objects on older browsers
  frontend/src/polyfills.js
Labels: none

Fixed: Don't throw error on pushed released with empty indexer and download client ids
  src/NzbDrone.Core/Download/DownloadClientFactory.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
Labels: indexer

Clarify useScrollPosition comment
  frontend/src/Helpers/Hooks/useScrollPosition.ts
Labels: none

Fix toggle monitored for seasons
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none

Bump .NET to 10.0.7
  global.json
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
Labels: none

Display 'None' for empty subtitles streams
  frontend/src/Episode/Summary/MediaInfo.tsx
Labels: none

Add OnDownloadComplete notification event
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.tsx
  frontend/src/Settings/Notifications/useConnections.ts
  src/NzbDrone.Core.Test/NotificationTests/NotificationBaseFixture.cs
  src/NzbDrone.Core/Datastore/Migration/231_add_on_download_complete_to_notifications.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/DownloadClientItemCompletedEvent.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/DownloadCompleteMessage.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/INotification.cs
  src/NzbDrone.Core/Notifications/Join/Join.cs
  src/NzbDrone.Core/Notifications/Mailgun/Mailgun.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/NotificationBase.cs
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Ntfy/Ntfy.cs
  src/NzbDrone.Core/Notifications/Prowl/Prowl.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBullet.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushover/Pushover.cs
  src/NzbDrone.Core/Notifications/SendGrid/SendGrid.cs
  src/NzbDrone.Core/Notifications/Signal/Signal.cs
  src/NzbDrone.Core/Notifications/Simplepush/Simplepush.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Twitter/Twitter.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookDownloadCompletePayload.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEventType.cs
  src/NzbDrone.Core/Notifications/Xbmc/Xbmc.cs
  src/Sonarr.Api.V3/Notifications/NotificationResource.cs
Labels: connection, db-migration

New: Filter series by episode release types
  frontend/src/Components/Filter/Builder/FilterBuilderRow.tsx
  frontend/src/Components/Filter/Builder/ReleaseTypeFilterBuilderRowValue.tsx
  frontend/src/Helpers/Props/filterBuilderValueTypes.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/Series.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Series/useSeries.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/SeriesStats/SeasonStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsService.cs
  src/Sonarr.Api.V5/Series/SeasonStatisticsResource.cs
  src/Sonarr.Api.V5/Series/SeriesStatisticsResource.cs
Labels: none

Reuse stable waiting tracked downloads
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Assert tracked download state in reuse tests
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
Labels: none

Produce distinct values in aggregated series stats from Postgres
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
Labels: none

Only reuse healthy waiting tracked downloads
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Refresh tracked downloads on edit events
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Prevent duplicated items in state on create
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/Commands/useCommands.ts
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/RootFolder/useRootFolders.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Tags/useTags.ts
Labels: none

Wrap bulk UpdateMany/SetFields in a transaction
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

Comment on PRs that target the wrong branch
  .github/workflows/wrong_base_branch.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Bump .NET to 10.0.7
  global.json
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
Labels: none

Display 'None' for empty subtitles streams
  frontend/src/Episode/Summary/MediaInfo.tsx
Labels: none

Default to `und` for audio streams with no language tag
  frontend/src/Episode/Summary/MediaInfo.tsx
  src/NzbDrone.Core.Test/Datastore/Migration/225_mediainfo_multiple_streamsFixture.cs
  src/NzbDrone.Core/Datastore/Migration/225_mediainfo_multiple_streams.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: db-migration

Fix episode air date column styling in queue
  frontend/src/Activity/Queue/QueueRow.tsx
Labels: none

Fixed queue details counter
  frontend/src/Activity/Queue/Details/QueueDetailsProvider.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/CalendarMissingEpisodeSearchButton.tsx
  frontend/src/typings/Queue.ts
Labels: none

Fix loading Map objects on older browsers
  frontend/src/polyfills.js
Labels: none

Fixed: Scroll position not reset when navigating on small screens
  frontend/src/Components/Page/PageContentBody.tsx
  frontend/src/Components/withScrollPosition.tsx
  frontend/src/Helpers/Hooks/useScrollPosition.ts
  frontend/src/Series/Index/SeriesIndex.tsx
Labels: none

Auto close stale Draft PRs
  .github/workflows/close_stale_draft_prs.yml
Labels: none

Add useCombinedRefs hook
  frontend/src/Helpers/Hooks/useCombinedRefs.ts
Labels: none

New: Ensure housekeeping task doesn't run while other tasks are running
  src/NzbDrone.Core/Housekeeping/HousekeepingCommand.cs
Labels: none

Don't throw error on pushed releases with empty indexer or download client IDs
  src/NzbDrone.Core/Download/DownloadClientFactory.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
Labels: indexer

Wrap bulk UpdateMany/SetFields in a transaction
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

Fix toggle monitored for seasons
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none
