Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: Don't parse language from series title for v2 releases
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Refresh tags after updating autotags
  src/NzbDrone.Core/AutoTagging/AutoTaggingService.cs
  src/NzbDrone.Core/AutoTagging/AutoTagsUpdatedEvent.cs
  src/Sonarr.Api.V3/Tags/TagController.cs
Labels: none

Fixed: Linking autotags with tag specification to all tags
  src/NzbDrone.Core/Tags/TagService.cs
Labels: none

New: Check for available space before grabbing
  frontend/src/Settings/MediaManagement/MediaManagement.js
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Add Bluray 576p quality
  src/NzbDrone.Core.Test/Datastore/Migration/214_add_bluray576p_in_profileFixture.cs
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Datastore/Migration/214_add_blurary576p_quality_in_profiles.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/NzbDrone.Core/Qualities/Quality.cs
Labels: db-migration, parsing

New: Add additional archive exentions
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Gotify notification updates
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifyMessage.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifySettings.cs
  src/NzbDrone.Core/Notifications/MetadataLinkType.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

Add workflow to close issue when labelled as support
  .github/workflows/support-requests.yml
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

New: Add rating as option in sort dropdown on series overviews and posters views
  frontend/src/Series/Index/Menus/SeriesIndexSortMenu.tsx
Labels: none

New: Use instance name in forms authentication cookie name
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

New: Add exception to SSL Certificate validation message
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Links for Trakt and TVMaze in Gotify notifications
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
Labels: connection

add KCRT to release group exceptions
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Interactive searches causing multiple requests to indexers
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
Labels: none

Adds includeSeries and includeEpisodeFile to episode endpoint (default = false)
  src/Sonarr.Api.V3/Episodes/EpisodeController.cs
Labels: none

Adds includeSeries and includeEpisodeFile to episode endpoint (default = false)
  src/Sonarr.Api.V3/Episodes/EpisodeController.cs
Labels: none

Fixed: Adding Bluray 576p to some profiles
  src/NzbDrone.Core.Test/Datastore/Migration/214_add_bluray576p_in_profileFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/215_add_blurary576p_quality_in_profiles_with_grouped_blurary480pFixture.cs
  src/NzbDrone.Core/Datastore/Migration/214_fake_bluray576p.cs
  src/NzbDrone.Core/Datastore/Migration/215_add_blurary576p_quality_in_profiles_with_grouped_blurary480p.cs
Labels: db-migration

Fixed: Rejections for Custom Format score increment
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

New: Allowed sort keys for paginated resources
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Store/Actions/systemActions.js
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
  src/Sonarr.Api.V3/History/HistoryController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V3/Logs/LogController.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Wanted/CutoffController.cs
  src/Sonarr.Api.V3/Wanted/MissingController.cs
  src/Sonarr.Http/PagingResource.cs
Labels: none

Fixed: Reprocessing manual import items unable to detect sample
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

New: Fetch up to 1000 series from Plex Watchlist
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexListRequestGenerator.cs
Labels: none

Support both 'ger' and 'ger dub' in language regex
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Fixed: Unable to login when instance name contained brackets
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

Fixed: Don't set last write time on episode files if difference is within the same second
  src/NzbDrone.Common/Extensions/DateTimeExtensions.cs
  src/NzbDrone.Core/MediaFiles/UpdateEpisodeFileService.cs
Labels: none

Update src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

fix: annotate passing apikey as query parameter consistently in its description
  src/NzbDrone.Host/Startup.cs
Labels: none

Fixed: Aggregating media files with 576p resolution
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateQualityFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Quality/AugmentQualityFromMediaInfoFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Quality/AugmentQualityFromMediaInfo.cs
  src/NzbDrone.Core/Qualities/QualityFinder.cs
Labels: none

New: Persist sort in Select Episodes modal
  frontend/src/Store/Actions/episodeSelectionActions.js
Labels: none

Convert ClipboardButton to TypeScript
  frontend/src/Components/Link/ClipboardButton.tsx
Labels: none

Refactoring: Clipboard Typescript & rewrite
  frontend/src/Components/Form/FormInputButton.js
  frontend/src/Components/Link/ClipboardButton.js
  frontend/src/Components/Link/ClipboardButton.tsx
  frontend/src/Utilities/getUniqueElementId.ts
  package.json
  yarn.lock
Labels: none

Convert ClipboardButton to TypeScript
  frontend/src/Components/Form/FormInputButton.js
  frontend/src/Components/Link/ClipboardButton.js
  frontend/src/Components/Link/ClipboardButton.tsx
  frontend/src/Utilities/getUniqueElementId.ts
  package.json
  yarn.lock
Labels: none

Fixed: Links for Trakt and TVMaze in Gotify notifications
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
Labels: connection

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Parse KCRT as release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Guard against using invalid sort keys
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Store/Actions/systemActions.js
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
  src/Sonarr.Api.V3/History/HistoryController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V3/Logs/LogController.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Wanted/CutoffController.cs
  src/Sonarr.Api.V3/Wanted/MissingController.cs
  src/Sonarr.Http/PagingResource.cs
Labels: none
