Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Bump version to 4.0.8
  .github/workflows/build.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Bump version to 4.0.8
  .github/workflows/build.yml
Labels: none

Wrap specification blocks in modals
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css.d.ts
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css.d.ts
Labels: none

fixup linting
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css
Labels: none

Set default value for CustomColonReplacementFormat if not provided
  src/Sonarr.Api.V3/Config/NamingExampleResource.cs
Labels: none

Fixed: Assume category path from qBittorent starting with '//' is a Windows path
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

fixup! Fixed: Assume category path from qBittorent starting with '//' is a Windows path
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

fixup! Fixed: Assume category path from qBittorent starting with '//' is a Windows path
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

New: Show update settings on all platforms
  frontend/src/Settings/General/UpdateSettings.js
  src/NzbDrone.Core.Test/HealthCheck/Checks/UpdateCheckFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
  src/NzbDrone.Core/Update/InstallUpdateService.cs
Labels: none

New: Allow major version updates to be installed
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/System/Updates/UpdateChanges.js
  frontend/src/System/Updates/UpdateChanges.tsx
  frontend/src/System/Updates/Updates.js
  frontend/src/System/Updates/Updates.tsx
  frontend/src/System/Updates/UpdatesConnector.js
  frontend/src/typings/Settings/General.ts
  frontend/src/typings/Settings/UiSettings.ts
  frontend/src/typings/SystemStatus.ts
  frontend/src/typings/Update.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Update/Commands/ApplicationUpdateCheckCommand.cs
  src/NzbDrone.Core/Update/Commands/ApplicationUpdateCommand.cs
  src/NzbDrone.Core/Update/InstallUpdateService.cs
  src/NzbDrone.Core/Update/UpdateCheckService.cs
  src/NzbDrone.Core/Update/UpdatePackageProvider.cs
Labels: none

Remove extraneous indentation in RemoveFileExtension
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Rating votes tooltip and series filter
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.js
  frontend/src/Components/HeartRating.js
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Store/Actions/seriesActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Parsing of Chinese anime with ordinal number in English title
  src/NzbDrone.Core.Test/ParserTests/UnicodeReleaseParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Parsing of anime with 3 digit number in middle of title
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Parse Chinese anime formats with reverse title order
  src/NzbDrone.Core.Test/ParserTests/UnicodeReleaseParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Add option to show tags on series Poster and Overview
  frontend/src/App/State/SeriesAppState.ts
  frontend/src/Series/Index/Overview/Options/SeriesIndexOverviewOptionsModalContent.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/Options/SeriesIndexPosterOptionsModalContent.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css.d.ts
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Store/Actions/seriesIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Use natural sorting for lists of items in the UI
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/FilterBuilderRowValueConnector.js
  frontend/src/Components/Filter/Builder/SeriesFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  frontend/src/Components/Form/DownloadClientSelectInputConnector.js
  frontend/src/Components/Form/IndexerSelectInputConnector.js
  frontend/src/Components/Form/QualityProfileSelectInputConnector.js
  frontend/src/Components/Menu/FilterMenuContent.js
  frontend/src/Components/TagList.js
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
  frontend/src/Series/Details/SeriesTagsConnector.js
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormatsConnector.js
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClientsConnector.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
  frontend/src/Settings/Indexers/Indexers/IndexersConnector.js
  frontend/src/Settings/Metadata/Metadata/MetadatasConnector.js
  frontend/src/Settings/Notifications/Notifications/NotificationsConnector.js
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
  frontend/src/Settings/Profiles/Quality/QualityProfilesConnector.js
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.js
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Actions/seriesActions.js
  frontend/src/Store/Selectors/createEnabledDownloadClientsSelector.ts
  frontend/src/Store/Selectors/createRootFoldersSelector.ts
  frontend/src/Store/Selectors/createSortedSectionSelector.ts
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.tsx
  frontend/src/Utilities/Array/sortByName.js
  frontend/src/Utilities/Array/sortByProp.ts
  frontend/src/typings/Helpers/KeysMatching.ts
Labels: none

Fixed: Remove apostrophe, backtick in contractions
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none

New: Wrap specifications in Custom Format and Auto Tagging modals
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css.d.ts
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css.d.ts
Labels: none

Set default value for CustomColonReplacementFormat if not provided
  src/Sonarr.Api.V3/Config/NamingExampleResource.cs
Labels: none

Fixed: Assume category path from qBittorent starting with '//' is a Windows UNC path
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

New: Allow major version updates to be installed
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/System/Updates/UpdateChanges.js
  frontend/src/System/Updates/UpdateChanges.tsx
  frontend/src/System/Updates/Updates.js
  frontend/src/System/Updates/Updates.tsx
  frontend/src/System/Updates/UpdatesConnector.js
  frontend/src/typings/Settings/General.ts
  frontend/src/typings/Settings/UiSettings.ts
  frontend/src/typings/SystemStatus.ts
  frontend/src/typings/Update.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Update/Commands/ApplicationUpdateCheckCommand.cs
  src/NzbDrone.Core/Update/Commands/ApplicationUpdateCommand.cs
  src/NzbDrone.Core/Update/InstallUpdateService.cs
  src/NzbDrone.Core/Update/UpdateCheckService.cs
  src/NzbDrone.Core/Update/UpdatePackageProvider.cs
Labels: none

New: Show update settings on all platforms
  frontend/src/Settings/General/UpdateSettings.js
  src/NzbDrone.Core.Test/HealthCheck/Checks/UpdateCheckFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
  src/NzbDrone.Core/Update/InstallUpdateService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Fix custom formats sorting for quality profiles
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
Labels: none

Fixed: Display tag list when sort by tags on series Posters
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.css
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.css.d.ts
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
Labels: none

Improve tooltip for Next Airing on series Overview
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

feat: Upgrade to .net 8 and remove obsolete method calls
  build.sh
  docs.sh
  global.json
  src/Directory.Build.props
  src/NzbDrone.Api.Test/Sonarr.Api.Test.csproj
  src/NzbDrone.Automation.Test/Sonarr.Automation.Test.csproj
  src/NzbDrone.Common.Test/Sonarr.Common.Test.csproj
  src/NzbDrone.Common/Disk/DestinationAlreadyExistsException.cs
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Console/Sonarr.Console.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/MediaFiles/EpisodeImport/RecycleBinException.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/RootFolderNotFoundException.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host.Test/Sonarr.Host.Test.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone.Libraries.Test/Sonarr.Libraries.Test.csproj
  src/NzbDrone.Mono.Test/Sonarr.Mono.Test.csproj
  src/NzbDrone.Mono/Sonarr.Mono.csproj
  src/NzbDrone.SignalR/Sonarr.SignalR.csproj
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
  src/NzbDrone.Test.Dummy/Sonarr.Test.Dummy.csproj
  src/NzbDrone.Update.Test/Sonarr.Update.Test.csproj
  src/NzbDrone.Update/Sonarr.Update.csproj
  src/NzbDrone.Windows.Test/Sonarr.Windows.Test.csproj
  src/NzbDrone.Windows/Sonarr.Windows.csproj
  src/NzbDrone/Sonarr.csproj
  src/ServiceHelpers/ServiceInstall/ServiceInstall.csproj
  src/ServiceHelpers/ServiceUninstall/ServiceUninstall.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
  src/Sonarr.Http/Authentication/BasicAuthenticationHandler.cs
  src/Sonarr.Http/Authentication/NoAuthenticationHandler.cs
  src/Sonarr.Http/Middleware/VersionMiddleware.cs
  src/Sonarr.Http/REST/RestController.cs
  src/Sonarr.Http/Sonarr.Http.csproj
  src/Sonarr.RuntimePatches/Sonarr.RuntimePatches.csproj
Labels: none

feat: Set project AnalysisLevel to 8.0-all and mute new .NET 8 analyzer warnings
  .editorconfig
  src/Directory.Build.props
Labels: none

ci: Update FRAMEWORK env var to net8.0
  .github/workflows/build.yml
Labels: none

feat: Change FRAMEWORK to net.80 in build.bat
  distribution/windows/setup/build.bat
Labels: none

Fixed: Editing Quality Profiles
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
Labels: none

New: Litestream compatibility for SQLite
  src/NzbDrone.Core/Datastore/Migration/Framework/SqliteSchemaDumper.cs
Labels: none

Fixed: Sending Manual Interaction Required notifications for unknown series
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
Labels: connection

New: Display original language on series details and search results page
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.js
  frontend/src/Helpers/Props/icons.js
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Apply style suggestions from code review
  frontend/src/Store/Actions/seriesActions.js
Labels: none
