Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Bump FFprobe to 8.1.2
  scripts/docs.sh
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

New: Custom Filters for Wanted Missing and Cutoff Unmet
  frontend/src/Utilities/Fetch/getQueryString.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetFilterModal.tsx
  frontend/src/Wanted/CutoffUnmet/useCutoffUnmet.tsx
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/useMissing.tsx
  frontend/src/Wanted/toWantedSearchCommandBody.ts
  src/NzbDrone.Core.Test/TvTests/EpisodeRepositoryTests/EpisodesWhereCutoffUnmetFixture.cs
  src/NzbDrone.Core.Test/TvTests/EpisodeRepositoryTests/EpisodesWithoutFilesFixture.cs
  src/NzbDrone.Core/IndexerSearch/CutoffUnmetEpisodeSearchCommand.cs
  src/NzbDrone.Core/IndexerSearch/EpisodeSearchService.cs
  src/NzbDrone.Core/IndexerSearch/MissingEpisodeSearchCommand.cs
  src/NzbDrone.Core/Tv/EpisodeCutoffService.cs
  src/NzbDrone.Core/Tv/EpisodeRepository.cs
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/Sonarr.Api.V3/Wanted/CutoffController.cs
  src/Sonarr.Api.V5/Wanted/CutoffController.cs
  src/Sonarr.Api.V5/Wanted/MissingController.cs
Labels: none

Fixed: Exclude streaming extentions for probing media info
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaFileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Drop legacy per-component color-impaired wiring
  frontend/src/App/ColorImpairedContext.ts
  frontend/src/Components/Page/Page.tsx
  frontend/src/Series/Index/SeriesIndexFooter.css
  frontend/src/Series/Index/SeriesIndexFooter.tsx
Labels: none

Redesign the calendar header and unify its buttons
  frontend/src/Calendar/Header/CalendarHeader.css
  frontend/src/Calendar/Header/CalendarHeader.css.d.ts
  frontend/src/Calendar/Header/CalendarHeader.tsx
Labels: none

Redesign the episode detail modal and summary
  frontend/src/Episode/EpisodeDetailsModalContent.css
  frontend/src/Episode/Summary/EpisodeSummary.css
Labels: none

Unify the calendar legend into a single item with an aligned indicator slot
  frontend/src/Calendar/Legend/Legend.tsx
  frontend/src/Calendar/Legend/LegendIconItem.css
  frontend/src/Calendar/Legend/LegendIconItem.css.d.ts
  frontend/src/Calendar/Legend/LegendIconItem.tsx
  frontend/src/Calendar/Legend/LegendItem.css
  frontend/src/Calendar/Legend/LegendItem.css.d.ts
  frontend/src/Calendar/Legend/LegendItem.tsx
Labels: none

Redesign the calendar month and week views
  frontend/src/Calendar/Calendar.css
  frontend/src/Calendar/Day/CalendarDay.css
  frontend/src/Calendar/Day/CalendarDay.css.d.ts
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Day/CalendarDays.css
  frontend/src/Calendar/Day/DayOfWeek.css
  frontend/src/Calendar/Events/CalendarEvent.css
  frontend/src/Calendar/Events/CalendarEvent.css.d.ts
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.css
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
Labels: none

Redesign the agenda view and add cover thumbnails
  frontend/src/Calendar/Agenda/Agenda.css
  frontend/src/Calendar/Agenda/Agenda.css.d.ts
  frontend/src/Calendar/Agenda/Agenda.tsx
  frontend/src/Calendar/Agenda/AgendaEvent.css
  frontend/src/Calendar/Agenda/AgendaEvent.css.d.ts
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
Labels: none

Migrate the calendar options modal to the new form components and add a cover-art toggle
  frontend/src/Calendar/Options/CalendarOptionsModalContent.tsx
  frontend/src/Calendar/calendarOptionsStore.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Nest calendar CSS selectors under their base elements
  frontend/src/Calendar/Agenda/Agenda.css
  frontend/src/Calendar/Agenda/AgendaEvent.css
  frontend/src/Calendar/Events/CalendarEvent.css
  frontend/src/Calendar/Events/CalendarEventGroup.css
Labels: none

Fixed: Reduced the number of decimals of the framerate in Kodi metadata files to 3
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Convert CaptchaInput to React Query
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/CaptchaAppState.ts
  frontend/src/Components/Form/CaptchaInput.tsx
  frontend/src/Components/Form/useCaptcha.ts
  frontend/src/Store/Actions/captchaActions.js
  frontend/src/Store/Actions/index.js
Labels: none

Clean up signalR
  frontend/src/Components/SignalRListener.tsx
Labels: none

Refactor and clean up old dispatches
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/Components/Filter/CustomFilters/CustomFilter.tsx
  frontend/src/Components/Form/OAuthInput.tsx
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Helpers/Hooks/useScrollPosition.ts
  frontend/src/Helpers/scrollPositions.ts
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Edit/EditSeriesModal.tsx
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/DownloadClients/RemotePathMappings/EditRemotePathMappingModal.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/useImportListExclusions.ts
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModal.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/useProviderOptions.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Settings/useSettings.ts
  frontend/src/System/Backup/RestoreBackupModalContent.tsx
  frontend/src/Tags/useTags.ts
  frontend/src/Utilities/selectSettings.ts
Labels: none

Fix parsing already imported items from download clients
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Fix parsing Celdra as release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: parsing

Bump FFprobe to 8.1.2
  scripts/docs.sh
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Bump .NET to 10.0.9
  global.json
  scripts/docs.sh
  src/Directory.Build.props
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Fix log message for MinCustomFormatScore rejection
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Improve incomplete issues and autopilot PR handling
  .github/workflows/close_incomplete_issues.yml
  .github/workflows/close_invalid_issues.yml
  .github/workflows/label_invalid_issues.yml
  .github/workflows/no_autopilot.yml
Labels: none

Remove issue from template if there is no issue
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

New: Custom Filters for Wanted Missing and Cutoff Unmet
  frontend/src/Utilities/Fetch/getQueryString.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetFilterModal.tsx
  frontend/src/Wanted/CutoffUnmet/useCutoffUnmet.tsx
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/useMissing.tsx
  frontend/src/Wanted/toWantedSearchCommandBody.ts
  src/NzbDrone.Core.Test/TvTests/EpisodeRepositoryTests/EpisodesWhereCutoffUnmetFixture.cs
  src/NzbDrone.Core.Test/TvTests/EpisodeRepositoryTests/EpisodesWithoutFilesFixture.cs
  src/NzbDrone.Core/IndexerSearch/CutoffUnmetEpisodeSearchCommand.cs
  src/NzbDrone.Core/IndexerSearch/EpisodeSearchService.cs
  src/NzbDrone.Core/IndexerSearch/MissingEpisodeSearchCommand.cs
  src/NzbDrone.Core/Tv/EpisodeCutoffService.cs
  src/NzbDrone.Core/Tv/EpisodeRepository.cs
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/Sonarr.Api.V3/Wanted/CutoffController.cs
  src/Sonarr.Api.V5/Wanted/CutoffController.cs
  src/Sonarr.Api.V5/Wanted/MissingController.cs
Labels: none

Switch dotnet devcontainer to base version
  .devcontainer/devcontainer.json
Labels: none

Bump use-debounce to 10.1.1
  package.json
  yarn.lock
Labels: none

Debounce quality profile score changes
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
Labels: none

Fixed: Exclude streaming extensions for probing media info
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaFileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Add async overloaded methods for TestDatabase
  src/NzbDrone.Core.Test/Datastore/DatabaseRelationshipFixture.cs
  src/NzbDrone.Core.Test/Datastore/ObjectDatabaseFixture.cs
  src/NzbDrone.Core.Test/Framework/TestDatabase.cs
Labels: none

Add async overloaded methods for SeriesRepository
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Tv/AddSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V5/Release/ReleaseController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none

Add async overloaded methods for BasicRepository
  src/NzbDrone.Core.Test/Datastore/BasicRepositoryFixture.cs
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/Datastore/Database.cs
  src/NzbDrone.Core/Datastore/DbFactory.cs
  src/NzbDrone.Core/Datastore/Extensions/SqlMapperAsyncExtensions.cs
  src/NzbDrone.Core/Datastore/LogDatabase.cs
  src/NzbDrone.Core/Datastore/MainDatabase.cs
Labels: none

Add async overloaded methods for MigrationTest
  src/NzbDrone.Core.Test/Framework/DirectDataMapper.cs
  src/NzbDrone.Core.Test/Framework/MigrationTest.cs
Labels: none

Add async overloaded methods for Providers
  src/NzbDrone.Core/Download/DownloadClientFactory.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/ImportLists/ImportListFactory.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/ThingiProvider/IProviderFactory.cs
  src/NzbDrone.Core/ThingiProvider/ProviderFactory.cs
  src/NzbDrone.Core/ThingiProvider/ProviderRepository.cs
  src/Sonarr.Api.V5/Connections/ConnectionController.cs
  src/Sonarr.Api.V5/Metadata/MetadataController.cs
  src/Sonarr.Api.V5/Provider/ProviderControllerBase.cs
Labels: connection, indexer

Skip autopilot for Translations PR and use PAT
  .github/workflows/no_autopilot.yml
Labels: none

Follow PR template for API docs PRs
  .github/workflows/api_docs.yml
Labels: none

Skip autopilot for Translations PR and use PAT
  .github/workflows/no_autopilot.yml
Labels: none

Follow PR template for API docs PRs
  .github/workflows/api_docs.yml
Labels: none

fix: address isLoading feedback
  frontend/src/Statistics/Statistics.tsx
Labels: none

Replace the airing pulse glow with an in-place pulse
  frontend/src/Calendar/Agenda/AgendaEvent.css
  frontend/src/Calendar/Events/CalendarEvent.css
Labels: none

Redesign the calendar status icons
  frontend/src/Calendar/Agenda/AgendaEvent.css
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/Events/CalendarEvent.css
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Calendar/Legend/Legend.tsx
  frontend/src/Helpers/Props/customIcons.tsx
  frontend/src/Helpers/Props/icons.ts
Labels: none
