Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

v5 API docs
  .github/workflows/api_docs.yml
  CONTRIBUTING.md
  docs.sh
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResource.cs
  src/Sonarr.Api.V3/openapi.json
  src/Sonarr.Api.V5/openapi.json
  src/Sonarr.Http/VersionedApiControllerAttribute.cs
  src/Sonarr.Http/VersionedFeedControllerAttribute.cs
Labels: none

Add v5 API
  README.md
  frontend/src/Helpers/Hooks/useApiQuery.ts
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V5/Series/AlternateTitleResource.cs
  src/Sonarr.Api.V5/Series/SeasonResource.cs
  src/Sonarr.Api.V5/Series/SeasonStatisticsResource.cs
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
  src/Sonarr.Api.V5/Series/SeriesStatisticsResource.cs
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
  src/Sonarr.Http/ApiInfoController.cs
  src/Sonarr.Http/VersionedApiControllerAttribute.cs
  src/Sonarr.sln
Labels: none

Fix import order after TS
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModal.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
Labels: none

Build and conflict labeler for PRs against v5-develop
  .github/workflows/build.yml
  .github/workflows/conflict_labeler.yml
Labels: none

Fix builds with v5 API
  .github/workflows/api_docs.yml
  docs.sh
  src/Sonarr.sln
Labels: none

Improve build speed
  .github/actions/build/action.yml
  .github/actions/package/action.yml
  .github/workflows/build_v5.yml
  .github/workflows/deploy.yml
  build.sh
Labels: none

Fixed: Format bitrate for primary streams in media info
  frontend/src/Episode/Summary/MediaInfo.tsx
  frontend/src/Utilities/Number/formatBitrate.ts
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Don't publish v5 builds yet
  .github/workflows/build_v5.yml
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fix tests for v5
  src/NzbDrone.Common.Test/EnsureTest/PathExtensionFixture.cs
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

Add MediaInfo AudioLanguagesAll and update styling
  frontend/src/Settings/MediaManagement/Naming/NamingModal.css
  frontend/src/Settings/MediaManagement/Naming/NamingModal.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingOption.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Ignore special folders inside Blackhole watch folders
  src/NzbDrone.Common/Disk/FileSystemLookupService.cs
  src/NzbDrone.Common/Disk/SpecialFolders.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/ScanWatchFolderFixture.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/ScanWatchFolder.cs
Labels: download-client

New: Prefer newer Usenet releases
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
Labels: none

Fix typo in Deleted Episode File Specification
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DeletedEpisodeFileSpecification.cs
Labels: none

New: Refresh cache for tracked queue on series update
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Update date in readme to 2025
  README.md
Labels: none

Fixed: Health warning for downloading inside root folders
  src/NzbDrone.Core.Test/HealthCheck/Checks/DownloadClientRootFolderCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRootFolderCheck.cs
Labels: none

Fixed: Parse GER/DE releases as German language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: SABnzbd sorting mode not reflected in heath check
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
Labels: download-client

Fixed: Parsing of daily some episodes using DMY
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fix: fallback to Instance Name as Author
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Fixed: Close Metadata settings modal on saving
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
Labels: none

New: Removed deprecated Kometa metadata
  src/NzbDrone.Core.Test/Extras/Metadata/Consumers/Kometa/FindMetadataFileFixture.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
  src/NzbDrone.Core/HealthCheck/Checks/MetadataCheck.cs
Labels: none

Fix download links for FileList when passkey contains spaces
  src/NzbDrone.Core/Indexers/FileList/FileListParser.cs
Labels: indexer

New: Remove defunct IMDB Import Lists
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListImport.cs
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListParser.cs
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListSettings.cs
Labels: none

New: Support TMDb and IMDB IDs in Custom Import Lists
  src/NzbDrone.Core/ImportLists/Custom/CustomAPIResource.cs
  src/NzbDrone.Core/ImportLists/Custom/CustomImport.cs
Labels: none

New: Remove Basic Auth
  frontend/src/Settings/General/SecuritySettings.tsx
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/BasicAuthenticationHandler.cs
Labels: none

Fixed: Only show Additional Parameters on Trakt Popular list
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
Labels: none

Cleanse console log messages
  src/NzbDrone.Common/Instrumentation/CleansingClefLogLayout.cs
  src/NzbDrone.Common/Instrumentation/CleansingConsoleLogLayout.cs
  src/NzbDrone.Common/Instrumentation/CleansingFileTarget.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
Labels: none

break out of rejected download handling when no release associated
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

null check on RemoteEpisode
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

set Warn and return on tracked download when indexerId is 0
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

switch to indexerSettings null check
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

New: Option for Telegram link previews
  src/NzbDrone.Core.Test/Datastore/Migration/218_telegram_link_previewFixture.cs
  src/NzbDrone.Core/Datastore/Migration/218_telegram_link_preview.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/MetadataLinkType.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLink.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLinkPreviewOptions.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramPayload.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection, db-migration

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Add Series with ReactQuery Mutation
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/AddSeries/AddSeries.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.tsx
  frontend/src/AddSeries/addSeriesOptionsStore.ts
  frontend/src/App/State/AddSeriesAppState.ts
  frontend/src/App/State/AppState.ts
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/Helpers/createPersist.ts
  frontend/src/Store/Actions/addSeriesActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Selectors/createImportSeriesItemSelector.ts
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/Utilities/Fetch/anySignal.ts
  frontend/src/Utilities/Fetch/fetchJson.ts
  frontend/src/Utilities/Object/getErrorMessage.ts
  frontend/src/Utilities/Series/monitorOptions.ts
  package.json
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesFolderAsRootFolderValidator.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
  src/Sonarr.Http/REST/RestController.cs
  yarn.lock
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Improve parsing of some episodes using day-month-year format
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Fallback to Instance Name for Discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Fixed: Close Metadata settings modal on saving
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
