Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

New: Fallabck to alternate download clients on failure
  src/NzbDrone.Core.Test/Download/DownloadClientProviderFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadServiceFixture.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
  src/NzbDrone.Core/Download/DownloadService.cs
Labels: none

Use hook for OAuth input
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/OAuthAppState.ts
  frontend/src/Components/Form/OAuthInput.tsx
  frontend/src/OAuth/useOAuth.ts
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/oAuthActions.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pl.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Parse additional formats of multi-episode with episodes in brackets
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Implement internal restart loop
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Core/Lifecycle/LifecycleService.cs
  src/NzbDrone.Host/AppLifetime.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/RestartableServiceLifetime.cs
Labels: none

SQUASH in restart loop
  src/NzbDrone.Core/Messaging/Events/EventAggregator.cs
Labels: none

Implement systemd and podman detection
  src/NzbDrone.Common/EnvironmentInfo/IRuntimeInfo.cs
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
  src/NzbDrone.Common/EnvironmentInfo/RuntimeInfo.cs
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
  src/Sonarr.Api.V3/System/SystemController.cs
  src/Sonarr.Api.V3/System/SystemResource.cs
Labels: none

Re-enables restart button in docker
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/System/Status/About/About.tsx
  frontend/src/typings/SystemStatus.ts
Labels: none

Implement Event blocking
  src/NzbDrone.Common/Messaging/LifecycleEventAttribute.cs
  src/NzbDrone.Core/Lifecycle/ApplicationShutdownRequested.cs
  src/NzbDrone.Core/Lifecycle/ApplicationStartedEvent.cs
  src/NzbDrone.Core/Lifecycle/ApplicationStartingEvent.cs
  src/NzbDrone.Core/Messaging/Events/EventAggregator.cs
Labels: none

Use react-query for provider options
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/ProviderOptionsAppState.ts
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Form/Select/ProviderOptionSelectInput.tsx
  frontend/src/Components/Form/Tag/DeviceInput.tsx
  frontend/src/OAuth/useOAuth.ts
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.tsx
  frontend/src/Settings/useProviderOptions.ts
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/providerOptionActions.js
  frontend/src/typings/inputs.ts
Labels: none

Clean up AppState
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/BackupAppState.ts
  frontend/src/App/State/BlocklistAppState.ts
  frontend/src/App/State/RootFolderAppState.ts
Labels: none

Implement async Repositories
  src/NzbDrone.Core.Test/Blocklisting/BlocklistRepositoryFixture.cs
  src/NzbDrone.Core.Test/Datastore/BasicRepositoryFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadHistoryTests/DownloadHistoryRepositoryFixture.cs
  src/NzbDrone.Core.Test/HistoryTests/HistoryRepositoryFixture.cs
  src/NzbDrone.Core.Test/Indexers/IndexerRepositoryFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaFileRepositoryFixture.cs
  src/NzbDrone.Core.Test/Profiles/ProfileRepositoryFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesRepositoryTests/SeriesRepositoryFixture.cs
  src/NzbDrone.Core/Authentication/UserRepository.cs
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/Configuration/ConfigRepository.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingRepository.cs
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/Datastore/Database.cs
  src/NzbDrone.Core/Datastore/DbFactory.cs
  src/NzbDrone.Core/Datastore/Extensions/SqlMapperExtensions.cs
  src/NzbDrone.Core/Datastore/LogDatabase.cs
  src/NzbDrone.Core/Datastore/MainDatabase.cs
  src/NzbDrone.Core/Download/History/DownloadHistoryRepository.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseRepository.cs
  src/NzbDrone.Core/Extras/Files/ExtraFileRepository.cs
  src/NzbDrone.Core/History/HistoryRepository.cs
  src/NzbDrone.Core/ImportLists/Exclusions/ImportListExclusionRepository.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemRepository.cs
  src/NzbDrone.Core/ImportLists/ImportListRepository.cs
  src/NzbDrone.Core/Indexers/IndexerRepository.cs
  src/NzbDrone.Core/Instrumentation/LogRepository.cs
  src/NzbDrone.Core/Jobs/ScheduledTaskRepository.cs
  src/NzbDrone.Core/MediaFiles/MediaFileRepository.cs
  src/NzbDrone.Core/Messaging/Commands/CommandRepository.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileRepository.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
  src/NzbDrone.Core/Tags/TagRepository.cs
  src/NzbDrone.Core/ThingiProvider/ProviderRepository.cs
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusRepository.cs
  src/NzbDrone.Core/Tv/EpisodeRepository.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Update/History/UpdateHistoryRepository.cs
Labels: indexer

Remove synchron Repository methods
  src/NzbDrone.Core/Authentication/UserRepository.cs
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/Configuration/ConfigRepository.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingRepository.cs
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/Datastore/Extensions/SqlMapperExtensions.cs
  src/NzbDrone.Core/Download/History/DownloadHistoryRepository.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseRepository.cs
  src/NzbDrone.Core/Extras/Files/ExtraFileRepository.cs
  src/NzbDrone.Core/History/HistoryRepository.cs
  src/NzbDrone.Core/ImportLists/Exclusions/ImportListExclusionRepository.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemRepository.cs
  src/NzbDrone.Core/ImportLists/ImportListRepository.cs
  src/NzbDrone.Core/Indexers/IndexerRepository.cs
  src/NzbDrone.Core/Instrumentation/LogRepository.cs
  src/NzbDrone.Core/Jobs/ScheduledTaskRepository.cs
  src/NzbDrone.Core/MediaFiles/MediaFileRepository.cs
  src/NzbDrone.Core/Messaging/Commands/CommandRepository.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileRepository.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
  src/NzbDrone.Core/Tags/TagRepository.cs
  src/NzbDrone.Core/ThingiProvider/ProviderRepository.cs
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusRepository.cs
  src/NzbDrone.Core/Tv/EpisodeRepository.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Update/History/UpdateHistoryRepository.cs
Labels: indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Move unknown series queue items to filter instead of option
  frontend/src/Activity/History/historyOptionsStore.ts
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/Activity/Queue/Status/useQueueStatus.ts
  frontend/src/Activity/Queue/queueOptionsStore.ts
  frontend/src/Activity/Queue/useQueue.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V5/Queue/QueueController.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Add v5 series import endpoints
  src/Sonarr.Api.V5/Series/SeriesImportController.cs
Labels: none

Use react-query for series import
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesRow.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/importSeriesStore.ts
  frontend/src/AddSeries/ImportSeries/Import/useImportSeries.ts
  frontend/src/AddSeries/ImportSeries/Import/useImportSeriesItem.ts
  frontend/src/App/Select/useSelectStore.ts
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/ImportSeriesAppState.ts
  frontend/src/InteractiveImport/useInteractiveImport.ts
  frontend/src/RootFolder/useRootFolders.ts
  frontend/src/Store/Actions/importSeriesActions.js
  frontend/src/Store/Actions/index.js
Labels: none

Convert advanced settings to zustand store
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Helpers/Hooks/useShowAdvancedSettings.ts
  frontend/src/Settings/AdvancedSettingsButton.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.tsx
  frontend/src/Settings/DownloadClients/Options/DownloadClientOptions.tsx
  frontend/src/Settings/General/BackupSettings.tsx
  frontend/src/Settings/General/HostSettings.tsx
  frontend/src/Settings/General/LoggingSettings.tsx
  frontend/src/Settings/General/UpdateSettings.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.tsx
  frontend/src/Settings/Indexers/Options/IndexerOptions.tsx
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/advancedSettingsStore.ts
  frontend/src/Store/Actions/settingsActions.js
Labels: none

Add v5 UI settings endpoints
  src/Sonarr.Api.V5/Settings/SettingsController.cs
  src/Sonarr.Api.V5/Settings/UiSettingsController.cs
  src/Sonarr.Api.V5/Settings/UiSettingsResource.cs
Labels: none

Use react-query for UI settings
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/Day/DaysOfWeek.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Calendar/Legend/Legend.tsx
  frontend/src/Calendar/Options/CalendarOptionsModalContent.tsx
  frontend/src/Calendar/useCalendar.ts
  frontend/src/Components/Page/ErrorPage.tsx
  frontend/src/Components/Page/Page.tsx
  frontend/src/Components/Table/Cells/RelativeDateCell.tsx
  frontend/src/Episode/Summary/EpisodeAiring.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Helpers/Hooks/usePendingChangesStore.ts
  frontend/src/Helpers/Hooks/useTheme.ts
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Settings/UI/useUiSettings.ts
  frontend/src/Settings/useSettings.ts
  frontend/src/Store/Actions/Settings/ui.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createUISettingsSelector.ts
  frontend/src/System/Status/About/StartTime.tsx
  frontend/src/System/Tasks/Queued/QueuedTaskRow.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/System/Updates/Updates.tsx
  frontend/src/typings/Settings/UiSettings.ts
Labels: none

Optionally show mini profiler
  frontend/src/index.ejs
  src/NzbDrone.Common/Options/AppOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Datastore/Database.cs
  src/NzbDrone.Core/Datastore/LogDatabase.cs
  src/NzbDrone.Core/Datastore/MainDatabase.cs
  src/NzbDrone.Core/Datastore/ProfiledImplementations.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Http/Frontend/Mappers/HtmlMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/IMapHttpRequestsToDisk.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/MediaCoverProxyMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapperBase.cs
  src/Sonarr.Http/Frontend/Mappers/UrlBaseReplacementResourceMapperBase.cs
  src/Sonarr.Http/Frontend/StaticResourceController.cs
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: none

Set page background color based on theme
  frontend/src/index.ejs
  frontend/src/login.html
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
Labels: none

Use react-query for Remote Path Mappings
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/DownloadClients/RemotePathMappings/EditRemotePathMappingModalContent.tsx
  frontend/src/Settings/DownloadClients/RemotePathMappings/RemotePathMapping.tsx
  frontend/src/Settings/DownloadClients/RemotePathMappings/RemotePathMappings.tsx
  frontend/src/Settings/DownloadClients/RemotePathMappings/useRemotePathMappings.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Store/Actions/Settings/remotePathMappings.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Settings/RemotePathMapping.ts
Labels: none

Add v5 Remote Path Mappings endpoints
  src/Sonarr.Api.V5/RemotePathMappings/RemotePathMappingController.cs
  src/Sonarr.Api.V5/RemotePathMappings/RemotePathMappingResource.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Add v5 Release Profiles endpoints
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileResource.cs
Labels: none

Use react-query for Release Profiles
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/src/Settings/Profiles/Release/useReleaseProfiles.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Store/Actions/Settings/releaseProfiles.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Settings/ReleaseProfile.ts
Labels: none

Use react-query for Quality Profiles
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Filter/Builder/QualityFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValue.tsx
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
  frontend/src/Components/Page/ErrorPage.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Series/Index/useSeriesIndexItem.ts
  frontend/src/Series/useSeriesQualityProfile.ts
  frontend/src/Settings/DownloadClients/RemotePathMappings/useRemotePathMappings.ts
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModal.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfile.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileName.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfiles.tsx
  frontend/src/Settings/Profiles/Quality/useQualityProfiles.ts
  frontend/src/Settings/Profiles/Release/useReleaseProfiles.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createQualityProfileSelector.ts
  frontend/src/Store/Selectors/createSeriesQualityProfileSelector.ts
  frontend/src/Utilities/Quality/getQualities.ts
  frontend/src/typings/QualityProfile.ts
Labels: none

Add v5 Quality Profiles endpoints
  src/Sonarr.Api.V5/Profiles/Quality/QualityCutoffValidator.cs
  src/Sonarr.Api.V5/Profiles/Quality/QualityItemsValidator.cs
  src/Sonarr.Api.V5/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V5/Profiles/Quality/QualityProfileResource.cs
  src/Sonarr.Api.V5/Profiles/Quality/QualityProfileResourceValidator.cs
  src/Sonarr.Api.V5/Profiles/Quality/QualityProfileSchemaController.cs
Labels: none

Add LLM-based fallback for series matching via OpenAI
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/LlmMatchingTests/LlmSeriesMatchingServiceFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/LlmMatchingTests/LlmSeriesMatchingServiceIntegrationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/LlmMatchingTests/RealOpenAiIntegrationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/LlmMatchingTests/appsettings.llm.template.json
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Parser/LlmMatching/CachedLlmSeriesMatchingService.cs
  src/NzbDrone.Core/Parser/LlmMatching/ILlmSeriesMatchingService.cs
  src/NzbDrone.Core/Parser/LlmMatching/OpenAiSeriesMatchingService.cs
  src/NzbDrone.Core/Parser/LlmMatching/RateLimitedLlmSeriesMatchingService.cs
  src/NzbDrone.Core/Parser/Model/FindSeriesResult.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Config/LlmMatchingConfigController.cs
  src/Sonarr.sln
Labels: parsing

Avoid unique constraints for primary keys in SQLite migrations
  src/NzbDrone.Core/Datastore/Migration/Framework/SqliteSchemaDumper.cs
Labels: none

Prevent NullRefs in series event handlers
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none

Fix fetching indexers for release profiles
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
Labels: none

Always generate API docs
  .github/workflows/api_docs.yml
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Update remove series contraints migration to include TvRageId
  src/NzbDrone.Core/Datastore/Migration/034_remove_series_contraints.cs
Labels: db-migration

Add Threshold to translations
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
