Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Remove redundant comments from HistorySpecificationFixture tests
  src/NzbDrone.Core.Test/HistoryTests/HistorySpecificationFixture.cs
Labels: none

Bump Swashbuckle to 8.0.0
  scripts/docs.sh
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Deprecate `/api/v3/episodefile/editor`
  src/Sonarr.Api.V3/EpisodeFiles/EpisodeFileController.cs
Labels: none

Don't allow to set episode files with 'Original' language
  src/Sonarr.Api.V3/EpisodeFiles/EpisodeFileController.cs
Labels: none

Indexer Flags in Webhook OnGrab Notification
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
Labels: connection

Cleanup unused sorting fields for bulk manage providers
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
Labels: none

New: Parse UK date based release format
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Parse TAoE as release group exception
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Allow tables to scroll on tablets in portrait mode
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Table/Cells/TableRowCell.css
  frontend/src/Components/Table/Cells/VirtualTableRowCell.css
  frontend/src/Components/Table/Table.css
  frontend/src/Components/Table/TableHeaderCell.css
  frontend/src/Components/Table/TablePager.css
  frontend/src/Components/Table/VirtualTableHeaderCell.css
Labels: none

Fixed: Series search input when URL base is configured
  frontend/build/webpack.config.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Fixed: Trakt yearly lists no longer supported
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularListType.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
Labels: none

Fixed: Deleting series folder fails when files/folders aren't instantly removed
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

New: Add HDR Type to XBMC metadata video stream details
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Fixed: Manual importing queued items with seriesId to avoid title parsing
  src/Sonarr.Api.V3/ManualImport/ManualImportController.cs
Labels: none

Fixed: Close modal when deleting series from index
  frontend/src/Series/Delete/DeleteSeriesModalContent.tsx
Labels: none

Cleanup unused sorting fields for bulk manage providers
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
Labels: none

New: Bulk manage Maximum Single Episode Age for indexers
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.css.d.ts
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
  src/Sonarr.Api.V3/Indexers/IndexerBulkResource.cs
  src/Sonarr.Api.V3/Indexers/IndexerController.cs
Labels: none

Fixed: Priority validation for indexers and download clients
  src/Sonarr.Api.V3/DownloadClient/DownloadClientController.cs
  src/Sonarr.Api.V3/Indexers/IndexerController.cs
Labels: none

New: Add series progress to details header
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Details/SeriesProgressLabel.tsx
Labels: none

Improve Series Details loading
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: none

Deprecate `/api/v3/episodefile/editor`
  src/Sonarr.Api.V3/EpisodeFiles/EpisodeFileController.cs
Labels: none

Don't allow to set episode files with 'Original' language
  src/Sonarr.Api.V3/EpisodeFiles/EpisodeFileController.cs
Labels: none

Bump Swashbuckle to 8.0.0
  scripts/docs.sh
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

New: Parse UK date based release format
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Parse TAoE as release group exception
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Allow tables to scroll on tablets in portrait mode
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Table/Cells/TableRowCell.css
  frontend/src/Components/Table/Cells/VirtualTableRowCell.css
  frontend/src/Components/Table/Table.css
  frontend/src/Components/Table/TableHeaderCell.css
  frontend/src/Components/Table/TablePager.css
  frontend/src/Components/Table/VirtualTableHeaderCell.css
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Add XML declaration and clean up Kodi metadata generation
  src/NzbDrone.Common/Utf8StringWriter.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Fixed: Series search input when URL base is configured
  frontend/build/webpack.config.js
Labels: none

Fixed: Trakt yearly lists no longer supported
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularListType.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
Labels: none

Fixed: Deleting series folder fails when files/folders aren't instantly removed
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Add XML declaration and clean up Kodi metadata generation
  src/NzbDrone.Common/Utf8StringWriter.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Fixed: Set output encoding to UTF-8 when running external processes
  src/NzbDrone.Common/Processes/ProcessProvider.cs
Labels: none

New: Prevent Remote Path Mapping local folder being set to System folder or '/'
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: none

New: Differentiate Proper and Repack when renaming files
  src/NzbDrone.Core.Test/DecisionEngineTests/RepackSpecificationFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/QualityFullFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/QualityProperFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
  src/NzbDrone.Core/Qualities/Revision.cs
Labels: parsing
