Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Improve synchronization logic for import list items
  src/NzbDrone.Core.Test/ImportListTests/ImportListItemServiceFixture.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemService.cs
Labels: none

Suggest adding IP to RPC whitelist for on failed Transmission auth
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
Labels: download-client

Check if backup folder is writable on backup
  src/NzbDrone.Common/ArchiveService.cs
  src/NzbDrone.Core/Backup/BackupService.cs
Labels: none

remove `0.0.0.0` validation for bind host
  src/NzbDrone.Core/Validation/IpValidation.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
Labels: none

adjust qBittorrent ratio limit check accounting for float
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

add tests
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 4.0.12
  .github/workflows/build.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 4.0.12
  .github/workflows/build.yml
Labels: none

Fixed: qBittorrent Ratio Limit Check
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

Fixed: Listening on all IPv4 Addresses
  src/NzbDrone.Core/Validation/IpValidation.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
Labels: none

Fixed: Tooltips for detailed error messages
  frontend/src/Components/Form/FormInputGroup.tsx
Labels: none

additional logging for custom format score
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/CustomFormatAllowedByProfileSpecification.cs
Labels: none

Remote image links for Discord's manual interaction needed
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

add release source to history grab popup
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Dont search individual episodes when searching for anime seasons
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Additional logging for delay profile decisions
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
Labels: none

update translation widget
  README.md
Labels: none

fixup!
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
Labels: none

Fixed: Series being unmonitored when still in Import List
  src/NzbDrone.Core.Test/ImportListTests/ImportListItemServiceFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/217_add_mal_and_anilist_ids.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemRepository.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/ShowResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
Labels: db-migration

New: Parse releases with year and season number in brackets
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Add reflink support for ZFS
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Tooltips for detailed error messages
  frontend/src/Components/Form/FormInputGroup.tsx
Labels: none

Additional logging for custom format score
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/CustomFormatAllowedByProfileSpecification.cs
Labels: none

Remote image links for Discord's manual interaction needed
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

New: Show release source in history grab popup
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Additional logging for delay profile decisions
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
Labels: none

Update translation widget
  README.md
Labels: none

Fixed: Series being unmonitored when still in Import List
  src/NzbDrone.Core.Test/ImportListTests/ImportListItemServiceFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/217_add_mal_and_anilist_ids.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemRepository.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/ShowResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
Labels: db-migration

New: Parse releases with year and season number in brackets
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fix translation key for RSS in History Details
  frontend/src/Activity/History/Details/HistoryDetails.tsx
Labels: none

Fixed: Map covers to local for Series Editor
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Fix typo in logging for custom format score
  src/NzbDrone.Core/DecisionEngine/Specifications/CustomFormatAllowedByProfileSpecification.cs
Labels: none

Fixed: Parsing of AKA release titles
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Augmenting languages for releases with MULTI and other languages
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
