Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Close PRs without author activity in last 90 days
  .github/workflows/close_stale_draft_prs.yml
Labels: none

Bump node.js to 24 LTS
  .devcontainer/devcontainer.json
  package.json
  yarn.lock
Labels: none

Bump .NET to 10.0.11
  global.json
  package.json
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  yarn.lock
Labels: none

Bump coverlet.collector to 10.0.1
  src/Directory.Build.props
Labels: none

Build and lint frontend in parallel
  .github/actions/build/action.yml
  .github/actions/test/action.yml
  .github/workflows/api_docs.yml
  .github/workflows/build_v5.yml
Labels: none

Bump GitHubActionsTestLogger to 3.0.5
  src/Directory.Build.props
Labels: none

Bump FFprobe to 9.0.1
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Caching for the same series path in free space specification
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Don't start miniprofiler if it's disabled
  src/NzbDrone.Host/Startup.cs
Labels: none

Caching for the same series path in free space specification
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

feat(metadata): localized series metadata via TMDB (German/English docs)
  METADATEN_SPRACHE_PLAN.md
  frontend/src/Settings/MetadataSource/MetadataSourceSettings.tsx
  frontend/src/Settings/MetadataSource/useMetadataSource.ts
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Settings/UI/useUiSettings.ts
  global.json
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Localization/Core/de_DE.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/MetadataSource/Tmdb/TmdbClient.cs
  src/NzbDrone.Core/MetadataSource/Tmdb/TmdbResources.cs
  src/NzbDrone.Core/MetadataSource/Tmdb/TmdbSearchService.cs
  src/NzbDrone.Core/MetadataSource/Tmdb/TmdbTranslationService.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsResource.cs
  src/Sonarr.Api.V5/Settings/UiSettingsController.cs
  src/Sonarr.Api.V5/Settings/UiSettingsResource.cs
Labels: none

Fix encoding issue in METADATEN_SPRACHE_PLAN.md
  METADATEN_SPRACHE_PLAN.md
Labels: none

add a season search title mode instead of reusing search title
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaRequestGeneratorFixture.cs
  src/NzbDrone.Core/DataAugmentation/Scene/SearchMode.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

dont show the unset season sentinel in the scene info popover
  frontend/src/InteractiveSearch/ReleaseSceneIndicator.tsx
Labels: none

move the season title comment inside the method and reword the parse ones
  src/NzbDrone.Core/Parser/Parser.cs
  src/Sonarr.Api.V3/Parse/ParseController.cs
  src/Sonarr.Api.V5/Parse/ParseController.cs
Labels: parsing

only assign the mapped season when the mapping names one
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

test that a mapping with no season keeps the parsed season number
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
Labels: none

Fixed: Parse spaced season episode file names
  src/NzbDrone.Core.Test/ParserTests/PathParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Add distinct NZB retry handling
  frontend/src/Settings/DownloadClients/Options/DownloadClientOptions.tsx
  frontend/src/Settings/DownloadClients/Options/useDownloadClientSettings.ts
  src/NzbDrone.Api.Test/v5/Settings/DownloadClientSettingsResourceMapperFixture.cs
  src/NzbDrone.Core.Test/Blocklisting/BlocklistServiceFixture.cs
  src/NzbDrone.Core.Test/Datastore/Migration/234_add_indexer_guid_to_blocklistFixture.cs
  src/NzbDrone.Core/Blocklisting/Blocklist.cs
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Datastore/Migration/234_add_indexer_guid_to_blocklist.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Config/DownloadClientConfigResource.cs
  src/Sonarr.Api.V5/Settings/DownloadClientSettingsResource.cs
Labels: db-migration

Fixed: Announce provider test results
  frontend/src/Components/Link/SpinnerErrorButton.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Show results when testing all indexers
  frontend/src/Settings/Indexers/IndexerSettings.tsx
  frontend/src/Settings/Indexers/Indexers/Indexer.tsx
  frontend/src/Settings/Indexers/Indexers/IndexerTestAllResults.css
  frontend/src/Settings/Indexers/Indexers/IndexerTestAllResults.css.d.ts
  frontend/src/Settings/Indexers/Indexers/IndexerTestAllResults.tsx
  frontend/src/Settings/Indexers/Indexers/Indexers.tsx
  frontend/src/Settings/Indexers/useIndexers.ts
  frontend/src/Settings/ProviderTestAllResult.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Use ternary for test result icon
  frontend/src/Components/Link/SpinnerErrorButton.tsx
Labels: none

New: Do not blocklist similar NZBs from a different indexer
  src/NzbDrone.Core.Test/ParserTests/ReleaseComparerFixture.cs
  src/NzbDrone.Core/Parser/ReleaseComparer.cs
Labels: parsing

Update color impaired calendar gradient color
  frontend/src/Styles/Themes/dark.js
Labels: none

fix: defer series path update behind NextPath in single-series UpdateSeries
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none

test: add V5 integration test client infrastructure
  src/NzbDrone.Integration.Test/Client/SeriesClient.cs
  src/NzbDrone.Integration.Test/Client/SeriesClientV5.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
Labels: none

test: add integration tests for deferred series path update (V3 + V5)
  src/NzbDrone.Integration.Test/ApiTests/SeriesFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesV5Fixture.cs
Labels: none

fix: address review findings (missing Path assertion, broken SignalR test connection)
  src/NzbDrone.Integration.Test/ApiTests/SeriesFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesV5Fixture.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
Labels: none

test: add controller unit tests for UpdateSeries guard behavior
  src/NzbDrone.Api.Test/Series/SeriesControllerUpdateSeriesFixture.cs
  src/NzbDrone.Api.Test/Series/SeriesV5ControllerUpdateSeriesFixture.cs
Labels: none

test: trim comments in queue-skip test per review feedback
  src/NzbDrone.Integration.Test/ApiTests/SeriesEditorFixture.cs
Labels: none

feat: defer path update behind NextPath on the single-series update endpoint too
  src/NzbDrone.Api.Test/Series/SeriesControllerUpdateSeriesFixture.cs
  src/NzbDrone.Api.Test/Series/SeriesV5ControllerUpdateSeriesFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesEditorFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/SeriesV5Fixture.cs
  src/NzbDrone.Integration.Test/Client/SeriesClient.cs
  src/NzbDrone.Integration.Test/Client/SeriesClientV5.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none

Move pending-move indicator next to Path instead of Status
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesStatusCell.tsx
  frontend/src/Series/SeriesMovePendingIcon.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Remove offensive joke about a sensitive topic
  frontend/src/Components/Loading/LoadingMessage.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/et.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Don't start miniprofiler if it's disabled
  src/NzbDrone.Host/Startup.cs
Labels: none

New: Do not blocklist similar NZBs from a different indexer
  src/NzbDrone.Core.Test/ParserTests/ReleaseComparerFixture.cs
  src/NzbDrone.Core/Parser/ReleaseComparer.cs
Labels: parsing

Remove help joke from loading messages
  frontend/src/Components/Loading/LoadingMessage.tsx
Labels: none

Announce indexer and download client test results
  frontend/src/Components/Link/SpinnerErrorButton.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Dedicated indexer setting to reject torrent files at grab time
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/ITorrentIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: indexer
