Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Produce distinct values in aggregated series stats from Postgres
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
Labels: none

New: Filter series by episode release types
  frontend/src/Components/Filter/Builder/FilterBuilderRow.tsx
  frontend/src/Components/Filter/Builder/ReleaseTypeFilterBuilderRowValue.tsx
  frontend/src/Helpers/Props/filterBuilderValueTypes.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/Series.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Series/useSeries.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/SeriesStats/SeasonStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsService.cs
  src/Sonarr.Api.V5/Series/SeasonStatisticsResource.cs
  src/Sonarr.Api.V5/Series/SeriesStatisticsResource.cs
Labels: none

Prevent duplicated items in state on create
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/Commands/useCommands.ts
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/RootFolder/useRootFolders.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Tags/useTags.ts
Labels: none

Fix linting in TextInput
  frontend/src/Components/Form/TextInput.tsx
Labels: none

Fix focus after clearing search input on mobile browsers
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/Components/Form/TextInput.tsx
Labels: none

Refactor: use combined ref instead of useImperativeHandle in TextInput
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/Components/Form/TextInput.tsx
Labels: none

Use useCombinedRefs hook
  frontend/src/Components/Form/TextInput.tsx
Labels: none

Focus add series search input after clearing
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/Components/Form/TextInput.tsx
Labels: none

Use react-query for Auto Tagging
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.tsx
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModal.tsx
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationItem.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationModal.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModal.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/Specification.tsx
  frontend/src/Settings/Tags/AutoTagging/useAutoTaggings.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Store/Actions/Settings/autoTaggingSpecifications.js
  frontend/src/Store/Actions/Settings/autoTaggings.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/AutoTagging.ts
Labels: none

Add v5 Auto Tagging endpoints
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingController.cs
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingResource.cs
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingSpecificationSchema.cs
Labels: none

Bump Ical.Net to 5.2.1
  src/Sonarr.Api.V3/Calendar/CalendarFeedController.cs
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Calendar/CalendarFeedController.cs
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Generate calendar feed link with V5 API
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
Labels: none

Fix listing media files for specific series with Manage Episodes
  src/Sonarr.Api.V5/ManualImport/ManualImportController.cs
Labels: none

Add missing new series to state
  frontend/src/Components/SignalRListener.tsx
Labels: none

Switch integration tests to v5 API
  src/NzbDrone.Integration.Test/Client/SeriesClient.cs
  src/NzbDrone.Integration.Test/GenericApiFixture.cs
  src/NzbDrone.Integration.Test/HttpLogFixture.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
Labels: none

Add retroactive tag application to Import Lists
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.css
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/typings/ImportList.ts
  src/NzbDrone.Core/Datastore/Migration/231_add_retroapply_to_importlists.cs
  src/NzbDrone.Core/ImportLists/ImportListDefinition.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V3/ImportLists/ImportListResource.cs
Labels: db-migration

Lint error changes
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
Labels: none

Add method to update tags for existing series in queue during Import List sync
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Refactored from retroApplyTags to TagExisting
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.css
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/typings/ImportList.ts
  src/NzbDrone.Core/Datastore/Migration/231_add_tag_existing_to_importlists.cs
  src/NzbDrone.Core/ImportLists/ImportListDefinition.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V3/ImportLists/ImportListResource.cs
Labels: db-migration

Fix typo in log message and update retroactive tag application localization strings
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fix typo in log message
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Add missing TypedResults
  src/Sonarr.Api.V5/FileSystem/FileSystemController.cs
  src/Sonarr.Api.V5/History/HistoryController.cs
  src/Sonarr.Api.V5/Localization/LanguageController.cs
  src/Sonarr.Api.V5/Profiles/Quality/QualityProfileSchemaController.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V5/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V5/Queue/QueueActionController.cs
  src/Sonarr.Api.V5/Queue/QueueController.cs
  src/Sonarr.Api.V5/Series/SeriesFolderController.cs
  src/Sonarr.Api.V5/Series/SeriesImportController.cs
  src/Sonarr.Api.V5/Settings/NamingSettingsController.cs
  src/Sonarr.Api.V5/System/Backup/BackupController.cs
  src/Sonarr.Api.V5/System/SystemController.cs
Labels: none

Bump NUnit to 4.5.1
  src/Directory.Build.props
  src/NzbDrone.Common.Test/DiskTests/DiskTransferServiceFixture.cs
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
Labels: none

Add v5 Auto Tagging endpoints
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingController.cs
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingResource.cs
  src/Sonarr.Api.V5/AutoTagging/AutoTaggingSpecificationSchema.cs
Labels: none

Use react-query for Auto Tagging
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.tsx
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModal.tsx
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationItem.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationModal.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModal.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/Specification.tsx
  frontend/src/Settings/Tags/AutoTagging/useAutoTaggings.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Store/Actions/Settings/autoTaggingSpecifications.js
  frontend/src/Store/Actions/Settings/autoTaggings.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/AutoTagging.ts
Labels: none

Fix incorrect usage of TmdbId in log message, replace with TvdbId
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Remove deprecated fallback to body ID from API v5
  src/Sonarr.Api.V5/Provider/ProviderControllerBase.cs
Labels: none

Enable Call async methods when in an async method
  .editorconfig
  src/NzbDrone.Common/Http/HappyEyeballs/HappyEyeballs.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
Labels: none

Enable Call async methods when in an async method
  .editorconfig
  src/NzbDrone.Common/Http/HappyEyeballs/HappyEyeballs.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
Labels: none

Fix indexer flags for interactive search with v5 API
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/useReleases.ts
  src/Sonarr.Api.V5/Release/ReleaseInfoResource.cs
Labels: none

Add async overloaded methods for BasicRepository
  src/NzbDrone.Core.Test/Datastore/BasicRepositoryFixture.cs
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/Datastore/Database.cs
  src/NzbDrone.Core/Datastore/DbFactory.cs
  src/NzbDrone.Core/Datastore/Extensions/SqlMapperAsyncExtensions.cs
  src/NzbDrone.Core/Datastore/LogDatabase.cs
  src/NzbDrone.Core/Datastore/MainDatabase.cs
Labels: none

Add CancellationToken to HttpClient async methods
  src/NzbDrone.Common/Http/Dispatchers/IHttpDispatcher.cs
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Common/Http/HttpClient.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadClientFixtureBase.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/HadoukenTests/HadoukenFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/BroadcastheNetTests/BroadcastheNetFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/FanzubTests/FanzubFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/FileListTests/FileListFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/HDBitsTests/HDBitsFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/IPTorrentsTests/IPTorrentsFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/SeasonSearchFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorrentRssIndexerTests/TorrentRssIndexerFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorrentleechTests/TorrentleechFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorznabTests/TorznabFixture.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

Add async overloaded methods for TestDatabase
  src/NzbDrone.Core.Test/Datastore/DatabaseRelationshipFixture.cs
  src/NzbDrone.Core.Test/Datastore/ObjectDatabaseFixture.cs
  src/NzbDrone.Core.Test/Framework/TestDatabase.cs
Labels: none

Add async overloaded methods for MigrationTest
  src/NzbDrone.Core.Test/Framework/DirectDataMapper.cs
  src/NzbDrone.Core.Test/Framework/MigrationTest.cs
Labels: none

Add async overloaded methods for SeriesRepository
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Tv/AddSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V5/Release/ReleaseController.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none

Add async overloaded methods for Providers
  src/NzbDrone.Core/Download/DownloadClientFactory.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/ImportLists/ImportListFactory.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/ThingiProvider/IProviderFactory.cs
  src/NzbDrone.Core/ThingiProvider/ProviderFactory.cs
  src/NzbDrone.Core/ThingiProvider/ProviderRepository.cs
  src/Sonarr.Api.V5/Connections/ConnectionController.cs
  src/Sonarr.Api.V5/Metadata/MetadataController.cs
  src/Sonarr.Api.V5/Provider/ProviderControllerBase.cs
Labels: connection, indexer

Bump FluentAssertions to 7.2.2
  src/NzbDrone.Test.Common/Sonarr.Test.Common.csproj
Labels: none

Added check for anime show type when fetching last activity date
  src/NzbDrone.Core/ImportLists/Simkl/SimklAPI.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklImportBase.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Simkl/User/SimklUserSettings.cs
Labels: none
