Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Skip duplicate import list exclusions
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionExistsValidator.cs
Labels: none

New: Increase max size limit for quality definitions
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
  frontend/src/Store/Actions/Settings/qualityDefinitions.js
Labels: none

Fixed: Don't display multiple languages if no languages were parsed
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Episode/EpisodeLanguages.tsx
Labels: none

Fixed: Persist selected custom filter for interactive searches
  frontend/src/Store/Actions/releaseActions.js
Labels: none

New: Parse DarQ release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Prefer episode runtime when determining whether a file is a sample
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/DetectSampleFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/NotSampleSpecificationFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/DetectSample.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/NotSampleSpecification.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fixed: Stale formats score after changing quality profile for series
  frontend/src/Components/SignalRConnector.js
  frontend/src/Series/Details/SeriesDetailsConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
Labels: none

Sort quality profiles by name in custom filters
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValueConnector.js
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Refactoring: Label component
  frontend/src/Components/Label.js
  frontend/src/Components/Label.tsx
  frontend/src/Helpers/Props/kinds.ts
  frontend/src/Helpers/Props/sizes.ts
  frontend/src/System/Status/DiskSpace/DiskSpace.tsx
Labels: none

Fixed: Improve status labels for deleted series
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css.d.ts
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/ProgressBar/SeriesIndexProgressBar.tsx
  frontend/src/Series/Index/Table/SeriesStatusCell.tsx
  frontend/src/Series/Series.ts
  frontend/src/Series/SeriesStatus.ts
  frontend/src/Utilities/Series/getProgressBarKind.ts
Labels: none

Fixed: Calculating custom formats with languages in queue
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core.Test/Indexers/IndexerRepositoryFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Indexers/IndexerRepository.cs
Labels: indexer

Fixed: Switch to series rating for Discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Add Kometa metadata image creation
  src/NzbDrone.Core.Test/Extras/Metadata/Consumers/Kometa/FindMetadataFileFixture.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
Labels: none

capitalize filenames in settings
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
Labels: none

New: Parse spanish multi-episode releases
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Optionally include Custom Format Score for Discord On File Import notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordFieldType.cs
Labels: connection

Fixed: PWA Manifest with URL base
  frontend/build/webpack.config.js
  frontend/src/Content/Images/Icons/browserconfig.xml
  frontend/src/Content/Images/Icons/manifest.json
  frontend/src/Content/browserconfig.xml
  frontend/src/Content/manifest.json
  frontend/src/index.ejs
  frontend/src/login.html
  src/Sonarr.Http/Frontend/Mappers/BrowserConfig.cs
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Sonarr.Http/Frontend/Mappers/UrlBaseReplacementResourceMapperBase.cs
Labels: none

Fixed: Removing invalid statuses on provider deletion
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusRepository.cs
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusServiceBase.cs
Labels: none

fixup! Fixed: PWA Manifest with URL base
  frontend/src/index.ejs
Labels: none

New: Expose log size limit to API and WebUI
  frontend/src/Settings/General/GeneralSettings.js
  frontend/src/Settings/General/LoggingSettings.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: none

Improve context for UI language validation
  frontend/src/typings/Settings/UiSettings.ts
  src/Sonarr.Api.V3/Config/UiConfigController.cs
Labels: none

Refactoring: Series title link typings & extension
  frontend/src/Series/SeriesTitleLink.js
  frontend/src/Series/SeriesTitleLink.tsx
Labels: none

Use autoprefixer in UI build
  frontend/postcss.config.js
  package.json
  yarn.lock
Labels: none

Bump babel packages
  package.json
  yarn.lock
Labels: none

Add keep option to "remove", which may make sense in combination with "Blocklist"
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

DRAFT - Backend functionality (not working)
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/openapi.json
Labels: none

Convert First Run to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModal.js
  frontend/src/FirstRun/AuthenticationRequiredModal.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContentConnector.js
  frontend/src/typings/inputs.ts
Labels: none

Convert Label to TypeScript
  frontend/src/Components/Label.js
  frontend/src/Components/Label.tsx
  frontend/src/Helpers/Props/kinds.ts
  frontend/src/Helpers/Props/sizes.ts
  frontend/src/System/Status/DiskSpace/DiskSpace.tsx
Labels: none

New: Show indicator on poster for deleted series
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css.d.ts
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/ProgressBar/SeriesIndexProgressBar.tsx
  frontend/src/Series/Index/Table/SeriesStatusCell.tsx
  frontend/src/Series/Series.ts
  frontend/src/Series/SeriesStatus.ts
  frontend/src/Utilities/Series/getProgressBarKind.ts
Labels: none

Fixed: Switch to series rating for Discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Track Kometa metadata files
  src/NzbDrone.Core.Test/Extras/Metadata/Consumers/Kometa/FindMetadataFileFixture.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
Labels: none

New: Optionally include Custom Format Score for Discord On File Import notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordFieldType.cs
Labels: connection

New: Parse spanish multi-episode releases
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Remove provider status on provider deletion
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusRepository.cs
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusServiceBase.cs
Labels: none

Fixed: PWA Manifest with URL base
  frontend/build/webpack.config.js
  frontend/src/Content/Images/Icons/browserconfig.xml
  frontend/src/Content/Images/Icons/manifest.json
  frontend/src/Content/browserconfig.xml
  frontend/src/Content/manifest.json
  frontend/src/index.ejs
  frontend/src/login.html
  src/Sonarr.Http/Frontend/Mappers/BrowserConfig.cs
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Sonarr.Http/Frontend/Mappers/UrlBaseReplacementResourceMapperBase.cs
Labels: none
