Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Use react-query for Delay Profiles
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfiles.tsx
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModal.tsx
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.tsx
  frontend/src/Settings/Profiles/Delay/useDelayProfiles.ts
  frontend/src/Settings/Profiles/Quality/useQualityProfiles.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Store/Actions/Settings/delayProfiles.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/DelayProfile.ts
Labels: none

Update contributing information
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/no_autopilot.yml
  AGENTS.md
  CONTRIBUTING.md
Labels: none

Fixed: Showing alternate season titles
  frontend/src/Utilities/Series/filterAlternateTitles.ts
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Improve queue removal message for queue items not matched to a series
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Parse releases with 3 digit season number
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pl.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pl.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Enforce new lines around multi-line blocks
  frontend/.eslintrc.js
  frontend/src/App/Select/useSelectStore.ts
  frontend/src/App/appStore.ts
  frontend/src/Components/Form/KeyValueListInput.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Form/Select/SeriesTypeSelectInputSelectedValue.tsx
  frontend/src/Components/Form/Select/UMaskInput.tsx
  frontend/src/Components/Page/Header/fuse.worker.ts
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/Helpers/Hooks/useCombinedRefs.ts
  frontend/src/InteractiveSearch/ReleaseSceneIndicator.tsx
  frontend/src/Organize/OrganizePreviewModal.tsx
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormat.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/Utilities/Date/formatDateTime.ts
  frontend/src/Utilities/Date/isInNextWeek.ts
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Add suffix handling for extra file imports and merge updated interactive import items
  frontend/src/InteractiveImport/useInteractiveImport.ts
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
Labels: none

update try-catch to return directly from catch block
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

update load exception to inherit CryptographicException
  src/NzbDrone.Common/Http/SslCertificateLoader.cs
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
  src/Sonarr.Api.V5/Settings/CertificateValidator.cs
Labels: none

move ssl load exception to separate file
  src/NzbDrone.Common/Http/SslCertificateLoadException.cs
  src/NzbDrone.Common/Http/SslCertificateLoader.cs
Labels: none

add newline before class definition
  src/NzbDrone.Common/Http/SslCertificateLoadException.cs
  src/NzbDrone.Common/Http/SslCertificateLoader.cs
Labels: none

Make `GetSuffix` method static and remove unused `title` parameter
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
Labels: none

Update src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
Labels: none

Update src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraService.cs
Labels: none

Add tests for suffix handling in extra file imports
  src/NzbDrone.Core.Test/Extras/Others/OtherExtraServiceFixture.cs
Labels: none

Removing code unrelated to PR
  frontend/src/InteractiveImport/useInteractiveImport.ts
Labels: none

Reuse authentification cookies for qBittorrent calls
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

New: Parse and resolve multi-season releases
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/MultiSeasonSpecification.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Model/RemoteEpisode.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

New: MultiSeasonPack release type
  frontend/src/Components/Filter/Builder/ReleaseTypeFilterBuilderRowValue.tsx
  frontend/src/Episode/getReleaseTypeName.ts
  frontend/src/InteractiveImport/ReleaseType.ts
  frontend/src/InteractiveImport/ReleaseType/SelectReleaseTypeModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/Model/ReleaseType.cs
Labels: parsing

New: Multi-season fields in API resources
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V3/Queue/QueueResource.cs
  src/Sonarr.Api.V5/Queue/QueueResource.cs
  src/Sonarr.Api.V5/Release/ParsedEpisodeInfoResource.cs
  src/Sonarr.Api.V5/Release/ReleaseResource.cs
Labels: none

Tests: Multi-season specification, parsing, and import
  src/NzbDrone.Core.Test/DecisionEngineTests/MultiSeasonSpecificationFixture.cs
  src/NzbDrone.Core.Test/Download/CompletedDownloadServiceTests/ImportFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/DownloadedEpisodesImportServiceFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
Labels: none

Fix calculating custom score using renamed filename before manual importing
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
Labels: parsing

New: Experimental multi-season support toggle
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/useMediaManagementSettings.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/MultiSeasonSpecificationFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/DownloadedEpisodesImportServiceFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/MultiSeasonSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsResource.cs
Labels: parsing

Polish: multi-season UX, false-positive regression tests, message clarity
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/ReleaseSceneIndicator.tsx
  frontend/src/InteractiveSearch/useReleases.ts
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/MultiSeasonSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
Labels: none

Fix: Per-season queue count incorrect for multi-season releases
  frontend/src/Activity/Queue/Details/QueueDetailsProvider.tsx
  frontend/src/typings/Queue.ts
  src/Sonarr.Api.V5/Queue/QueueResource.cs
Labels: none

Update contributing information
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Enforce new lines around multi-line blocks
  frontend/.eslintrc.js
  frontend/src/App/Select/useSelectStore.ts
  frontend/src/App/appStore.ts
  frontend/src/Components/Form/KeyValueListInput.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Form/Select/SeriesTypeSelectInputSelectedValue.tsx
  frontend/src/Components/Form/Select/UMaskInput.tsx
  frontend/src/Components/Page/Header/fuse.worker.ts
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/Helpers/Hooks/useCombinedRefs.ts
  frontend/src/InteractiveSearch/ReleaseSceneIndicator.tsx
  frontend/src/Organize/OrganizePreviewModal.tsx
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormat.tsx
  frontend/src/Settings/Profiles/Delay/DelayProfile.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/Utilities/Date/formatDateTime.ts
  frontend/src/Utilities/Date/isInNextWeek.ts
Labels: none

Reuse authentification cookies for qBittorrent calls
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

Fix calculating custom score using renamed filename before manual importing
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
Labels: parsing

Update contributing information
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: none

Redesign page header
  frontend/src/Components/Page/Header/PageHeader.css
  frontend/src/Components/Page/Header/PageHeader.css.d.ts
  frontend/src/Components/Page/Header/PageHeader.tsx
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.css
  frontend/src/Components/Page/Header/SeriesSearchInput.css
  frontend/src/Components/Page/Header/SeriesSearchInput.css.d.ts
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
Labels: none

Tokenize chrome shadows, breakpoints, and transition timing
  frontend/src/Styles/Themes/themes.css
Labels: none

Refine v5 chrome surfaces
  frontend/src/Components/Page/PageContentBody.css
  frontend/src/Components/Page/PageHeading.css
  frontend/src/Components/Page/PageHeading.css.d.ts
  frontend/src/Components/Page/PageHeading.tsx
  frontend/src/Components/Page/PageJumpBarItem.css
  frontend/src/Components/Page/PageSectionContent.css
  frontend/src/Components/Page/PageSectionContent.css.d.ts
  frontend/src/Components/Page/PageSectionContent.tsx
  frontend/src/Settings/AdvancedSettingsButton.css
  frontend/src/Settings/AdvancedSettingsButton.tsx
Labels: none

Redesign navigation sidebar
  frontend/src/Components/Page/Sidebar/PageSidebar.css
  frontend/src/Components/Page/Sidebar/PageSidebar.css.d.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/Components/Page/Sidebar/PageSidebarItem.css
  frontend/src/Components/Page/Sidebar/PageSidebarItem.css.d.ts
  frontend/src/Components/Page/Sidebar/PageSidebarItem.tsx
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
