Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: Calculate custom formats after setting user-chosen attributes in manual import
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

New: Rename episodes per series
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Components/Form/SeriesRenameSelectInput.tsx
  frontend/src/Helpers/Props/inputTypes.js
  frontend/src/Series/Edit/EditSeriesModalContent.js
  frontend/src/Series/Edit/EditSeriesModalContentConnector.js
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Series.ts
  frontend/src/Store/Actions/seriesIndexActions.js
  frontend/src/Utilities/Series/seriesRenameTypes.js
  frontend/src/Utilities/String/firstCharToUpper.ts
  src/NzbDrone.Core/Datastore/Migration/207_add_series_rename.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/NzbDrone.Core/Tv/SeriesRenameTypes.cs
  src/Sonarr.Api.V3/Series/SeriesEditorController.cs
  src/Sonarr.Api.V3/Series/SeriesEditorResource.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
Labels: db-migration

Fixed: Don't use cleaned up release title for release title
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Remove seriesTitle from EpisodeResource
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fixed: Don't use cleaned up release title for release title
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Remove seriesTitle from EpisodeResource
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: none

Custom Import List improvements
  src/NzbDrone.Core/ImportLists/Custom/CustomAPIResource.cs
  src/NzbDrone.Core/ImportLists/Custom/CustomImport.cs
Labels: none

Disable trim log database housekeeping task
  src/NzbDrone.Core/Housekeeping/Housekeepers/TrimLogDatabase.cs
Labels: none

Fixed: Use only trackable downloads in queue
  src/NzbDrone.Core.Test/QueueTests/QueueServiceFixture.cs
  src/NzbDrone.Core/Queue/QueueService.cs
Labels: none

Fixed: Already imported downloads appearing in Queue briefly
  src/NzbDrone.Core.Test/QueueTests/QueueServiceFixture.cs
  src/NzbDrone.Core/Queue/QueueService.cs
Labels: none

Fixed: Trimming disabled logs database
  src/NzbDrone.Core/Housekeeping/Housekeepers/TrimLogDatabase.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 4.0.6
  .github/workflows/build.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 4.0.6
  .github/workflows/build.yml
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Start of adding indexer to specifications
  src/NzbDrone.Core/Blocklisting/Blocklist.cs
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatInput.cs
  src/NzbDrone.Core/CustomFormats/Specifications/IndexerSpecification.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/EpisodeFile.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportFile.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportItem.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Parser/Model/GrabbedReleaseInfo.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
  src/Sonarr.Api.V3/EpisodeFiles/EpisodeFileResource.cs
  src/Sonarr.Api.V3/ManualImport/ManualImportController.cs
  src/Sonarr.Api.V3/ManualImport/ManualImportReprocessResource.cs
  src/Sonarr.Api.V3/ManualImport/ManualImportResource.cs
Labels: connection, indexer, parsing

Fixed: History with unknown series
  frontend/src/Activity/History/HistoryRow.js
Labels: none

New: Replaced HasUnmonitored with Seasons Monitored Status and migrated DB
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/SeasonsMonitoredStatusFilterBuilderRowValue.js
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/Store/Actions/seriesActions.js
  src/NzbDrone.Core.Test/Datastore/Migration/210_add_monitored_seasons_filterFixture.cs
  src/NzbDrone.Core/Datastore/Migration/210_add_monitored_seasons_filter.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: db-migration

Fixed: Parsing of anime releases using standard numbering
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Parse VFI as French
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Fixed destructuring null statistics for bulk delete series modal
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
Labels: none

Fixed: Parsing of anime season releases with 3-digit number in title
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Fixed: Calculate Custom Formats after user specified options in Manual Import
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Fixed: History with unknown series
  frontend/src/Activity/History/HistoryRow.js
Labels: none

New: Parse VFI as French
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Fixed: Parsing of anime season releases with 3-digit number in title
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Parsing of anime releases using standard numbering
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Bulk series deletion for unmonitored series
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
Labels: none

Custom Import List improvements
  src/NzbDrone.Core/ImportLists/Custom/CustomAPIResource.cs
  src/NzbDrone.Core/ImportLists/Custom/CustomImport.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

New: Queued episode count for seasons in series details
  frontend/src/Components/Label.css
  frontend/src/Components/Label.css.d.ts
  frontend/src/Series/Details/SeasonProgressLabel.tsx
  frontend/src/Series/Details/SeriesDetailsSeason.js
Labels: none

New: Update AutoTags on series update
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
Labels: none

New: Custom colon replacement option
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/ColonReplacementFixture.cs
  src/NzbDrone.Core/Datastore/Migration/211_add_custom_colon_replacement_to_naming_config.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/NamingConfig.cs
  src/Sonarr.Api.V3/Config/NamingConfigController.cs
  src/Sonarr.Api.V3/Config/NamingConfigResource.cs
  src/Sonarr.Api.V3/Config/NamingExampleResource.cs
Labels: db-migration

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Fixed: add non-numeric codec tags to SourceRegex in QualityParser
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Fixed: Removing pending release without blocklisting
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  src/Sonarr.Api.V3/Queue/QueueController.cs
Labels: none

Add Apostrophe and Backtick
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: none
