Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Removed json_extract
  src/NzbDrone.Core/Datastore/Migration/210_add_monitored_seasons_filter.cs
Labels: db-migration

Making status messages for meta downloading consistent (forced download and regular download)
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

Fixed: Improve filtering performance in Select Series Modal
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
Labels: none

Refresh series with recently aired episodes with TBA titles
  src/NzbDrone.Core/Tv/ShouldRefreshSeries.cs
Labels: none

Fixed: Don't treat SubFrench as French audio language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Display tag list when sort by tags on series Posters
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.css
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.css.d.ts
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
Labels: none

Improve tooltip for Next Airing on series Overview
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Ignore Litestream tables in Database
  src/NzbDrone.Core/Datastore/Migration/Framework/SqliteSchemaDumper.cs
Labels: none

New: Display original language on series details and search results page
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.js
  frontend/src/Helpers/Props/icons.js
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.js
Labels: none

Refresh series with recently aired episodes with TBA titles
  src/NzbDrone.Core/Tv/ShouldRefreshSeries.cs
Labels: none

Fixed: Improve performance in Select Series Modal
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
Labels: none

Fixed: Don't treat SubFrench as French audio language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Treat forcedMetaDL from qBit as queued instead of downloading
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ja.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ja.json
Labels: none

Cache root folders and improve getting disk space for series path roots
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
Labels: none

chore: fix some comments
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Test.Common/AutoMoq/AutoMoqer.cs
Labels: download-client

Improve messaging for renamed episode files progress info
  src/NzbDrone.Core/MediaFiles/RenameEpisodeFileService.cs
Labels: none

Bump ImageSharp to 3.1.5
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

fixup! Cache root folders and improve getting disk space for series path roots
  src/NzbDrone.Core.Test/DiskSpace/DiskSpaceServiceFixture.cs
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
Labels: none

Fix height of tags in tag inputs
  frontend/src/Components/Form/TagInputTag.css
Labels: none

Convert Blocklist to TypeScript
  frontend/src/Activity/Blocklist/Blocklist.js
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/Blocklist/BlocklistConnector.js
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.js
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.tsx
  frontend/src/Activity/Blocklist/BlocklistRow.js
  frontend/src/Activity/Blocklist/BlocklistRow.tsx
  frontend/src/Activity/Blocklist/BlocklistRowConnector.js
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/BlocklistAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Components/Table/usePaging.ts
  frontend/src/DownloadClient/DownloadProtocol.ts
  frontend/src/Helpers/Hooks/useCurrentPage.ts
  frontend/src/Series/useSeries.ts
  frontend/src/Store/Actions/blocklistActions.js
  frontend/src/typings/Blocklist.ts
  frontend/src/typings/Table.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Apply suggestions from code review
  src/NzbDrone.Core/Datastore/Migration/210_add_monitored_seasons_filter.cs
Labels: db-migration

Update src/NzbDrone.Core/Datastore/Migration/210_add_monitored_seasons_filter.cs
  src/NzbDrone.Core/Datastore/Migration/210_add_monitored_seasons_filter.cs
Labels: db-migration

New: Add TVMaze and TMDB IDs to Kodi .nfo
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

fix width on interactive import modal dropdowns for mobile
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.css
Labels: none

Include available version in update health check
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Convert Queue to TypeScript
  frontend/src/Activity/Queue/ProtocolLabel.css
  frontend/src/Activity/Queue/ProtocolLabel.css.d.ts
  frontend/src/Activity/Queue/ProtocolLabel.js
  frontend/src/Activity/Queue/ProtocolLabel.tsx
  frontend/src/Activity/Queue/Queue.js
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueConnector.js
  frontend/src/Activity/Queue/QueueDetails.tsx
  frontend/src/Activity/Queue/QueueOptions.js
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/Activity/Queue/QueueOptionsConnector.js
  frontend/src/Activity/Queue/QueueRow.js
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/Activity/Queue/QueueRowConnector.js
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Activity/Queue/QueueStatusCell.js
  frontend/src/Activity/Queue/QueueStatusCell.tsx
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  frontend/src/Activity/Queue/Status/QueueStatus.tsx
  frontend/src/Activity/Queue/Status/QueueStatusConnector.js
  frontend/src/Activity/Queue/Status/createQueueStatusSelector.ts
  frontend/src/Activity/Queue/TimeleftCell.tsx
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/QueueAppState.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Episode/useEpisode.ts
  frontend/src/Helpers/Props/TooltipPosition.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Table/SeasonsCell.tsx
  frontend/src/Utilities/Date/getRelativeDate.ts
  frontend/src/typings/Queue.ts
Labels: none

New: Parse Chinese Anime that separates titles with vertical bar
  src/NzbDrone.Core.Test/ParserTests/UnicodeReleaseParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Disable Auth Required Dialog
  frontend/src/Components/Page/Page.js
Labels: none

Don't hash files in development builds
  frontend/build/webpack.config.js
Labels: none

Fixed: Interactive Import dropdown width on mobile
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.css
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

New: 'Seasons Monitored Status' Custom Filter to replace 'Has Unmonitored Season'
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/SeasonsMonitoredStatusFilterBuilderRowValue.js
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/Store/Actions/seriesActions.js
  src/NzbDrone.Core.Test/Datastore/Migration/210_add_monitored_seasons_filterFixture.cs
  src/NzbDrone.Core/Datastore/Migration/210_add_monitored_seasons_filter.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: db-migration

Fixed: Updating series path from different OS paths
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Core/Tv/SeriesPathBuilder.cs
Labels: none

Cache root folders and improve getting disk space for series path roots
  src/NzbDrone.Core.Test/DiskSpace/DiskSpaceServiceFixture.cs
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
Labels: none

Improve messaging for renamed episode files progress info
  src/NzbDrone.Core/MediaFiles/RenameEpisodeFileService.cs
Labels: none

Bump ImageSharp to 3.1.5
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
