Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: Custom Format upgrading not respecting 'Upgrades Allowed'
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Bump version to 4.0.11
  .github/workflows/build.yml
Labels: none

Bump version to 4.0.11
  .github/workflows/build.yml
Labels: none

Rename SizeLeft and TimeLeft queue item properties
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Queue/Queue.cs
  src/NzbDrone.Core/Queue/QueueService.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Queue/QueueResource.cs
Labels: none

Fixed: Prevent lack of internet from stopping all health checks from running
  src/NzbDrone.Core/HealthCheck/Checks/SystemTimeCheck.cs
Labels: none

Fixed: Kometa and Kodi metadata failing with duplicate episode files
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Fixed: New episodes in season follow season's monitored status
  src/NzbDrone.Core.Test/TvTests/RefreshEpisodeServiceFixture.cs
  src/NzbDrone.Core/Tv/RefreshEpisodeService.cs
Labels: none

Deluge communication improvements
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeProxy.cs
Labels: download-client

New: Support for new SABnzbd history retention values
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdCategory.cs
Labels: download-client

Convert EditSeriesModal to TypeScript
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/SeriesAppState.ts
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Edit/EditSeriesModal.js
  frontend/src/Series/Edit/EditSeriesModal.tsx
  frontend/src/Series/Edit/EditSeriesModalConnector.js
  frontend/src/Series/Edit/EditSeriesModalContent.js
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Store/Selectors/selectSettings.js
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/Utilities/Object/getErrorMessage.ts
  frontend/src/typings/Field.ts
  frontend/src/typings/pending.ts
Labels: none

New: Ability to change root folder when editing series
  frontend/src/Components/Form/FormInputButton.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/PathInput.css
  frontend/src/Components/Form/PathInput.css.d.ts
  frontend/src/Components/Form/PathInput.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Series/Edit/EditSeriesModalConnector.js
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Edit/RootFolder/RootFolderModal.tsx
  frontend/src/Series/Edit/RootFolder/RootFolderModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
  src/Sonarr.Api.V3/Series/SeriesFolderController.cs
Labels: none

Update React and add React Query
  frontend/src/App/App.tsx
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/bootstrap.tsx
  frontend/src/index.ts
  frontend/typings/Globals.d.ts
  package.json
  yarn.lock
Labels: none

Webpack web target
  frontend/build/webpack.config.js
Labels: none

Fixed: Truncating long text in the middle when it shouldn't be truncated
  frontend/build/webpack.config.js
  frontend/src/Components/Form/Tag/TagInputTag.tsx
  frontend/src/Components/MiddleTruncate.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.css
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/typings/MiddleTruncate.d.ts
  package.json
  yarn.lock
Labels: none

Support Postgres with non-standard version string
  src/NzbDrone.Core.Test/Datastore/DatabaseVersionParserFixture.cs
  src/NzbDrone.Core/Datastore/Database.cs
  src/NzbDrone.Core/Datastore/DatabaseVersionParser.cs
Labels: none

Fixed: Error loading queue
  src/NzbDrone.Integration.Test/ApiTests/QueueFixture.cs
  src/NzbDrone.Integration.Test/Client/QueueClient.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
  src/Sonarr.Api.V3/Queue/QueueResource.cs
Labels: none

Fixed: Avoid default category on existing Transmission configurations
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
Labels: download-client

Fixed: Adding/Editing not replacing Implementation Name
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/typings/pending.ts
Labels: none

appease stylelint
  frontend/src/Series/Details/SeriesDetails.css
Labels: none

Fixed: Adding/Editing not replacing Implementation Name
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/typings/pending.ts
Labels: none

Fixed: Error loading queue
  src/NzbDrone.Integration.Test/ApiTests/QueueFixture.cs
  src/NzbDrone.Integration.Test/Client/QueueClient.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
  src/Sonarr.Api.V3/Queue/QueueResource.cs
Labels: none

Fixed: Avoid default category on existing Transmission configurations
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
Labels: download-client

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Add tests to showcase that if a revision upgrade exists, and there is a CF upgrade, "upgrade allowed" is completely bypassed
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
Labels: none

added OriginalLanguage to WebhookSeries.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
Labels: connection

added languages string to WebhookRelease
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
Labels: connection

added Languages string to WebhookEpisodeFile
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
Labels: connection

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_HANS.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

New: Add Tailscale CGNAT range to local address detection
  src/NzbDrone.Common.Test/ExtensionTests/IPAddressExtensionsFixture.cs
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
Labels: none

switch to language lists
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
Labels: connection

Fixed: Log hardlink creation errors as warnings in Mono environment
  src/NzbDrone.Mono/Disk/DiskProvider.cs
Labels: none

pass OriginalLanguage as Language type instead of string
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
Labels: connection

Deleted translation using Weblate (zh_HANS (generated) (zh_HANS))
  src/NzbDrone.Core/Localization/Core/zh_HANS.json
Labels: none

Remove unnecessary heap allocations in local IP check
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
Labels: none

Change explicit types into var to fix build
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
Labels: none

Fixed: Don't fail import if symlink target can't be resolved
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Add return type for series/lookup endpoint
  src/Sonarr.Api.V3/Series/SeriesLookupController.cs
Labels: none

New: Make CGNAT support configurable
  src/NzbDrone.Common.Test/ExtensionTests/IPAddressExtensionsFixture.cs
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
Labels: none

New: Kometa metadata file creation disabled
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/MetadataAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalConnector.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.css
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.css.d.ts
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContentConnector.js
  frontend/src/Settings/Metadata/Metadata/Metadata.js
  frontend/src/Settings/Metadata/Metadata/Metadata.tsx
  frontend/src/Settings/Metadata/Metadata/Metadatas.js
  frontend/src/Settings/Metadata/Metadata/Metadatas.tsx
  frontend/src/Settings/Metadata/MetadataSettings.js
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/typings/DownloadClient.ts
  frontend/src/typings/Field.ts
  frontend/src/typings/ImportList.ts
  frontend/src/typings/Indexer.ts
  frontend/src/typings/Metadata.ts
  frontend/src/typings/Notification.ts
  frontend/src/typings/Provider.ts
  frontend/src/typings/pending.ts
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
  src/NzbDrone.Core/HealthCheck/Checks/MetadataCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none
