Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Convert getLanguageName to hook
  frontend/src/Episode/Summary/MediaInfo.tsx
  frontend/src/EpisodeFile/MediaInfo.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Language/useLanguageName.ts
  frontend/src/Utilities/String/getLanguageName.ts
Labels: none

New: Additional logging for recycle bin cleanup
  src/NzbDrone.Core/MediaFiles/RecycleBinProvider.cs
Labels: none

New: Add option to not download before air date to Release Profiles
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/useReleaseProfiles.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/AirDateSpecificationFixture.cs
  src/NzbDrone.Core/Datastore/Migration/226_add_air_date_filtering_to_release_profiles.cs
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/AirDateSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfile.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileResource.cs
Labels: db-migration

Add v5 Language endpoints
  src/Sonarr.Api.V5/Localization/LanguageController.cs
  src/Sonarr.Api.V5/Localization/LanguageResource.cs
Labels: none

Use react-query for Languages
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Filter/Builder/LanguageFilterBuilderRowValue.tsx
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.tsx
  frontend/src/Language/useLanguages.ts
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Store/Actions/Settings/languages.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createLanguagesSelector.ts
Labels: none

New: Parse NCOP/NCED as specials
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Parse series if year is added to known alias
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

New: Skip series search for seasons with files if profile doesn't allow upgrades
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerSearchTests/SeriesSearchServiceFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/IndexerSearch/SeriesSearchService.cs
Labels: none

Fixed: Ensure trailing slash is removed from drive letters when updating Plex Media Server
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
Labels: connection

Add v5 Language endpoints
  src/Sonarr.Api.V5/Localization/LanguageController.cs
  src/Sonarr.Api.V5/Localization/LanguageResource.cs
Labels: none

Use react-query for Languages
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Filter/Builder/LanguageFilterBuilderRowValue.tsx
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.tsx
  frontend/src/Language/useLanguages.ts
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Store/Actions/Settings/languages.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createLanguagesSelector.ts
Labels: none

New: Parse series if year is added to known alias
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

Add v5 General settings endpoints
  src/Sonarr.Api.V5/Settings/CertificateValidator.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
Labels: none

Use react-query for General settings
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Settings/General/AnalyticSettings.tsx
  frontend/src/Settings/General/BackupSettings.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/HostSettings.tsx
  frontend/src/Settings/General/LoggingSettings.tsx
  frontend/src/Settings/General/ProxySettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  frontend/src/Settings/General/UpdateSettings.tsx
  frontend/src/Settings/General/useGeneralSettings.ts
  frontend/src/Settings/General/useUpdateSettings.ts
  frontend/src/Store/Actions/Settings/general.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/System/Updates/Updates.tsx
Labels: none

Cleanup settings controllers
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsController.cs
  src/Sonarr.Api.V5/Settings/SettingsController.cs
  src/Sonarr.Api.V5/Settings/UiSettingsController.cs
  src/Sonarr.Api.V5/Settings/UpdateSettingsController.cs
  src/Sonarr.Api.V5/Settings/UpdateSettingsResource.cs
Labels: none

Add v5 Indexer endpoints
  src/Sonarr.Api.V5/Indexers/IndexerBulkResource.cs
  src/Sonarr.Api.V5/Indexers/IndexerController.cs
  src/Sonarr.Api.V5/Indexers/IndexerFlagController.cs
  src/Sonarr.Api.V5/Indexers/IndexerFlagResource.cs
  src/Sonarr.Api.V5/Indexers/IndexerResource.cs
Labels: none

Standardize trakt settings (#1)
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/List/TraktListSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktQueryHelper.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Clean up SignalRListener
  frontend/src/Components/SignalRListener.tsx
Labels: none

Use react-query for Indexers
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Filter/Builder/IndexerFilterBuilderRowValue.tsx
  frontend/src/Components/Form/Select/IndexerSelectInput.tsx
  frontend/src/Components/SignalRListener.tsx
  frontend/src/Settings/Indexers/IndexerSettings.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerItem.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerModal.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/AddIndexerPresetMenuItem.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModal.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Indexer.tsx
  frontend/src/Settings/Indexers/Indexers/Indexers.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/Indexers/useIndexers.ts
  frontend/src/Settings/Indexers/useManageIndexersOptionsStore.ts
  frontend/src/Settings/Notifications/Notifications/AddNotificationItem.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationPresetMenuItem.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModal.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Store/Actions/Settings/indexers.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/typings/Indexer.ts
Labels: none

improve acceptable size rejection messaging for multi-episode releases
  src/NzbDrone.Core/DecisionEngine/Specifications/AcceptableSizeSpecification.cs
Labels: none

little less verbose
  src/NzbDrone.Core/DecisionEngine/Specifications/AcceptableSizeSpecification.cs
Labels: none

Close issues that don't follow issue templates
  .github/workflows/close_invalid_issues.yml
Labels: none

Bump lodash, qs, rimraf, html-webpack-plugin and webpack
  package.json
  yarn.lock
Labels: none

New: Improve parsing of releases with contain multiple titles
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

Fixed: Consistent diacrital removal from clean titles
  src/NzbDrone.Common/Extensions/StringExtensions.cs
  src/NzbDrone.Common/Globalization/AdditionalDiacriticsProvider.cs
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/ParserTests/NormalizeSeriesTitleFixture.cs
  src/NzbDrone.Core/Datastore/Migration/163_mediainfo_to_ffmpeg.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: db-migration, parsing

Remove English limitation for aliases
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Close issues that don't follow issue templates
  .github/workflows/close_invalid_issues.yml
Labels: none

New: Add Original Country information
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Internationalization/getCountryCode.ts
  frontend/src/Internationalization/useCountryName.ts
  frontend/src/Language/useLanguageName.ts
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Index/Menus/SeriesIndexSortMenu.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/Series.ts
  frontend/src/Series/seriesOptionsStore.ts
  src/NzbDrone.Core/AutoTagging/Specifications/OriginalCountrySpecification.cs
  src/NzbDrone.Core/Datastore/Migration/227_original_country.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/ShowResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: connection, db-migration

add ImportListExclusion to Series lookup API response
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: none

Show warning in add series UI when series is present in import list exclusions
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/Series/Series.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

sort en.json
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

use `is not null` in check
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
Labels: none

switch to hidden field and isExcluded
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/Series/Series.ts
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
Labels: none

Update frontend/src/Series/Series.ts
  frontend/src/Series/Series.ts
Labels: none

Update frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
Labels: none

Move isExcluded to AddSeries interface
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/AddSeries.ts
  frontend/src/Series/Series.ts
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

New: Display the series link IDs
  frontend/src/Components/Link/ClipboardButton.css
  frontend/src/Components/Link/ClipboardButton.css.d.ts
  frontend/src/Components/Link/ClipboardButton.tsx
  frontend/src/Series/Details/SeriesDetailsLinks.css
  frontend/src/Series/Details/SeriesDetailsLinks.css.d.ts
  frontend/src/Series/Details/SeriesDetailsLinks.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none
