Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Pin System.Drawing.Common to 8.0.20
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

check if episodes are empty and return only title if so
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
Labels: connection

fix mapping to queue resource when no episodes are present
  src/Sonarr.Api.V5/Queue/QueueResource.cs
Labels: none

Switch to FluentMigrator.Runner.Core to avoid extranous platform runners
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Update src/Sonarr.Api.V5/Queue/QueueResource.cs
  src/Sonarr.Api.V5/Queue/QueueResource.cs
Labels: none

Fixed: qBittorrent /login API success check
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

Add minimum score to MAL import list
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListImport.cs
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListParser.cs
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListResponses.cs
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListSettings.cs
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

fix Finnish translation
  src/NzbDrone.Core/Localization/Core/fi.json
Labels: none

remove localizations for MAL score
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

remove localizations for MAL score
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Add MAL Import list Minimum Score
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListImport.cs
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListParser.cs
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListResponses.cs
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Update src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListSettings.cs
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListSettings.cs
Labels: none

Update FieldDefinition indices for ListStatus and MinimumScore
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListSettings.cs
Labels: none

Update src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Update src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

Update src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
Labels: connection

More generic handling of Korean Series
  src/NzbDrone.Core/Parser/ParserCommon.cs
Labels: parsing

MyAnimeListParser primary constructor + readonly settings
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListParser.cs
Labels: none

Revert localization
  frontend/src/System/useIsContainerized.ts
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/nl.json
Labels: none

Testout restart monitor internal
  src/NzbDrone.Common/Options/AppOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host/AppLifetime.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
Labels: none

reorder MyAnimeListSettings
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListSettings.cs
Labels: none

parse multilang and multilanguage as multi
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fix: Validate release/push download client configuration
  src/NzbDrone.Api.Test/v3/Indexers/ReleasePushControllerFixture.cs
  src/Sonarr.Api.V3/Indexers/ReleasePushController.cs
Labels: none

Fix ReleasePushControllerFixture
  src/NzbDrone.Api.Test/v3/Indexers/ReleasePushControllerFixture.cs
Labels: none

make regex more restrictive, tests
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
Labels: none

revert
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/Sonarr.Core.Test.csproj
Labels: none

fix
  src/NzbDrone.Core.Test/ParserTests/MiniSeriesEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/ParserCommon.cs
Labels: parsing

whitespace
  src/NzbDrone.Core.Test/ParserTests/MiniSeriesEpisodeParserFixture.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Add support for manual searching
  frontend/src/Episode/EpisodeSearchCell.tsx
  frontend/src/Episode/Search/EpisodeSearch.css
  frontend/src/Episode/Search/EpisodeSearch.tsx
  frontend/src/Episode/Search/ManualSearchModal.tsx
  frontend/src/Episode/Search/ManualSearchModalContent.css
  frontend/src/Episode/Search/ManualSearchModalContent.css.d.ts
  frontend/src/Episode/Search/ManualSearchModalContent.tsx
  frontend/src/InteractiveSearch/InteractiveSearchPayload.ts
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModal.tsx
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModalContent.tsx
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Series.ts
  frontend/src/Store/Actions/releaseActions.js
  src/NzbDrone.Core/Datastore/Migration/224_add_enable_manual_search_to_series.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/ManualSearchCriteria.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Fanzub/FanzubRequestGenerator.cs
  src/NzbDrone.Core/Indexers/FileList/FileListRequestGenerator.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/IIndexer.cs
  src/NzbDrone.Core/Indexers/IIndexerRequestGenerator.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
  src/NzbDrone.Core/Indexers/RssIndexerRequestGenerator.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechRequestGenerator.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Tv/Series.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
Labels: db-migration, indexer

Reorder MyAnimeListSettings
  src/NzbDrone.Core/ImportLists/MyAnimeList/MyAnimeListSettings.cs
Labels: none

Add FFmpeg encoding feature to Sonarr import pipeline
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/Encoding/FfmpegEncodingService.cs
  src/NzbDrone.Core/MediaFiles/Encoding/IFfmpegEncodingService.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigController.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
Labels: none

Update frontend/src/Utilities/Date/timeZoneOptions.ts
  frontend/src/Utilities/Date/timeZoneOptions.ts
Labels: none

fix all the lint things
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Utilities/Date/convertToTimezone.ts
  frontend/src/Utilities/Date/formatDateTime.ts
  frontend/src/Utilities/Date/formatTime.ts
  frontend/src/Utilities/Date/getRelativeDate.ts
  frontend/src/Utilities/Date/timeZoneOptions.ts
Labels: none

Add v5 System endpoints
  src/Sonarr.Api.V5/System/SystemController.cs
  src/Sonarr.Api.V5/System/SystemResource.cs
Labels: none

Use react-query for System Status
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolder.tsx
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/FileBrowser/FileBrowserModalContent.tsx
  frontend/src/Components/Page/ErrorPage.tsx
  frontend/src/Components/Page/Header/KeyboardShortcutsModalContent.tsx
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/Components/Page/Page.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Series/Edit/RootFolder/RootFolderModalContent.tsx
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/HostSettings.tsx
  frontend/src/Settings/General/UpdateSettings.tsx
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Store/Actions/systemActions.js
  frontend/src/Store/Selectors/createSystemStatusSelector.ts
  frontend/src/System/Logs/LogFiles.tsx
  frontend/src/System/Status/About/About.tsx
  frontend/src/System/Status/useSystemStatus.ts
  frontend/src/System/Updates/Updates.tsx
  frontend/src/System/useIsWindows.ts
  frontend/src/System/useIsWindowsService.ts
  frontend/src/System/useSystemStatus.ts
Labels: none

New: Parse 'jap' and 'jpn' as Japanese
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

remove other groups
  src/NzbDrone.Core/Parser/ParserCommon.cs
Labels: parsing

Fallback to host sqlite3 on FreeBSD and Linux
  src/NzbDrone.Common/Composition/AssemblyLoader.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
