Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Keep series search index in worker instead of resending series on every search
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Components/Page/Header/fuse.worker.ts
Labels: none

New: Option to send seed time as inactive seeding time limit to qBittorrent
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSeedTimeType.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Don't cache translations during development
  src/NzbDrone.Core/Localization/LocalizationService.cs
  vite.config.ts
Labels: none

Restrict ImageSharp decoders and suppress 3.x advisories
  src/Directory.Build.props
  src/NzbDrone.Core/MediaCover/ImageResizer.cs
Labels: none

fix: language sort predicate
  frontend/src/Store/Actions/releaseActions.js
Labels: none

Validate restored database and keep previous database on restore
  src/NzbDrone.Core.Test/BackupTests/BackupServiceFixture.cs
  src/NzbDrone.Core.Test/Datastore/DatabaseRestorationServiceFixture.cs
  src/NzbDrone.Core/Backup/BackupService.cs
  src/NzbDrone.Core/Datastore/DatabaseRestorationService.cs
Labels: none

Mask password hash and secrets in host config API
  src/NzbDrone.Api.Test/Http/Validation/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v3/Config/HostConfigControllerFixture.cs
  src/NzbDrone.Api.Test/v5/Settings/GeneralSettingsControllerFixture.cs
  src/NzbDrone.Core.Test/Authentication/UserServiceFixture.cs
  src/NzbDrone.Core/Authentication/UserService.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Http/Validation/CertificateValidator.cs
  src/Sonarr.Http/Validation/RuleBuilderExtensions.cs
Labels: none

fix: rename languageWeight as languages
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/Store/Actions/releaseActions.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Restrict ImageSharp decoders and suppress 3.x advisories
  src/Directory.Build.props
  src/NzbDrone.Core/MediaCover/ImageResizer.cs
Labels: none

More system directories
  src/NzbDrone.Common/Disk/SystemFolders.cs
Labels: none

Increase iterations to match OWASP recommendations
  src/NzbDrone.Core/Authentication/UserService.cs
Labels: none

New: Lockout after failed login attempts
  frontend/src/login.html
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Authentication/AuthenticationService.cs
Labels: none

Don't return passwords and secrets from settings API
  src/NzbDrone.Core/Authentication/UserService.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Http/Validation/CertificateValidator.cs
  src/Sonarr.Http/Validation/RuleBuilderExtensions.cs
Labels: none

New: Enable Forms authentication by default
  frontend/src/login.html
  src/NzbDrone.Common.Test/ConfigFileProviderTest.cs
  src/NzbDrone.Common.Test/SecretGeneratorFixture.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Common/SecretGenerator.cs
  src/NzbDrone.Core.Test/Authentication/InitialUserServiceFixture.cs
  src/NzbDrone.Core/Authentication/InitialUserService.cs
  src/NzbDrone.Core/Authentication/UserService.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/PasswordResetTokenCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/NzbDrone.Test.Common/TestBase.cs
  src/Sonarr.Http.Test/Authentication/AuthenticationServiceFixture.cs
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Authentication/AuthenticationService.cs
  src/Sonarr.Http/Authentication/ResetPasswordResource.cs
Labels: none

Refresh browser after resetting API Key
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
Labels: none

Path validation rejects relative path segments
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/DeploymentInfoProvider.cs
  src/NzbDrone.Core/Validation/Paths/PathValidator.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Http/Frontend/Mappers/BrowserConfig.cs
  src/Sonarr.Http/Frontend/Mappers/FaviconMapper.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LogoutHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
  src/Sonarr.Http/Frontend/Mappers/RobotsTxtMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
Labels: none

Use constant time comparison for API key and password hashes
  src/NzbDrone.Core/Authentication/UserService.cs
  src/Sonarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
Labels: none

Clean up permissions on Windows
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
  src/NzbDrone.Common/Disk/IDiskProvider.cs
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
  src/NzbDrone.Host/UtilityModeRouter.cs
  src/NzbDrone.Mono/Disk/DiskProvider.cs
  src/NzbDrone.Windows/Disk/DiskProvider.cs
Labels: none

Preferred metadata language setting
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.module.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/importSeriesStore.ts
  frontend/src/AddSeries/addSeriesOptionsStore.ts
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Language/Language.ts
  frontend/src/Language/useLanguages.ts
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  frontend/src/Settings/MetadataSource/MetadataSettingsModal.tsx
  frontend/src/Settings/MetadataSource/MetadataSettingsModalContent.tsx
  frontend/src/Settings/MetadataSource/MetadataSourceSettings.tsx
  frontend/src/Settings/MetadataSource/useMetadataSourceSettings.ts
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListController.cs
  src/Sonarr.Api.V5/ImportLists/ImportListResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorResource.cs
  src/Sonarr.Api.V5/Series/SeriesEditorValidator.cs
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsResource.cs
Labels: none

Season Titles
  frontend/src/Series/Details/SeriesDetailsSeason.module.css
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Series.ts
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  src/NzbDrone.Core.Test/OrganizerTests/GetSeasonFolderFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/SeasonResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/NzbDrone.Core/Tv/Season.cs
  src/Sonarr.Api.V3/Series/SeasonResource.cs
  src/Sonarr.Api.V5/Series/SeasonResource.cs
Labels: none

Fix Interactive Search layout on smaller screens
  frontend/src/InteractiveSearch/InteractiveSearch.module.css
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.module.css
Labels: none

Fix popovers overflowing the viewport on mobile
  frontend/src/Components/Tooltip/Popover.module.css
  frontend/src/Components/Tooltip/Popover.tsx
  frontend/src/Components/Tooltip/Tooltip.module.css
  frontend/src/Components/Tooltip/Tooltip.tsx
Labels: none

Improve spacing between description list items on mobile
  frontend/src/Components/DescriptionList/DescriptionList.module.css
Labels: none

Fix page scroll staying locked when a modal unmounts while open
  frontend/src/Components/Modal/Modal.tsx
Labels: none

Show no airings message on calendar single day view
  frontend/src/Calendar/Day/CalendarDay.module.css
  frontend/src/Calendar/Day/CalendarDay.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Preferred metadata language setting
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.module.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/importSeriesStore.ts
  frontend/src/AddSeries/addSeriesOptionsStore.ts
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Language/Language.ts
  frontend/src/Language/useLanguages.ts
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  frontend/src/Settings/MetadataSource/MetadataSettingsModal.tsx
  frontend/src/Settings/MetadataSource/MetadataSettingsModalContent.tsx
  frontend/src/Settings/MetadataSource/MetadataSourceSettings.tsx
  frontend/src/Settings/MetadataSource/useMetadataSourceSettings.ts
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListController.cs
  src/Sonarr.Api.V5/ImportLists/ImportListResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorResource.cs
  src/Sonarr.Api.V5/Series/SeriesEditorValidator.cs
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsResource.cs
Labels: none

Season Titles
  frontend/src/Series/Details/SeriesDetailsSeason.module.css
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Series.ts
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  src/NzbDrone.Core.Test/OrganizerTests/GetSeasonFolderFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/SeasonResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/NzbDrone.Core/Tv/Season.cs
  src/Sonarr.Api.V3/Series/SeasonResource.cs
  src/Sonarr.Api.V5/Series/SeasonResource.cs
Labels: none

Allow some flexibility in release date parsing
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Importing anime from Simkl Import List
  src/NzbDrone.Core/ImportLists/Simkl/SimklParser.cs
Labels: none

New: Lockout after failed login attempts
  frontend/src/login.html
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Authentication/AuthenticationService.cs
Labels: none

New: Enable Forms authentication by default
  frontend/src/login.html
  src/NzbDrone.Common.Test/ConfigFileProviderTest.cs
  src/NzbDrone.Common.Test/SecretGeneratorFixture.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Common/SecretGenerator.cs
  src/NzbDrone.Core.Test/Authentication/InitialUserServiceFixture.cs
  src/NzbDrone.Core/Authentication/InitialUserService.cs
  src/NzbDrone.Core/Authentication/UserService.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/PasswordResetTokenCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/NzbDrone.Test.Common/TestBase.cs
  src/Sonarr.Http.Test/Authentication/AuthenticationServiceFixture.cs
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/Authentication/AuthenticationService.cs
  src/Sonarr.Http/Authentication/ResetPasswordResource.cs
Labels: none

Refresh browser after resetting API Key
  frontend/src/Settings/General/GeneralSettings.tsx
  frontend/src/Settings/General/SecuritySettings.tsx
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
Labels: none

More system directories
  src/NzbDrone.Common/Disk/SystemFolders.cs
Labels: none

Clean up permissions on Windows
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
  src/NzbDrone.Common/Disk/IDiskProvider.cs
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
  src/NzbDrone.Host/UtilityModeRouter.cs
  src/NzbDrone.Mono/Disk/DiskProvider.cs
  src/NzbDrone.Windows/Disk/DiskProvider.cs
Labels: none

Don't return passwords and secrets from settings API
  src/NzbDrone.Core/Authentication/UserService.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Http/Validation/CertificateValidator.cs
  src/Sonarr.Http/Validation/RuleBuilderExtensions.cs
Labels: none

Increase iterations to match OWASP recommendations
  src/NzbDrone.Core/Authentication/UserService.cs
Labels: none

Path validation rejects relative path segments
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/DeploymentInfoProvider.cs
  src/NzbDrone.Core/Validation/Paths/PathValidator.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Http/Frontend/Mappers/BrowserConfig.cs
  src/Sonarr.Http/Frontend/Mappers/FaviconMapper.cs
  src/Sonarr.Http/Frontend/Mappers/IndexHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/LogoutHtmlMapper.cs
  src/Sonarr.Http/Frontend/Mappers/ManifestMapper.cs
  src/Sonarr.Http/Frontend/Mappers/RobotsTxtMapper.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapper.cs
Labels: none

Use constant time comparison for API key and password hashes
  src/NzbDrone.Core/Authentication/UserService.cs
  src/Sonarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
Labels: none
