Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

fixup! New: Custom colon replacement option
  src/NzbDrone.Core/Organizer/NamingConfig.cs
Labels: none

fixup! New: Update AutoTags on series update
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateSeriesFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

New: Queued episode count for seasons in series details
  frontend/src/Components/Label.css
  frontend/src/Components/Label.css.d.ts
  frontend/src/Series/Details/SeasonProgressLabel.tsx
  frontend/src/Series/Details/SeriesDetailsSeason.js
Labels: none

New: Group updates for the same series for Kodi and Emby / Jellyfin
  src/NzbDrone.Core.Test/NotificationTests/Xbmc/OnDownloadFixture.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/MediaServerUpdateQueue.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Xbmc/Xbmc.cs
Labels: connection

New: Group updates for the same series for Kodi and Emby / Jellyfin
  src/NzbDrone.Core.Test/NotificationTests/Xbmc/OnDownloadFixture.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/MediaServerUpdateQueue.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Xbmc/Xbmc.cs
Labels: connection

Fixed: Removing pending release without blocklisting
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  src/Sonarr.Api.V3/Queue/QueueController.cs
Labels: none

New: Custom colon replacement option
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/ColonReplacementFixture.cs
  src/NzbDrone.Core/Datastore/Migration/211_add_custom_colon_replacement_to_naming_config.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/NamingConfig.cs
  src/Sonarr.Api.V3/Config/NamingConfigController.cs
  src/Sonarr.Api.V3/Config/NamingConfigResource.cs
  src/Sonarr.Api.V3/Config/NamingExampleResource.cs
Labels: db-migration

New: Update AutoTags on series update
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateMultipleSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/SeriesServiceTests/UpdateSeriesFixture.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fixed: Parsing of some Web releases
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Add Backtick, Apostrophe and Contraction CleanTitle Test Cases
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
Labels: none

fix: Remove unnecessary tabs in RemoveFileExtension method
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fix Test Case Expectation
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
Labels: none

Update src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Rating votes tooltip and series filter
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.js
  frontend/src/Components/HeartRating.js
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Store/Actions/seriesActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Match only custom formats with score
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItem.js
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/Profiles/ProfileFormatItem.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
Labels: none

fixup! New: Match only custom formats with score
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItem.js
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/Profiles/ProfileFormatItem.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
Labels: none

Fixed: Updating series path from different OS paths
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Tv/SeriesPathBuilder.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Parsing of anime with 3 digit number in middle of title
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Parsing of Chinese anime with ordinal number in English title
  src/NzbDrone.Core.Test/ParserTests/UnicodeReleaseParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Parse Chinese anime formats with reverse title order
  src/NzbDrone.Core.Test/ParserTests/UnicodeReleaseParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

fixup! Fixed: Updating series path from different OS paths
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

fixup! Fixed: Updating series path from different OS paths
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

New: Add option to show tags on series Poster and Overview
  frontend/src/App/State/SeriesAppState.ts
  frontend/src/Series/Index/Overview/Options/SeriesIndexOverviewOptionsModalContent.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/Options/SeriesIndexPosterOptionsModalContent.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css.d.ts
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Store/Actions/seriesIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Use natural sorting for lists of items in the UI
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/FilterBuilderRowValueConnector.js
  frontend/src/Components/Filter/Builder/SeriesFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  frontend/src/Components/Form/DownloadClientSelectInputConnector.js
  frontend/src/Components/Form/IndexerSelectInputConnector.js
  frontend/src/Components/Form/QualityProfileSelectInputConnector.js
  frontend/src/Components/Menu/FilterMenuContent.js
  frontend/src/Components/TagList.js
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
  frontend/src/Series/Details/SeriesTagsConnector.js
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormatsConnector.js
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClientsConnector.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
  frontend/src/Settings/Indexers/Indexers/IndexersConnector.js
  frontend/src/Settings/Metadata/Metadata/MetadatasConnector.js
  frontend/src/Settings/Notifications/Notifications/NotificationsConnector.js
  frontend/src/Settings/Profiles/Quality/QualityProfilesConnector.js
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.js
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Actions/seriesActions.js
  frontend/src/Store/Selectors/createEnabledDownloadClientsSelector.ts
  frontend/src/Store/Selectors/createRootFoldersSelector.ts
  frontend/src/Store/Selectors/createSortedSectionSelector.ts
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.tsx
  frontend/src/Utilities/Array/sortByName.js
  frontend/src/Utilities/Array/sortByProp.ts
  frontend/src/typings/Helpers/KeysMatching.ts
Labels: none

Bump version to 4.0.7
  .github/workflows/build.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump version to 4.0.7
  .github/workflows/build.yml
Labels: none

Rename 'On Upgrade' to 'On File Upgrade'
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/ImportCompleteMessage.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

Add 'On Import Complete' for Discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Fixed: Import queue not processing after incomplete iImport
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
Labels: none

Add 'On Import Complete' for Discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

Rename 'On Upgrade' to 'On File Upgrade'
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/ImportCompleteMessage.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

Fixed: Import queue not processing after incomplete import
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

fixup! New: Use natural sorting for lists of items in the UI
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
