Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Update src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
Labels: none

Ensure Custom Format Maximum Size won't overflow
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
Labels: none

Avoid varying logging message template between calls
  src/NzbDrone.Core/Indexers/RssSyncService.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
Labels: connection, indexer

Increase maximum backup restoration size to 5GB
  src/Sonarr.Api.V3/System/Backup/BackupController.cs
Labels: none

New: Don't allow remote path to start with space
  src/NzbDrone.Core/RemotePathMappings/RemotePathMappingService.cs
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: none

Treat HTTP 410 response for failed download similarly to HTTP 404
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

New: Add Romansh language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

New: Include series poster for Apprise
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/Apprise/ApprisePayload.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseSettings.cs
Labels: connection

new: ignore volumes containing `.timemachine` from Disk Space
  src/NzbDrone.Core.Test/DiskSpace/DiskSpaceServiceFixture.cs
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
Labels: none

Fixed: Loading suggestions for header search input
  frontend/src/Components/Form/Tag/TagInput.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Helpers/Hooks/useDebouncedCallback.tsx
  package.json
  yarn.lock
Labels: none

Fixed: Searching all missing from Wanted
  frontend/src/Wanted/Missing/Missing.tsx
Labels: none

Bump babel, fontawesome icons, fuse.js, react-lazyload, react-use-measure and react-window
  package.json
  yarn.lock
Labels: none

Bump core-js to 3.42
  frontend/build/webpack.config.js
  package.json
  yarn.lock
Labels: none

Use the thrown exception in http timeout handling
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Fixed: Escape backticks in discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

New: Update wording when removing a root folder
  frontend/src/RootFolder/RootFolderRow.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Trakt Import List authentication after 24 hours
  src/NzbDrone.Core/ImportLists/Trakt/TraktAPI.cs
Labels: none

added 'libicu72' as a required package
  distribution/debian/install.sh
Labels: none

Fixed: formatBitrate - changed filesize call to pass size in bytes and request result in bits.
  frontend/src/Utilities/Number/formatBitrate.ts
Labels: none

Follow redirects for usenet grabs on non-prod builds
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

Fixed: Validation for remote path mapping
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: none

Cleanup series title normalizer
  src/NzbDrone.Core.Test/TvTests/SeriesTitleNormalizerFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Tv/SeriesTitleNormalizer.cs
Labels: parsing

Rename series monitoring to episode monitoring
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
  frontend/src/Series/MonitoringOptions/MonitoringOptionsModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Update frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
Labels: none

lint fix
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
  frontend/src/Series/MonitoringOptions/MonitoringOptionsModalContent.tsx
Labels: none

reword info alert
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Map SwissGerman to German
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Change tribler api to work with tribler version 8.x.
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerDownloadClientApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerSettingsApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClientProxy.cs
Labels: download-client

Fix stray newline
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClientProxy.cs
Labels: download-client

Remove comment about error override.
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
Labels: download-client

Switch to PascalCase in generated code. Use translations for Settings api. Remove partial from dto classes.
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerDownloadClientApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerSettingsApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClientProxy.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Introduced tribler as a download client. The client is based on the structure of Rargb downloader.
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerDownloadClientApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerSettingsApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClientProxy.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadSettings.cs
Labels: download-client

Remove parsing of infohash trough InfoHash Corrections after inspection.
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClientProxy.cs
Labels: download-client

Change tribler api to work with tribler version 8.x. This pr is mostly an attempt to follow coding practices.
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerDownloadClientApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerSettingsApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClientProxy.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadSettings.cs
Labels: download-client

Remove GeneratedCode annotations.
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerDownloadClientApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/Models/TriblerSettingsApi.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClientProxy.cs
Labels: download-client

Change language for config option.
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fix translations for Tribler.
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClient.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Fix status for grabbed episodes part of grouped calendar events
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/Episode/Episode.ts
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
Labels: none

Typings for iCal state options
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
Labels: none

Fixed: Quality sliders on some browsers
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.tsx
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
