Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

New: Bulk manage custom formats
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsToolbarButton.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Store/Actions/Settings/customFormats.js
  frontend/src/Store/Actions/Settings/downloadClients.js
  frontend/src/Store/Actions/Settings/indexers.js
  frontend/src/typings/CustomFormat.ts
  src/NzbDrone.Core/CustomFormats/CustomFormatService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/CustomFormats/CustomFormatBulkResource.cs
  src/Sonarr.Api.V3/CustomFormats/CustomFormatController.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fixed: Queue header
  frontend/src/Components/Link/Link.tsx
Labels: none

Refactoring: Icon button component Typescript
  frontend/src/Components/Link/IconButton.js
  frontend/src/Components/Link/IconButton.tsx
Labels: none

Refactoring: TableRowCell Typescript integration
  frontend/src/Components/Table/Cells/TableRowCell.js
  frontend/src/Components/Table/Cells/TableRowCell.tsx
Labels: none

Refactoring: Typescript SpinnerIcon component
  frontend/src/Components/SpinnerIcon.js
  frontend/src/Components/SpinnerIcon.tsx
  frontend/src/Helpers/Props/icons.ts
Labels: none

Don't persist value for SslCertHash when checking for existence
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

fixup! Fixed: Queue header
  frontend/src/Components/Link/Link.tsx
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fixed: Queue header
  frontend/src/Components/Link/Link.tsx
Labels: none

Convert IconButton to Typescript
  frontend/src/Components/Link/IconButton.js
  frontend/src/Components/Link/IconButton.tsx
Labels: none

Convert TableRowCell to Typescript
  frontend/src/Components/Table/Cells/TableRowCell.js
  frontend/src/Components/Table/Cells/TableRowCell.tsx
Labels: none

Convert SpinnerIcon to TypeScript
  frontend/src/Components/SpinnerIcon.js
  frontend/src/Components/SpinnerIcon.tsx
  frontend/src/Helpers/Props/icons.ts
Labels: none

Don't persist value for SslCertHash when checking for existence
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Generating absolute episode file paths in webhooks
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
Labels: none

Fixed: Forbid empty spaces in Must Contain/Must Not Contain for Release Profiles
  frontend/src/Components/Form/TextTagInputConnector.js
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
Labels: none

Fixed: Importing files without media info available
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/UpdateMediaInfoService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Generating absolute episode file paths in webhook events
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
Labels: none

Update frontend/src/Components/Form/TextTagInputConnector.js
  frontend/src/Components/Form/TextTagInputConnector.js
Labels: none

Fixed: Forbid empty spaces in Release Profile restrictions
  frontend/src/Components/Form/TextTagInputConnector.js
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
Labels: none

Fixed: Importing files without media info available
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/UpdateMediaInfoService.cs
Labels: none

Fixed: Improve color impaired patterns for Calendar
  frontend/src/Calendar/Events/CalendarEvent.css
Labels: none

Fixed: Improve color impaired patterns for Progress Bar
  frontend/src/Components/ProgressBar.css
  frontend/src/Series/Index/SeriesIndexFooter.css
Labels: none

Fixed: Migrate appdata folder on dotnet 8 for OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Incorperated roles for different users
  frontend/src/Settings/Settings.js
  frontend/src/Settings/Users/AddUsers/AddUsers.js
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModal.js
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModalContent.js
  frontend/src/Settings/Users/User/User.js
  frontend/src/Settings/Users/Users.js
  frontend/src/Store/Actions/Settings/users.js
  src/NzbDrone.Core/Authentication/User.cs
  src/NzbDrone.Core/Authentication/UserRepository.cs
  src/NzbDrone.Core/Authentication/UserService.cs
  src/NzbDrone.Core/Authentication/UsersUpdatedEvent.cs
  src/NzbDrone.Core/Datastore/Migration/212_add_role_to_users.cs
  src/NzbDrone.Core/Datastore/Migration/213_add_api_key_to_users.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Users/UserController.cs
  src/Sonarr.Api.V3/Users/UserResource.cs
  src/Sonarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Frontend/InitializeJsonController.cs
Labels: db-migration

Enabled conditional rendering of frontend ui based on the users role
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Settings/Users/AddUsers/EditAddUserModal/EditAddUserModalContent.css
  src/Sonarr.Http/Frontend/InitializeJsonController.cs
Labels: none

New: Add IndexerFlags parsing to NewznabRssParser
  src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Parser/Model/IndexerFlags.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
Labels: indexer, parsing

New: Except language option for Language Custom Formats
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/MultiLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/SingleLanguageFixture.cs
  src/NzbDrone.Core/CustomFormats/Specifications/LanguageSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

fixup! New: Except language option for Language Custom Formats
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/SingleLanguageFixture.cs
Labels: none

Fixed: Failing to import any file for series if one has bad encoding
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
Labels: none

Update src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
  src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
Labels: none

cleaned up unit test per suggestion
  src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
Labels: none

Cleanup History Details and a typo
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/Activity/History/Details/HistoryDetailsModal.tsx
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Components/Table/Cells/TableRowCell.tsx
Labels: none

Add Last Search Time to /episode API and frontend
  frontend/src/Episode/Episode.ts
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingConnector.js
  frontend/src/Wanted/Missing/MissingRow.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
Labels: none

Refactoring: Spinner button component
  frontend/src/Components/Link/SpinnerButton.js
  frontend/src/Components/Link/SpinnerButton.tsx
Labels: none

New: Display stats for all series in index footer
  frontend/src/Series/Index/SeriesIndexFooter.tsx
Labels: none

Fixed: Respect Quality cutoff if Custom Format cutoff isn't met
  src/NzbDrone.Core.Test/DecisionEngineTests/CutoffSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/CutoffSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
