Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed deleting tags from UI
  frontend/src/Settings/Tags/Tag.tsx
Labels: none

Update token to be Sonarr specific for remove root folder message translation
  frontend/src/RootFolder/RootFolderRow.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Migrate Episode Files resources to V5 API
  src/Sonarr.Api.V5/CustomFormats/CustomFormatBulkResource.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatController.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatResource.cs
  src/Sonarr.Api.V5/CustomFormats/CustomFormatSpecificationSchema.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileController.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileListResource.cs
  src/Sonarr.Api.V5/EpisodeFiles/EpisodeFileResource.cs
  src/Sonarr.Api.V5/EpisodeFiles/MediaInfoResource.cs
Labels: none

Fixed redirect loop for removed basic auth method
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/UiAuthorizationPolicyProvider.cs
Labels: none

Fixed deleting tags from UI
  frontend/src/Settings/Tags/Tag.tsx
Labels: none

Make remove root folder Sonarr specific
  frontend/src/RootFolder/RootFolderRow.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Propagate series tags to qBittorrent when adding torrent to download client
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Resolve PR review comments
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Resolve PR review comments
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Resolve PR review comments
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Change authentication to Forms if set to Basic
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/UiAuthorizationPolicyProvider.cs
Labels: none

reword help text to generic customisable-dangerous-extensions
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

refactor(api): split up routes
  src/NzbDrone.Core/MediaFiles/MediaFileRepository.cs
  src/NzbDrone.Core/MediaFiles/MediaFileService.cs
  src/NzbDrone.Core/MediaFiles/RenameEpisodeFileService.cs
  src/NzbDrone.Core/Tv/EpisodeRepository.cs
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/Sonarr.Api.V3/Episodes/RenameEpisodeController.cs
Labels: none

refactor Emby/Jellyfin connection test
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
Labels: connection

Add Georgian language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Library import progress bar
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.css.d.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/Store/Actions/importSeriesActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Update LoadingMessage.tsx
  frontend/src/Components/Loading/LoadingMessage.tsx
Labels: none

NIT Newlines before ifs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
Labels: download-client

Stash
  frontend/src/App/State/TagsAppState.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tag.tsx
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfileService.cs
  src/NzbDrone.Core/Tags/TagDetails.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Sonarr.Api.V3/Tags/TagDetailsResource.cs
Labels: none

Changing validator to have more helpful error message
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
Labels: none

Allow Auto Redirects when Fetching Custom Lists
  src/NzbDrone.Common/Http/HttpRequestBuilder.cs
  src/NzbDrone.Core/ImportLists/Custom/CustomImportProxy.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Add specific test case for Russian and Georgian
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
Labels: none

Rename flag to IncludeSubtitles
  src/NzbDrone.Core.Test/IndexerTests/BroadcastheNetTests/BroadcastheNetFixture.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetParser.cs
  src/NzbDrone.Core/Parser/Model/IndexerFlags.cs
Labels: indexer, parsing

correct migration number and fix for postgres
  src/NzbDrone.Core/Datastore/Migration/220_enable_season_pack_seeding_goal.cs
Labels: db-migration

Rename to Subtitles after Discord discussion
  src/NzbDrone.Core.Test/IndexerTests/BroadcastheNetTests/BroadcastheNetFixture.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetParser.cs
  src/NzbDrone.Core/Parser/Model/IndexerFlags.cs
Labels: indexer, parsing

Fix spacing issue
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
Labels: download-client

New: Allow timezone adjustment
  frontend/src/Calendar/Agenda/AgendaEvent.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Events/CalendarEventGroup.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Settings/UI/UISettings.tsx
  frontend/src/Utilities/Date/convertToTimezone.ts
  frontend/src/Utilities/Date/formatDateTime.ts
  frontend/src/Utilities/Date/formatTime.ts
  frontend/src/Utilities/Date/getRelativeDate.ts
  frontend/src/typings/Settings/UiSettings.ts
  package.json
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/Sonarr.Api.V3/Config/UiConfigResource.cs
  src/Sonarr.Api.V5/Config/UiConfigController.cs
  src/Sonarr.Api.V5/Config/UiConfigResource.cs
  yarn.lock
Labels: none

New: Add `{Season Year}` renaming token
  src/NzbDrone.Core.Test/MediaFiles/EpisodeFileMovingServiceTests/MoveEpisodeFileFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/ReservedDeviceNameFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/GetSeasonFolderFixture.cs
  src/NzbDrone.Core/MediaFiles/EpisodeFileMovingService.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
Labels: none

Add `Season Year` to list of examples
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: none

Bump FluentMigrator to official 6.2.0
  src/NuGet.Config
  src/NzbDrone.Core/Datastore/Migration/000_database_engine_version_check.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationExtension.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/NzbDroneSQLiteTypeMap.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/NzbDroneSqliteProcessor.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: db-migration

New: Retry SQLite writes for database is locked errors
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

Fix grammar in En translation of AddNewSeriesHelpText
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fix clearing pending changes for First Run
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
Labels: none

Including release profile exclusions under release profiles in the Tags UI
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tag.tsx
Labels: none

Removing unnecessary code
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
Labels: none

Adding default value to excluded tags database column
  src/NzbDrone.Core/Datastore/Migration/221_add_exclusion_tags_to_release_profiles.cs
Labels: db-migration

Addressing feedback on string interpolation and using select
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
Labels: none

Consistent namings for release profile identifiers
  frontend/src/App/State/TagsAppState.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tag.tsx
  src/NzbDrone.Core/Tags/TagDetails.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Sonarr.Api.V3/Tags/TagDetailsResource.cs
Labels: none

Revert "Consistent namings for release profile identifiers"
  frontend/src/App/State/TagsAppState.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tag.tsx
  src/NzbDrone.Core/Tags/TagDetails.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Sonarr.Api.V3/Tags/TagDetailsResource.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
