Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: Parsing of partial season pack
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Attempt to parse and reject ambiguous dates
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Text color for inputs on login page
  frontend/src/login.html
Labels: none

Refactor PasswordInput to use type password
  frontend/src/Components/Form/PasswordInput.css
  frontend/src/Components/Form/PasswordInput.css.d.ts
  frontend/src/Components/Form/PasswordInput.js
  frontend/src/Content/Fonts/fonts.css
  frontend/src/Content/Fonts/text-security-disc.ttf
  frontend/src/Content/Fonts/text-security-disc.woff
  frontend/src/Styles/Variables/fonts.js
Labels: none

Fixed: Notifications with only On Rename enabled
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
Labels: connection

New: Parse 480i Bluray/Remux as Bluray 480p
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Fixed: Attempt to parse and reject ambiguous dates
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Parsing of partial season pack
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Text color for inputs on login page
  frontend/src/login.html
Labels: none

Refactor PasswordInput to use type password
  frontend/src/Components/Form/PasswordInput.css
  frontend/src/Components/Form/PasswordInput.css.d.ts
  frontend/src/Components/Form/PasswordInput.js
  frontend/src/Content/Fonts/fonts.css
  frontend/src/Content/Fonts/text-security-disc.ttf
  frontend/src/Content/Fonts/text-security-disc.woff
  frontend/src/Styles/Variables/fonts.js
Labels: none

Fixed: Notifications with only On Rename enabled
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
Labels: connection

New: Parse 480i Bluray/Remux as Bluray 480p
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

New: Include time for episode/season/series history
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Episode/History/EpisodeHistoryRow.js
  frontend/src/Series/History/SeriesHistoryModal.js
  frontend/src/Series/History/SeriesHistoryRow.js
  frontend/src/Utilities/Date/getRelativeDate.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Root folder exists validation for import lists
  src/NzbDrone.Core/Validation/Paths/RootFolderExistsValidator.cs
  src/Sonarr.Api.V3/ImportLists/ImportListController.cs
Labels: none

Bump Npgsql to 7.0.7
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Update the wanted section for missing and cutoff unmet
  frontend/src/Components/SignalRConnector.js
Labels: none

Include annonations for API docs
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
  src/Sonarr.Api.V3/Calendar/CalendarController.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V3/Profiles/Delay/DelayProfileController.cs
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V3/System/Backup/BackupController.cs
  src/Sonarr.Api.V3/Wanted/CutoffController.cs
  src/Sonarr.Api.V3/Wanted/MissingController.cs
  src/Sonarr.Api.V3/openapi.json
  src/Sonarr.Http/ApiInfoController.cs
  src/Sonarr.Http/REST/RestController.cs
  src/Sonarr.Http/Sonarr.Http.csproj
Labels: none

Allow Plex Watchlist to be empty
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
Labels: none

Remove comment from PlexImport.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
Labels: none

copy over all exceptions from src/NzbDrone.Core/ImportLists/HttpImportListBase.cs into new override
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
Labels: none

Fixed: Trimming slashes from UrlBase when using environment variable
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Replace multiple occurrences in branch env variable
  .github/workflows/build.yml
Labels: none

Disable workflows on forks
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
Labels: none

Ignore `Grabbed` with STJson
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Root folder exists validation for import lists
  src/NzbDrone.Core/Validation/Paths/RootFolderExistsValidator.cs
  src/Sonarr.Api.V3/ImportLists/ImportListController.cs
Labels: none

New: Include time for episode/season/series history
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Episode/History/EpisodeHistoryRow.js
  frontend/src/Series/History/SeriesHistoryModal.js
  frontend/src/Series/History/SeriesHistoryRow.js
  frontend/src/Utilities/Date/getRelativeDate.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Bump Npgsql to 7.0.7
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Update the wanted section for missing and cutoff unmet
  frontend/src/Components/SignalRConnector.js
Labels: none

Ignore `Grabbed` with STJson
  src/Sonarr.Api.V3/Episodes/EpisodeResource.cs
Labels: none

Disable workflows on forks
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
Labels: none

Replace multiple occurrences in branch env variable
  .github/workflows/build.yml
Labels: none

Fixed: Trimming slashes from UrlBase when using environment variable
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none
