Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/hu.json
Labels: none

Reuse authentification cookies for qBittorrent calls
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

Fallback matching grabbed/blocklisted releases by info URL in Interactive Search
  src/Sonarr.Api.V5/Release/ReleaseController.cs
Labels: none

Add v5 series index table
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTable.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableOptions.tsx
Labels: none

Add v5 series index overview list
  frontend/src/Series/Index/Overview/Options/SeriesIndexOverviewOptionsModalContent.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.css
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfoRow.css
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfoRow.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfoRow.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Series/Index/Overview/overviewLayout.ts
Labels: none

Restyle series index selection modals
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.css
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
  frontend/src/Series/Index/Select/Delete/Files/DeleteSeriesFilesModalContent.css
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.css
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Select/Organize/OrganizeSeriesModalContent.css
  frontend/src/Series/Index/Select/Organize/OrganizeSeriesModalContent.css.d.ts
  frontend/src/Series/Index/Select/Organize/OrganizeSeriesModalContent.tsx
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.css
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.css.d.ts
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
  frontend/src/Series/Index/Select/SeasonPass/SeasonPassSeason.css
  frontend/src/Series/Index/Select/SeriesIndexSelectFooter.css
  frontend/src/Series/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Series/Index/SeriesIndexFooter.css
Labels: none

Add v5 series index poster grid
  frontend/src/Series/Index/Posters/Options/SeriesIndexPosterOptionsModalContent.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css.d.ts
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
Labels: none

Redesign the series index progress bar
  frontend/src/Components/ProgressBar.css
  frontend/src/Components/ProgressBar.tsx
  frontend/src/Series/Index/ProgressBar/SeriesIndexProgressBar.css
  frontend/src/Series/Index/ProgressBar/SeriesIndexProgressBar.css.d.ts
  frontend/src/Series/Index/ProgressBar/SeriesIndexProgressBar.tsx
Labels: none

Add v5 series index tokens, options, and strings
  frontend/src/Series/Index/SeriesIndex.css
  frontend/src/Series/Index/SeriesIndex.css.d.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Styles/Themes/themes.css
  frontend/src/Styles/Variables/dimensions.js
  frontend/src/index.ejs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Redesign the table options column picker
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.css.d.ts
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.tsx
  frontend/src/Components/Table/TableOptions/TableOptionsModal.css
  frontend/src/Components/Table/TableOptions/TableOptionsModal.css.d.ts
  frontend/src/Components/Table/TableOptions/TableOptionsModal.tsx
  frontend/src/Helpers/Props/icons.ts
Labels: none

Right-align checkbox inputs in form rows
  frontend/src/Components/Form/FormInput.tsx
  frontend/src/Components/Form/FormInputGroup.css
  frontend/src/Components/Form/FormInputGroup.css.d.ts
Labels: none

Fix marking as failed for grabbed history events
  frontend/src/Series/History/SeriesHistoryRow.tsx
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Loading eligible pending releases on RSS sync runs
  src/NzbDrone.Core/Download/Pending/PendingRelease.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
Labels: none

docs: add worktree directory preference (janitor convention)
  AGENTS.md
Labels: none

add certificate tests
  src/NzbDrone.Api.Test/Sonarr.Api.Test.csproj
  src/NzbDrone.Api.Test/v3/Config/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v5/Settings/CertificateValidatorTests.cs
  src/NzbDrone.Common.Test/Http/SslCertificateLoaderFixture.cs
  src/NzbDrone.Test.Common/SslTestCertificates.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Update IMPROVE_QUEUE_RESPONSIVENESS description
  README.md
Labels: none

New: Month Picker for Calendar Component
  frontend/src/Calendar/Header/CalendarHeader.css
  frontend/src/Calendar/Header/CalendarHeader.css.d.ts
  frontend/src/Calendar/Header/CalendarHeader.tsx
  frontend/src/Calendar/useCalendar.ts
Labels: none

Fix Unicode Escape
  frontend/src/Calendar/Header/CalendarHeader.tsx
Labels: none

New: Support for VVC/H266 in media info
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatVideoCodecFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
Labels: none

New: Support for parsing release titles with H.266
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Fix filename builder for files without streams
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatAudioCodecFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatVideoCodecFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
Labels: none

Fix invalid season error when season number is not yet defined in manual import
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Reuse authentification cookies for qBittorrent calls
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

Fixed: Basic auth for qBittorrent
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

Clean up signalR
  frontend/src/Components/SignalRListener.tsx
Labels: none

Refactor and clean up old dispatches
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/Components/Filter/CustomFilters/CustomFilter.tsx
  frontend/src/Components/Form/OAuthInput.tsx
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Helpers/Hooks/useScrollPosition.ts
  frontend/src/Helpers/scrollPositions.ts
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Edit/EditSeriesModal.tsx
  frontend/src/Series/Edit/EditSeriesModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/DownloadClients/RemotePathMappings/EditRemotePathMappingModal.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/useImportListExclusions.ts
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModal.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.tsx
  frontend/src/Settings/useProviderOptions.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Settings/useSettings.ts
  frontend/src/System/Backup/RestoreBackupModalContent.tsx
  frontend/src/Tags/useTags.ts
  frontend/src/Utilities/selectSettings.ts
Labels: none

Convert CaptchaInput to React Query
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/CaptchaAppState.ts
  frontend/src/Components/Form/CaptchaInput.tsx
  frontend/src/Components/Form/useCaptcha.ts
  frontend/src/Store/Actions/captchaActions.js
  frontend/src/Store/Actions/index.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fallback matching grabbed/blocklisted releases by info URL in Interactive Search
  src/Sonarr.Api.V5/Release/ReleaseController.cs
Labels: none

Fix marking as failed for grabbed history events
  frontend/src/Series/History/SeriesHistoryRow.tsx
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

Fixed: Loading eligible pending releases on when RSS sync runs
  src/NzbDrone.Core/Download/Pending/PendingRelease.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
Labels: none

New: Support for VVC/H266 in media info
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatVideoCodecFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
Labels: none

New: Support for parsing release titles with H.266
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Fix invalid season error when season number is not yet defined in manual import
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Fix filename builder for files without streams
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatAudioCodecFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatVideoCodecFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
Labels: none

Fixed: Basic auth for qBittorrent
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

Address PR review comments
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/ProgressBar/SeriesIndexProgressBar.css
  frontend/src/Series/Index/ProgressBar/SeriesIndexProgressBar.tsx
  frontend/src/Series/Index/SeriesIndex.css
  frontend/src/Series/Index/SeriesIndex.css.d.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Styles/Themes/themes.css
Labels: none
