Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Align tag page modals with the settings modal section standard
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css.d.ts
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.tsx
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.css
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.css.d.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
Labels: none

Fixed: Re-grabbing a torrent that was already imported should re-import
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Add workflow_dispatch trigger to build workflow
  .github/workflows/build.yml
Labels: none

Fix time-bomb date in malformed cloudflare cookie test
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
Labels: none

Correct time-bomb cookie fix - use year 29, not 40
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
Labels: none

Fix release job when no previous release exists
  .github/workflows/deploy.yml
Labels: none

Flatten over-sectioned settings modals and align provider checkboxes
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/ModalSection.css
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
Labels: none

Rework the naming token modal into sections with per-token note popovers
  frontend/src/Components/ModalSection.css
  frontend/src/Components/Tooltip/Tooltip.css
  frontend/src/Settings/MediaManagement/Naming/NamingModal.css
  frontend/src/Settings/MediaManagement/Naming/NamingModal.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingOption.tsx
Labels: none

Bump .NET to 10.0.10
  global.json
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Fix malformed cookie test
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pl.json
Labels: none

Improve autopilot detection
  .github/workflows/label_invalid_issues.yml
  .github/workflows/no_autopilot.yml
Labels: none

Improve bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Dispose of logging targets
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
Labels: none

Fixed: Parser for absolute episodes consuming "Season" for title
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Promote season in brackets regex priority
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Revert regex change; keep tests (29b1d99607e776a8383838664b77ee1ae6859480)
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

refactor ssl certificate loading into common helper
  src/NzbDrone.Common/Http/SslCertificateLoader.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
Labels: none

update v5 validator to use common ssl loader
  src/Sonarr.Api.V5/Settings/CertificateValidator.cs
Labels: none

update server to send full certificate chain when provided
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

move ssl load exception to separate file
  src/NzbDrone.Common/Http/SslCertificateLoadException.cs
  src/NzbDrone.Common/Http/SslCertificateLoader.cs
Labels: none

update try-catch to return directly from catch block
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

add newline before class definition
  src/NzbDrone.Common/Http/SslCertificateLoadException.cs
  src/NzbDrone.Common/Http/SslCertificateLoader.cs
Labels: none

update load exception to inherit CryptographicException
  src/NzbDrone.Common/Http/SslCertificateLoader.cs
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
  src/Sonarr.Api.V5/Settings/CertificateValidator.cs
Labels: none

remove test sertificates sealed keyword
  src/NzbDrone.Test.Common/SslTestCertificates.cs
Labels: none

add certificate tests
  src/NzbDrone.Api.Test/Sonarr.Api.Test.csproj
  src/NzbDrone.Api.Test/v3/Config/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v5/Settings/CertificateValidatorTests.cs
  src/NzbDrone.Common.Test/Http/SslCertificateLoaderFixture.cs
  src/NzbDrone.Test.Common/SslTestCertificates.cs
Labels: none

refactor api certificate validators into common helper
  src/NzbDrone.Api.Test/v3/Config/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v5/Settings/CertificateValidatorTests.cs
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V5/Settings/CertificateValidator.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsController.cs
  src/Sonarr.Api.V5/Settings/GeneralSettingsResource.cs
  src/Sonarr.Http/Validation/CertificateValidator.cs
  src/Sonarr.Http/Validation/ISslCertificateResource.cs
  src/Sonarr.Http/Validation/RuleBuilderExtensions.cs
Labels: none

switch test names to be lower case
  src/NzbDrone.Api.Test/v3/Config/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v5/Settings/CertificateValidatorTests.cs
  src/NzbDrone.Common.Test/Http/SslCertificateLoaderFixture.cs
Labels: none

refactor api certificate validator tests into common helper
  src/NzbDrone.Api.Test/Http/Validation/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v3/Config/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v5/Settings/CertificateValidatorTests.cs
Labels: none

fix tests to inherit from base, write certificates in existing directory
  src/NzbDrone.Api.Test/Http/Validation/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v3/Config/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v5/Settings/CertificateValidatorTests.cs
  src/NzbDrone.Common.Test/Http/SslCertificateLoaderFixture.cs
  src/NzbDrone.Test.Common/SslTestCertificates.cs
Labels: none

fix field ordering
  src/Sonarr.Http/Validation/CertificateValidator.cs
Labels: none

fix style warnings
  src/NzbDrone.Common/Http/SslCertificateLoadException.cs
  src/NzbDrone.Test.Common/SslTestCertificates.cs
  src/Sonarr.Http/Validation/CertificateValidator.cs
Labels: none

replace unused variable
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

fix test to re-generate certificates for each run
  src/NzbDrone.Common.Test/Http/SslCertificateLoaderFixture.cs
  src/NzbDrone.Test.Common/SslTestCertificates.cs
Labels: none

remove api versions certificate validator smoke tests
  src/NzbDrone.Api.Test/v3/Config/CertificateValidatorTests.cs
  src/NzbDrone.Api.Test/v5/Settings/CertificateValidatorTests.cs
Labels: none

Add option to allow season packs before all episodes have aired
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/useReleaseProfiles.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/FullSeasonSpecificationFixture.cs
  src/NzbDrone.Core/Datastore/Migration/231_add_season_pack_air_date_to_release_profiles.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FullSeasonSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfile.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileResource.cs
Labels: db-migration

Clarify AllowSeasonPackWithoutAllEpisodesAired help text
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Update and rename 231_add_season_pack_air_date_to_release_profiles.cs to 232_add_season_pack_air_date_to_release_profiles.cs
  src/NzbDrone.Core/Datastore/Migration/232_add_season_pack_air_date_to_release_profiles.cs
Labels: db-migration

Refactor ImportListSyncService to streamline tag handling logic and improve early exit conditions
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none

Remove unused variable `relevantTvdbIds` from ImportListSyncService
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: none
