Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Improve paths longer than 256 on Windows failing to hardlink
  src/NzbDrone.Windows/Disk/DiskProvider.cs
Labels: none

Bump SixLabors.ImageSharp to 3.1.4
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

New: added environment variable support for all options in config.xml
  src/NzbDrone.Common.Test/ConfigFileProviderTest.cs
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Common/Options/AppOptions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Common/Options/HttpOptions.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Common/Options/UpdateOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host.Test/ContainerFixture.cs
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

fixup! New: Validate that folders in paths don't start or end with a space
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

refactor: terse enum parsing syntax and renamed HttpOptions to ServerOptions
  src/NzbDrone.Common.Test/ConfigFileProviderTest.cs
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host.Test/ContainerFixture.cs
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

Bump frontend dependencies
  package.json
  yarn.lock
Labels: none

New: Add KRaLiMaRKo and BluDragon to release group parsing exceptions
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Treat CorruptDatabaseException as a startup failure
  src/NzbDrone.Core/Datastore/CorruptDatabaseException.cs
Labels: none

Fixed: Retrying download on not suppressed HTTP errors
  src/NzbDrone.Core/Download/DownloadClientBase.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Do not automatically select 0byte files on manual import
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
Labels: none

macOS tests now run on arm64
  .github/workflows/build.yml
Labels: none

Fixed: Limit titles in task name to 10 series
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

macOS tests now run on arm64
  .github/workflows/build.yml
Labels: none

New: Remove qBitorrent torrents that reach inactive seeding time
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentPreferences.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentTorrent.cs
Labels: download-client

Fixed: Improve paths longer than 256 on Windows failing to hardlink
  src/NzbDrone.Windows/Disk/DiskProvider.cs
Labels: none

Bump SixLabors.ImageSharp to 3.1.4
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

New: Validate that folders in paths don't start or end with a space
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Bump frontend dependencies
  package.json
  yarn.lock
Labels: none

New: Optionally use Environment Variables for settings in config.xml
  src/NzbDrone.Common.Test/ConfigFileProviderTest.cs
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Common/Options/AppOptions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Common/Options/UpdateOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host.Test/ContainerFixture.cs
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

New: Add KRaLiMaRKo and BluDragon to release group parsing exceptions
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Treat CorruptDatabaseException as a startup failure
  src/NzbDrone.Core/Datastore/CorruptDatabaseException.cs
Labels: none

New: Don't initially select 0 byte files in Interactive Import
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
Labels: none

Fixed: Retrying download for pushed releases
  src/NzbDrone.Core/Download/DownloadClientBase.cs
Labels: none

Fixed: Limit titles in task name to 10 series
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.tsx
Labels: none

Update to .NET 8
  src/NzbDrone.Core/MediaFiles/EpisodeImport/RecycleBinException.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/RootFolderNotFoundException.cs
  src/NzbDrone.Mono.Test/EnvironmentInfo/VersionAdapters/ReleaseFileVersionAdapterFixture.cs
  src/NzbDrone.Mono.Test/Files/linux/lsb-release
  src/NzbDrone.Mono.Test/Files/linux/os-release
Labels: none

New: config flag to disable log database
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Datastore/Extensions/CompositionExtensions.cs
  src/NzbDrone.Core/Update/History/UpdateHistoryService.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Logs/LogController.cs
  src/Sonarr.Api.V3/Update/UpdateController.cs
  src/Sonarr.Http/PagingResource.cs
  src/Sonarr.Http/REST/Filters/LogDatabaseDisabledActionFilterAttribute.cs
Labels: none

Forward X-Forwarded-Host header
  src/NzbDrone.Host/Startup.cs
Labels: none

refactor: tidied up code with newlines and removed action filter for checks in the functions
  src/NzbDrone.Core/Update/History/UpdateHistoryService.cs
  src/NzbDrone.Core/Update/RecentUpdateProvider.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/Sonarr.Api.V3/Logs/LogController.cs
  src/Sonarr.Api.V3/Update/UpdateController.cs
  src/Sonarr.Http/REST/Filters/LogDatabaseDisabledActionFilterAttribute.cs
Labels: none

New: Use absolute timestamps for series and episode history
  frontend/src/Episode/History/EpisodeHistory.js
  frontend/src/Episode/History/EpisodeHistoryConnector.js
  frontend/src/Episode/History/EpisodeHistoryRow.js
  frontend/src/Series/History/SeriesHistoryModal.js
  frontend/src/Series/History/SeriesHistoryRow.js
  frontend/src/Series/History/SeriesHistoryRowConnector.js
Labels: none

Parameter binding for API requests
  src/Sonarr.Api.V3/AutoTagging/AutoTaggingController.cs
  src/Sonarr.Api.V3/Commands/CommandController.cs
  src/Sonarr.Api.V3/Config/ConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/NamingConfigController.cs
  src/Sonarr.Api.V3/Config/UiConfigController.cs
  src/Sonarr.Api.V3/CustomFilters/CustomFilterController.cs
  src/Sonarr.Api.V3/CustomFormats/CustomFormatController.cs
  src/Sonarr.Api.V3/EpisodeFiles/EpisodeFileController.cs
  src/Sonarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V3/Indexers/ReleasePushController.cs
  src/Sonarr.Api.V3/Profiles/Delay/DelayProfileController.cs
  src/Sonarr.Api.V3/Profiles/Languages/LanguageProfileController.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/ProviderControllerBase.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Sonarr.Api.V3/Queue/QueueActionController.cs
  src/Sonarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
  src/Sonarr.Api.V3/RootFolders/RootFolderController.cs
  src/Sonarr.Api.V3/SeasonPass/SeasonPassController.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V3/System/Backup/BackupController.cs
  src/Sonarr.Api.V3/Tags/TagController.cs
Labels: none

Fixed: Check enabled protocols for bypassing delay profiles
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
Labels: none

Fix Transmission uses 'file-count' while vuze uses 'fileCount'
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
Labels: download-client

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Blocklist Custom Filters
  frontend/src/Activity/Blocklist/Blocklist.js
  frontend/src/Activity/Blocklist/BlocklistConnector.js
  frontend/src/Activity/Blocklist/BlocklistFilterModal.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/BlocklistAppState.ts
  frontend/src/Store/Actions/blocklistActions.js
  frontend/src/typings/Blocklist.ts
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Blocklist/BlocklistController.cs
Labels: none

add missing translation key
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: History with unknown episode
  frontend/src/Series/History/SeriesHistoryRow.js
Labels: none

New: Treat batch releases with total episode count as full season release
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

refactor: short circuit previous installs when logdb is disabled
  src/Sonarr.Api.V3/Update/UpdateController.cs
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
