Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

New: Remove deprecated Kometa metadata
  src/NzbDrone.Core.Test/Extras/Metadata/Consumers/Kometa/FindMetadataFileFixture.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
  src/NzbDrone.Core/HealthCheck/Checks/MetadataCheck.cs
Labels: none

Fixed: Download links for FileList when passkey contains spaces
  src/NzbDrone.Core/Indexers/FileList/FileListParser.cs
Labels: indexer

New: Remove defunct IMDB Import Lists
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListImport.cs
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListParser.cs
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Imdb/ImdbListSettings.cs
Labels: none

New: Support TMDb and IMDB IDs in Custom Import Lists
  src/NzbDrone.Core/ImportLists/Custom/CustomAPIResource.cs
  src/NzbDrone.Core/ImportLists/Custom/CustomImport.cs
Labels: none

Cleanse console log messages
  src/NzbDrone.Common/Instrumentation/CleansingClefLogLayout.cs
  src/NzbDrone.Common/Instrumentation/CleansingConsoleLogLayout.cs
  src/NzbDrone.Common/Instrumentation/CleansingFileTarget.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
Labels: none

New: Remove Basic Auth
  frontend/src/Settings/General/SecuritySettings.tsx
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Sonarr.Http/Authentication/BasicAuthenticationHandler.cs
Labels: none

Fixed: Only show Additional Parameters on Trakt Popular list
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
Labels: none

Fixed: Rejected Imports with no associated release or indexer
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

New: Option for Telegram link previews
  src/NzbDrone.Core.Test/Datastore/Migration/218_telegram_link_previewFixture.cs
  src/NzbDrone.Core/Datastore/Migration/218_telegram_link_preview.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/MetadataLinkType.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLink.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLinkPreviewOptions.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramPayload.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection, db-migration

Add Series with ReactQuery Mutation
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/AddSeries/AddSeries.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesTable.tsx
  frontend/src/AddSeries/addSeriesOptionsStore.ts
  frontend/src/App/State/AddSeriesAppState.ts
  frontend/src/App/State/AppState.ts
  frontend/src/Helpers/Hooks/useApiMutation.ts
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/src/Helpers/createPersist.ts
  frontend/src/Store/Actions/addSeriesActions.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Selectors/createImportSeriesItemSelector.ts
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/Utilities/Fetch/anySignal.ts
  frontend/src/Utilities/Fetch/fetchJson.ts
  frontend/src/Utilities/Object/getErrorMessage.ts
  frontend/src/Utilities/Series/monitorOptions.ts
  package.json
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesFolderAsRootFolderValidator.cs
  src/Sonarr.Api.V5/Series/SeriesResource.cs
  src/Sonarr.Http/REST/RestController.cs
  yarn.lock
Labels: none

add .arj & .lzh to dangerousExtensions
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Move test.sh to scripts folder
  .github/actions/build/action.yml
  docker/tests/mono/startup.sh
  scripts/test.sh
Labels: none

Ensure API docs are generated before exiting
  .github/workflows/api_docs.yml
  scripts/docs.sh
Labels: none

API docs for v5 series
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/openapi.json
Labels: none

Update LibHarmony to 2.3.5
  src/Sonarr.RuntimePatches/Sonarr.RuntimePatches.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Update translations for Trakt settings to be series specific
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Exclude 8/10/24-bit from being parsed as release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

stop returning warning in title field
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

list all importResult Errors in fix-warning-for-rejected-downloads
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

Fixed: Avoid checking for free space if other specifications fail first
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

New: .arj and .lzh extensions are potentially dangerous
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

Update translations for Trakt settings to be series specific
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Prevent 8/10/24-bit from being parsed as release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fixed: Rejected Imports with no associated release or indexer
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

Fixed: Don't return warning in title field for rejected downloads
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

Ensure API docs are generated before exiting
  .github/workflows/api_docs.yml
  scripts/docs.sh
Labels: none

API docs for v5 series
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/openapi.json
Labels: none

Update LibHarmony to 2.3.5
  src/Sonarr.RuntimePatches/Sonarr.RuntimePatches.csproj
Labels: none

Move test.sh to scripts folder
  .github/actions/build/action.yml
  docker/tests/mono/startup.sh
  scripts/test.sh
Labels: none

Fixed: Avoid checking for free space if other specifications fail first
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Ensure scripts are executable
  scripts/docs.sh
  scripts/test.sh
Labels: none

Use yarn as package manager
  package.json
Labels: none

Fixed: Don't return warning in title field for rejected downloads
  src/NzbDrone.Core/Download/RejectedImportService.cs
Labels: none

Fix Watch List Sorting translation for Trakt settings
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Add Azerbaijani, Uzbek and Malay languages
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

fix: improve bitrate fetching for media files
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

add audioStreams to media info popover
  frontend/src/Episode/Summary/MediaInfo.tsx
Labels: none

new styling for updated MediaInfo.tsx
  frontend/src/Episode/Summary/MediaInfo.css
Labels: none
