Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

feat: Add FIX_REPAIR_REIMPORT tweak - Add tweak to fix a bug in sonarr where it ignores repair attempts when the same hash is grabbed again
  README.md
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
Labels: none

Update build workflow
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: none

fix: Stop tracking downloads after import and removing from the download client - Fixes the issue with ignored re-grabs
  README.md
  src/NzbDrone.Core/Download/DownloadEventHub.cs
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
Labels: none

Address review: restore shift-click in CheckInput, tidy TableHeaderCell
  frontend/src/Components/Form/CheckInput.tsx
  frontend/src/Components/Table/TableHeaderCell.tsx
Labels: none

New: Average Size per Episode column on Series list
  frontend/src/Series/Index/Menus/SeriesIndexSortMenu.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Series/useSeries.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Add configurable TMDb metadata source support
  TMDB_METADATA_SOURCE_PLAN.md
  frontend/src/Settings/MetadataSource/MetadataSourceSettings.tsx
  frontend/src/Settings/MetadataSource/useMetadataSourceSettings.ts
  src/NzbDrone.Core.Test/MetadataSource/MetadataSourceSelectorFixture.cs
  src/NzbDrone.Core.Test/MetadataSource/Tmdb/TmdbProxyFixture.cs
  src/NzbDrone.Core.Test/TvTests/AddSeriesFixture.cs
  src/NzbDrone.Core.Test/TvTests/RefreshSeriesServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/MetadataSource/IProvideSeriesInfo.cs
  src/NzbDrone.Core/MetadataSource/ITmdbMetadataSource.cs
  src/NzbDrone.Core/MetadataSource/ITvdbMetadataSource.cs
  src/NzbDrone.Core/MetadataSource/MetadataSourceSelector.cs
  src/NzbDrone.Core/MetadataSource/MetadataSourceType.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/MetadataSource/Tmdb/Resource/TmdbResource.cs
  src/NzbDrone.Core/MetadataSource/Tmdb/TmdbProxy.cs
  src/NzbDrone.Core/Tv/AddSeriesService.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Integration.Test/ApiTests/MetadataSourceSettingsFixture.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsResource.cs
Labels: none

Log media info title used to augment quality
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Quality/AugmentQualityFromMediaInfo.cs
Labels: none

fix: Release action step
  .github/workflows/deploy.yml
Labels: none

Revert "fix: Release action step"
  .github/workflows/deploy.yml
Labels: none

Fixed: Refresh Trakt token 24 hours before expiry instead of 5 minutes
  src/NzbDrone.Core/ImportLists/Trakt/TraktImportBase.cs
Labels: none

Fixed: Scroll position not reset when navigating on small screens
  frontend/src/Components/Page/PageContentBody.tsx
  frontend/src/Components/withScrollPosition.tsx
  frontend/src/Helpers/Hooks/useScrollPosition.ts
  frontend/src/Series/Index/SeriesIndex.tsx
Labels: none

Bump MailKit to 4.16.0
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump MailKit to 4.16.0
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Log media info title used to augment quality
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Quality/AugmentQualityFromMediaInfo.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Bump .NET to 10.0.6
  global.json
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

New: Average Size per Episode column on Series list
  frontend/src/Series/Index/Menus/SeriesIndexSortMenu.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Series/useSeries.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
Labels: none

chore: Skip removed torrents from Aria2 client - Remove the "Removed" property from DownloadClientItem.cs and references
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/DownloadClientItem.cs
  src/NzbDrone.Core/Download/DownloadEventHub.cs
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
Labels: download-client

fix: Stop tracking downloads after they're removed from the download client
  src/NzbDrone.Core/Download/DownloadEventHub.cs
Labels: none

Fix all filter for calendar page
  frontend/src/Calendar/useCalendar.ts
Labels: none

Refetch page after clearing blocklist and refreshing events
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/System/Events/LogsTable.tsx
Labels: none

Default to `und` for audio streams with no language tag
  frontend/src/Episode/Summary/MediaInfo.tsx
  src/NzbDrone.Core.Test/Datastore/Migration/225_mediainfo_multiple_streamsFixture.cs
  src/NzbDrone.Core/Datastore/Migration/225_mediainfo_multiple_streams.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: db-migration

Fix nullref when getting series by alias title and year
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

Migrate mediainfo per episode file one at the time to avoid OOM
  src/NzbDrone.Core/Datastore/Migration/225_mediainfo_multiple_streams.cs
Labels: db-migration

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
Labels: none

Bump .NET to 10.0.6
  global.json
  scripts/docs.sh
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
  src/Sonarr.Api.V3/Sonarr.Api.V3.csproj
  src/Sonarr.Api.V5/Sonarr.Api.V5.csproj
Labels: none

Fixed: Propagate Trakt token refresh failures instead of swallowing exceptions
  src/NzbDrone.Core/ImportLists/Trakt/TraktImportBase.cs
Labels: none

New: Filter series by episode file quality
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/Series.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Series/useSeries.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/SeriesStats/SeasonStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsService.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeasonStatisticsResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesStatisticsResource.cs
Labels: none

Fix series ending year on details page
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Series.ts
Labels: none

Bump Microsoft.AspNetCore.Cryptography.KeyDerivation to 10.0.6
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Fix nullref when filtering series endpoint by tvdbid
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
Labels: none

New: Special Seasons filtering for Wanted Missing
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/MissingFilterModal.tsx
  frontend/src/Wanted/Missing/useMissing.tsx
  src/NzbDrone.Core/IndexerSearch/EpisodeSearchService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/Sonarr.Api.V3/Wanted/MissingController.cs
  src/Sonarr.Api.V5/Wanted/MissingController.cs
Labels: none

New: Filter series by episode file quality
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Series/Series.ts
  frontend/src/Series/seriesOptionsStore.ts
  frontend/src/Series/useSeries.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/SeriesStats/SeasonStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatistics.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsRepository.cs
  src/NzbDrone.Core/SeriesStats/SeriesStatisticsService.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeasonStatisticsResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesStatisticsResource.cs
Labels: none

Stop tracking downloads after they're removed from the download client
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/DownloadClientItem.cs
  src/NzbDrone.Core/Download/DownloadEventHub.cs
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
Labels: download-client

Propagate Trakt token refresh failures instead of swallowing exceptions
  src/NzbDrone.Core/ImportLists/Trakt/TraktImportBase.cs
Labels: none

Migrate mediainfo per episode file one at the time to avoid OOM
  src/NzbDrone.Core/Datastore/Migration/225_mediainfo_multiple_streams.cs
Labels: db-migration

Fix getting series by alias title and year
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

Refetch page after clearing blocklist and refreshing events
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/System/Events/LogsTable.tsx
Labels: none
