Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

fix(any-upgradable-tweak): Allow matching releases if any episodefile is missing
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

fix(docker-build): Use the correct release and fix naming
  .github/workflows/deploy.yml
  .github/workflows/push-docker-image.yml
  Dockerfile
Labels: none

tweak - Disable match by ID warning during imports
  README.md
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
Labels: none

Update README
  README.md
Labels: none

feat: Also build ARM64 docker image
  .github/workflows/deploy.yml
  .github/workflows/push-docker-image.yml
  Dockerfile
Labels: none

tweak - Accept release if it is an upgrade for any episode Currently sonarr rejects releases like season packs if it doesn't upgrade ALL the episodes
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

feat: add multi-season pack auto-import support
  src/NzbDrone.Core.Test/MediaFiles/DownloadedEpisodesImportServiceFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Model/ReleaseType.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Sonarr.Api.V5/Queue/QueueResource.cs
Labels: parsing

feat: resolve Manual Import mode to Copy when copyUsingHardlinks is enabled
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Prefer season search over per-episode for anime
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

Check for approved results before skipping per-episode fallback
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Add AnimeSeasonSearchFallback enum for per-episode fallback control
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/IndexerSearch/AnimeSeasonSearchFallback.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/Sonarr.Api.V3/Config/IndexerConfigResource.cs
  src/Sonarr.Api.V5/Settings/IndexerSettingsResource.cs
Labels: none

Use structured log message templates in NzbDrone.Common
  src/NzbDrone.Common/ArchiveService.cs
  src/NzbDrone.Common/Disk/DiskTransferService.cs
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
  src/NzbDrone.Common/Http/HappyEyeballs/HttpHappyEyeballs.cs
  src/NzbDrone.Common/Http/HttpClient.cs
  src/NzbDrone.Common/Processes/ProcessProvider.cs
  src/NzbDrone.Common/ServiceProvider.cs
  src/NzbDrone.Common/TPL/RateLimitService.cs
Labels: none

Use structured log message templates in NzbDrone.Core/Tv and Parser
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Core/Tv/AddSeriesService.cs
  src/NzbDrone.Core/Tv/EpisodeMonitoredService.cs
  src/NzbDrone.Core/Tv/EpisodeService.cs
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
  src/NzbDrone.Core/Tv/RefreshEpisodeService.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/SeriesPathBuilder.cs
  src/NzbDrone.Core/Tv/SeriesScannedHandler.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/NzbDrone.Core/Tv/ShouldRefreshSeries.cs
Labels: parsing

Use structured log message templates in NzbDrone.Core/Download
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/ScanWatchFolder.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DiskStationProxyBase.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/SerialNumberProvider.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/SharedFolderResolver.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/NzbgetProxy.cs
  src/NzbDrone.Core/Download/Clients/Pneumatic/Pneumatic.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Tribler/TriblerDownloadClientProxy.cs
  src/NzbDrone.Core/Download/Clients/Vuze/Vuze.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/DownloadClientBase.cs
  src/NzbDrone.Core/Download/DownloadClientFactory.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
  src/NzbDrone.Core/Download/DownloadEventHub.cs
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
  src/NzbDrone.Core/Download/DownloadSeedConfigProvider.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Download/ProcessDownloadDecisions.cs
  src/NzbDrone.Core/Download/RejectedImportService.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/TrackedDownloads/DownloadMonitoringService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadAlreadyImported.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: download-client

Use structured log message templates in NzbDrone.Core/MediaFiles
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesCommandService.cs
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeFileMovingService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateLanguage.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateQuality.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Quality/AugmentQualityFromMediaInfo.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/DetectSample.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/AlreadyImportedSpecification.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/EpisodeTitleSpecification.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/FreeSpaceSpecification.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecification.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/MatchesGrabSpecification.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/NotUnpackingSpecification.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/UnverifiedSceneNumberingSpecification.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/UpgradeSpecification.cs
  src/NzbDrone.Core/MediaFiles/MediaFileAttributeService.cs
  src/NzbDrone.Core/MediaFiles/MediaFileDeletionService.cs
  src/NzbDrone.Core/MediaFiles/MediaFileTableCleanupService.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/UpdateMediaInfoService.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
  src/NzbDrone.Core/MediaFiles/RecycleBinProvider.cs
  src/NzbDrone.Core/MediaFiles/RenameEpisodeFileService.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/MediaFiles/TorrentInfo/TorrentFileInfoReader.cs
  src/NzbDrone.Core/MediaFiles/UpdateEpisodeFileService.cs
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
Labels: none

Use structured log message templates in NzbDrone.Core/Indexers
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
  src/NzbDrone.Core/Indexers/FetchAndParseRssService.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabCapabilitiesProvider.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/RssParser.cs
  src/NzbDrone.Core/Indexers/RssSyncService.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssSettingsDetector.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: indexer

Use structured log message templates in NzbDrone.Core/Notifications and ImportLists
  src/NzbDrone.Core/ImportLists/AniList/AniListImportBase.cs
  src/NzbDrone.Core/ImportLists/AniList/List/AniListImport.cs
  src/NzbDrone.Core/ImportLists/Custom/CustomImport.cs
  src/NzbDrone.Core/ImportLists/FetchAndParseImportListService.cs
  src/NzbDrone.Core/ImportLists/HttpImportListBase.cs
  src/NzbDrone.Core/ImportLists/ImportListFactory.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/ImportLists/Rss/Plex/PlexRssImportParser.cs
  src/NzbDrone.Core/ImportLists/Rss/RssImportBaseParser.cs
  src/NzbDrone.Core/ImportLists/Sonarr/SonarrImport.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordProxy.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Ntfy/NtfyProxy.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvProxy.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerProxy.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
  src/NzbDrone.Core/Notifications/Prowl/ProwlProxy.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBulletProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Signal/SignalProxy.cs
  src/NzbDrone.Core/Notifications/Slack/SlackProxy.cs
  src/NzbDrone.Core/Notifications/Twitter/TwitterService.cs
  src/NzbDrone.Core/Notifications/Xbmc/Xbmc.cs
  src/NzbDrone.Core/Notifications/Xbmc/XbmcJsonApiProxy.cs
  src/NzbDrone.Core/Notifications/Xbmc/XbmcService.cs
Labels: connection

Use structured log message templates in Http, Host, Update, Mono and Api.V5
  src/NzbDrone.Host/AccessControl/FirewallAdapter.cs
  src/NzbDrone.Host/BrowserService.cs
  src/NzbDrone.Host/SingleInstancePolicy.cs
  src/NzbDrone.Host/UtilityModeRouter.cs
  src/NzbDrone.Mono/Disk/DiskProvider.cs
  src/NzbDrone.Mono/Disk/ProcMountProvider.cs
  src/NzbDrone.Mono/Disk/SymbolicLinkResolver.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/MacOsVersionAdapter.cs
  src/NzbDrone.Update/UpdateEngine/BackupAndRestore.cs
  src/NzbDrone.Update/UpdateEngine/DetectExistingVersion.cs
  src/NzbDrone.Update/UpdateEngine/InstallUpdateService.cs
  src/NzbDrone.Update/UpdateEngine/StartNzbDrone.cs
  src/Sonarr.Api.V5/Release/ReleasePushController.cs
  src/Sonarr.Http/Authentication/AuthenticationController.cs
  src/Sonarr.Http/ErrorManagement/SonarrErrorPipeline.cs
  src/Sonarr.Http/Frontend/Mappers/StaticResourceMapperBase.cs
  src/Sonarr.Http/Frontend/StaticResourceController.cs
  src/Sonarr.Http/Middleware/LoggingMiddleware.cs
  src/Sonarr.Http/REST/RestController.cs
Labels: none

Use structured log message templates in test projects and Api.V3
  src/NzbDrone.Core.Test/InstrumentationTests/DatabaseTargetFixture.cs
  src/Sonarr.Api.V3/Indexers/ReleasePushController.cs
Labels: none

Default AnimeSeasonSearchFallback to Always
  src/NzbDrone.Core/Configuration/ConfigService.cs
Labels: none

Always run per-episode fallback for interactive anime season search
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Mock AnimeSeasonSearchFallback in ReleaseSearchService tests
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Allow "is not" on activity queue custom filters
  frontend/src/Helpers/Props/filterBuilderTypes.ts
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fanart not rendering on series details page
  frontend/src/Series/Details/SeriesDetails.css
Labels: none

Fixed: Season action menu not working after switching from desktop to mobile
  frontend/src/Components/Menu/Menu.tsx
Labels: none

Prevent overflow exception for big numbers in SizeSuffix and Fluent.Round
  src/NzbDrone.Common.Test/ExtensionTests/NumberExtensionFixture.cs
  src/NzbDrone.Common/Extensions/NumberExtensions.cs
  src/NzbDrone.Core.Test/FluentTest.cs
  src/NzbDrone.Core/Fluent.cs
Labels: none

Load initial paths for file browser
  frontend/src/Components/FileBrowser/FileBrowserModalContent.tsx
  frontend/src/Path/usePaths.ts
  src/Sonarr.Api.V5/FileSystem/FileSystemController.cs
Labels: none

Fixed: Unexpected languages stored in DB will be treated as Unknown
  src/NzbDrone.Core/Datastore/Converters/LanguageIntConverter.cs
Labels: none

Display protocol for indexers in UI
  frontend/src/Settings/Indexers/Indexers/Indexer.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.css.d.ts
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
Labels: none

Display protocol for download clients in UI
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClient.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.css
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.css.d.ts
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.tsx
Labels: none

Fixed: Parsing date-based releases with 3 digit number in episode title
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Prevent duplicating providers when adding a new provider
  frontend/src/Settings/useProviderSettings.ts
Labels: none

Add v5 Import List Exclusion endpoints
  src/Sonarr.Api.V5/ImportLists/ImportListExclusionBulkResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListExclusionController.cs
  src/Sonarr.Api.V5/ImportLists/ImportListExclusionExistsValidator.cs
  src/Sonarr.Api.V5/ImportLists/ImportListExclusionResource.cs
Labels: none

Use react-query for Import List Exclusions
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Helpers/Hooks/usePage.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModal.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.css
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusionRow.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/importListExclusionOptionsStore.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/useImportListExclusions.ts
  frontend/src/Store/Actions/Settings/importListExclusions.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/ImportListExclusion.ts
Labels: none

Bump Microsoft.Data.SqlClient and System.Data.SQLite
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump FFprobe to 8.1.0
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
