Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

New: Configure log file size limit in UI
  frontend/src/Settings/General/GeneralSettings.js
  frontend/src/Settings/General/LoggingSettings.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/HostConfigResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: none

Use autoprefixer in UI build
  frontend/postcss.config.js
  package.json
  yarn.lock
Labels: none

Bump babel packages
  package.json
  yarn.lock
Labels: none

Fixed: Calculating Custom Formats with languages in queue
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Indexers/IndexerRepositoryFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Indexers/IndexerRepository.cs
Labels: indexer

Convert SeriesTitleLink to TypeScript
  frontend/src/Series/SeriesTitleLink.js
  frontend/src/Series/SeriesTitleLink.tsx
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

Refactoring: Typescript button component
  frontend/src/Components/Link/Button.js
  frontend/src/Components/Link/Button.tsx
  frontend/src/Helpers/Props/align.ts
Labels: none

Tech: VSCode updated code action format
  frontend/.vscode/settings.json
Labels: none

Fixed: PWA Manifest images
  frontend/src/Content/manifest.json
Labels: none

Fixed: Limit redirects after login to local paths
  src/Sonarr.Http/Authentication/AuthenticationController.cs
Labels: none

Fixed: PWA Manifest images
  frontend/src/Content/manifest.json
Labels: none

Fixed: Limit redirects after login to local paths
  src/Sonarr.Http/Authentication/AuthenticationController.cs
Labels: none

Fixed: Validate root folder existence when adding series
  src/NzbDrone.Core/Validation/Paths/RootFolderExistsValidator.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Refactoring: Link polymorphic static typing
  frontend/src/Components/Link/Link.tsx
Labels: none

Refactoring: Icon component Typescript
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Icon.js
  frontend/src/Components/Icon.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfoRow.tsx
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Tasks/Queued/QueuedTaskRow.tsx
Labels: none

Fix disabled style for monitor toggle button
  frontend/src/Components/MonitorToggleButton.css
Labels: none

Fixed: Handle Spaces in ProxyBypassList
  src/NzbDrone.Common/Http/Proxy/HttpProxySettings.cs
Labels: none

fixup!
  src/NzbDrone.Common/Http/Proxy/HttpProxySettings.cs
Labels: none

fixup!
  src/NzbDrone.Common/Http/Proxy/HttpProxySettings.cs
Labels: none

New: Bypass IP addresses ranges in proxies
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/Http/HttpProxySettingsProviderFixture.cs
  src/NzbDrone.Core/Http/HttpProxySettingsProvider.cs
Labels: none

Fixed: Hide reboot and shutdown UI buttons on docker
  frontend/src/Components/Page/Header/PageHeader.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/Components/Page/Header/PageHeaderActionsMenuConnector.js
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Paths for renamed episode files in Custom Script and Webhook
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
Labels: connection

Bump version to 4.0.9
  .github/workflows/build.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 4.0.9
  .github/workflows/build.yml
Labels: none

Update src/NzbDrone.Common/Http/Proxy/HttpProxySettings.cs
  src/NzbDrone.Common/Http/Proxy/HttpProxySettings.cs
Labels: none

Convert Button to TypeScript
  frontend/src/Components/Link/Button.js
  frontend/src/Components/Link/Button.tsx
  frontend/src/Helpers/Props/align.ts
Labels: none

Convert Icon to Typescript
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Icon.js
  frontend/src/Components/Icon.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfoRow.tsx
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Tasks/Queued/QueuedTaskRow.tsx
Labels: none

Link polymorphic static typing
  frontend/src/Components/Link/Link.tsx
Labels: none

Updated code action fixall value for VSCode
  frontend/.vscode/settings.json
Labels: none

Fixed: Ensure Root Folder exists when Adding Series
  src/NzbDrone.Core/Validation/Paths/RootFolderExistsValidator.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: none

Fix disabled style for monitor toggle button
  frontend/src/Components/MonitorToggleButton.css
Labels: none

Fixed: Trim spaces and empty values in Proxy Bypass List
  src/NzbDrone.Common/Http/Proxy/HttpProxySettings.cs
Labels: none

New: Bypass IP addresses ranges in proxies
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core.Test/Http/HttpProxySettingsProviderFixture.cs
  src/NzbDrone.Core/Http/HttpProxySettingsProvider.cs
Labels: none

New: Bulk manage custom formats
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsToolbarButton.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Store/Actions/Settings/customFormats.js
  frontend/src/Store/Actions/Settings/downloadClients.js
  frontend/src/Store/Actions/Settings/indexers.js
  frontend/src/typings/CustomFormat.ts
  src/NzbDrone.Core/CustomFormats/CustomFormatService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/CustomFormats/CustomFormatBulkResource.cs
  src/Sonarr.Api.V3/CustomFormats/CustomFormatController.cs
Labels: none

Fixed: Hide reboot and shutdown UI buttons on docker
  frontend/src/Components/Page/Header/PageHeader.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/Components/Page/Header/PageHeaderActionsMenuConnector.js
Labels: none

Fixed: Paths for renamed episode files in Custom Script and Webhook
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
Labels: connection

Automated API Docs update
  src/Sonarr.Api.V3/openapi.json
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
