Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

Fixed: Drop downs flickering in some cases
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: none

v5 API docs
  .github/workflows/api_docs.yml
  CONTRIBUTING.md
  docs.sh
  src/NzbDrone.Host/Startup.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResource.cs
  src/Sonarr.Api.V3/openapi.json
  src/Sonarr.Api.V5/openapi.json
  src/Sonarr.Http/VersionedApiControllerAttribute.cs
  src/Sonarr.Http/VersionedFeedControllerAttribute.cs
Labels: none

Fix import order after TS
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModal.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
Labels: none

Build and conflict labeler for PRs against v5-develop
  .github/workflows/build.yml
  .github/workflows/conflict_labeler.yml
Labels: none

Fixed: Ignore special folders inside Blackhole watch folders
  src/NzbDrone.Common/Disk/FileSystemLookupService.cs
  src/NzbDrone.Common/Disk/SpecialFolders.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/ScanWatchFolderFixture.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/ScanWatchFolder.cs
Labels: download-client

Fix builds with v5 API
  .github/workflows/api_docs.yml
  docs.sh
  src/Sonarr.sln
Labels: none

Fix builds with v5 API
  .github/workflows/api_docs.yml
  docs.sh
  src/Sonarr.sln
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
Labels: none

Fixed: Drop downs flickering in some cases
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: none

Fix builds with v5 API
  .github/workflows/api_docs.yml
  docs.sh
  src/Sonarr.sln
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Health warning for downloading inside root folders
  src/NzbDrone.Core.Test/HealthCheck/Checks/DownloadClientRootFolderCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRootFolderCheck.cs
Labels: none

New: Refresh cache for tracked queue on series update
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Fixed: Format bitrate for primary streams in media info
  frontend/src/Episode/Summary/MediaInfo.tsx
  frontend/src/Utilities/Number/formatBitrate.ts
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Fix tests for v5
  src/NzbDrone.Common.Test/EnsureTest/PathExtensionFixture.cs
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

Improve build speed
  .github/actions/build/action.yml
  .github/actions/package/action.yml
  .github/workflows/build_v5.yml
  .github/workflows/deploy.yml
  build.sh
Labels: none

Build on ubuntu-latest
  .github/workflows/build.yml
  build.sh
Labels: none

Improve build speed
  .github/actions/build/action.yml
  .github/actions/package/action.yml
  .github/workflows/build_v5.yml
  .github/workflows/deploy.yml
  build.sh
Labels: none

Fix tests for v5
  src/NzbDrone.Common.Test/EnsureTest/PathExtensionFixture.cs
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

Don't publish v5 builds yet
  .github/workflows/build_v5.yml
Labels: none

Automated API Docs update
  src/Sonarr.Api.V5/openapi.json
Labels: none

Fixed: Format bitrate for primary streams in media info
  frontend/src/Episode/Summary/MediaInfo.tsx
  frontend/src/Utilities/Number/formatBitrate.ts
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: none

Add MediaInfo AudioLanguagesAll and update styling
  frontend/src/Settings/MediaManagement/Naming/NamingModal.css
  frontend/src/Settings/MediaManagement/Naming/NamingModal.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingOption.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Prefer newer Usenet releases
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
Labels: none

Fixed: Ignore special folders inside Blackhole watch folders
  src/NzbDrone.Common/Disk/FileSystemLookupService.cs
  src/NzbDrone.Common/Disk/SpecialFolders.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/ScanWatchFolderFixture.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/ScanWatchFolder.cs
Labels: download-client

Fixed: Health warning for downloading inside root folders
  src/NzbDrone.Core.Test/HealthCheck/Checks/DownloadClientRootFolderCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRootFolderCheck.cs
Labels: none

New: Refresh cache for tracked queue on series update
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Fix typo in Deleted Episode File Specification
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DeletedEpisodeFileSpecification.cs
Labels: none

Update README.md
  README.md
Labels: none

set sorting mode for new sabnzbd sorting on update status
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
Labels: download-client

Showing how commits and mergers work
  readme.md
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
Labels: none

Fixed: Parse GER/DE releases as German language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
Labels: none

Bump version to 4.0.13
  .github/workflows/build.yml
Labels: none

useMeasure instead of Measure in TypeScript components
  frontend/src/Calendar/CalendarPage.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Scroller/Scroller.tsx
Labels: none

Convert Modal components to TypeScript
  frontend/src/Components/Error/ErrorBoundary.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Modal/ConfirmModal.tsx
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Modal/Modal.css.d.ts
  frontend/src/Components/Modal/Modal.js
  frontend/src/Components/Modal/Modal.tsx
  frontend/src/Components/Modal/ModalBody.js
  frontend/src/Components/Modal/ModalBody.tsx
  frontend/src/Components/Modal/ModalContent.js
  frontend/src/Components/Modal/ModalContent.tsx
  frontend/src/Components/Modal/ModalError.tsx
  frontend/src/Components/Modal/ModalFooter.js
  frontend/src/Components/Modal/ModalFooter.tsx
  frontend/src/Components/Modal/ModalHeader.js
  frontend/src/Components/Modal/ModalHeader.tsx
  frontend/typings/element-class.ts
Labels: none

Convert Spinner button components to TypeScript
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Form/FormInputButton.tsx
  frontend/src/Components/Icon.tsx
  frontend/src/Components/Link/SpinnerButton.js
  frontend/src/Components/Link/SpinnerButton.tsx
  frontend/src/Components/Link/SpinnerErrorButton.js
  frontend/src/Components/Link/SpinnerErrorButton.tsx
  frontend/src/Components/Link/SpinnerIconButton.js
  frontend/src/Components/Link/SpinnerIconButton.tsx
  frontend/src/Components/Modal/ConfirmModal.tsx
  frontend/src/System/Status/Health/Health.tsx
Labels: none

Convert TagList components to TypeScript
  frontend/src/Components/SeriesTagList.tsx
  frontend/src/Components/TagList.js
  frontend/src/Components/TagList.tsx
  frontend/src/Components/TagListConnector.js
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
Labels: none

Convert ProviderFieldFormGroup to TypeScript
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableOptions.tsx
Labels: none

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*
