Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fix path input buttons wrapping on mobile
  frontend/src/Components/Form/AutoSuggestInput.module.css
  frontend/src/Components/Form/FormInputGroup.module.css
Labels: none

Fixed: Search before triggering On Series Add notifications
  src/NzbDrone.Core.Test/TvTests/SeriesScannedHandlerFixture.cs
  src/NzbDrone.Core/Tv/SeriesScannedHandler.cs
Labels: none

fix `yarn start` on win32
  vite.config.ts
Labels: none

Fix `yarn start` on Windows
  vite.config.ts
Labels: none

Season Titles
  frontend/src/Series/Details/SeriesDetailsSeason.module.css
  frontend/src/Series/Details/SeriesDetailsSeason.tsx
  frontend/src/Series/Series.ts
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  src/NzbDrone.Core.Test/OrganizerTests/GetSeasonFolderFixture.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/SeasonResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/NzbDrone.Core/Tv/Season.cs
  src/Sonarr.Api.V3/Series/SeasonResource.cs
  src/Sonarr.Api.V5/Series/SeasonResource.cs
Labels: none

Preferred metadata language setting
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.module.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeries.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/AddSeries/AddNewSeries/useAddSeries.ts
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesCard.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesDefaults.tsx
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.module.css
  frontend/src/AddSeries/ImportSeries/Import/ImportSeriesFooter.tsx
  frontend/src/AddSeries/ImportSeries/Import/SelectSeries/ImportSeriesSelectSeries.tsx
  frontend/src/AddSeries/ImportSeries/Import/importSeriesStore.ts
  frontend/src/AddSeries/addSeriesOptionsStore.ts
  frontend/src/Components/Form/Select/LanguageSelectInput.tsx
  frontend/src/Helpers/Hooks/useAppPage.ts
  frontend/src/Language/Language.ts
  frontend/src/Language/useLanguages.ts
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/useImportLists.ts
  frontend/src/Settings/MetadataSource/MetadataSettingsModal.tsx
  frontend/src/Settings/MetadataSource/MetadataSettingsModalContent.tsx
  frontend/src/Settings/MetadataSource/MetadataSourceSettings.tsx
  frontend/src/Settings/MetadataSource/useMetadataSourceSettings.ts
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Sonarr.Api.V3/ImportLists/ImportListResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListBulkResource.cs
  src/Sonarr.Api.V5/ImportLists/ImportListController.cs
  src/Sonarr.Api.V5/ImportLists/ImportListResource.cs
  src/Sonarr.Api.V5/Series/SeriesController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorController.cs
  src/Sonarr.Api.V5/Series/SeriesEditorResource.cs
  src/Sonarr.Api.V5/Series/SeriesEditorValidator.cs
  src/Sonarr.Api.V5/Series/SeriesLookupController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsController.cs
  src/Sonarr.Api.V5/Settings/MetadataSourceSettingsResource.cs
Labels: none

Sticky header for calendar
  frontend/src/Calendar/Calendar.module.css
  frontend/src/Calendar/Calendar.tsx
Labels: none

Return error seriesId and season number aren't both included
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V5/Release/ReleaseController.cs
Labels: none

Add logging for Manual Interaction required
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
Labels: none

restore nullable season number usage and use a realistic multi-season search test
  src/NzbDrone.Core.Test/DecisionEngineTests/Search/SingleEpisodeSearchMatchSpecificationTests/StandardEpisodeSearch.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
Labels: parsing

Fixed: Limit future daily release dates to 14 days
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Test: Assert early daily parse results are not null
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
Labels: none

include component name in class
  vite.config.ts
Labels: none

Fix actions spacing
  frontend/src/InteractiveImport/Episode/SelectEpisodeModalContent.module.css
  frontend/src/InteractiveImport/Folder/InteractiveImportSelectFolderModalContent.tsx
  frontend/src/InteractiveImport/Folder/RecentFolderRow.module.css
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.module.css
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.module.css
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.module.css
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
  frontend/src/Series/Index/Select/SeriesIndexPosterSelect.module.css
  frontend/src/Series/Index/Select/SeriesIndexPosterSelect.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.module.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.module.css
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.module.css
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.module.css
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.tsx
  frontend/src/System/Backup/BackupRow.module.css
Labels: none

Fix slow loading of manage episodes on missing series folder
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Fix styling for float inputs with unit
  frontend/src/Components/Form/FormInput.tsx
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

fix: update series path when neither source nor destination folder exists
  src/NzbDrone.Core.Test/TvTests/MoveSeriesServiceFixture.cs
  src/NzbDrone.Core/Tv/MoveSeriesService.cs
Labels: none

Fixed: Importing anime from Simkl Import List
  src/NzbDrone.Core/ImportLists/Simkl/SimklParser.cs
Labels: none

Fixed: Parse daily releases published before their air date
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Test: Assert early daily parse results are not null
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
Labels: none

Fixed: Limit future daily release dates to 14 days
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Improve Deluge reconnection logic
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DelugeTests/DelugeFixture.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

Fixed: Parsing anime partial and multi-season packs with a subgroup prefix
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Sticky header for calendar
  frontend/src/Calendar/Calendar.module.css
  frontend/src/Calendar/Calendar.tsx
Labels: none

New: Full Transmission label support
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/VuzeTests/VuzeFixture.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Return error seriesId and season number aren't both included
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
  src/Sonarr.Api.V5/Release/ReleaseController.cs
Labels: none

Add logging for Manual Interaction required
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
Labels: none

Include CSS Module filename name in class
  vite.config.ts
Labels: none

Fix styling for float inputs with unit
  frontend/src/Components/Form/FormInput.tsx
Labels: none

Fix actions spacing
  frontend/src/InteractiveImport/Episode/SelectEpisodeModalContent.module.css
  frontend/src/InteractiveImport/Folder/InteractiveImportSelectFolderModalContent.tsx
  frontend/src/InteractiveImport/Folder/RecentFolderRow.module.css
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.module.css
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.module.css
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.tsx
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.module.css
  frontend/src/Series/Index/Select/SeasonPass/ChangeMonitoringModalContent.tsx
  frontend/src/Series/Index/Select/SeriesIndexPosterSelect.module.css
  frontend/src/Series/Index/Select/SeriesIndexPosterSelect.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.module.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.module.css
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.module.css
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.module.css
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.tsx
  frontend/src/System/Backup/BackupRow.module.css
Labels: none

Fix slow loading of manage episodes on missing series folder
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
Labels: none

Improve precision rounding statistics
  frontend/src/Statistics/Statistics.tsx
  frontend/src/Utilities/Number/roundNumber.ts
Labels: none

Fix validation for empty values in media management
  src/Sonarr.Api.V3/Config/MediaManagementConfigController.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsController.cs
  src/Sonarr.Api.V5/Settings/MediaManagementSettingsResource.cs
Labels: none

Fixed: Interactive search results kept in memory until restart
  src/NzbDrone.Common.Test/CacheTests/CachedFixture.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
Labels: none

Warning to not open new issues
  .github/workflows/label_invalid_issues.yml
Labels: none

Clear expired entries in the v5 release controller too
  src/Sonarr.Api.V5/Release/ReleaseController.cs
Labels: none

New: Trakt Smart List import list
  src/NzbDrone.Core.Test/ImportListTests/Trakt/TraktSmartListRequestGeneratorFixture.cs
  src/NzbDrone.Core/ImportLists/Trakt/SmartList/TraktSmartListImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/SmartList/TraktSmartListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/SmartList/TraktSmartListSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/SmartList/TraktSmartListSlug.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Downloads removed from client kept in memory
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core/Download/TrackedDownloads/DownloadMonitoringService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none
