Repository Sonarr/Sonarr, changes with the labels that .github/labeler.yml gives for each.
All labels: connection, db-migration, download-client, indexer, parsing

.github/labeler.yml:

'connection':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Notifications/**/*

'db-migration':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Datastore/Migration/*

'download-client':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Download/Clients/**/*

'indexer':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Indexers/**/*

'parsing':
  - changed-files:
    - any-glob-to-any-file: src/NzbDrone.Core/Parser/**/*

'ui-only':
  - changed-files:
    - any-glob-to-all-files: frontend/**/*

Fixed: Login with credentials on Qbittorrent 5.2
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: download-client

Fix disposing of the HttpRequestMessage
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Fixed: Parsing multiple subtitle languages
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

Fixed: Improve parsing of WEB 2160p releases
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

Bump BusyTimeout for SQLite to 1000ms
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
Labels: none

New: API key support for qBittorrent
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

Fix finding last command run
  frontend/src/Commands/useCommands.ts
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Remove Custom Filters from fetch server collection
  frontend/src/Store/Actions/Creators/createFetchServerSideCollectionHandler.js
Labels: none

Parse additional reversed filename format
  src/NzbDrone.Core.Test/ParserTests/HashedReleaseFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Add alt text for series images
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesModalContent.tsx
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.tsx
  frontend/src/Components/Page/Header/SeriesSearchResult.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/SeriesImage.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Add aria-labels to sidebar status
  frontend/src/Activity/Queue/Status/QueueStatus.tsx
  frontend/src/Components/Page/Sidebar/PageSidebarStatus.tsx
  frontend/src/System/Status/Health/HealthStatus.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Improve tab behaviour
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
Labels: none

Add v5 Connection endpoints
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
  src/Sonarr.Api.V5/Connections/ConnectionBulkResource.cs
  src/Sonarr.Api.V5/Connections/ConnectionController.cs
  src/Sonarr.Api.V5/Connections/ConnectionResource.cs
  src/Sonarr.Api.V5/Provider/ProviderBulkResource.cs
  src/Sonarr.Api.V5/Provider/ProviderControllerBase.cs
  src/Sonarr.Api.V5/Provider/ProviderResource.cs
  src/Sonarr.Api.V5/Provider/ProviderTestAllResult.cs
Labels: connection

Prevent empty path from breaking custom script validation
  src/NzbDrone.Core/Notifications/CustomScript/CustomScriptSettings.cs
Labels: connection

Use react-query for Connections
  frontend/src/AddSeries/ImportSeries/Import/importSeriesStore.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Helpers/Hooks/usePendingFieldsStore.ts
  frontend/src/Settings/Notifications/Notifications/AddNotificationItem.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationPresetMenuItem.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModal.tsx
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.tsx
  frontend/src/Settings/Notifications/Notifications/Notification.tsx
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.tsx
  frontend/src/Settings/Notifications/Notifications/Notifications.tsx
  frontend/src/Settings/Notifications/useConnections.ts
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.tsx
  frontend/src/Settings/Tags/Tags.tsx
  frontend/src/Settings/useProviderSchema.ts
  frontend/src/Settings/useProviderSettings.ts
  frontend/src/Store/Actions/Settings/notifications.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Notification.ts
Labels: none

Update error message when connections fail to load
  frontend/src/Settings/Notifications/Notifications/Notifications.tsx
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Ability to set command priority when starting command via API
  frontend/src/Commands/Command.ts
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  src/Sonarr.Api.V5/Commands/CommandController.cs
  src/Sonarr.Api.V5/Commands/CommandResource.cs
Labels: none

Fixed: Don't parse release group from episode title when it contains a dash
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: parsing

New: Improve parsing of non-mini series releases containing "Part #" in the episode name
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

New: Parse non-ASCII release groups
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: parsing

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Add v5 Naming endpoints
  src/Sonarr.Api.V3/Config/NamingConfigController.cs
  src/Sonarr.Api.V5/Settings/NamingExampleResource.cs
  src/Sonarr.Api.V5/Settings/NamingSettingsController.cs
  src/Sonarr.Api.V5/Settings/NamingSettingsResource.cs
Labels: none

Add focus border to buttons
  frontend/src/Components/Link/Button.css
  frontend/src/Components/keyboardShortcuts.tsx
Labels: none

New: Selecting multiple indexers per release profile
  frontend/src/Components/Form/Select/IndexerSelectInput.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/useReleaseProfiles.ts
  src/NzbDrone.Core.Test/Datastore/Migration/224_release_profile_indexer_idsFixture.cs
  src/NzbDrone.Core/Datastore/Migration/224_release_profile_indexer_ids.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfile.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfileService.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileController.cs
  src/Sonarr.Api.V5/Profiles/Release/ReleaseProfileResource.cs
Labels: db-migration

Bump FFprobeStatic to v8.0.1 (build 302)
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

Bump .NET to 10.0.2
  global.json
  src/NzbDrone.Common/Sonarr.Common.csproj
  src/NzbDrone.Core/Sonarr.Core.csproj
  src/NzbDrone.Host/Sonarr.Host.csproj
  src/NzbDrone.Integration.Test/Sonarr.Integration.Test.csproj
  src/NzbDrone/Sonarr.csproj
Labels: none

Fix missing translations
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Settings/Notifications/Notifications/AddNotificationModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Display multiple audio and subtitles streams in media info
  frontend/src/Episode/Summary/MediaInfo.tsx
  frontend/src/EpisodeFile/MediaInfo.tsx
  frontend/src/typings/MediaInfo.ts
  src/NzbDrone.Core.Test/Datastore/Migration/225_mediainfo_multiple_streamsFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Language/AugmentLanguageFromMediaInfoFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/HasAudioTrackSpecificationFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatAudioCodecFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/VideoFileInfoReaderFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Datastore/Migration/225_mediainfo_multiple_streams.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/Augmenters/Language/AugmentLanguageFromMediaInfo.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/HasAudioTrackSpecification.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoAudioStreamModel.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoModel.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoSubtitleStreamModel.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Trakt/Trakt.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFileMediaInfo.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/Sonarr.Api.V3/EpisodeFiles/MediaInfoResource.cs
  src/Sonarr.Api.V5/EpisodeFiles/MediaInfoResource.cs
  src/Sonarr.Api.V5/EpisodeFiles/MediaInfoStreamResource.cs
Labels: connection, db-migration

Add Seeders Preference setting for torrent prioritization
  frontend/src/Settings/Indexers/Options/IndexerOptions.tsx
  frontend/src/typings/Settings/IndexerOptions.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/PrioritizeDownloadDecisionFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Configuration/SeedersPreferenceType.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/Sonarr.Api.V3/Config/IndexerConfigResource.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Bump FluentMigrator to 8.0.1
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: none

increase organize modal to XXL
  frontend/src/Organize/OrganizePreviewModal.tsx
Labels: none

only show abs number if it exists
  frontend/src/InteractiveImport/Episode/SelectEpisodeRow.tsx
Labels: none

show warning when no abs number or unverified
  frontend/src/InteractiveImport/Episode/SelectEpisodeModalContent.tsx
  frontend/src/InteractiveImport/Episode/SelectEpisodeRow.css
  frontend/src/InteractiveImport/Episode/SelectEpisodeRow.css.d.ts
  frontend/src/InteractiveImport/Episode/SelectEpisodeRow.tsx
Labels: none

Use extension members for DnsEndPointExtensions
  src/NzbDrone.Common/Extensions/DnsEndPointExtensions.cs
  src/NzbDrone.Common/Http/HappyEyeballs/HttpHappyEyeballs.cs
Labels: none

Use Happy Eyeballs for HTTP socket address selection
  src/NzbDrone.Common.Test/Http/HappyEyeballsFixture.cs
  src/NzbDrone.Common/Extensions/DnsEndPointExtensions.cs
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Common/Http/HappyEyeballs/HappyEyeballs.cs
  src/NzbDrone.Common/Http/HappyEyeballs/HttpHappyEyeballs.cs
Labels: none

Skip absolute + standard parsing when hash is not present
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

Fix manual import when season number is provided during reprocessing
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  src/Sonarr.Api.V5/ManualImport/ManualImportController.cs
Labels: none

Use react-query for Naming settings
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Organize/OrganizePreviewModalContent.tsx
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/useNamingSettings.ts
  frontend/src/Store/Actions/Settings/naming.js
  frontend/src/Store/Actions/Settings/namingExamples.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/typings/Settings/NamingConfig.ts
  frontend/src/typings/Settings/NamingExample.ts
Labels: none
