Repository Sonarr/Sonarr, pull requests merged in 2021-08, with the labels that each got.

#4380 New: Aria2 Torrent Client
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Containers.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Proxy.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Settings.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: download-client

#4626 Fix Phantom branch reference in Join proxy
  src/NzbDrone.Core/Notifications/Join/JoinProxy.cs
Labels: connection

#4618 Fixed: Help message when adding download clients
  frontend/src/Settings/DownloadClients/DownloadClients/AddDownloadClientModalContent.js
Labels: ui-only
