Repository Sonarr/Sonarr, pull requests merged in 2023-06, with the labels that each got.

#5660 Indexer Messaging and Error Improvements
  src/NzbDrone.Common/Http/HttpResponse.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/RssParser.cs
Labels: indexer, waiting-for-contributor

#5707 New: Remove Rarbg Indexer due to site shutdown
  src/NzbDrone.Core.Test/Files/Indexers/Rarbg/RecentFeed_v1.json
  src/NzbDrone.Core.Test/Files/Indexers/Rarbg/RecentFeed_v2.json
  src/NzbDrone.Core.Test/IndexerTests/RarbgTests/RarbgFixture.cs
  src/NzbDrone.Core/Indexers/Rarbg/Rarbg.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgParser.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgResponse.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgSettings.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgTokenProvider.cs
Labels: indexer

#5708 Use more specific styling for kinds in ProgressBar
  frontend/src/Components/ProgressBar.css
  frontend/src/Components/ProgressBar.js
Labels: ui-only

#5724 Fixed: Filter series by Tvdb deleted status
  frontend/src/Components/Filter/Builder/SeriesStatusFilterBuilderRowValue.js
Labels: ui-only

#5731 Fixed: (Qbittorrent) Handle checkingResumeData
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

#5723 Update MoreInfo.js with new discord link
  frontend/src/System/Status/MoreInfo/MoreInfo.js
Labels: ui-only

#5732 Limit Discord embed title length to 256 characters
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

#5736 Show loading errors as Alerts
  frontend/src/Activity/Blocklist/Blocklist.js
  frontend/src/Activity/History/History.js
  frontend/src/Activity/Queue/Queue.js
  frontend/src/AddSeries/ImportSeries/Import/ImportSeries.js
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolder.js
  frontend/src/Calendar/Calendar.js
  frontend/src/Components/Page/PageSectionContent.js
  frontend/src/Episode/History/EpisodeHistory.js
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.tsx
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/InteractiveSearch/OverrideMatch/DownloadClient/SelectDownloadClientModalContent.tsx
  frontend/src/RootFolder/RootFolders.js
  frontend/src/Series/History/SeriesHistoryModalContent.js
  frontend/src/Series/Index/SeriesIndex.tsx
  frontend/src/Settings/DownloadClients/Options/DownloadClientOptions.js
  frontend/src/Settings/General/GeneralSettings.js
  frontend/src/Settings/Indexers/Options/IndexerOptions.js
  frontend/src/Settings/MediaManagement/MediaManagement.js
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  frontend/src/Settings/UI/UISettings.js
  frontend/src/System/Backup/Backups.js
Labels: ui-only

#5747 New: (UI) Search library by tvdbId, tvMazeId and imdbId
  frontend/src/Components/Page/Header/SeriesSearchInputConnector.js
  frontend/src/Components/Page/Header/SeriesSearchResult.js
  frontend/src/Components/Page/Header/fuse.worker.js
Labels: ui-only

#5752 Show no items as Info Alerts
  frontend/src/Settings/Tags/Tags.js
  frontend/src/System/Events/LogsTable.js
  frontend/src/System/Logs/Files/LogFiles.js
  frontend/src/System/Updates/Updates.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/Missing/Missing.js
Labels: ui-only

#5738 Allow array of string as value in EnhancedSelectInput
  frontend/src/Components/Form/EnhancedSelectInput.js
Labels: ui-only

#5753 Don't set background image to `undefined` when fanart is missing
  frontend/src/Series/Details/SeriesDetails.js
Labels: ui-only
