Repository Sonarr/Sonarr, pull requests merged in 2023-07, with the labels that each got.

#5763 Fixed: Correct typing for ImportListExclusions tvdbid column
  src/NzbDrone.Core.Test/Datastore/Migration/192_import_exclusion_typeFixture.cs
  src/NzbDrone.Core/Datastore/Migration/192_import_exclusion_type.cs
Labels: db-migration

#5716 New: More info for script import and custom script
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
Labels: connection

#5782 New: Add CustomFormat field types to Discord OnGrab Notification
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordFieldType.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordSettings.cs
Labels: connection

#5706 New: Download Client Tags
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClient.js
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClients.js
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClientsConnector.js
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.js
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModal.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModalContent.css
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModalContent.css.d.ts
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Tags/TagsModalContent.tsx
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.js
  frontend/src/Settings/Tags/Details/TagDetailsModalContentConnector.js
  frontend/src/Settings/Tags/Tag.js
  frontend/src/Settings/Tags/TagsConnector.js
  src/NzbDrone.Core.Test/Download/DownloadClientProviderFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/191_add_download_client_tags.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupUnusedTags.cs
  src/NzbDrone.Core/Tags/TagDetails.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Sonarr.Api.V3/Tags/TagDetailsResource.cs
Labels: db-migration

#5779 Fixed: (Nyaa) Add single episode search for anime standard format
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

#5789 Fixed: Improve Kodi Library Update logging
  src/NzbDrone.Core/Notifications/Xbmc/XbmcService.cs
Labels: connection

#5794 Fix isFetching and onClearPress to reset state in Parse
  frontend/src/Parse/Parse.tsx
  frontend/src/Parse/ParseModalContent.tsx
  frontend/src/Store/Actions/parseActions.ts
Labels: ui-only

#5792 Fixed: (BTN) Prevent NullRef when Result.Torrents is null
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetParser.cs
Labels: indexer

#5806 New: Show tooltips with custom formats in History and Queue
  frontend/src/Activity/History/HistoryRow.js
  frontend/src/Activity/Queue/QueueRow.js
Labels: ui-only

#5812 Fixed: Allow `noChange` as value in QualityProfileSelect
  frontend/src/Components/Form/QualityProfileSelectInputConnector.js
Labels: ui-only

#5822 Cache busting for CSS files
  frontend/build/webpack.config.js
Labels: ui-only

#5827 Add hover background color in Series Table Index
  frontend/src/Series/Index/Table/SeriesIndexTable.css
  frontend/src/Series/Index/Table/SeriesIndexTable.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexTable.tsx
Labels: ui-only

#5832 Fixed: Ensure Monitoring Options resets to No Change after a change
  frontend/src/Series/MonitoringOptions/MonitoringOptionsModalContent.js
Labels: ui-only

#5766 Simkl Anime List integration
  src/NzbDrone.Core/ImportLists/Simkl/SimklAPI.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklParser.cs
  src/NzbDrone.Core/ImportLists/Simkl/User/SimklUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Simkl/User/SimklUserSettings.cs
  src/NzbDrone.Core/ImportLists/Simkl/User/SimklUserShowType.cs
  src/NzbDrone.Core/Parser/Model/ImportListItemInfo.cs
Labels: parsing

#5813 Improve Discord Add/Delete embeds
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordSettings.cs
Labels: connection

#5845 Fixed: Add dedupe releases rule based on indexer priority
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/IndexerDefinition.cs
Labels: indexer

#5847 extend InlineMarkdown to handle code blocks in backticks
  frontend/src/Components/Markdown/InlineMarkdown.js
Labels: ui-only

#5829 New: Allow updating Jellyfin/Emby library by name
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserItems.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
Labels: connection

#5851 Fixed: Ensure indexers are marked as failed on Test All
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Indexers/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
Labels: indexer

#5856 Ensure original data is shown when no matches are made
  frontend/src/Components/Markdown/InlineMarkdown.js
Labels: ui-only

#5857 Convert store selectors to Typescript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/CommandAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/App/State/TagsAppState.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Store/Selectors/createAllSeriesSelector.ts
  frontend/src/Store/Selectors/createCommandExecutingSelector.ts
  frontend/src/Store/Selectors/createCommandSelector.js
  frontend/src/Store/Selectors/createCommandSelector.ts
  frontend/src/Store/Selectors/createCommandsSelector.ts
  frontend/src/Store/Selectors/createDeepEqualSelector.js
  frontend/src/Store/Selectors/createDeepEqualSelector.ts
  frontend/src/Store/Selectors/createEpisodeFileSelector.js
  frontend/src/Store/Selectors/createEpisodeFileSelector.ts
  frontend/src/Store/Selectors/createExecutingCommandsSelector.ts
  frontend/src/Store/Selectors/createExistingSeriesSelector.ts
  frontend/src/Store/Selectors/createLanguagesSelector.js
  frontend/src/Store/Selectors/createLanguagesSelector.ts
  frontend/src/Store/Selectors/createProfileInUseSelector.js
  frontend/src/Store/Selectors/createProfileInUseSelector.ts
  frontend/src/Store/Selectors/createQualityProfileSelector.js
  frontend/src/Store/Selectors/createQualityProfileSelector.ts
  frontend/src/Store/Selectors/createQueueItemSelector.ts
  frontend/src/Store/Selectors/createSeriesCountSelector.ts
  frontend/src/Store/Selectors/createSeriesQualityProfileSelector.js
  frontend/src/Store/Selectors/createSeriesQualityProfileSelector.ts
  frontend/src/Store/Selectors/createSystemStatusSelector.ts
  frontend/src/Store/Selectors/createTagDetailsSelector.ts
  frontend/src/Store/Selectors/createTagsSelector.ts
  frontend/src/Store/Selectors/createUISettingsSelector.ts
  frontend/src/typings/SystemStatus.ts
Labels: ui-only
