Repository Sonarr/Sonarr, pull requests merged in 2023-09, with the labels that each got.

#5982 Fix showing Grab ID in history details modal
  frontend/src/Activity/History/Details/HistoryDetails.js
  frontend/src/Activity/History/Details/HistoryDetailsModal.js
  frontend/src/Activity/History/HistoryRow.js
  frontend/src/Episode/History/EpisodeHistoryRow.js
  frontend/src/Series/History/SeriesHistoryRow.js
Labels: ui-only

#5995 Display a not allowed cursor for disabled select options
  frontend/src/Components/Form/EnhancedSelectInputOption.css
Labels: ui-only

#5996 Fix Episode Airing networkLabel for TBA
  frontend/src/Episode/Summary/EpisodeAiring.js
Labels: ui-only

#5997 Fix relative imports for Components and Utilities
  frontend/src/App/AppUpdatedModalContent.js
  frontend/src/App/State/InteractiveImportAppState.ts
  frontend/src/Calendar/Events/CalendarEventGroup.js
  frontend/src/Components/FileBrowser/FileBrowserModalContent.js
  frontend/src/Episode/Summary/EpisodeAiring.js
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  frontend/src/Settings/MetadataSource/TheTvdb.js
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
  frontend/src/System/Logs/Files/LogFiles.js
Labels: ui-only

#6002 Fixed: Calculate reached seeding time in seconds for qBittorrent
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentTorrent.cs
Labels: download-client

#5992 New: Add support for Pushcut notifications
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutException.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutPayload.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutResponse.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
  src/Sonarr.sln.DotSettings
Labels: connection

#6020 New: health check for download client removes completed downloads
  src/NzbDrone.Core.Test/HealthCheck/Checks/DownloadClientRemovesCompletedDownloadsCheckFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdCategory.cs
  src/NzbDrone.Core/Download/DownloadClientInfo.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRemovesCompletedDownloadsCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

#6028 Fixed: Show correct error on unauthorized caps call
  src/NzbDrone.Core/Indexers/Newznab/NewznabCapabilitiesProvider.cs
Labels: indexer

#6036 Preserve the protocol for fanart images
  frontend/src/Series/Details/SeriesDetails.js
Labels: ui-only

#6035 Fixed: Skip parsing releases without title
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: indexer, parsing

#6042 Fix typo for Romanian regex group
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#6045 Fix SabNZBd history retention to allow at least 14 days
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
Labels: download-client

#6048 New: Year custom filter in Series Index
  frontend/src/Store/Actions/seriesActions.js
Labels: ui-only

#6050 Fixed: qBittorent history retention to allow at least 14 days seeding
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client
