Repository Sonarr/Sonarr, pull requests merged in 2023-05, with the labels that each got.

#5613 New: On Health Restored notification
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  src/NzbDrone.Core.Test/NotificationTests/NotificationBaseFixture.cs
  src/NzbDrone.Core/Datastore/Migration/190_health_restored_notification.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/HealthCheck/HealthCheckRestoredEvent.cs
  src/NzbDrone.Core/HealthCheck/HealthCheckService.cs
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/Boxcar/Boxcar.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/INotification.cs
  src/NzbDrone.Core/Notifications/Join/Join.cs
  src/NzbDrone.Core/Notifications/Mailgun/Mailgun.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/NotificationBase.cs
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Ntfy/Ntfy.cs
  src/NzbDrone.Core/Notifications/Prowl/Prowl.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBullet.cs
  src/NzbDrone.Core/Notifications/Pushover/Pushover.cs
  src/NzbDrone.Core/Notifications/SendGrid/SendGrid.cs
  src/NzbDrone.Core/Notifications/Simplepush/Simplepush.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Twitter/Twitter.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEventType.cs
  src/NzbDrone.Core/Notifications/Xbmc/Xbmc.cs
  src/Sonarr.Api.V3/Notifications/NotificationResource.cs
Labels: db-migration

#5647 Sort tags by label
  frontend/src/Components/TagList.js
  frontend/src/Series/Details/SeriesTagsConnector.js
Labels: ui-only

#5651 New: Add path mapping for partial library updates in Plex Server Notifications
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: connection

#5657 Fixed: Use indexer errors from response if Content-Type is XML before processing response
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: indexer

#5664 New: Show tags in Notifications index
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/Notifications.js
  frontend/src/Settings/Notifications/Notifications/NotificationsConnector.js
Labels: ui-only

#5671 Cleanup "Use languages from Torznab/Newznab attributes if given"
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: indexer

#5644 Initial Signal integration in sonarr
  src/NzbDrone.Core/Notifications/Signal/InvalidResponseException.cs
  src/NzbDrone.Core/Notifications/Signal/Signal.cs
  src/NzbDrone.Core/Notifications/Signal/SignalError.cs
  src/NzbDrone.Core/Notifications/Signal/SignalPayload.cs
  src/NzbDrone.Core/Notifications/Signal/SignalProxy.cs
  src/NzbDrone.Core/Notifications/Signal/SignalSettings.cs
Labels: connection

#5673 Capture Vyndros releases ending in a )
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#5538 Import via Script
  frontend/src/Settings/MediaManagement/MediaManagement.js
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeFileMovingService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/UpdateMediaInfoService.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecision.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportException.cs
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigController.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: parsing

#5685 Fixed: those stupid lines
  frontend/src/Components/Loading/LoadingMessage.js
Labels: ui-only

#5681 Fixed: Improve Webhook Notification Error Messaging
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

#5689 Fix: Use relative paths instead of absolute paths for webmanifest
  frontend/src/Content/Images/Icons/manifest.json
Labels: ui-only

#5680 Enforce rule IDE0005 on build
  src/Directory.Build.props
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Common/OAuth/OAuthRequest.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesGrabSpecificationFixture.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssSettingsDetector.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateReleaseInfo.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Signal/SignalError.cs
  src/NzbDrone.Core/Notifications/Signal/SignalProxy.cs
  src/Sonarr.Api.V3/Episodes/EpisodeController.cs
  src/Sonarr.Api.V3/Series/SeriesController.cs
Labels: indexer, connection
