Repository Sonarr/Sonarr, pull requests merged in 2023-12, with the labels that each got.

#6250 Hide ratings on series page if non existent
  frontend/src/Series/Details/SeriesDetails.js
Labels: ui-only

#6232 Fixed: Handle query limit error and add rate limit for BroadcastheNet
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNet.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetParser.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetRequestGenerator.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetTorrent.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetTorrentQuery.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetTorrents.cs
Labels: indexer

#6231 Enable browser nav buttons for PWA
  frontend/src/Content/Images/Icons/manifest.json
Labels: ui-only

#6241 Updated NZB Finder categories and removed OZnzb
  src/NzbDrone.Core/Indexers/Newznab/Newznab.cs
Labels: indexer

#6224 Fixed: Parser not matching E.N.D
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6248 Fixed: Undefined statistics and season folder column width on series index
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Table/SeriesIndexRow.css
Labels: ui-only

#6216 New: Add qBittorrent option for Content Layout
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentContentLayout.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

#6218 New: Show Proper or Repack tag in interactive search
  frontend/src/Episode/EpisodeQuality.js
  frontend/src/InteractiveSearch/InteractiveSearchRow.css
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
Labels: ui-only

#6235 New: Improve fields selection for Discord connection
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordSettings.cs
Labels: connection

#6249 New: add sorting to manage indexer and dl client modals
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/Store/Actions/Settings/downloadClients.js
  frontend/src/Store/Actions/Settings/indexers.js
Labels: ui-only

#6257 Fixed: Ignore empty tags when adding items to Flood
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
Labels: download-client
