Repository Sonarr/Sonarr, pull requests merged in 2023-11, with the labels that each got.

#6144 Sort root folders by path in UI
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolderConnector.js
  frontend/src/Components/Form/RootFolderSelectInputConnector.js
Labels: ui-only

#6151 Add TvdbId to Webhook Episode payload
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisode.cs
Labels: connection

#6148 New: Parser for Turkish releases
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6157 Fixed: Showing already imported episodes as downloading in Series index
  frontend/src/App/State/QueueAppState.ts
  frontend/src/Series/Index/createSeriesQueueDetailsSelector.ts
  frontend/src/typings/Queue.ts
Labels: ui-only

#6156 Fix: translate for empty appName token
  frontend/src/Utilities/String/translate.ts
Labels: ui-only

#6164 Fixed: Record status for notifications on tests
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
Labels: connection

#6150 Translate Backend DL Clients
  src/NzbDrone.Api.Test/ClientSchemaTests/SchemaBuilderFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/HadoukenTests/HadoukenFixture.cs
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Settings.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackholeSettings.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackholeSettings.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeSettings.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStationSettings.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/Flood/FloodSettings.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/FreeboxDownloadSettings.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/HadoukenSettings.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortex.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortexSettings.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/Nzbget.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/NzbgetSettings.cs
  src/NzbDrone.Core/Download/Clients/Pneumatic/Pneumatic.cs
  src/NzbDrone.Core/Download/Clients/Pneumatic/PneumaticSettings.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdSettings.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Download/Clients/Vuze/Vuze.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrentSettings.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrentSettings.cs
  src/NzbDrone.Core/Download/DownloadClientBase.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Integration.Test/IntegrationTest.cs
  src/NzbDrone.Test.Common/AutoMoq/AutoMoqer.cs
  src/Sonarr.Http/ClientSchema/SchemaBuilder.cs
Labels: download-client

#6167 Translate indexer settings backend
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadClientFixtureBase.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/PneumaticProviderFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TestIndexer.cs
  src/NzbDrone.Core.Test/IndexerTests/TorrentRssIndexerTests/TestTorrentRssIndexer.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNet.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/Fanzub/Fanzub.cs
  src/NzbDrone.Core/Indexers/Fanzub/FanzubSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileList.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBits.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrents.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/Nyaa.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/SeedCriteriaSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexer.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/Torrentleech.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: indexer

#6173 fixes DeleteCustomFormatMessageText token
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormat.js
Labels: ui-only

#6174 Fixed: (HDBits) Add limit for 100 releases and options for categories, codecs & mediums
  src/NzbDrone.Core/Indexers/HDBits/HDBits.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsApi.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsParser.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: indexer

#6138 Fixed: Blocklisting torrents from indexers that do not provide torrent hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortexProxy.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Vuze/Vuze.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Exceptions/ReleaseBlockedException.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/ITorrentIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
Labels: indexer, download-client

#5956 New: communication back from custom import script
  src/NzbDrone.Core.Test/MediaFiles/DiskScanServiceTests/ScanFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/Extras/ExistingExtraFileService.cs
  src/NzbDrone.Core/Extras/ExtraService.cs
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeFileMovingService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/MediaFiles/Events/SeriesScannedEvent.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportInfo.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
Labels: parsing

#6185 Update translation keys to be Sonarr specific
  frontend/src/Activity/History/Details/HistoryDetails.js
  frontend/src/Activity/History/HistoryEventTypeCell.js
  frontend/src/Activity/Queue/RemoveQueueItemModal.js
  frontend/src/Activity/Queue/RemoveQueueItemsModal.js
  frontend/src/AddSeries/ImportSeries/SelectFolder/ImportSeriesSelectFolder.js
  frontend/src/AddSeries/SeriesMonitoringOptionsPopoverContent.js
  frontend/src/AddSeries/SeriesTypePopoverContent.js
  frontend/src/Calendar/Legend/Legend.js
  frontend/src/Calendar/iCal/CalendarLinkModalContent.js
  frontend/src/Components/Form/SeriesTypeSelectInput.tsx
  frontend/src/InteractiveSearch/InteractiveSearch.js
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Series/Delete/DeleteSeriesModalContent.js
  frontend/src/Series/Edit/EditSeriesModalContent.js
  frontend/src/Series/Index/Posters/Options/SeriesIndexPosterOptionsModalContent.tsx
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.js
  frontend/src/Settings/MediaManagement/MediaManagement.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.js
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.js
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.js
  frontend/src/Settings/Quality/Definition/QualityDefinitions.js
  frontend/src/Settings/Settings.js
  frontend/src/Utilities/Series/monitorOptions.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/Missing/Missing.js
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeSettings.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/FreeboxDownloadSettings.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortexSettings.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/NzbgetSettings.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdSettings.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrentSettings.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrentSettings.cs
  src/NzbDrone.Core/HealthCheck/Checks/MountCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemotePathMappingCheck.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: indexer, download-client

#6199 Wrap long lines in description lists
  frontend/src/Components/DescriptionList/DescriptionListItemDescription.css
Labels: ui-only

#6212 Remove Boxcar Notification Service
  src/NzbDrone.Core/Notifications/Boxcar/Boxcar.cs
  src/NzbDrone.Core/Notifications/Boxcar/BoxcarException.cs
  src/NzbDrone.Core/Notifications/Boxcar/BoxcarProxy.cs
  src/NzbDrone.Core/Notifications/Boxcar/BoxcarSettings.cs
Labels: connection
