Repository Sonarr/Sonarr, pull requests merged in 2023-08, with the labels that each got.

#5861 Fixed: Clear pending season releases to prevent stale results
  frontend/src/Episode/EpisodeDetailsModalContentConnector.js
  frontend/src/Series/Search/SeasonInteractiveSearchModalConnector.js
Labels: ui-only

#5870 Move RootFolderAppState to root AppState
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/RootFolderAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Store/Selectors/createRootFoldersSelector.ts
Labels: ui-only

#5871 Simplify frontend translations
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Components/Page/Sidebar/PageSidebarItem.js
  frontend/src/RootFolder/RootFolders.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
  frontend/src/System/Backup/Backups.js
  frontend/src/System/Logs/Files/LogFiles.js
  frontend/src/System/Status/DiskSpace/DiskSpace.js
  frontend/src/System/Status/Health/Health.js
  frontend/src/System/Tasks/Queued/QueuedTasks.js
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.js
Labels: ui-only

#5884 Fix: Anime Episode Format translation
  frontend/src/Settings/MediaManagement/Naming/Naming.js
Labels: ui-only

#5894 Fixed: Specify in the logs what indexer is lacking capabilities
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
Labels: indexer

#5896 New: Show successful grabs in Interactive Search with different color
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
Labels: ui-only

#5814 AnimeStandardFormatSearch option also looks for season packs
  src/NzbDrone.Core.Test/IndexerSearchTests/ReleaseSearchServiceFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/FanzubTests/FanzubRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaRequestGeneratorFixture.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/AnimeEpisodeSearchCriteria.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/AnimeSeasonSearchCriteria.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Fanzub/FanzubRequestGenerator.cs
  src/NzbDrone.Core/Indexers/FileList/FileListRequestGenerator.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/IIndexer.cs
  src/NzbDrone.Core/Indexers/IIndexerRequestGenerator.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
  src/NzbDrone.Core/Indexers/RssIndexerRequestGenerator.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechRequestGenerator.cs
Labels: indexer

#5902 Fix Remove from queue modal translation
  frontend/src/Activity/Queue/RemoveQueueItemModal.js
Labels: ui-only

#5911 revert translations on defaultProps for QueueStatus.js
  frontend/src/Activity/Queue/QueueStatus.js
Labels: ui-only

#5850 AniList import list module
  src/NzbDrone.Core/ImportLists/AniList/AniListAPI.cs
  src/NzbDrone.Core/ImportLists/AniList/AniListImportBase.cs
  src/NzbDrone.Core/ImportLists/AniList/AniListSettingsBase.cs
  src/NzbDrone.Core/ImportLists/AniList/AniListTypes.cs
  src/NzbDrone.Core/ImportLists/AniList/List/AniListImport.cs
  src/NzbDrone.Core/ImportLists/AniList/List/AniListParser.cs
  src/NzbDrone.Core/ImportLists/AniList/List/AniListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/AniList/List/AniListSettings.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/MetadataSource/ISearchForNewSeries.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Parser/Model/ImportListItemInfo.cs
Labels: parsing

#5918 New: Parse language tags from existing subtitles files
  src/NzbDrone.Core.Test/Datastore/Migration/195_parse_language_tags_from_existing_subtitle_filesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/195_parse_language_tags_from_existing_subtitle_files.cs
Labels: db-migration

#5936 Fix Typo in QualitySource Enum
  frontend/src/Quality/Quality.ts
Labels: ui-only

#5950 Prevent health checks warnings for disabled notifications
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
Labels: connection

#5961 Remove duplicate Language interface
  frontend/src/EpisodeFile/EpisodeFile.ts
  frontend/src/Series/Series.ts
Labels: ui-only

#5969 Fix download tooltip in interactive search
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
Labels: ui-only

#5977 Fix user check in Authentication Required for newer installs
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
Labels: ui-only
