Repository Sonarr/Sonarr, pull requests merged in 2024-08, with the labels that each got.

#7048 Improve messaging for for Send Notifications setting in Emby / Jellyfin
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
Labels: connection

#7047 Fixed: Moving files on import for usenet clients
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/ImportApprovedEpisodesFixture.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
Labels: download-client

#7054 Parse TvdbId for releases from HDBits
  src/NzbDrone.Core/Indexers/HDBits/HDBitsParser.cs
Labels: indexer

#7061 New: Match search releases using IMDb ID
  src/NzbDrone.Core.Test/DecisionEngineTests/DownloadDecisionMakerFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadClientFixtureBase.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetEpisodesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetParser.cs
  src/NzbDrone.Core/Indexers/FileList/FileListParser.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/MatchesFolderSpecification.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Core/Tv/SeriesRepository.cs
  src/NzbDrone.Core/Tv/SeriesService.cs
  src/Sonarr.Api.V3/Indexers/ReleaseResource.cs
  src/Sonarr.Api.V3/Parse/ParseController.cs
Labels: indexer, parsing

#7063 Fixed: Formatting empty size on disk values
  frontend/src/RootFolder/RootFolderRow.tsx
  frontend/src/Series/Details/SeasonInfo.tsx
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Utilities/Number/formatBytes.ts
Labels: ui-only

#7066 Fix indexer multi-languages for release/push
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: indexer, parsing

#7075 Fixed: Overwriting query params for remove item handler
  frontend/src/Store/Actions/Creators/createRemoveItemHandler.js
Labels: ui-only

#7077 Fixed: Clearing pending changes for edit import list exclusions on modal close
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModal.tsx
Labels: ui-only

#7078 Fixed nlog deprecated calls
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

#6988 Fixed: Sending Manual Interaction Required notifications for unknown series
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
Labels: connection

#7080 New: Support for releases with absolute episode number and air date
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7090 Fixed: Avoid displaying multi-languages for episodes parsed without languages
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Episode/EpisodeLanguages.tsx
Labels: ui-only

#7092 Fixed: Persist selected custom filter for interactive searches
  frontend/src/Store/Actions/releaseActions.js
Labels: ui-only

#7093 New: Parse DarQ release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7098 Fixed: Stale custom formats after changing quality profile for series
  frontend/src/Components/SignalRConnector.js
  frontend/src/Series/Details/SeriesDetailsConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
Labels: ui-only

#7099 Sort quality profiles by name in custom filters
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValueConnector.js
Labels: ui-only

#7069 Refactoring: Moved First run components to Typescript function components
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModal.js
  frontend/src/FirstRun/AuthenticationRequiredModal.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContentConnector.js
  frontend/src/typings/inputs.ts
Labels: ui-only

#7097 Refactoring: Label component
  frontend/src/Components/Label.js
  frontend/src/Components/Label.tsx
  frontend/src/Helpers/Props/kinds.ts
  frontend/src/Helpers/Props/sizes.ts
  frontend/src/System/Status/DiskSpace/DiskSpace.tsx
Labels: ui-only

#7101 Fixed: Improve status labels for deleted series
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css
  frontend/src/Series/Index/Overview/SeriesIndexOverview.css.d.ts
  frontend/src/Series/Index/Overview/SeriesIndexOverview.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css
  frontend/src/Series/Index/Posters/SeriesIndexPoster.css.d.ts
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/ProgressBar/SeriesIndexProgressBar.tsx
  frontend/src/Series/Index/Table/SeriesStatusCell.tsx
  frontend/src/Series/Series.ts
  frontend/src/Series/SeriesStatus.ts
  frontend/src/Utilities/Series/getProgressBarKind.ts
Labels: ui-only

#7105 Fixed: Switch to series rating for Discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

#7109 New: Optionally include Custom Format Score for Discord On File Import notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordFieldType.cs
Labels: connection

#7108 New: Parse spanish multi-episode releases
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7082 Fix indexer multi-languages for tracked download
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Indexers/IndexerRepositoryFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Indexers/IndexerRepository.cs
Labels: indexer

#7114 Refactoring: Series title link typings & extension
  frontend/src/Series/SeriesTitleLink.js
  frontend/src/Series/SeriesTitleLink.tsx
Labels: ui-only

#7126 Fixed: PWA Manifest images
  frontend/src/Content/manifest.json
Labels: ui-only

#7118 Refactoring: Typescript button component
  frontend/src/Components/Link/Button.js
  frontend/src/Components/Link/Button.tsx
  frontend/src/Helpers/Props/align.ts
Labels: ui-only

#7119 Refactoring: Icon component Typescript
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Icon.js
  frontend/src/Components/Icon.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfoRow.tsx
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Tasks/Queued/QueuedTaskRow.tsx
Labels: ui-only

#7121 Refactoring: Link polymorphic static typing
  frontend/src/Components/Link/Link.tsx
Labels: ui-only

#7124 Tech: VSCode updated code action format
  frontend/.vscode/settings.json
Labels: ui-only

#7130 Fix disabled style for monitor toggle button
  frontend/src/Components/MonitorToggleButton.css
Labels: ui-only

#7136 Fixed: Hide reboot and shutdown UI buttons on docker
  frontend/src/Components/Page/Header/PageHeader.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/Components/Page/Header/PageHeaderActionsMenuConnector.js
Labels: ui-only

#7138 Fixed: Paths for renamed episode files in Custom Script and Webhook
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
Labels: connection

#7143 Fixed: Queue header
  frontend/src/Components/Link/Link.tsx
Labels: ui-only

#7144 Refactoring: Icon button component Typescript
  frontend/src/Components/Link/IconButton.js
  frontend/src/Components/Link/IconButton.tsx
Labels: ui-only

#7145 Refactoring: TableRowCell Typescript integration
  frontend/src/Components/Table/Cells/TableRowCell.js
  frontend/src/Components/Table/Cells/TableRowCell.tsx
Labels: ui-only

#7146 Refactoring: Typescript SpinnerIcon component
  frontend/src/Components/SpinnerIcon.js
  frontend/src/Components/SpinnerIcon.tsx
  frontend/src/Helpers/Props/icons.ts
Labels: ui-only
