Repository Sonarr/Sonarr, pull requests merged in 2024-06, with the labels that each got.

#6839 New: Genres and Images for Webhooks and Notifiarr
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookImage.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
Labels: connection

#6850 Fixed: Manual Interaction Required with possible null series
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

#6867 New: Add TMDB id support
  frontend/src/Components/Page/Header/SeriesSearchInputConnector.js
  frontend/src/Components/Page/Header/SeriesSearchResult.js
  frontend/src/Components/Page/Header/fuse.worker.js
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Details/SeriesDetailsLinks.js
  frontend/src/Series/Series.ts
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/IdFixture.cs
  src/NzbDrone.Core.Test/TvTests/RefreshSeriesServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/206_add_tmdbid.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/KodiEpisodeGuide.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/ShowResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserItems.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
  src/Sonarr.Api.V3/Series/SeriesResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: db-migration, indexer, connection

#6880 New: Display stats for delete multiple series modal
  frontend/src/Series/Delete/DeleteSeriesModalContent.css
  frontend/src/Series/Delete/DeleteSeriesModalContent.css.d.ts
  frontend/src/Series/Delete/DeleteSeriesModalContent.js
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.css
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.css.d.ts
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
Labels: ui-only

#6888 New: Parse anime seasons with trailing number in title
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6892 Fixed: Exclude invalid releases from Newznab and Torznab parsers
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/RssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: indexer

#6893 New: Ability to select Plex Media Server from plex.tv
  frontend/src/Components/Form/EnhancedSelectInput.js
  frontend/src/Components/Form/EnhancedSelectInputConnector.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContentConnector.js
  frontend/src/Store/Actions/Creators/Reducers/createSetProviderFieldValuesReducer.js
  frontend/src/Store/Actions/Settings/notifications.js
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabCategoryFieldOptionsConverter.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvProxy.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvResource.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: indexer, connection

#6894 New: Ignore Deluge torrents without a title
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

#6911 Fixed: Don't use cleaned up release title for release title
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing
