Repository Sonarr/Sonarr, pull requests merged in 2024-04, with the labels that each got.

#6682 Fixed: Path parsing incorrectly treating series title as episode number
  src/NzbDrone.Core.Test/ParserTests/PathParserFixture.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6674 Specify widely supported display mode for PWA
  frontend/src/Content/Images/Icons/manifest.json
Labels: ui-only

#6684 Fixed: Sending ntfy.sh notifications with unicode characters
  src/NzbDrone.Core/Notifications/Ntfy/NtfyProxy.cs
Labels: connection

#6691 New: Option to prefix app name on Telegram notification titles
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

#6708 New: Parse absolute episode numbers within square brackets
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6703 Default/multi Language selection per indexer
  src/NzbDrone.Core.Test/IndexerTests/TestIndexerSettings.cs
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/Fanzub/FanzubSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IIndexerSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Languages/RealLanguageFieldConverter.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: indexer

#6730 New: Parse releases with multiple Ukranian audio tracks
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#6733 Fix removing completed qBitorrent torrents that use inactive seeding time
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentPreferences.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentTorrent.cs
Labels: download-client

#6753 New: Add KRaLiMaRKo and BluDragon to release group parsing exceptions
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6756 Fixed: Limit titles in task name to 10 series
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.tsx
Labels: ui-only
