Repository Sonarr/Sonarr, pull requests merged in 2024-12, with the labels that each got.

#7388 Tweak text-wrapping for title and overview in series view
  frontend/src/Series/Details/SeriesDetails.css
Labels: ui-only

#7434 New: Additional language fields in webhook notification
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSeries.cs
Labels: connection

#7450 New: Reactive search button on Wanted pages
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/Missing/Missing.js
  frontend/src/Wanted/Missing/MissingConnector.js
Labels: ui-only

#7466 New: Append Instance Name optionally to Telegram notifications
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

#7485 New: Series genres for search results
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.js
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.js
  frontend/src/Series/Details/SeriesGenres.css
  frontend/src/Series/Details/SeriesGenres.css.d.ts
  frontend/src/Series/Details/SeriesGenres.js
  frontend/src/Series/SeriesGenres.tsx
Labels: ui-only

#7488 Set minor version for core-js in babel/preset-env
  frontend/build/webpack.config.js
Labels: ui-only

#7493 Fixed: Loading calendar on older browsers
  frontend/src/polyfills.js
Labels: ui-only

#7496 Fix: adding a new root folder from series edit modal
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
Labels: ui-only

#7499 Fixed: Prevent exception when grabbing unparsable release
  src/NzbDrone.Core/DataAugmentation/Scene/SceneMappingService.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Sonarr.Api.V3/Indexers/ReleaseController.cs
Labels: parsing

#7509 Fixed: Prevent exception for seed configuration provider with invalid indexer ID
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
Labels: indexer

#7515 Fixed: Advanced settings for Metadata consumers
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Metadata/Metadata/Metadata.tsx
Labels: ui-only

#7517 Raw search: Fix non-anime seasons and episodes not searching with clean titles
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

#7525 Suggest adding IP to RPC whitelist for on failed Transmission auth
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
Labels: download-client
