Repository Sonarr/Sonarr, pull requests merged in 2024-11, with the labels that each got.

#7335 Fixed: Parse version after quality in renamed files
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

#7340 Fixed: Use download client name for history column
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/typings/History.ts
Labels: ui-only

#7341 New: Include source path with Webhook import event episode file
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
Labels: connection

#7343 Fixed: Cleaning the French preposition 'à' from titles
  src/NzbDrone.Core.Test/ParserTests/NormalizeSeriesTitleFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7348 Fixed: New values for custom filters
  frontend/src/Components/Form/Tag/TagInput.tsx
Labels: ui-only

#7354 New: Monitor New Seasons column for series list
  frontend/src/Series/Index/Table/SeriesIndexRow.css
  frontend/src/Series/Index/Table/SeriesIndexRow.css.d.ts
  frontend/src/Series/Index/Table/SeriesIndexRow.tsx
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css
  frontend/src/Series/Index/Table/SeriesIndexTableHeader.css.d.ts
  frontend/src/Store/Actions/seriesIndexActions.js
Labels: ui-only

#7303 New: Labels support for Transmission
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixtureBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
  src/NzbDrone.Core/Download/Clients/Vuze/Vuze.cs
Labels: download-client

#7370 New: Improve stored UI settings for multiple instances under the same host
  frontend/src/Store/Middleware/createPersistState.js
Labels: ui-only

#7371 New: Add headers in webhook connection
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/KeyValueListInput.css
  frontend/src/Components/Form/KeyValueListInput.css.d.ts
  frontend/src/Components/Form/KeyValueListInput.tsx
  frontend/src/Components/Form/KeyValueListInputItem.css
  frontend/src/Components/Form/KeyValueListInputItem.css.d.ts
  frontend/src/Components/Form/KeyValueListInputItem.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Helpers/Props/inputTypes.ts
  src/NzbDrone.Common/Reflection/ReflectionExtensions.cs
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Webhook/WebhookProxy.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSettings.cs
Labels: connection

#7372 New: Parse original from release name when specified
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#7375 Fixed: Allow files to be moved from Torrent Blackhole even when remove is disabled
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/TorrentBlackholeFixture.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackhole.cs
Labels: download-client

#7377 New: Replace 'Ben the Man' release group parsing with 'Ben the Men'
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7408 New: Support for new SABnzbd history retention values
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdCategory.cs
Labels: download-client

#7426 Fixed: Avoid default category on existing Transmission configurations
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
Labels: download-client
