Repository Sonarr/Sonarr, pull requests merged in 2024-01, with the labels that each got.

#6282 New: Custom formats in episode history
  frontend/src/Episode/History/EpisodeHistory.js
  frontend/src/Episode/History/EpisodeHistoryRow.css
  frontend/src/Episode/History/EpisodeHistoryRow.css.d.ts
  frontend/src/Episode/History/EpisodeHistoryRow.js
  frontend/src/Series/History/SeriesHistoryModal.js
  frontend/src/Series/History/SeriesHistoryModalContent.js
  frontend/src/Series/History/SeriesHistoryRow.css
  frontend/src/Series/History/SeriesHistoryRow.css.d.ts
  frontend/src/Series/History/SeriesHistoryRow.js
Labels: ui-only

#6227 translate backend notifications settings
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseSettings.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScriptSettings.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordSettings.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Email/EmailSettings.cs
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifySettings.cs
  src/NzbDrone.Core/Notifications/Join/JoinProxy.cs
  src/NzbDrone.Core/Notifications/Join/JoinSettings.cs
  src/NzbDrone.Core/Notifications/Mailgun/Mailgun.cs
  src/NzbDrone.Core/Notifications/Mailgun/MailgunSettings.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/Notifiarr/NotifiarrSettings.cs
  src/NzbDrone.Core/Notifications/Ntfy/NtfyProxy.cs
  src/NzbDrone.Core/Notifications/Ntfy/NtfySettings.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
  src/NzbDrone.Core/Notifications/Prowl/ProwlProxy.cs
  src/NzbDrone.Core/Notifications/Prowl/ProwlSettings.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBulletProxy.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBulletSettings.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
  src/NzbDrone.Core/Notifications/Pushover/PushoverProxy.cs
  src/NzbDrone.Core/Notifications/Pushover/PushoverSettings.cs
  src/NzbDrone.Core/Notifications/SendGrid/SendGrid.cs
  src/NzbDrone.Core/Notifications/SendGrid/SendGridSettings.cs
  src/NzbDrone.Core/Notifications/Signal/SignalProxy.cs
  src/NzbDrone.Core/Notifications/Signal/SignalSettings.cs
  src/NzbDrone.Core/Notifications/Simplepush/SimplepushProxy.cs
  src/NzbDrone.Core/Notifications/Simplepush/SimplepushSettings.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Slack/SlackSettings.cs
  src/NzbDrone.Core/Notifications/Synology/SynologyIndexer.cs
  src/NzbDrone.Core/Notifications/Synology/SynologyIndexerSettings.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
  src/NzbDrone.Core/Notifications/Trakt/Trakt.cs
  src/NzbDrone.Core/Notifications/Trakt/TraktSettings.cs
  src/NzbDrone.Core/Notifications/Twitter/TwitterService.cs
  src/NzbDrone.Core/Notifications/Twitter/TwitterSettings.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSettings.cs
  src/NzbDrone.Core/Notifications/Xbmc/XbmcService.cs
  src/NzbDrone.Core/Notifications/Xbmc/XbmcSettings.cs
Labels: connection

#6295 Correctly parse German DL and ML tags in releases
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#6304 Fix Missing HelpText Translation Keys
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Apprise/AppriseSettings.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifySettings.cs
  src/NzbDrone.Core/Notifications/Ntfy/NtfySettings.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
Labels: connection

#6314 Fixed: Series end date in UTC
  frontend/src/Series/Details/SeriesDetails.js
Labels: ui-only

#6321 Fixed: Latvian and Russian language parsing
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#6324 Fixed: Remove dead Torznab presets
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
Labels: indexer

#6323 Fixed: Remove unsupported pagination for Nyaa
  src/NzbDrone.Core/Indexers/Nyaa/Nyaa.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
Labels: indexer

#6348 Fixed: Series posters flickering when width changes repeatedly
  frontend/src/App/State/AppState.ts
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
  frontend/src/Store/Selectors/createDimensionsSelector.ts
Labels: ui-only

#6349 New: Optional directory setting for Aria2
  src/NzbDrone.Common/Http/XmlRpcRequestBuilder.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Proxy.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Settings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

#6364 add zhtw and yue as Chinese language
  src/NzbDrone.Core/Parser/IsoLanguages.cs
Labels: parsing

#6342 add missing translation keys from Indexer Settings
  src/NzbDrone.Core/Indexers/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torrentleech/TorrentleechSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: indexer

#6335 Sort Custom Filters
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  frontend/src/Components/Menu/FilterMenuContent.js
Labels: ui-only

#6371 Drop commands table content before altering tables
  src/NzbDrone.Core/Datastore/Migration/188_postgres_update_timestamp_columns_to_with_timezone.cs
Labels: db-migration

#6376 Fix: Removal of paused Qbittorrent torrents with global max ratio
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

#6372 Check Content-Type in FileList parser
  src/NzbDrone.Core.Test/IndexerTests/FileListTests/FileListFixture.cs
  src/NzbDrone.Core/Indexers/FileList/FileListParser.cs
Labels: indexer

#6361 Fixed: Icons on full color calendar events
  frontend/src/Calendar/Events/CalendarEvent.css
  frontend/src/Calendar/Events/CalendarEvent.js
  frontend/src/Calendar/Events/CalendarEventGroup.css
  frontend/src/Calendar/Events/CalendarEventGroup.css.d.ts
  frontend/src/Calendar/Events/CalendarEventGroup.js
  frontend/src/Calendar/Legend/Legend.js
  frontend/src/Calendar/Legend/LegendIconItem.css
  frontend/src/Calendar/Legend/LegendIconItem.js
  frontend/src/Components/Icon.css
  frontend/src/Components/Icon.js
  frontend/src/Helpers/Props/icons.js
  frontend/src/Styles/Themes/dark.js
  frontend/src/Styles/Themes/light.js
  frontend/src/typings/UiSettings.ts
Labels: ui-only

#6381 Fixed: Don't clone indexer API Key
  frontend/src/Store/Actions/Settings/indexers.js
Labels: ui-only

#6386 Transpile logical assignment operators with babel
  frontend/babel.config.js
Labels: ui-only

#6389 Fixed: Series poster view on mobile devices
  frontend/src/Series/Index/Posters/SeriesIndexPosters.tsx
Labels: ui-only

#6382 New: Option to disable Email encryption
  src/NzbDrone.Core.Test/Datastore/Migration/201_email_encryptionFixture.cs
  src/NzbDrone.Core.Test/NotificationTests/EmailTests/EmailSettingsValidatorFixture.cs
  src/NzbDrone.Core/Datastore/Migration/201_email_encryption.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Email/EmailSettings.cs
Labels: db-migration, connection

#5964 New: Parsing subtitle titles
  src/NzbDrone.Core.Test/Datastore/Migration/198_parse_titles_from_existing_subtitle_filesFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateSubtitleInfoFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Datastore/Migration/198_parse_titles_from_existing_subtitle_files.cs
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleFile.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/AggregationService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateEpisodes.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateLanguage.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateQuality.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateReleaseGroup.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateReleaseInfo.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/IAggregateLocalEpisode.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
  src/NzbDrone.Core/Parser/Model/SubtitleTitleInfo.cs
Labels: db-migration, parsing

#6393 Fixed: Subtitle title migration when original title is null
  src/NzbDrone.Core.Test/Datastore/Migration/198_parse_titles_from_existing_subtitle_filesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/198_parse_titles_from_existing_subtitle_files.cs
Labels: db-migration

#6392 Fixed: Number only hashes getting substituted incorrectly
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6399 Fix possible NullRef in Email Encryption migration
  src/NzbDrone.Core.Test/Datastore/Migration/201_email_encryptionFixture.cs
  src/NzbDrone.Core/Datastore/Migration/201_email_encryption.cs
Labels: db-migration

#6410 Fixed: Migrating subtitle files with unexpectedly large number at end
  src/NzbDrone.Core.Test/Datastore/Migration/198_parse_titles_from_existing_subtitle_filesFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#6401 Fixed: Parsing Hungarian anime releases
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6402 New: Add recycle bin path for deleted episodes to webhook/custom script
  src/NzbDrone.Core.Test/HealthCheck/Checks/RemotePathMappingCheckFixture.cs
  src/NzbDrone.Core.Test/HistoryTests/HistoryServiceFixture.cs
  src/NzbDrone.Core.Test/NotificationTests/SynologyIndexerFixture.cs
  src/NzbDrone.Core.Test/NotificationTests/Xbmc/OnDownloadFixture.cs
  src/NzbDrone.Core/MediaFiles/DeletedEpisodeFile.cs
  src/NzbDrone.Core/MediaFiles/EpisodeFileMoveResult.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/MediaFiles/Events/EpisodeImportedEvent.cs
  src/NzbDrone.Core/MediaFiles/RecycleBinProvider.cs
  src/NzbDrone.Core/MediaFiles/ScriptImportDecider.cs
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/DownloadMessage.cs
  src/NzbDrone.Core/Notifications/Synology/SynologyIndexer.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisodeFile.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
Labels: connection, parsing

#6403 New: Added some extra pixels to grouped calendar events
  frontend/src/Calendar/Events/CalendarEventGroup.css
  frontend/src/Calendar/Events/CalendarEventGroup.js
Labels: ui-only

#6397 New: Expand seasons with all episodes having missing air dates
  frontend/src/Series/Details/SeriesDetailsSeason.js
Labels: ui-only

#6406 Fixed: Sorting by name in Manage Indexer and Download Client modals
  frontend/src/Store/Actions/Settings/downloadClients.js
  frontend/src/Store/Actions/Settings/indexers.js
Labels: ui-only

#6405 New: Optionally remove from queue by changing category to 'Post-Import Category' when configured
  frontend/src/Activity/Queue/Queue.js
  frontend/src/Activity/Queue/QueueRow.js
  frontend/src/Activity/Queue/RemoveQueueItemModal.css
  frontend/src/Activity/Queue/RemoveQueueItemModal.css.d.ts
  frontend/src/Activity/Queue/RemoveQueueItemModal.js
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  frontend/src/Activity/Queue/RemoveQueueItemsModal.js
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Store/Actions/queueActions.js
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortex.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/Nzbget.cs
  src/NzbDrone.Core/Download/Clients/Pneumatic/Pneumatic.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Download/DownloadClientItem.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Queue/Queue.cs
  src/NzbDrone.Core/Queue/QueueService.cs
  src/Sonarr.Api.V3/Queue/QueueController.cs
  src/Sonarr.Api.V3/Queue/QueueResource.cs
Labels: download-client

#5674 Add import list clean library option
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Store/Actions/Settings/importListOptions.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createSettingsSectionSelector.js
  frontend/src/Store/Selectors/createSettingsSectionSelector.ts
  frontend/src/typings/ImportListOptionsSettings.ts
  frontend/src/typings/pending.ts
  src/NzbDrone.Core.Test/ImportListTests/FetchAndParseImportListFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListItemServiceFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Datastore/Migration/193_add_import_list_items.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/ImportLists/AniList/AniListImportBase.cs
  src/NzbDrone.Core/ImportLists/AniList/List/AniListImport.cs
  src/NzbDrone.Core/ImportLists/Custom/CustomImport.cs
  src/NzbDrone.Core/ImportLists/FetchAndParseImportListService.cs
  src/NzbDrone.Core/ImportLists/HttpImportListBase.cs
  src/NzbDrone.Core/ImportLists/IImportList.cs
  src/NzbDrone.Core/ImportLists/ImportListBase.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemRepository.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemService.cs
  src/NzbDrone.Core/ImportLists/ImportListStatus.cs
  src/NzbDrone.Core/ImportLists/ImportListStatusService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/ImportLists/ListSyncLevelType.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
  src/NzbDrone.Core/ImportLists/Rss/RssImportBase.cs
  src/NzbDrone.Core/ImportLists/Simkl/SimklImportBase.cs
  src/NzbDrone.Core/ImportLists/Sonarr/SonarrImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktImportBase.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktParser.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/Model/ImportListItemInfo.cs
  src/Sonarr.Api.V3/Config/ImportListConfigController.cs
  src/Sonarr.Api.V3/Config/ImportListConfigResource.cs
Labels: db-migration, parsing

#6419 Fixed: Testing for disabled Notifications
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
Labels: connection

#6420 Fixed: History retention for Newsbin
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
Labels: download-client

#6422 Fix: validation logic of DownloadStation output path ref #6421
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
Labels: download-client

#6432 Fixed: Specials not allowing multi-episode select in Manual Import
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
Labels: ui-only
