Repository Sonarr/Sonarr, pull requests merged in 2024-05, with the labels that each got.

#6750 Fix wrongly named field in TransmissionProxy
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
Labels: download-client

#6785 Fixed: History with unknown episode
  frontend/src/Series/History/SeriesHistoryRow.js
Labels: ui-only

#6786 New: Treat batch releases with total episode count as full season release
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6747 qBittorrent: support stoppedUP and stoppedDL states
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

#6793 Fixed: Parsing long downloading/seeding values from Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
Labels: download-client

#6794 Use number input for seed ratio
  src/NzbDrone.Core/Indexers/SeedCriteriaSettings.cs
  src/Sonarr.Http/ClientSchema/SchemaBuilder.cs
Labels: indexer

#6797 New: Add Custom Format Score to file in Episode Details
  frontend/src/Episode/Summary/EpisodeFileRow.css
  frontend/src/Episode/Summary/EpisodeFileRow.css.d.ts
  frontend/src/Episode/Summary/EpisodeFileRow.js
  frontend/src/Episode/Summary/EpisodeSummary.js
  frontend/src/Episode/Summary/EpisodeSummaryConnector.js
Labels: ui-only

#6807 Fixed: Text color for inputs on login page
  frontend/src/login.html
Labels: ui-only

#6808 Refactor PasswordInput to use type password
  frontend/src/Components/Form/PasswordInput.css
  frontend/src/Components/Form/PasswordInput.css.d.ts
  frontend/src/Components/Form/PasswordInput.js
  frontend/src/Content/Fonts/fonts.css
  frontend/src/Content/Fonts/text-security-disc.ttf
  frontend/src/Content/Fonts/text-security-disc.woff
  frontend/src/Styles/Variables/fonts.js
Labels: ui-only

#6809 Fixed: Notifications with only On Rename enabled
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
Labels: connection

#6810 New: Parse 480i Bluray/Remux as Bluray 480p
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

#6834 Fixed: Queue and Calendar not loading
  frontend/src/Activity/Queue/TimeleftCell.js
  frontend/src/Calendar/Day/DayOfWeek.js
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Series/Index/Overview/SeriesIndexOverviewInfo.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
  frontend/src/Series/Index/Posters/SeriesIndexPosterInfo.tsx
  frontend/src/Utilities/Date/getRelativeDate.js
  frontend/src/Utilities/Date/getRelativeDate.tsx
Labels: ui-only

#6838 Fixed: Time for episodes airing today being blank
  frontend/src/Utilities/Date/getRelativeDate.tsx
Labels: ui-only
