Repository Sonarr/Sonarr, pull requests merged in 2024-03, with the labels that each got.

#6563 New: URL Base setting for Media Server connections
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerProxy.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
  src/NzbDrone.Core/Notifications/Xbmc/XbmcSettings.cs
Labels: connection

#6552 New: Bypass archived history for failed downloads in SABnzbd
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdProxy.cs
Labels: download-client

#6578 Renamed SeasonPackSpecification to ReleaseTypeSpecification
  src/NzbDrone.Core/CustomFormats/Specifications/ReleaseTypeSpecification.cs
  src/NzbDrone.Core/Datastore/Migration/205_rename_season_pack_spec.cs
Labels: db-migration

#6586 Properly type validation errors/warnings
  frontend/src/typings/pending.ts
Labels: ui-only

#6571 Deluge client: add download directory & move completed
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeProxy.cs
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

#6594 Fixed: Overly aggressive exception release group parsing
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6596 Persist page size for Import List Exclusions
  frontend/src/Store/Actions/settingsActions.js
Labels: ui-only

#6593 Fix import list exclusion props
  frontend/src/App/State/AppSectionState.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
Labels: ui-only

#6599 Apple WebApp
  frontend/src/index.ejs
  frontend/src/login.html
Labels: ui-only

#6595 Fixed: Error sending Manual Interaction Required notification
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: connection

#6610 New: XXL modal size
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Modal/Modal.css.d.ts
  frontend/src/Episode/EpisodeDetailsModal.js
  frontend/src/Helpers/Props/sizes.js
  frontend/src/InteractiveImport/InteractiveImportModal.tsx
  frontend/src/Series/Search/SeasonInteractiveSearchModal.js
Labels: ui-only

#6573 `{Release Hash}` Renaming Token
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core.Test/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateReleaseHashFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/AnimeMetadataParserFixture.cs
  src/NzbDrone.Core/Datastore/Migration/204_add_release_hash.cs
  src/NzbDrone.Core/MediaFiles/EpisodeFile.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Aggregation/Aggregators/AggregateReleaseHash.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportApprovedEpisodes.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/Model/LocalEpisode.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: db-migration, parsing

#6616 Fixed: Parsing of some French and Spanish anime releases
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6627 Fixed: Disabled select option still selectable
  frontend/src/Components/Form/MonitorEpisodesSelectInput.js
  frontend/src/Components/Form/MonitorNewItemsSelectInput.js
  frontend/src/Components/Form/QualityProfileSelectInputConnector.js
  frontend/src/Components/Form/SeriesTypeSelectInput.tsx
  frontend/src/Series/Index/Select/Edit/EditSeriesModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/Edit/ManageImportListsEditModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/Edit/ManageIndexersEditModalContent.tsx
Labels: ui-only

#6633 Fixed: Task progress messages in the UI
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/RssSyncCommand.cs
  src/NzbDrone.Core/Messaging/Commands/Command.cs
  src/NzbDrone.Core/ProgressMessaging/ProgressMessageContext.cs
  src/NzbDrone.Core/Tv/Commands/RefreshSeriesCommand.cs
  src/NzbDrone.Core/Update/Commands/ApplicationUpdateCommand.cs
Labels: indexer

#6634 New: Parsing multi-episode file with two and three digit episode numbers
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6635 Fixed: Plex Watchlist import list
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvService.cs
Labels: connection

#6639 New: Support parsing season number from season folder when importing
  src/NzbDrone.Core.Test/ParserTests/PathParserFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/FileNameValidationService.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6650 Fixed: Task with removed series causing error
  frontend/src/Store/Selectors/createMultiSeriesSelector.ts
Labels: ui-only

#6661 New: Advanced settings toggle in import list, notification and download client modals
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.js
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContentConnector.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContentConnector.js
Labels: ui-only

#6637 Fix bug in which Minimum retention was not being considered for qBittorrent client test
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

#6652 Adjust reporting of torrents with relative path in rTorrent
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
Labels: download-client

#6649 Add DownloadStatus and DownloadStatusMessages to WebhookManualInteractionPayload
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookDownloadStatusMessage.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookManualInteractionPayload.cs
Labels: connection
