Repository Sonarr/Sonarr, pull requests merged in 2024-02, with the labels that each got.

#6424 Add max token length (including ellipsis) for some tokens
  src/NzbDrone.Common.Test/ExtensionTests/StringExtensionTests/ReverseFixture.cs
  src/NzbDrone.Common/Extensions/StringExtensions.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/TruncatedReleaseGroupFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/TruncatedSeriesTitleFixture.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationInfoProxy.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: download-client

#6449 Fixed: Grouped calendar events not correctly showing as downloading
  frontend/src/Calendar/Events/CalendarEventGroupConnector.js
Labels: ui-only

#6446 fix/correct translation keys
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.js
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

#6455 Avoid disabled label for notifications with only On Series Add enabled
  frontend/src/Settings/Notifications/Notifications/Notification.js
Labels: ui-only

#6457 Bind shortcut for pending changes confirmation only when it's shown
  frontend/src/Settings/PendingChangesModal.js
Labels: ui-only

#6458 Add RZeroX to release group parsing exceptions
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6463 Fix translation keys
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
Labels: download-client

#6467 Fix: Wrapping of naming tokens with alternate separators
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
Labels: ui-only

#6469 New: Log database engine version on startup
  src/NzbDrone.Core/Datastore/Migration/000_database_engine_version_check.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
Labels: db-migration

#6444 Wrapped fields on series details page in div
  frontend/src/Series/Details/SeriesDetails.js
Labels: ui-only

#6476 New: Parse and reject split episode releases and files
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/SplitEpisodeSpecification.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/Specifications/SplitEpisodeSpecification.cs
  src/NzbDrone.Core/Parser/Model/ParsedEpisodeInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6453 New: Parsing for titles with multiple translated titles separated by '/' and the season at the end
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6497 Fixed: Prevent anime search with ep/season if not supported
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: indexer

#6485 Fixed: Refresh tags state to clear removed tags by housekeeping
  frontend/src/Settings/Tags/TagsConnector.js
Labels: ui-only

#6505 Fixed: Correctly persist calendar custom filter selection
  frontend/src/Store/Actions/calendarActions.js
Labels: ui-only

#6482 Hints for week column and short dates in UI settings
  frontend/src/Settings/UI/UISettings.js
Labels: ui-only

#6514 Fixed: Multi-word genres in Auto Tags
  frontend/src/Components/Form/TextTagInputConnector.js
Labels: ui-only

#6510 New: Parse releases with season and episode numbers separated by a period
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6519 Fixed: Only match via TV Rage ID if TheTVDB ID is not available
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

#6516 Fix typo in log message matching by TVRage ID
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: parsing

#6531 Fixed: Parsing of subtitle languages separated by dash
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#6544 New: Option to sync season monitoring state when importing from another Sonarr instance
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/ImportLists/Sonarr/SonarrAPIResource.cs
  src/NzbDrone.Core/ImportLists/Sonarr/SonarrImport.cs
  src/NzbDrone.Core/ImportLists/Sonarr/SonarrSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/Model/ImportListItemInfo.cs
  src/NzbDrone.Core/Tv/EpisodeMonitoredService.cs
  src/NzbDrone.Core/Tv/MonitoringOptions.cs
Labels: parsing

#6553 New: Ignore language in split episode title
  src/NzbDrone.Core.Test/ParserTests/NormalizeEpisodeTitleFixture.cs
  src/NzbDrone.Core.Test/ParserTests/NormalizeSeriesTitleFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6559 Fixed: Handle DownloadClientInfo as nullable in ManualInteractionRequiredMessage
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/ManualInteractionRequiredMessage.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
Labels: connection
