Repository Sonarr/Sonarr, pull requests merged in 2024-09, with the labels that each got.

#7158 Convert Interactive Search to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/ReleasesAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/Episode/Search/EpisodeSearchConnector.js
  frontend/src/InteractiveSearch/InteractiveSearch.js
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchFilterModal.tsx
  frontend/src/InteractiveSearch/InteractiveSearchFilterModalConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchType.ts
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModal.tsx
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModalContent.tsx
  frontend/src/InteractiveSearch/Peers.tsx
  frontend/src/InteractiveSearch/ReleaseEpisode.ts
  frontend/src/Series/Search/SeasonInteractiveSearchModalContent.tsx
  frontend/src/typings/Release.ts
Labels: ui-only

#7160 Add IndexerFlags parsing to NewznabRssParser
  src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Parser/Model/IndexerFlags.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
Labels: indexer, parsing

#7165 Cleanup History Details and a typo
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/Activity/History/Details/HistoryDetailsModal.tsx
  frontend/src/Activity/History/HistoryRow.tsx
  frontend/src/Components/Table/Cells/TableRowCell.tsx
Labels: ui-only

#7173 New: Add MDBList link to series details
  frontend/src/Series/Details/SeriesDetailsLinks.tsx
  frontend/src/Series/Series.ts
Labels: ui-only

#7174 Convert Progress Bars to TypeScript
  frontend/src/Components/CircularProgressBar.js
  frontend/src/Components/CircularProgressBar.tsx
  frontend/src/Components/ProgressBar.js
  frontend/src/Components/ProgressBar.tsx
Labels: ui-only

#7161 Minimum Upgrade Score for Custom Formats
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
  frontend/src/typings/QualityProfile.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/Datastore/Migration/212_add_minium_upgrade_format_score_to_quality_profiles.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupQualityProfileFormatItems.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Sonarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
  src/Sonarr.Api.V3/openapi.json
Labels: db-migration

#7178 Fixed: Series links not opening on iOS
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/Series/Details/SeriesDetailsLinks.css
Labels: ui-only

#7192 New: Add Bluray 576p quality
  src/NzbDrone.Core.Test/Datastore/Migration/214_add_bluray576p_in_profileFixture.cs
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Datastore/Migration/214_add_blurary576p_quality_in_profiles.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/NzbDrone.Core/Qualities/Quality.cs
Labels: db-migration, parsing

#7194 Gotify notification updates
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifyMessage.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifySettings.cs
  src/NzbDrone.Core/Notifications/MetadataLinkType.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

#7207 Add rating as option in sort dropdown
  frontend/src/Series/Index/Menus/SeriesIndexSortMenu.tsx
Labels: ui-only

#7213 Fixed: Links for Trakt and TVMaze in Gotify notifications
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
Labels: connection

#7215 Parse KCRT as release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7217 Fixed: Interactive searches causing multiple requests to indexers
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
Labels: ui-only

#7235 New: Persist sort in Select Episodes modal
  frontend/src/Store/Actions/episodeSelectionActions.js
Labels: ui-only

#7241 New: Errors sending Telegram notifications when links aren't available
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
Labels: connection

#7242 Fixed: Loading series images after placeholder in Safari
  frontend/src/Series/SeriesImage.tsx
Labels: ui-only

#7243 Fixed: Parsing of Hybrid-Remux
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

#7259 New: Parse 'BEN THE MAN' release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing
