Repository Sonarr/Sonarr, pull requests merged in 2024-07, with the labels that each got.

#6924 Fixed: History with unknown series
  frontend/src/Activity/History/HistoryRow.js
Labels: ui-only

#6929 New: Parse VFI as French
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#6934 Fixed destructuring null statistics for bulk delete series modal
  frontend/src/Series/Index/Select/Delete/DeleteSeriesModalContent.tsx
Labels: ui-only

#6936 New: Queued episode count for seasons in series details
  frontend/src/Components/Label.css
  frontend/src/Components/Label.css.d.ts
  frontend/src/Series/Details/SeasonProgressLabel.tsx
  frontend/src/Series/Details/SeriesDetailsSeason.js
Labels: ui-only

#6941 New: Custom colon replacement option
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/ColonReplacementFixture.cs
  src/NzbDrone.Core/Datastore/Migration/211_add_custom_colon_replacement_to_naming_config.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/NamingConfig.cs
  src/Sonarr.Api.V3/Config/NamingConfigController.cs
  src/Sonarr.Api.V3/Config/NamingConfigResource.cs
  src/Sonarr.Api.V3/Config/NamingExampleResource.cs
Labels: db-migration

#6943 Fixed: add non-numeric codec tags to SourceRegex in QualityParser
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: parsing

#6952 fix: Remove unnecessary tabs in RemoveFileExtension method
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#6962 New: Use natural sorting for lists of items in the UI
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/FilterBuilderRowValueConnector.js
  frontend/src/Components/Filter/Builder/SeriesFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  frontend/src/Components/Form/DownloadClientSelectInputConnector.js
  frontend/src/Components/Form/IndexerSelectInputConnector.js
  frontend/src/Components/Form/QualityProfileSelectInputConnector.js
  frontend/src/Components/Menu/FilterMenuContent.js
  frontend/src/Components/TagList.js
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
  frontend/src/Series/Details/SeriesTagsConnector.js
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormatsConnector.js
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClientsConnector.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
  frontend/src/Settings/Indexers/Indexers/IndexersConnector.js
  frontend/src/Settings/Metadata/Metadata/MetadatasConnector.js
  frontend/src/Settings/Notifications/Notifications/NotificationsConnector.js
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
  frontend/src/Settings/Profiles/Quality/QualityProfilesConnector.js
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.js
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Actions/seriesActions.js
  frontend/src/Store/Selectors/createEnabledDownloadClientsSelector.ts
  frontend/src/Store/Selectors/createRootFoldersSelector.ts
  frontend/src/Store/Selectors/createSortedSectionSelector.ts
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.tsx
  frontend/src/Utilities/Array/sortByName.js
  frontend/src/Utilities/Array/sortByProp.ts
  frontend/src/typings/Helpers/KeysMatching.ts
Labels: ui-only

#6976 New: Wrap specification blocks in modals
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css.d.ts
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css.d.ts
Labels: ui-only

#6979 Fixed: Assume category path from qBittorent starting with '//' is a Windows path
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

#6982 Fix custom formats sorting for quality profiles
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
Labels: ui-only

#6991 New: Display original language on series details and search results page
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.css.d.ts
  frontend/src/AddSeries/AddNewSeries/AddNewSeriesSearchResult.js
  frontend/src/Helpers/Props/icons.js
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.js
Labels: ui-only

#7003 Fixed: Improve filtering performance in Select Series Modal
  frontend/src/InteractiveImport/Series/SelectSeriesModalContent.tsx
Labels: ui-only

#7004 Fixed: Don't treat SubFrench as French audio language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#7001 Making status messages for meta downloading consistent
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

#6930 New: Replaced HasUnmonitored with Seasons Monitored Status
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/SeasonsMonitoredStatusFilterBuilderRowValue.js
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/Store/Actions/seriesActions.js
  src/NzbDrone.Core.Test/Datastore/Migration/210_add_monitored_seasons_filterFixture.cs
  src/NzbDrone.Core/Datastore/Migration/210_add_monitored_seasons_filter.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: db-migration

#7010 Fix height of tags in tag inputs
  frontend/src/Components/Form/TagInputTag.css
Labels: ui-only

#7019 New: Parse Chinese Anime that separates titles with vertical bar
  src/NzbDrone.Core.Test/ParserTests/UnicodeReleaseParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7022 Convert System to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Components/Table/Column.ts
  frontend/src/System/Status/About/About.js
  frontend/src/System/Status/About/About.tsx
  frontend/src/System/Status/About/AboutConnector.js
  frontend/src/System/Status/About/StartTime.js
  frontend/src/System/Status/About/StartTime.tsx
  frontend/src/System/Status/DiskSpace/DiskSpace.js
  frontend/src/System/Status/DiskSpace/DiskSpace.tsx
  frontend/src/System/Status/DiskSpace/DiskSpaceConnector.js
  frontend/src/System/Status/Health/Health.js
  frontend/src/System/Status/Health/Health.tsx
  frontend/src/System/Status/Health/HealthConnector.js
  frontend/src/System/Status/Health/HealthItemLink.tsx
  frontend/src/System/Status/Health/HealthStatus.tsx
  frontend/src/System/Status/Health/HealthStatusConnector.js
  frontend/src/System/Status/Health/createHealthSelector.ts
  frontend/src/System/Status/MoreInfo/MoreInfo.js
  frontend/src/System/Status/MoreInfo/MoreInfo.tsx
  frontend/src/System/Status/Status.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.js
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRow.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTaskRowConnector.js
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.js
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.tsx
  frontend/src/System/Tasks/Scheduled/ScheduledTasksConnector.js
  frontend/src/System/Tasks/Tasks.tsx
  frontend/src/typings/DiskSpace.ts
  frontend/src/typings/Health.ts
  frontend/src/typings/SystemStatus.ts
  frontend/src/typings/Task.ts
Labels: ui-only

#7030 New: Title filter for Series Index
  frontend/src/Store/Actions/seriesActions.js
Labels: ui-only

#7033 New: Add metadata links to telegram messages
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLink.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: connection

#7032 New: Return downloading magnets from Transmission
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/VuzeTests/VuzeFixture.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: download-client
