Repository Sonarr/Sonarr, pull requests merged in 2024-10, with the labels that each got.

#7267 Add new category for FL
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
Labels: indexer

#7285 Fixed: Matched alternative titles and tags in header search results
  frontend/src/Components/Page/Header/SeriesSearchResult.js
  frontend/src/Components/Page/Header/fuse.worker.js
Labels: ui-only

#7293 New: Display items tags on import lists index
  frontend/src/Settings/ImportLists/ImportLists/ImportList.js
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
Labels: ui-only

#7297 Natural sorting for tags list in the UI
  frontend/src/Settings/Tags/TagsConnector.js
Labels: ui-only

#7313 Fixed: Stopped/Started as initial state for qBittorrent v5.0
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentState.cs
Labels: download-client

#7324 New: Improve parsing absolute followed by standard numbering
  src/NzbDrone.Core.Test/ParserTests/AbsoluteEpisodeNumberParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7328 Fixed: Status output root folders for completed directories in Deluge
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DelugeTests/DelugeFixture.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: download-client

#7314 Update paths mapping translations for series specific
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: connection
