Repository Sonarr/Sonarr, pull requests merged in 2025-05, with the labels that each got.

#7838 Avoid varying logging message template between calls
  src/NzbDrone.Core/Indexers/RssSyncService.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
Labels: indexer, connection

#7850 New: Add Romansh language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#7852 New: Include series poster for Apprise
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/Apprise/ApprisePayload.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseSettings.cs
Labels: connection
