Repository Sonarr/Sonarr, pull requests merged in 2025-08, with the labels that each got.

#7954 New: indexer option for Season Pack Seed Ratio
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core/Datastore/Migration/220_enable_season_pack_seeding_goal.cs
  src/NzbDrone.Core/Indexers/SeasonPackSeedGoal.cs
  src/NzbDrone.Core/Indexers/SeedConfigProvider.cs
  src/NzbDrone.Core/Indexers/SeedCriteriaSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: db-migration, indexer

#7969 New: Parse '(JA)' as Japanese
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#7995 Clickable poster in bulk edit mode
  frontend/src/Series/Index/Posters/SeriesIndexPoster.tsx
Labels: ui-only

#8000 New: include FinaleType in webhook and custom script notifications
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEpisode.cs
Labels: connection

#8009 Fixed: Parsing English as the second language in a release name
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing
