Repository Sonarr/Sonarr, pull requests merged in 2025-02, with the labels that each got.

#7612 Fixed: Ignore special folders inside Blackhole watch folders
  src/NzbDrone.Common/Disk/FileSystemLookupService.cs
  src/NzbDrone.Common/Disk/SpecialFolders.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/ScanWatchFolderFixture.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/ScanWatchFolder.cs
Labels: download-client

#7640 Fixed: Parsing of daily some episodes using DMY
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7641 Fix: Discord Notification - Fallback to Instance Name for Author
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

#7643 Fixed: Close Metadata settings modal on saving
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
Labels: ui-only

#7646 Fix download links for FileList when passkey contains spaces
  src/NzbDrone.Core/Indexers/FileList/FileListParser.cs
Labels: indexer

#7662 Fixed: Exclude 8/10/24-bit from being parsed as release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing
