Repository Sonarr/Sonarr, pull requests merged in 2025-01, with the labels that each got.

#7533 Fix: adjust qBittorrent ratio limit check accounting for float
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: download-client

#7546 Fixed: Tooltips for detailed error messages
  frontend/src/Components/Form/FormInputGroup.tsx
Labels: ui-only

#7553 Remote image links for Discord's manual interaction needed
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

#7563 Fixed: Series added via other IDs unmonitored/tagged unexpectedly
  src/NzbDrone.Core.Test/ImportListTests/ImportListItemServiceFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/217_add_mal_and_anilist_ids.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemRepository.cs
  src/NzbDrone.Core/ImportLists/ImportListItems/ImportListItemService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/ShowResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Tv/RefreshSeriesService.cs
  src/NzbDrone.Core/Tv/Series.cs
Labels: db-migration

#7564 New: Parse releases with year and season number in brackets
  src/NzbDrone.Core.Test/ParserTests/SeasonParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7577 Fixed: Parsing of AKA release titles
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7586 Prevent page crash on console.error being used with non-string values
  frontend/src/index.ts
Labels: ui-only

#7610 Fixed: Drop downs flickering in some cases
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: ui-only
