Repository Sonarr/Sonarr, pull requests merged in 2025-07, with the labels that each got.

#7907 New: allow user to define additional rejected extension types
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/typings/Settings/MediaManagement.ts
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Download/RejectedImportService.cs
  src/NzbDrone.Core/Indexers/FailDownloads.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedEpisodesImportService.cs
  src/NzbDrone.Core/MediaFiles/EpisodeImport/ImportRejectionReason.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigController.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
Labels: indexer

#7924 fix: prevent series synopsis from being cutoff
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: ui-only

#7931 Propagate series tags to qBittorrent when adding torrent to download client
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

#7933 Fix: refactor Emby/Jellyfin connection test
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
Labels: connection

#7937 Upgrade MonoTorrent to 3.0.2
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Indexers/TorrentRssParser.cs
  src/NzbDrone.Core/MediaFiles/TorrentInfo/TorrentFileInfoReader.cs
  src/NzbDrone.Core/Sonarr.Core.csproj
Labels: indexer

#7940 New: save queue removal options between sessions
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  frontend/src/App/State/QueueAppState.ts
  frontend/src/Store/Actions/queueActions.js
Labels: ui-only
