Repository Sonarr/Sonarr, pull requests merged in 2025-04, with the labels that each got.

#7742 New: Indexer Flags in Webhook OnGrab Notification
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
Labels: connection

#7746 New: Indexer flags in webhook for grabbed release
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookGrabbedRelease.cs
  src/NzbDrone.Core/Parser/Model/GrabbedReleaseInfo.cs
Labels: connection, parsing

#7786 Fixed: Improve error message for queue items from Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

#7804 Fix issues with Floating UI
  frontend/src/Components/Form/AutoSuggestInput.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.css
  frontend/src/Components/Form/Select/EnhancedSelectInput.css.d.ts
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Menu/Menu.tsx
Labels: ui-only

#7792 New: Add Urdu and update LanguageFixtures
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#7808 Fixed: Sending Manual Interaction Needed for Custom Script with unparsed series
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
Labels: connection

#7816 Fixed: Grouping qualities inside a quality profile
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.tsx
Labels: ui-only

#7819 Fixed: Free space and missing for selected root folder value
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputOption.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css.d.ts
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.tsx
Labels: ui-only

#7825 Fixed: Selecting No Change for quality profile inputs
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
Labels: ui-only

#7824 Fixed: Autotagging using tag specification
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/Tag/SeriesTagInput.tsx
Labels: ui-only

#7817 Fix various typos
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/Components/Page/Header/SeriesSearchInput.tsx
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.css
  frontend/src/Series/Index/Overview/SeriesIndexOverviews.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemDragSource.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemSize.tsx
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Selectors/createCommandExecutingSelector.ts
  frontend/src/Store/Selectors/createCommandSelector.ts
  frontend/src/polyfills.js
  src/NzbDrone.Common/EnvironmentInfo/BuildInfo.cs
  src/NzbDrone.Core/Datastore/Migration/057_convert_episode_file_path_to_relative.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/NzbDrone.Core/Notifications/Mailgun/MailgunProxy.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/NzbDrone.Update.Test/UpdateProviderStartFixture.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionController.cs
Labels: db-migration, connection

#7832 Fixed: Sidebar flickering on mobile
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
Labels: ui-only

#7834 Fixed: Parsing titles with 3 digit season numbers
  src/NzbDrone.Core.Test/ParserTests/MultiEpisodeParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/SingleEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing
