Repository Sonarr/Sonarr, pull requests merged in 2025-06, with the labels that each got.

#7842 Fixed: Escape backticks in discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: connection

#7890 Fixed: Map SwissGerman to German
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#7911 Fixed: Hide separators when page toolbar shows all buttons on small screens
  frontend/src/Components/Page/Toolbar/PageToolbarSection.tsx
Labels: ui-only
