Repository Sonarr/Sonarr, pull requests merged in 2025-09, with the labels that each got.

#8021 Add Georgian language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#7990 Add support for RQBit download client
  src/NzbDrone.Core.Test/Download/DownloadClientTests/RQBitTests/RQBitFixture.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitFile.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitTorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettings.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/ListTorrentsWithStatsResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/PostTorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/RootResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentFileResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentState.cs
Labels: download-client

#8041 Fix: Migration 220 for postgres
  src/NzbDrone.Core/Datastore/Migration/220_enable_season_pack_seeding_goal.cs
Labels: db-migration

#7975 New: Grab season pack even if some episodes already meet cutoff
  frontend/src/Components/Form/FloatInput.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/NumberInput.tsx
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Store/Actions/Creators/Reducers/createSetSettingValueReducer.js
  frontend/src/typings/Settings/MediaManagement.ts
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/DecisionEngine/DownloadRejectionReason.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/SeasonPackUpgradeType.cs
  src/Sonarr.Api.V3/Config/MediaManagementConfigResource.cs
Labels: db-migration

#8043 New: Subtitles indexer flag to indicate releases with subtitles
  src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
Labels: indexer

#8069 Switch theme automatically when system changes
  frontend/src/Helpers/Hooks/useTheme.ts
Labels: ui-only

#8086 Fix modal widths on some screen sizes
  frontend/src/Components/Modal/Modal.css
Labels: ui-only

#8053 Fixed: Incorrectly parsing English subtitles as English audio
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing
