Repository Sonarr/Sonarr, pull requests merged in 2025-03, with the labels that each got.

#7669 New: Add Azerbaijani, Uzbek and Malay languages
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: parsing

#7673 Recommend against using uTorrent
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: download-client

#7656 Improvement: Pushcut notifications
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/NotificationMetadataLink.cs
  src/NzbDrone.Core/Notifications/NotificationMetadataLinkGenerator.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutPayload.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLinkPreviewOptions.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
Labels: connection

#7707 Fix import typo for QualityProfileName
  frontend/src/Episode/Summary/EpisodeSummary.tsx
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: ui-only

#7708 Fix various typos
  src/NzbDrone.Common/Processes/ProcessProvider.cs
  src/NzbDrone.Core/Datastore/ExpressionVisitor.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/Responses/FreeboxDownloadTask.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemotePathMappingCheck.cs
Labels: download-client

#7716 Fixed: Spinning icon on toggling series monitoring
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: ui-only

#7730 Fixed: Close modal when deleting series from index
  frontend/src/Series/Delete/DeleteSeriesModalContent.tsx
Labels: ui-only

#7735 Add series progress tag to header
  frontend/src/Series/Details/SeriesDetails.css
  frontend/src/Series/Details/SeriesDetails.css.d.ts
  frontend/src/Series/Details/SeriesDetails.tsx
  frontend/src/Series/Details/SeriesProgressLabel.tsx
Labels: ui-only

#7737 Improve Series Details loading
  frontend/src/Series/Details/SeriesDetails.tsx
Labels: ui-only

#7748 New: Parse UK date based release format
  src/NzbDrone.Core.Test/ParserTests/DailyEpisodeParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7750 New: Parse TAoE as release group exception
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: parsing

#7755 Fixed: Allow tables to scroll on tablets in portrait mode
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Table/Cells/TableRowCell.css
  frontend/src/Components/Table/Cells/VirtualTableRowCell.css
  frontend/src/Components/Table/Table.css
  frontend/src/Components/Table/TableHeaderCell.css
  frontend/src/Components/Table/TablePager.css
  frontend/src/Components/Table/VirtualTableHeaderCell.css
Labels: ui-only

#7756 Fixed: Series search input when URL base is configured
  frontend/build/webpack.config.js
Labels: ui-only
